[2018-02-27 21:30] zellski commented on #13397
I had to add code to FBX2glTF that actually inspects the alpha values of even RGBA images, because people (or, more precisely, people's tools) create them by default, and quite often it's utterly unnecessary to keep them as PNGs. Even after trying the most brutal GPU-enabled, non-linearly-optimising PNG crunchers out there, it seems JPEG really rules the roost... the size difference is pretty incr

[2018-02-27 21:31] Mugen87 commented on #13450
On which browser is the application executed? I guess the problem is not related to `FBXLoader` but to the missing support of `DataView` in the runtime environment.

[2018-02-27 21:40] Mugen87 commented on #6430
I think we can close this issue. AFAIK, even big game engines like unity have a fixed coordinate system.

[2018-02-27 23:43] webprofusion-chrisc commented on #13397
The exporter could also make quality level optional when using canvas.toDataURL( mimeType ) - my textures are generated at runtime from composite images, that would help too.

@zellski for fb's pipeline/viewer I'm guessing you could do like sketchfab and serve up a low res texture version, then stream the high/full res textures and replace them in the model as they load. Not a small piece of work

[2018-02-27 23:56] mrdoob commented on #13107
@takahirox ping 😇

[2018-02-27 23:57] zellski commented on #13397
@webprofusion-chrisc Yes, we may end up doing that. At the moment we've gone all out on .glb as the transmitted entity, which is hard to combine with selective LOD type streaming (since there's just a single sequential file with no random access). But I expect we'll reevaluate basic assumptions quite often, depending on how things go. :)

[2018-02-28 00:04] takahirox commented on #13107
I will do this weekend! Sorry, finding an apartment in Berlin is much harder than I thought and I've spent time for it this week..

[2018-02-28 00:23] mrdoob commented on #11951
As discussed in https://github.com/mrdoob/three.js/pull/13415#issuecomment-369022383, it would be nice if the exporter was able to compose the `ambientRoughnessMetalness` texture for the user. Probably better to place that code in `ImageUtils` though.

[2018-02-28 02:27] #6430 closed

[2018-02-28 02:42] Ashutosh421 commented on #13450
Basically they are using Java as backend and SmartGWT to create html at runtime.
What is exactly DataView? If there is no support for DataView what is the possible alternative ? Do I have to use some other loader?

[2018-02-28 03:47] looeee commented on #13450
[Here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DataView) is some info on dataviews.

The FBXLoader uses a DataView for reading Binary FBX files. You could get around this by exporting your FBX in ASCII format. You'll have much larger file sizes, however you could always try compressing these yourself for some savings.

Alternatively you could try a DataView

[2018-02-28 04:27] Ashutosh421 commented on #13450
Thanks..
     This is the first alternative I have already sent to the client.
Waiting for his reply..  Alternatively I'll try it in ASCII format..  once
I get a confirmation from the client.  Thanks for the quick help. Will
update you guys once I get this fixed.

Thanks and Regards,
Ashutosh

On 28 Feb 2018 9:18 a.m., "Lewy Blue" <notifications@github.com> wrote:

[2018-02-28 06:15] kaisalmen commented on #13197
Yes, I can make the `WorkerSupport` detect it and cancel appropriately for example. I will take care of that.

I agree. This is clear. Still, an issue is that the user invalidates the cache, just by intentional or unintentional usage of the returned `ArrayBuffer` and the `FileLoader`does not recognize it. Shouldn't in case 1 `FileLoader` at least log a warning that the ownership of the content is

[2018-02-28 06:17] WJsjtu opened #13454 "clampToMaxSize function in WebGLTextures may need type check"
##### Description of the problem

In `uploadTexture` function for `WebGLTextures`
https://github.com/mrdoob/three.js/blob/23be4d6b8484e2912c3ac760720d1ccc6af2f693/src/renderers/webgl/WebGLTextures.js#L429-L435
`clampToMaxSize` is called for any texture on texture.image.
I've figure out the texture type could only be one of `CanvasTexture` , `VideoTexture` and `DataTexture` for `uploadTexture`.
So

[2018-02-28 07:57] jason1105 opened #13455 "Updating color of vertex influenced others vertices"
Defined a color varible, and assigned it to face.vertexColors, when update color in animation, others vertices of face was changed.

Cause:
If use baseColor.clone() to assigned color to vertexColors, that work well.  So I think a reference varible caused this problem.

----------
Code snipped:
[code]

Screen hardcopy:
Expect：[Image](https://ibb.co/iurs0x)
Actual：[Image](https://ibb.co/kCakLx)

###

[2018-02-28 08:07] looeee commented on #13455
It's hard to say what your issue is since you haven't provided a complete code example, but try setting `material.vertexColors = THREE.VertexColors`.

If you need more help please ask over on the [forum](https://discourse.threejs.org/).

[2018-02-28 08:07] #13455 closed

[2018-02-28 08:11] fernandojsg commented on #11951
I've updated the checklist with the latest changes. I've added @takahirox to the `multimaterial` item, and I'll take myself the images compose task.
I've added also material_unlit extension, although is still in draft I believe it's quite close to release and won't change that much (/cc @donmccurdy)

[2018-02-28 08:15] p5aholic opened #13457 "an option not to update VideoTexture ?"
VideoTexture automatically update itself while it's video element is playing. It's so useful and mostly We don't need to change the feature. But, in my current work, I need to stop updating texture while video element is playing. Adding an option not to update VideoTexture is very useful in some occasion like below.

[code]

In this example code, setting autoUpdate to false will stop automatic tex

[2018-02-28 09:48] verybigelephants commented on #8154
"\o_O/" just saying from a generic user's point of view

[2018-02-28 10:07] looeee commented on #13450
No problem. If you need more help, please ask on the [forum](https://discourse.threejs.org/).

[2018-02-28 10:07] #13450 closed

[2018-02-28 10:21] Mugen87 commented on #13448
I've tried to create a fiddle of your code but i've realized you've missed to copy the corresponding vertex and fragment shader.

Please setup a live example so it's easier for us to debug your code: https://jsfiddle.net/f2Lommf5/

[2018-02-28 10:34] Mugen87 commented on #13454
You mean this error, right?

https://jsfiddle.net/f2Lommf5/2175/

[2018-02-28 10:36] Usnul commented on #13440
Few problems
- opacity is not free, it’s actually a separate pass in the renderer
- opacity doesn’t work as you might think it does. Especially when it comes to penetration
- it doesn’t make sense to have opacity on an object. E.g what’s a transparent camera or a light?
- extension of previous point: not all materials have opacity, and forcing them to, would make the convoluted process of creating

[2018-02-28 10:46] vidartf commented on #12878
Was this closed by #12931?

[2018-02-28 10:46] WJsjtu commented on #13454
Yes, you are right!

[2018-02-28 10:47] Mugen87 commented on #13457
If we would introduce an `autoUpdate` property, we should not evaluate it at this point but here:
https://github.com/mrdoob/three.js/blob/23be4d6b8484e2912c3ac760720d1ccc6af2f693/src/renderers/webgl/WebGLTextures.js#L205
The new code could look like this:
[code]
If `autoUpdate` is set to `false`, the user has to call `videoTexture.update()` instead.

[2018-02-28 10:53] WestLangley commented on #12878
Yes. Closing...

[2018-02-28 10:53] #12878 closed

[2018-02-28 10:56] Usnul commented on #13373
@looee can you link the issue?

I have an adapter in my code specifically to address this issue as well.

[2018-02-28 11:03] szhuchkov commented on #13448
https://jsfiddle.net/f2Lommf5/2184/

[2018-02-28 11:04] WestLangley commented on #13373
Someone may have said that, but my recollection is the reason lights have targets is so the user can set the target to be an object in the scene, and the light will follow it. That is why the target is an `Object3D`, and not a `Vector3`.

Consequently, no.

[2018-02-28 11:09] Mugen87 commented on #13454
I guess this would fix the issue. We only use `canvas` for specific image types.
[code]

[2018-02-28 11:10] giangm9 opened #13458 "Blender export wrong rotation"
##### Description of the problem
I export a scene by this python function from io_three
[code]
Link to the blender scene [Link](https://github.com/giangm9/blender3js/blob/dev/exporter/tests/blend/rotation.blend)
In blender scene looks like this
![screenshot from 2018-02-28 18-06-38](https://user-images.githubusercontent.com/10234339/36784518-403dece6-1cb2-11e8-8bd4-b605598e25f5.png)
when I load th

[2018-02-28 11:11] Mugen87 commented on #13458
Duplicate: #12806

[2018-02-28 11:11] #13458 closed

[2018-02-28 11:20] Mugen87 commented on #13440
I've never seen such a concept in an game or 3D engine. I guess for good reasons since the approach sounds weird to me. @Usnul named enough examples.

[2018-02-28 11:35] looeee commented on #13373
My apologies, it seems I remembered wrongly

https://github.com/mrdoob/three.js/issues/10220#issuecomment-263016723

The comment from @WestLangley was that lights require a `position` for shadows, which makes more sense.

[2018-02-28 12:11] WJsjtu commented on #13454
Does `makePowerOfTwo` need to care about `DataTexture` if `textureNeedsPowerOfTwo(image) === true` ( Is this possible ? ) and `isPowerOfTwo(image) === false`?
https://github.com/mrdoob/three.js/blob/23be4d6b8484e2912c3ac760720d1ccc6af2f693/src/renderers/webgl/WebGLTextures.js#L48-L68

[2018-02-28 12:40] Usnul commented on #13373
@WestLangley
Is light a meaningful primitive by itself in three.js? if so, it should be usable independently, and usable fully. Do you agree? As it stands - directional light can not be utilized fully without introducing  a target.

Similar argument can (and was made by me at least once before) with respect to directional light's position - the fact that you "need" a position because we can't code

[2018-02-28 13:50] Mugen87 commented on #13454
Maybe. @WestLangley @mrdoob What do you think about this?

[2018-02-28 14:16] kpetrow opened #13459 "octree return face index"
Im trying to retrieve the index of the face from the octree.search function. Any ideas on how to find it.

I have a bufferGeometry that i convert to geometry, Create an octree from and search. I then want to toss the octree and geometry mesh away and go back to using my buffer geometry. But can not find a way to correlate the octree face results to the indexed bufferGeometry.

I do notice that fac

[2018-02-28 15:07] Mugen87 commented on #13459
This is not a help site. Please use the [forum](https://discourse.threejs.org/) instead.

[2018-02-28 15:07] #13459 closed

[2018-02-28 15:30] kpetrow commented on #13459
@Mugen87 this is a feature request

[2018-02-28 15:37] kpetrow opened #13460 "Octree return face or vertex index"
It would be helpful to have Octree.search return the index of the face or vertex in the result set.

The current results do not have a reference to their original position in the faces or vertices array.

Maybe this is already implemented and I cant figure out where.  work i have done #13459

[2018-02-28 16:14] danrossi opened #13461 "Cannot set property 'lightsHash' of undefined within GearVR and webvr example"
This might affect others but with the latest branch. But when launching presentation with GearVR and the gear controller example I receive this error

[code]

And therefore rendering breaks. I have experienced this same problem launching in Gear in other examples. and require to put a catch around the render

[code]

[2018-02-28 16:43] WestLangley commented on #13373
@Usnul Sorry. I misread the comment, and since my reply made absolutely no sense, I ( did the unthinkable and ) edited my comment after-the-fact.

[2018-02-28 16:53] WestLangley commented on #13458
@Mugen87 Are you certain this is a duplicate -- with identical causes?

[2018-02-28 16:59] WestLangley commented on #12903
So is anyone going to be working on the current Blender exporter bugs? I expect the answer is no. In that case, we should say so.

[2018-02-28 17:41] Usnul commented on #13373
@WestLangley How scandalous, you rascal!

but seriously, is this intended design or an accident/legacy

[2018-02-28 17:47] takahirox commented on #11951
WIP... (Miku has multi-material)

![image](https://user-images.githubusercontent.com/7637832/36803308-8badc19a-1cfa-11e8-8b55-91d6246433ba.png)

About non-supported image formats, ok let's go for 3.

[2018-02-28 18:04] fernandojsg commented on #11951
@takahirox looking good! 👍

[2018-02-28 18:06] WestLangley commented on #13373
@Usnul It was an intended design for the reasons I stated. However, I do recall @mrdoob showing interest in removing `target` in the past.

[2018-02-28 18:44] dustinkerstein commented on #13457
For this use-case, maybe try not using a VideoTexture `texture = new THREE.Texture(video);` and then manually calling `texture.needsUpdate = true` in your render loop. That's how I do it. Though this causes some major issues with desktop Safari (flashing black) and I end up using VideoTexture on Safari as a workaround.

[2018-02-28 19:20] donmccurdy commented on #13458
@giangm9 it looks like the link to your `.blend` file has broken?

[2018-02-28 21:35] Mugen87 commented on #13459
Sry, but it sounded like a help request to me.

[2018-02-28 21:40] Mugen87 commented on #13458
We have multiple issues like this and i think the solution is described here.

#13130

[2018-02-28 21:53] takahirox commented on #13197
I prefer just specifying "object loaded by `FileLoader` is readonly (if Cache is enable)" because we can keep `FileLoader` simple. I think other modules can manage the objects out of `FileLoader`, for example passing the copy of original objects for update purpose.

[2018-02-28 21:58] takahirox commented on #11951
BTW, are you folks interested in zip archive support? .glTF + external .bin and textures would be fitting to other authoring tools (maybe), but hard to do with non-archive. So zip archive would be necessary. And we can reduce the exported file size.

I want it and tried in my local branch before, I can share later if you're interested.

[2018-02-28 22:02] mrdoob commented on #13461
I've just tried https://rawgit.com/mrdoob/three.js/dev/examples/webvr_gearvr.html on Galaxy S8/GearVr and the Oculus browser and it displays correctly.

(Minus the standingMatrix issue introduced in #13158 that is.)

[2018-03-01 00:02] mkarnicki commented on #11534
Hi, I'm also interested in this. What is the 'CombinedCamera' mentioned in the issue description? Thanks!

[2018-03-01 00:11] mrdoob commented on #11951
Isn't that pretty much the same as gzipping a glb?

[2018-03-01 00:13] mrdoob commented on #12903
If no one else does before me... I would like to, at least, try to solve the rotation issues. #13130

[2018-03-01 00:23] donmccurdy commented on #11951
I hope authoring tools won't require separate files; we're encouraging everyone to use GLB by default. But easier to hand-edit an image if it isn't embedded, for sure.

No strong opinion about whether we want to put that functionality into `THREE.GLTFExporter` directly... but I almost think that we should not have too many options that could instead be post-optimizations on the glTF. Another examp

[2018-03-01 00:29] mrdoob commented on #13440
I think this is something that you should implement in your layer ([infamous](https://github.com/trusktr/infamous)) instead.

[2018-03-01 00:29] #13440 closed

[2018-03-01 01:20] p5aholic commented on #13457
@Mugen87 Thanks!

[2018-03-01 01:20] #13457 closed

[2018-03-01 01:45] mrdoob commented on #13197
I'm struggling to follow this one... But I like the idea of not over-complicating the loader because of workers...

[2018-03-01 01:50] mrdoob commented on #13454
So the problem is that `clampToMaxSize()` and `makePowerOfTwo()` breaks when passing a `DataTexture.image`?

[2018-03-01 01:58] mrdoob commented on #13457
👍

Hmm... Any ideas why?

[2018-03-01 02:00] mrdoob commented on #13329
I think "white nearest" makes the most sense to me (visually).

[2018-03-01 02:02] #10373 closed

[2018-03-01 02:32] WJsjtu commented on #13454
`clampToMaxSize()` breaks and `makePowerOfTwo()` does nothing to `DataTexture.image`.

[2018-03-01 02:51] mrdoob commented on #13373
Removing `target` is definitely something I'm interested in.

Not sure if `direction` make thing easier though. Couldn't one achieve the same thing with this?

[code]

[2018-03-01 07:07] WestLangley commented on #13454
POT is only required for mipmapping. DataTextures are typically neither mipmapped nor resized -- right?. So I do not understand what the issue is...

[2018-03-01 07:16] danrossi commented on #13461
It was happening but after an update it isn't. A temporary issue possibly.

[2018-03-01 07:16] #13461 closed

[2018-03-01 07:33] WJsjtu commented on #13454
@WestLangley Well , thank you for pointing out that the DataTextures do not need power-of-two process. So you can take care of the first three comments of this issue and ignore others.

The issue is about `clampToMaxSize` function which is called on any texture's image including DataTextures.image without the type check of the image.
When a DataTextures.image with size larger than `capabilities.ma

[2018-03-01 07:33] Ben-Mack commented on #13397
GLTFExporter can export `BufferGeometry `and import to Facebook fine. But any `Geometry` or `BufferGeometry` converted using method `fromGeometry` are not working on Facebook. I always receive this in FB validator:

Step to reproduce:
- Using `misc_exporter_gltf` example latest in dev, Export Sphere or Walthead working good on FB, but `export Scene1` result cannot import into FB.

Is this some exp

[2018-03-01 07:42] WestLangley commented on #13454
I do not think DataTextures should ever be resized.

[2018-03-01 07:52] WJsjtu commented on #13454
@WestLangley Even the DataTextures are larger than `capabilities.maxTextureSize`?
This will cause warning in console.

WebGL: INVALID_VALUE: texImage2D: width or height out of range

[2018-03-01 08:14] fernandojsg commented on #13397
@Ben-Mack this is something that should be fixed in the next weeks according to @zellski -> https://github.com/mrdoob/three.js/issues/13397#issuecomment-367534958

[2018-03-01 08:35] WestLangley commented on #13454
Resizing a DataTexture would destroy the data. If the DataTexture is too big, then that is a user error.

[2018-03-01 10:31] Astrak commented on #13342
The discussion is here in case anyone feels like contributing to it in the future, closing for the moment.

[2018-03-01 10:31] #13342 closed

[2018-03-01 14:42] Mugen87 commented on #11534
`CombinedCamera` has been removed since a while: #12184

[2018-03-01 14:55] Mugen87 commented on #13454
It's not just a warning, `clampToMaxSize()` throws a runtime error: https://jsfiddle.net/f2Lommf5/2175/

My suggestion was to add at least a more robust version of `clampToMaxSize()` that avoids the runtime error and reports a warning instead ('image is too big...').

[2018-03-01 15:07] Neuxxx opened #13466 "FBXLoader wrong handle the transformed pivot points"
##### Description of the problem

I have tried to load an FBX file with the FBXLoader. I also found the Issues [#11895](https://github.com/mrdoob/three.js/issues/11895) that descripe a similar problem.

In the Fbx Sdk from Autodesk I solved this kind of Problem bei reset all pivots to the Mesh origin for the TRS-Matrix.

This is how I load the FBX-File. Is a little variation on the FBX-Example

[c

[2018-03-01 16:51] looeee commented on #13466
Can you make sure that you are using the latest version of the loader? Transformed pivots should work now.

If that doesn't fix it then please share your model and I'll take a look.

[2018-03-01 18:04] zellski commented on #13397
As of build 161 and on (current App Store version is 160) of main FB app, this won’t be a crasher anymore and we’ll remove this validation check. I expect this to happen within the week.

[2018-03-01 18:09] fernandojsg commented on #13397
@zellski that's awesome! thanks :)

[2018-03-01 20:07] #11318 closed

[2018-03-01 20:27] mrdoob commented on #10654
#5171 #10750

[2018-03-01 20:27] #10654 closed

[2018-03-01 20:29] #9208 closed

[2018-03-01 20:46] Mugen87 commented on #8280
I've tested this today with Chrome and Firefox but i'm unable to reproduce.

@alexgarces @moynob Do you still experience the issue on your machines? These fiddles are jusing the latest version of `three.js`.

https://jsfiddle.net/cqhwc11c/1/
https://jsfiddle.net/alexgrcs/5dg2n3zd/

[2018-03-01 20:49] mrdoob commented on #13397
Makes me wonder though...

The "real" reason `THREE.GLTFExporter` can't export `THREE.Geometry` is because when we convert `THREE.Geometry` to `THREE.BufferGeometry` we're creating a `color` attribute which is, in most of the cases, full of zeros.

So, one "solution" (and optimisation) would be to not export the `color` attribute if `material.vertexColors` is set to `THREE.NoColors`?

[2018-03-01 21:25] dustinkerstein commented on #13457
No, not really. I noticed it a few weeks ago and quickly put in a workaround for my app. I don't believe it was always like this. It's possible a recent Safari update changed the behavior, but I figured using the manual texture approach wasn't 100% supported so it might not work everywhere. I'd be happy to add a bug for investigation though. Should I do that?

[2018-03-01 22:00] fernandojsg commented on #13397
Ops I didn't know that :D that's for sure a must-do optimization :D

[2018-03-01 23:59] mrdoob commented on #8280
I can no longer reproduce... 🎉

[2018-03-01 23:59] #8280 closed

[2018-03-02 00:32] mrdoob commented on #13466
I can confirm using the `dev` branch.

<img width="1034" alt="screen shot 2018-03-01 at 4 31 23 pm" src="https://user-images.githubusercontent.com/97088/36877250-17777400-1d6e-11e8-9992-a894157de679.png">

Models: https://1drv.ms/f/s!AtdlOM2GmeG5hKc1e8m-5m5-0SPhSQ

[2018-03-02 03:20] mrdoob commented on #13457
@dustinkerstein for the time being I've done #13470 so we can test this a bit more.

[2018-03-02 03:32] mrdoob commented on #13379
Alright... Can you guys try the example in your browsers and see if you see it jumping back frames from time to time?

https://rawgit.com/mrdoob/three.js/dev/examples/webvr_video.html

[2018-03-02 03:40] looeee commented on #13466
Oh sorry, I missed the model link. I'll take a look later today.

[2018-03-02 06:17] daoshengmu commented on #9249
<img width="300" alt="screen shot 2018-03-02 at 1 54 49 pm" src="https://user-images.githubusercontent.com/1263177/36885787-0b9c4488-1e24-11e8-9666-e99328f95069.png">
Follow the approach from @@mattdesl. It looks like using a thickness map to define the translucent in surfaces for computing the diffuse reflectance. Is there any progress for now?

If we decide to adopt this approach, should we have

[2018-03-02 06:31] RemusMar commented on #13379
Everything seems to be ok.
:+1:
But on some devices 2 x 1024 x 1024 x 24 / second might be problematic.
I would limit the source video to 512x512 pixels

[2018-03-02 07:12] Neuxxx commented on #13466
Hello,

I have save the file in ASCII and compare the definition to one I have "Reset the Pivots" in 3DS Max.

I have seen that the original (left) has a geometry scaling and the resettet (right) have the scaling translatet in the local scaling value.

![2018-03-02_07-36-18](https://user-images.githubusercontent.com/28587500/36886392-76287ae8-1dec-11e8-8e63-dd352bba6367.png)

Here is a screenshot

[2018-03-02 13:16] Mardonis commented on #13379
I saw some flickering of jumping back some.
Google Chrome Version 64.0.3282.186 (Official Build) (32-bit)

[2018-03-02 14:35] Mugen87 commented on #13379
Same here with Chrome (64.0.3282.186) in macOS.

![2018-03-02 15 33 49](https://user-images.githubusercontent.com/12612165/36903830-226c8bea-1e2f-11e8-82bd-5136040f92ed.gif)

[2018-03-02 15:35] daniel-nth commented on #13288
I would confirm this to be an iOS problem. Ever since at least the generation 6S/6S+, iOS has had a problem with floatVertexTextures. The fix we've been using is to disable that feature on iOS. This limits the bones we can use, but we have to limit them anyway to support crappier phones.

As iOS devices fail the conformance test posted by @Mugen87, it would probably be a good idea to disable float

[2018-03-02 15:37] RemusMar commented on #13379
@Mugen87 @Mardonis
Do you have issue with Firefox?

[2018-03-02 15:42] Mugen87 commented on #13379
No, the video looks fine with FF (58.0.2) 😊

[2018-03-02 17:03] msimpson opened #13473 "Water2 Reflection is Reversed"
@Mugen87
https://github.com/mrdoob/three.js/blob/d55897b8e9b2632896d8ac146a05b3b4be3668f8/examples/js/objects/Water2.js#L324

Should be more like:
[code]

[2018-03-02 17:13] Mugen87 commented on #13473
Good find! Would you like to do a PR with the fix`

[2018-03-02 17:14] msimpson commented on #13473
Sure. I'll throw one together.

[2018-03-02 17:28] dustinkerstein commented on #13379
This example doesn't actually play in OSX Safari (neither does the regular video panorama example). It throws an "Unhandled Promise Rejection: [Object DOMError] - This has nothing to do with this latest change, but it would be good to test in Safari as I think this new code is going to cause rapid black frame flickering (it doesn't leave the previous frame like on Firefox).

Also, I don't actually

[2018-03-02 18:00] Mugen87 commented on #13379
I guess it's because Safari does not support WebM.

[2018-03-02 18:01] RemusMar commented on #13379
It's working just fine (at least on Firefox ESR, Firefox Quantum and older Chrome versions).
It doesn't have any artefact and it's always in sync (because setInterval is never accurate, the browser calls the trigger when everything is ready, including the last decoded frames).
I've tested this method with a 90 minutes movie and I didn't notice any glitch.
You can even include extra delays:
http://

[2018-03-02 18:06] dustinkerstein commented on #13379
@RemusMar Interesting. What video framerates did you try? I'm curious how it handles 25fps and other rates that don't divide into 60fps nicely.

[2018-03-02 18:12] #13473 closed

[2018-03-02 18:12] RemusMar commented on #13379
I've encoded all the videos by myself:
256x144 pixels
24 or 25 FPS
VP8

setInterval is set to 40ms (around 25 FPS).
Not a single glitch with both 24 and 25 FPS movies.

[2018-03-02 18:13] mrdoob commented on #13473
Haha! This is like when the reflection in MeshStandardMaterial was flipped, like, for months 😁

[2018-03-02 18:13] mrdoob commented on #13473
Many thanks!

[2018-03-02 18:46] WestLangley commented on #13473
The colors of the reflection also do not appear to be correct.

There is really no reason to rotate the knot in the demo. Removing the rotation makes it easier to identify bugs.

[2018-03-02 19:01] WestLangley commented on #10339
If that is true, we should remove the method...

I am not sure it is true. There are issues such as this one:

https://stackoverflow.com/questions/43394385/three-smoothshading-has-no-effect-on-geometry/43395883#43395883

[2018-03-02 19:08] Usnul commented on #13373
Not really. It would be a great start. But semantics of directed light
specifically are not addressed, since direction is a product of both lookAt
target as well as position, which semantically is not useful in that
context.
On Thu 1. Mar 2018 at 02:52, Mr.doob <notifications@github.com> wrote:

[2018-03-02 19:10] mrdoob commented on #13473
I think they're correct but `MeshNormalMaterial` is making things confusing.

[2018-03-02 19:16] WestLangley commented on #13373
@Usnul What specifically do you recommend as a new API for `SpotLight` and `DirectionalLight`?

[2018-03-02 19:29] Usnul commented on #13373
Specifically, spot can work well with position and direction, directed light should ignore position attribute, instead relying entirely on orientation (rotation).

[2018-03-02 19:36] Usnul commented on #13373
As a user of the API, i am not interested in how “shadow camera” is implemented, and the fact that internally there are clipping planes aligned on the vector of orientation for said camera. In most cases I would not bother setting position at all, letting it default to 0,0,0; I would only set the *direction*, using lookAt most likely

[2018-03-02 20:13] Mugen87 commented on #13373
I like how Unity handles directional light. There is no target vector, you just apply a rotation to change the direction of the light. The default is (0,0,1) when rotation is set to (0,0,0).

[2018-03-02 20:19] WestLangley commented on #13373
A `Directional` light is an `Object3D`, and consequently it has a position. You are suggesting we ignore the position and use rotation, instead.

`rotation` and `quaternion` are not appropriate for specifying a direction; they are only appropriate for specifying an orientation.

A 3D direction has two degrees of freedom ( heading and pitch, for example ).

An orientation has three degrees of freed

[2018-03-02 20:19] Mugen87 commented on #10339
Wouldn't it be better to solve such issues when creating/exporting the model? I'm not sure if `three.js` should be the tool for "fixing" those geometries.

[2018-03-02 20:25] Mugen87 commented on #13373
Well, my terminology could be better, yeah 😅

Okay, then you define an orientation and derive the direction vector from it. You know, i mean this:
[code]

[2018-03-02 20:28] Mugen87 commented on #13473
What material would be more appropriate for the torus?

And yes, i'm fine with removing the rotation 😇

[2018-03-02 20:31] WestLangley commented on #10339
Do you propose removing the method, then?

[2018-03-02 20:33] Usnul commented on #13373
@WestLangley
Fully with you. You asked for specific suggestion; my suggestion acknowledges the convenience of Object3D and the attributes *rotation* and *position*. The fact that we have surplus information is tolerable to me

[2018-03-02 20:40] Mugen87 commented on #10339
Well, we need the method to create the counterparts of `BoxBufferGeometry` or `SphereBufferGeometry`. But generally i thought we head to deprecate `Geometry`, right? I think it's counterproductive if we now construct use cases for `Geometry`.

[2018-03-02 20:40] WestLangley commented on #13373
@Mugen87 @Usnul But we have to support shadow frustums. They require a location, and they also (I think) should be right-side-up. That is, not tilted.

The current API supports what we need.

I am interested your alternate APIs, but I have not heard anything yet detailed enough to be implementable. (At least I don't think I have.)

[2018-03-02 20:52] Mugen87 commented on #13373
I thought we want to get rid of `target`, right? So i don't understand what blocks the Unity approach. Instead of:
https://github.com/mrdoob/three.js/blob/496f99ddb63e66438ce7555aa31597a796464fc3/src/renderers/webgl/WebGLLights.js#L162-L170
why not:
[code]

[2018-03-02 20:58] WestLangley commented on #10339
Users may need `Geometry` for adjacency information, for example. Who knows...

I also think it would be wise to identify where users use `Geometry` so we are prepared to offer work-arounds when we deprecate it.

We will stop _rendering_` Geometry` at some point, I expect. But I would retain the conversion utilities.

And I would not close this PR for the reason you stated -- maybe some other reas

[2018-03-02 21:04] WestLangley commented on #13373
Fine, so far...

You tell me... :)

[2018-03-02 21:05] Mugen87 commented on #10339
Okay, you've convinced me 😊

[2018-03-02 21:08] mrdoob commented on #10339
Oh my... Sorry.

[2018-03-02 21:10] Mugen87 commented on #13373
......Maybe i should call Unity and ask how they implemented their directional light 😊.

[2018-03-02 21:21] pailhead commented on #13364
Maybe also check out this PR and pitch in with some thoughts. So far i've not seen anyone use `onBeforeCompile` but i've seen a lot of:

[code]

It seems intuitive and natural that you would pass bits, or chunks of data into the material. Even the name `ShaderChunk` sounds appropriate for this.

https://github.com/mrdoob/three.js/pull/13198

[2018-03-02 21:22] WestLangley commented on #13373
I just do not see how this can be implemented without position.

Maybe `light.direction` and `shadowCamera.position`. That way, if there are no shadows, then a position is not required.

[2018-03-02 21:30] Mugen87 commented on #13373
Oh, i've never suggested to remove the `position` property. Just `target`...

[2018-03-02 21:32] Mugen87 commented on #13373
Instead of
https://github.com/mrdoob/three.js/blob/cb4c23fea8b667b6126635be64825d0cc1fa5f4b/src/renderers/webgl/WebGLShadowMap.js#L207-L209
why not just
[code]

[2018-03-02 21:39] pailhead commented on #13446
The main idea behind this is based on an observation that passing data in seems like a more intuitive way of dealing with this problem. Configuration over convention?

https://github.com/mrdoob/three.js/issues/13364

Even aware of `onBeforeCompile` it seems more natural / easy to monkey patch `THREE.ShaderChunk`:
https://github.com/mrdoob/three.js/issues/12977

[2018-03-02 21:47] WestLangley commented on #13373
Because that will cause the frustum to be rotated on its look-direction.

--

OK. So `light.position` and `light.quaternion` could work. But we need special logic to keep the shadow frustum right-side-up. (There are may quaternions that yield the same direction.) The orientation of the frustum will also be an issue if we implement projective texturing.

[2018-03-02 21:54] mrdoob commented on #13379
@Mardonis Is that with MacOS? Windows? Linux? ...

[2018-03-02 22:06] Mardonis commented on #13379
Windows 7

[2018-03-02 22:43] dustinkerstein commented on #13379
Try this link on Safari (based on the above demo just with an mp4 at 29.97fps) - https://files.panomoments.com/js/videoTexture.html - It will flash black every other frame (**_don't view if you're epileptic_**). On Windows Chrome I think I am seeing frame dropping/duplicating frames which causes a very noticeable judder.

Here's this same example but with texture.needsUpdate = true on every render

[2018-03-02 22:49] mrdoob opened #13478 "SVGLoader"
Currently, [SVGLoader](https://github.com/mrdoob/three.js/blob/dev/examples/js/loaders/SVGLoader.js) only returns the nodes.

I hink it'll be a great improvement if the loader could convert svg nodes to `THREE.Shape` which could then be used by `THREE.ShapeGeometry` or `THREE.ExtrudeGeometry`. With that in place, adding `svg` support to the [editor](https://threejs.org/editor/) would make a few de

[2018-03-02 22:49] mrdoob commented on #4429
Closing in favour of #13478

[2018-03-02 22:49] #4429 closed

[2018-03-02 22:55] mrdoob commented on #13379
If the mp4 is at 29.97fps, you should change the `setInterval()` acoordingly:

[code]

[2018-03-02 22:59] dustinkerstein commented on #13379
Sorry about that. Fixed in the link. It still drops frames though :)

[2018-03-02 23:01] mrdoob commented on #13379
@jonobr1 have you seen this flickering in Safari before?

[2018-03-02 23:44] jonobr1 commented on #13379
Yes @mrdoob this is a new issue with Safari 11.01 I think is the version? 11.1 ( in beta ) doesn't have this issue.

[2018-03-02 23:46] jonobr1 commented on #13379
I think this is the bug you're referring to: https://bugs.webkit.org/show_bug.cgi?id=171054

[2018-03-02 23:51] jonobr1 commented on #13478
I'd be happy to translate the Two.js logic over.

[2018-03-02 23:54] mrdoob commented on #3803
Seems like the file loads with the current version of `ColladaLoader`.

![screenshot 2018-03-02 at 15 52 44](https://user-images.githubusercontent.com/97088/36927350-dbffee60-1e31-11e8-9e98-c95d03471004.png)

Not sure if it looks as it should though.

/ping @Mugen87

[2018-03-02 23:57] mrdoob commented on #13478
@jonobr1 😍

[2018-03-03 00:19] donmccurdy commented on #4770
#13102 is merged, closing.

[2018-03-03 00:19] #4770 closed

[2018-03-03 00:24] donmccurdy commented on #7724
Closing as duplicate of https://github.com/mrdoob/three.js/issues/8710, which has more recent updates.

[2018-03-03 00:24] #7724 closed

[2018-03-03 00:38] donmccurdy commented on #9506
I think this could be a duplicate of https://github.com/mrdoob/three.js/issues/8747, or even closed? It is possible to create custom interpolants now, although there are probably things we could do to make that easier.

[2018-03-03 00:42] donmccurdy commented on #12623
I think any remaining issues are not related to JSONLoader, so will close this in favor of #12595 if that's ok.

[2018-03-03 00:42] #12623 closed

[2018-03-03 01:14] donmccurdy commented on #7913
Is there more to do on this issue? I'm not sure of the state of Blender Exporter NLA exports, but interpolation with the new animation system is working nicely.

For GLTFLoader we've implemented a custom interpolant with control points, which should match Blender's bezier curves. The [glTF-Blender-Exporter](https://github.com/KhronosGroup/glTF-Blender-Exporter/) supports exporting a single action

[2018-03-03 01:45] #13329 closed

[2018-03-03 03:54] #13076 closed

[2018-03-03 04:34] makc commented on #13288
@daniel-nth I guess it makes sense. However... @OrtOfOn was saying z=60K reproduces the problem on desktop... I don't have any problems at 60K on desktop, only 1e8 was sufficient for me to "reproduce". So, maybe this issue is really at least 3 separate problems:
* float textures on ios,
* something at 60K on @OrtOfOn 's desktop,
* running out of precision at 1e8 due to bad matrix multiplication or

[2018-03-03 05:01] WestLangley commented on #13439
/ping @mrdoob for feedback.

[2018-03-03 05:28] dustinkerstein opened #13482 "VideoTextures on Safari and seeking issue"
@mrdoob Since we're talking about all this video stuff, I have a somewhat related question / possible bug, though it likely only affects my particularly use case. In this [example](https://files.panomoments.com/js/videoiOS_seek.html) I try to set the currentTime to some frame before showing the texture. I don't ever want to show frame 0.  In the above example, it should immediately load to the fra

[2018-03-03 05:57] mrdoob commented on #13482
Sorry, but better to use the forum for questions like this.

[2018-03-03 05:57] #13482 closed

[2018-03-03 06:00] donmccurdy commented on #7094
Is this still something we'd want in core three.js? For example:

[code]

[2018-03-03 06:22] WestLangley commented on #7094
@donmccurdy To the best of my knowledge, there has not been any demand for tangent support in three.js in years. three.js does not require them, and internal support for tangents has been removed. So, in spite of what I wrote in 2015, I would not worry about it at this point.

[2018-03-03 06:28] dustinkerstein commented on #13482
Fair enough :) Just thought it could somehow be related to some of the existing Safari issues we were discussing (ie. the black frame flashing).

[2018-03-03 08:02] RemusMar commented on #13379
That movie (1920 x 960) runs terrible (very choppy) even on Firefox Windows.
As I said before, 2 x 1024 x 1024 x 24 / second might be problematic on many devices.
If I resample that 1920x960 movie to 1024x512 I get smooth movement (at least on Firefox Windows).

[2018-03-03 08:24] dustinkerstein commented on #13379
I imagine that has more to do with your computer's capabilities. 4k 30fps is very doable in WebGL based players but it does depend on the hardware.

[2018-03-03 09:15] RemusMar commented on #13379
WebGL at UHD is something, videotexture at UHD is something completelly different.
Anyway, 4K at 30fps runs choppy even on top hardware and it doesn't run at all on iOS and mobile devices.

[2018-03-03 09:16] OrtOfOn commented on #13288
Hi Guys,
First, thank your for getting back to this bug. I still didn't find the time to dig in it :(

@daniel-nth The scale of the object is affecting the bug:

On iOS, with this very huge "Lara" object (height=120, scale=1), the bug appears at z=60000 indeed. But, if you take a realistic sized mesh (height=1.8, scale=1), it already appears only at z=100.

As already tested and reported in this t

[2018-03-03 11:05] mrdoob commented on #13482
Right. We should report these to Apple though. It's dangerous!

[2018-03-03 12:08] makc commented on #13288
@OrtOfOn  wait, so on ios? but you also said:

[2018-03-03 12:52] RemusMar commented on #13288
It's not huge at all.
And you still don't understand the relationship between model size and world scale.
For the last time:
http://necromanthus.com/Test/html5/Lara_1000000.html
Modeil height approx = 75 and world scale = 9,999,999.
From Z=0 to Z=1,000,000 (one million !!!)
Because the single-precision floating point number of digits is 7, there are no decimals left at all !!!
It runs perfect on a

[2018-03-03 14:50] makc commented on #13288
@RemusMar in your example, enter this into console:
[code]
you shall see something like this:
![screen shot 2018-03-03 at 15 48 53](https://user-images.githubusercontent.com/242577/36935652-9e824c6c-1efa-11e8-8389-4e218e175cc5.png)

[2018-03-03 14:52] makc commented on #13288
![screen shot 2018-03-03 at 15 51 41](https://user-images.githubusercontent.com/242577/36935673-d28c0c28-1efa-11e8-85a5-5c4592c76edd.png)
it's trippy

[2018-03-03 15:06] makc commented on #13288
I'll give you that z = 1e6 does not look bad either. around 1e7 it is already noticeable, and 1e8 is just crazy

[2018-03-03 15:09] Troyhy opened #13483 "Bender export / json loader mapNormalFactor bug"
When exporting from blender a mesh witch has an normal map applied to material resulting render is evenly black mesh.
Issue is fixed by patching material before mesh is made in loader callback:
[code]
But this has to be done individually to each material and scaling is not coming from material.
After digging I found that if you change
[code]
in here https://github.com/mrdoob/three.js/blob/dev/src/

[2018-03-03 15:16] daniel-nth commented on #13288
@OrtOfOn Setting capabilities.floatVertexTextures to false works for us on iOS. I suspect your model uses to many bones to fit into the uniforms.

[2018-03-03 15:51] RemusMar commented on #13288
I know, but for those values you are out of precision.
For the skinned mesh vertex weight precision,  the max world size is 9.999.999
That translates in max distances of a few millions, no more.
cheers

[2018-03-03 16:11] Mugen87 commented on #13373
I'm stuck here, sorry. I don't understand "_Because that will cause the frustum to be rotated on its look-direction._". I think i have to make the change and then visualize the shadow camera to see the difference.

[2018-03-03 17:05] WestLangley commented on #13373
What I was thinking was... If you take an arbitrary transformation matrix, it is associated with a particular quaternion. An quaternion applied to any object, such as a frustum shape, will change its "look direction", but will not necessarily keep it "right side up".

That is why we use `object.lookAt( target )`. It uses the direction to the target _plus_ the object's `up` vector to orient the obj

[2018-03-03 17:27] Mugen87 commented on #3803
I'll have a look.

@peterderivaz I know this is and old issue but can you please provide the corresponding texture `house3/Carpet_Berber_Multi.jpg`?  :innocent:

[2018-03-03 17:28] mrdoob commented on #13379
In VR, 1024x512 is not enough.

[2018-03-03 17:49] Mugen87 commented on #13483
Looks like a bug in `Loader.initMaterials()`.  `mapBumpScale` and `mapNormalFactor`  actually differ. They should be the same.

https://github.com/mrdoob/three.js/blob/4eb5068baf000e930d9c348a7d87c9a2e25d377d/src/loaders/Loader.js#L244-L246

[2018-03-03 17:51] Mugen87 commented on #13483
Can you share your Blender and JSON file, please?

[2018-03-03 20:01] Mugen87 commented on #3803
The current version of `ColladaLoader` does not parse the file correctly. It is able to setup the multiple materials and the respective groups of the buffer geometry but it can handle the definition of `uv` coordinates of the `dae` file.

That's the problematic section:
[code]
Each `polylist` results in a `group` with the respective material index. The first `polylist` has no uv-coordinate (`TEXCO

[2018-03-03 21:06] OrtOfOn commented on #13288
@makc Indeed, I got the wrong numbers for desktop. It has to be very huge, you're right and I mentioned in the thread earlier in fact :/

@daniel-nth Good to know but are you sure. Here is the test I did here in this thread, with 3d models from threejs sources. You can still have a look a the code. @Mugen87 made the same feedback too, no animation with this model. https://github.com/mrdoob/three.j

[2018-03-03 21:07] OrtOfOn commented on #13288
Oh, I see the model is not present anymore. 404 on https://threejs.org/examples/models/fbx/xsi_man_skinning.fbx

[2018-03-03 21:30] OrtOfOn commented on #13288
@RemusMar Quite agreed with you about scales. The numbers (1e6, 1e8, 1e9,...) will certainly result with bad precision. No doubt about that. But please stop trolling me. Stop pretending I don't understand anything and ask yourself if an avatar mesh with height of 120 is not huge. For me, it's very huge and not very usable in a gamedev with other realistic scaled objects made by artists, raycasts,

[2018-03-03 23:25] Usnul commented on #13373
Alright, all this talk of APIs got me confused. I get it now. I think :)
In concrete terms, I don’t think that position is needed, indeed I believe it to be harmful. Why? Because you can find best near and far clipping planes without it. Position of the camera is also trivial by extension. How do you find near and far planes? Simple - analyse your scene and determine the extents of it along the li

[2018-03-04 07:37] RemusMar commented on #13288
I'm not trolling you.
But 1.5 units does not mean 1.5 meters
cheers

[2018-03-04 08:09] Troyhy commented on #13483
Here you go.

Json file:
https://pastebin.com/d8F0HvjC

zip with blender file and normal map
http://www.filedropper.com/barrel

[2018-03-04 08:57] kaisalmen commented on #13197
@takahirox Sounds good to me

[2018-03-04 09:56] Mugen87 commented on #13373
@WestLangley Maybe we can do this instead of using a predefined `target` vector?
[code]

[2018-03-04 10:55] Mugen87 commented on #13483
Yeah, you are right. `json.normalScale = [ value, value ]; ` is wrong since `value` is already an array with two entries. I've also checked the exporter code. Compared to `bumpScale` (which is a single float), `normalScale` is exported as an array of two values.

Would you like to to a PR with the fix?

[2018-03-04 16:36] Mugen87 commented on #11767
`Object3D.getWorldRotation()` has been removed #13481

[2018-03-04 16:36] #11767 closed

[2018-03-04 17:29] makc commented on #13288
@OrtOfOn

but this scale is some arbitrary self-imposed value. you could just as well decide to use centimeters, and then "an avatar mesh with height of 120" is actually smaller than average.

[2018-03-04 17:33] Troyhy commented on #13483
Not sure what you mean, but I created a pull request for this fix.

[2018-03-04 17:54] WestLangley commented on #13373
@Usnul Some users have a tight shadow frustum focused on just part of the scene, in which case location information is required -- either in the form of a target position, light position, or shadow camera position.

@Mugen87 If you want, you can try hacking something up for directional light to see if you can replace `target` with `quaternion` or `direction`. Lights can be children of other (rotat

[2018-03-04 18:35] Mugen87 commented on #13483
Sry, typo. PR looks fine :+1:

[2018-03-04 21:57] donmccurdy commented on #11541
Related: https://github.com/mrdoob/three.js/pull/13430

[2018-03-04 22:00] trusktr commented on #10357
I'm new to lines. Is `linewidth` still a problem these days? I can't seem to modify `linewidth` in Chrome 64 or Firefox 58.

In [this pen](https://codepen.io/trusktr/pen/646d23c9459815031cc545a2adcf710d?editors=0010) `linewidth: 10` looks like follows in both browsers:

<img width="557" alt="screen shot 2018-03-04 at 1 59 45 pm" src="https://user-images.githubusercontent.com/297678/36951101-458769

[2018-03-04 22:05] donmccurdy commented on #11395
Trying to test this sample model with https://github.com/KhronosGroup/glTF-Blender-Exporter/pull/166 and can't get the animation to play in Blender at all... do I need to do something particular beyond selecting a mesh, action, and hitting play?

[2018-03-04 22:20] donmccurdy commented on #10357
Still a problem, and unlikely to change in WebGL 1, see https://bugs.chromium.org/p/chromium/issues/detail?id=60124. There's a workaround in https://github.com/mrdoob/three.js/pull/11349.

[2018-03-05 03:18] Usnul commented on #13373
@WestLangley
That is true. And i acknowledge that. However, this moves usability further and further into domain of experts. What I propose is a solution which requires no tweaking on the user's part. Set the desired direction and the engine takes care of the rest.

I genuinely am curious, do you believe that shadows being generated automatically to fit the scene to be an inferior design?

Let's s

[2018-03-05 03:31] apurvaojas opened #13497 "THREE.CurvePath not creating path as expected"
I have 3 `CubicBezierCurve3` from which i am creating the path which should be render like this:

[![enter image description here][1]][1]

But it is rendering like this:

[![enter image description here][2]][2]

I have added these 3 `CubicBezierCurve3` curves to path, but the end result of curve path is having 4 curves.

    var curve1 = new THREE.CubicBezierCurve3(
          new THREE.Vector3( -1

[2018-03-05 03:31] WestLangley commented on #13373
Shadow quality degrades as the shadow frustum increases in size. One option is to bake shadows for static elements. The shadow camera frustum can then be tight, and track only the dynamic object(s).

[2018-03-05 04:04] WestLangley commented on #13497
Sorry, this is not a help site.

[2018-03-05 04:04] #13497 closed

[2018-03-05 08:37] trymoremore opened #13498 "mapAORepeat don't work"
i use the BinaryLoader to add mesh in scene, i set the mapAORepeat in the js file,but it seems don't work

[2018-03-05 09:38] Mugen87 commented on #13498
Can you please provide a little bit more context? Maybe your model and the respective code?

[2018-03-05 10:04] trymoremore commented on #13498
@Mugen87
i set the gemoetry before use aomap like this:
geometry.faceVertexUvs[ 1 ] = geometry.faceVertexUvs[ 0 ];
it's some information about mapAO in my js file:
	"mapAO" : "NOCC205438_Ao.jpg",
	"mapAORepeat" : [1, 1],
and the result is that:
![result](https://user-images.githubusercontent.com/27277007/36969056-63708ffc-209f-11e8-9ecf-1933b5476fff.png)
and i change the js file like this :
	"mapA

[2018-03-05 10:28] Mugen87 commented on #13498
Ah, i see now. That's a known limitation, see https://github.com/mrdoob/three.js/issues/9457#issuecomment-237308814

[2018-03-05 10:49] atul-mourya commented on #13398
Interestingly, Ms edge and Internet Explorer doesn't seem to have such a pronounced aliasing.
However, EXT_shader_texture_lod is missing in IE and Edge.

![capture](https://user-images.githubusercontent.com/16312255/36970902-17c6d138-2090-11e8-9a2c-6c454081bf61.PNG)

[2018-03-05 11:47] Mugen87 commented on #13498
Closing since #9457 is still open as a valid feature request.

[2018-03-05 11:47] #13498 closed

[2018-03-05 13:52] OrtOfOn commented on #13288
@makc Sure, but physics engine/libs expect you to use metric values. Did you already tried to do some physics on scaled objects or with non-metric values? It becomes quickly awful to develop and you get unexpected and unrealistic results. All your forces must be reviewed and scaled too. It will work, but not accurately.

Of course, it depends the level of precision you need to achieve and values l

[2018-03-05 14:08] RemusMar commented on #13288
That's not true.
Meters, centimeters, inches, etc are irrelevant.
As I said (several times) before, all it matters is the world size (scale) and the accuracy.
Keep in mind the following:
if you have a skinned mesh with height = 1.5 units, you are forced by the vertex weights map to use 2-3 decimals at least.
For the physics engine (if any) you might need 3-4 decimals for acceptable results.
If the

[2018-03-05 15:13] OrtOfOn commented on #13288
@RemusMar I'll stop here. It seems you didn't or don't want to test your case on an iOS device. You can't use "distance of a few hundreds" on these devices with gpu skinnedmeshes. The mesh goes crazy very quickly. That's the point of this thread and I just wanted to report that at start. So that's it.

I hope you got the fact that all your propositions and samples doesn't work on iOS devices, as r

[2018-03-05 15:19] RemusMar commented on #13288
You are wrong again.
See the above screenshot (Android 7 - Samsung mobile phone).
Model height = 75 (bounding sphere radius approx. 38) and distance 1,000,000 (one million !!!)
Or model height = 1.5 and distance 20,000.

p.s.
Is not my problem that iOS was always a collection of bugs.

[2018-03-05 15:23] OrtOfOn commented on #13288
@RemusMar I'm not wrong, you troll. I'm talking about iOS and you're talking about another device... are you mad??

Not my prob if you hate Apple so much. When one of my client want a 3D web based game done with ThreeJS, I don't tell him "fuck you with your iphones"... If you do it, I'm sorry for you.

End of transmission here... I cannot follow this anymore.

[2018-03-05 15:33] daniel-nth commented on #13288
@OrtOfOn Yes, the model I used has 19 bones, the 404 fbx has 67.

https://github.com/mrdoob/three.js/issues/13288#issuecomment-364550036 had a link to a page that shows the uniform bone limit. The formula that page uses is `Math.floor((data.webgl.params.MAX_VERTEX_UNIFORM_VECTORS - 20) / 4);` Not sure if that is 100% accurate for three.js, but it reports 27 even on iPhone X, which unfortunately is

[2018-03-05 16:25] WestLangley commented on #9249
I think so. You could start with adding an example using a `ShaderMaterial`. Or alternatively, extend `StandardMaterial` similar to `ToonMaterial`.

[2018-03-05 16:44] pailhead commented on #13398
This is something really worth exploring. I read a lot of resources on PBR shading but don’t recal reading that your aa is gonna go to hell.

[2018-03-05 16:50] peterderivaz commented on #3803
![carpet_berber_multi](https://user-images.githubusercontent.com/1066254/36987837-348b058c-2095-11e8-8aa4-5c7342660484.jpg)

As requested, the carpet jpg

[2018-03-05 16:51] takahirox commented on #13107
#13501

[2018-03-05 16:59] Mugen87 commented on #3803
Thx! Looks like the PR fixes the problem. The texture is displayed without any warnings.

[2018-03-05 20:43] openbuilds-engineer commented on #11904
(: was investigating this today, need to implement a viewer where the user must be able to switch between perspective and parallel projection in realtime (CAD viewer).

Was CombinedCamera replaced with .setFromPerspective() and .setFromOrthographic(). ? Or just dropped entirely?

[2018-03-05 21:46] makc opened #13506 "None of merge() calls involving BufferGeometry are working"
What's the point of having these methods if they do nothing? https://jsfiddle.net/f2Lommf5/2523/ I thought you were deprecating THREE.Geometry

[2018-03-05 22:06] msimpson commented on #11306
I just ran into this myself. I wanted to contain a large FBX scene in a custom class which inherits from `THREE.Group` where `onBeforeRender()` is used to animate a material's opacity when a Boolean is true. What I discovered was that `onBeforeRender()` is only executed for `Mesh` instances of `Object3D`. Which is why in the example that @mrdoob linked above works correctly. The `Reflector` is its

[2018-03-05 22:19] kaisalmen commented on #13197
@takahirox @mrdoob I have fix available for `WorkerSupport` / `WorkerDirector`. You can now set boolean `forceWorkerDataCopy`. It will copy the `ArrayBuffer` before it is sent off to the Worker. I made this switchable as it is not always necessary.
Larger PR for this problem, `OBJLoader2` Parser optimization and `LoaderSupport` clean-up will come  later this week. Need to update documentation.

[2018-03-05 22:40] donmccurdy commented on #13506
It does something, but not what people expect / not what `Geometry.prototype.merge()` does. To get a meaningful result when merging BufferGeometry, you must give an offset; the contents of the first geometry will be replaced with the other's, starting at that offset. In r91 there will be a warning when calling `bufferGeometry.merge()` without any offset.

To actually merge BufferGeometries (in r91

[2018-03-06 01:27] trymoremore commented on #13498
@Mugen87 thank you very much!

[2018-03-06 01:31] looeee commented on #13506
I'm still not sure what the purpose of `BufferGeometry.merge` is though. What's a typical use case?

Also, now we have two different methods involving `BufferGeometry` that have the same name z but do different things. This seems unnecessarily confusing.

[2018-03-06 01:56] donmccurdy commented on #13506
I think `a.merge( b )`  exists for backwards-compatibility with `THREE.Geometry`, even though it does something subtly different. A couple use cases I can think of for lossless merging:

1) A-Frame allows users to merge primitive geometry generated by their markup at runtime, for performance improvements. We removed this feature after hitting the inconsistencies with BufferGeometry.
2) Could imagi

[2018-03-06 02:16] makc commented on #13506
well [there is no any](https://github.com/donmccurdy/three.js/blob/01735303382e7a2bbb1669f2da278fb16f550be4/src/core/BufferGeometry.js#L788):

they do not take matrix, but offset. that's not subtly different, that's entirely different. with that, the assumption that I operated on is invalid, and so is this issue :) thanks for BufferGeometryUtils.merge pointer!

[2018-03-06 02:16] #13506 closed

[2018-03-06 02:45] looeee commented on #13506
@donmccurdy perhaps I'm misunderstanding, but at least your 2nd and 3rd examples would require the `BufferGeometryUtils` version, right? That one has obvious use cases and we should definitely keep it, in core or examples.
I'm wondering about the less obvious and destructive version which is currently part of the core. From my perspective, we should probably switch these two around, or even remove

[2018-03-06 03:04] donmccurdy commented on #13506
Yeah, I expect the use cases for both are the same. The `BufferGeometryUtils` is a bit more code and an even-less-backwards-compatible API, so I assumed it should be in `examples/js`. But for all of my use cases, merging N geometries in a batch is preferable to merging pair by pair.

[2018-03-06 03:23] WestLangley commented on #13506
`BufferGeometry.merge()` is for merging non-indexed buffer-geometries into a single `BufferGeometry`.

One way to use it:

1. Instantiate a new `BufferGeometry`.
2. Add the desired attributes, and allocate the attribute buffers with _sufficient size_ to hold the geometries you want to merge.
3. Call `bufferGeometry.merge( bg, offset )` for each non-indexed buffer-geometry, incrementing `offset` as

[2018-03-06 03:31] looeee commented on #13506
@WestLangley yes, I'm aware that you can do that. However it's overly complex and not obvious.

If the only use case for `BufferGeometry.merge` is to go through all the steps you just mentioned, shouldn't the method do it automatically? Which is presumably what `BufferGeometryUtils.merge` does.

[2018-03-06 04:10] WestLangley commented on #13506
I do not think it is complex at all, it is just low-level.

I had previously considered proposing `BufferGeometry.merge()` be renamed to `BufferGeometry.copyAt()`, because that is what is does.

Thing is, where `copy()` copies all attributes from the source into _new_ destination attributes, `merge()` populates the _existing_ destination attributes with data from the source.

Maybe `merge()` can b

[2018-03-06 09:02] Mugen87 commented on #11904
`CombinedCamera` was removed and not replaced with the mentioned methods.

[2018-03-06 15:36] takahirox commented on #11951
@mrdoob

I wanted texture images to be external, rather than .glTF vs .glb.

@donmccurdy

I followed up https://github.com/KhronosGroup/glTF/issues/1117 discussion and agree with encouraging .glb and pipeline approach now. One .glb is good for data transmission especially for web and pipeline approach can keep exporters and tools simple and reusable.

So I don't think the exporter needs zip archiv

[2018-03-06 16:14] takahirox commented on #11951
Regarding pipeline/optimization tools, I wanna note that we don't wanna transfer *huge* data over network. For example, server to client, client to another server(glTF optimization web service). To prevent that Three.js glTF exporter users need optimization tools which can run on browser. Optimizing before transforming data.

From this point of view, I want a tool to be able to run anywhere, on br

[2018-03-06 16:29] takahirox commented on #11951
Just in case, in `GLTFLoader` binary support is implemented as extension but .glb is in core spec of glTF 2.0, correct?

[2018-03-06 16:46] donmccurdy commented on #11951
Yeah, it was an extension in glTF 1.0 and I just never relocated or renamed that code.

It would be worth asking about [their roadmap](https://github.com/AnalyticalGraphicsInc/gltf-pipeline/issues/330)... not sure how general they want glTF-Pipeline to be, or if it is mainly for Cesium uses, or if it's just an issue of limited developer time. Also [glTF-Toolkit](https://github.com/Microsoft/glTF-T

[2018-03-06 16:53] takahirox commented on #11951
Oh, I was missing compilation to WASM. Specifying some recommended platforms would be nice to optimization devs. So I'd propose to an appropriate thread.

[2018-03-06 17:17] fernandojsg commented on #11951
I agree with @donmccurdy as I feel these optimizations on the pipeline could live in a different repo than three.js, so everyone could benefit from them. I still need to check the differences between the gltf pipeline and toolkit tools, but I would expect this kind of features to be included on them.
I also agree that as long as we'll have a WASM it wouldn't really matter the source language, but

[2018-03-06 17:18] jfpferreira opened #13508 "Best Importer - FAQ fill request"
##### Description of the problem

In the FAQ section of the documentation, there is this question:

This question intrigued me, since there are so many available importers, so I tried to search for an answer to this question. After browsing a bit I saw that there were a couple of them available:

- https://github.com/mrdoob/three.js/issues/580
- https://stackoverflow.com/questions/11243689/preferr

[2018-03-06 17:30] Mugen87 commented on #13508
@looeee has written an interesting post some time ago. Maybe we can use this as a basis in order to answer the question.

https://discourse.threejs.org/t/advise-a-newbie-on-applications-that-can-be-used-to-prepare-models/899/2

Since the question "Which Import Format/Exporter is best supported?" is still marked as a todo, i'll consider this issue as a feature request.

[2018-03-06 19:10] daoshengmu commented on #9249
<img width="300" alt="screen shot 2018-03-07 at 3 09 11 am" src="https://user-images.githubusercontent.com/1263177/37052671-f163ecb2-21b4-11e8-8065-8a3e832299f4.png">

Updating the progress of point lights support. It is very close to send a PR.  Currently, I decide to create a MeshTranslucentMaterial extends MeshStandardMaterial.

[2018-03-06 20:21] takahirox commented on #11951
I see I see.

And what I really wanna notify to general pipeline tool devs are

rather than specifying certain platforms/languages.

(Would it be already common sense for pipeline devs by any chance? Anyways)

[2018-03-06 20:32] donmccurdy commented on #11951
I'm not sure I understand about "optimizing before transforming" ... there are several types of transformations a pipeline might do on a model, and optimizations are probably the most important type of transformation.

Agreed beyond that. Good to have low level, focused tools that can be used to build other tools or plugged into a more user-friendly GUI.

[2018-03-06 21:25] takahirox commented on #11951
Oops, it's typo. Not transforming but transferring. I meant, most users wanna optimize/compress before sending data over network. I've updated the posts to have them clearer.

[2018-03-07 02:28] #13335 closed

[2018-03-07 02:47] #13107 closed

[2018-03-07 03:14] mrdoob commented on #11904
I think it could be interesting to explore options to do the `setFromPerspective()` and `setFromOrthographic()`.

I think we can use `THREE.CameraHelper` as reference: https://threejs.org/examples/webgl_camera.html

We know the 4 vertices of the near and far planes, I think it should be possible to create both matrices with that?

We should create a new issue for this, but for now I'm adding this

[2018-03-07 03:16] mrdoob commented on #9249
Nice!

[2018-03-07 04:27] #3803 closed

[2018-03-07 04:28] openbuilds-engineer commented on #11904
Sweeeet (: will wait for this

On Wed, Mar 7, 2018, 05:15 Mr.doob <notifications@github.com> wrote:

[2018-03-07 08:06] Mugen87 commented on #10522
Docs should be more clear now.

[2018-03-07 08:06] #10522 closed

[2018-03-07 08:08] mike-tuxedo commented on #13466
I can confirm this problem in fbx-bin-versions (2006 - 2012) and fbx-ascii-format (2017).
I have a complex model with complex animations and when it animates, it seems that the pivot points are at the wrong place. When i convert it to gltf, nearly all is ok, only materials are lost. But since i need materials and have no influence in how the model is made, i can't use gltf.

Unfortunately I'm not

[2018-03-07 08:21] siddhartpai commented on #11951
Hi guys

I'm using the THREE.js GLTF Exporter to export an entire aframe scene as a gltf object.
How can I get the a-animation tags defined on aframe to be a part of the animations in the gltf object ?

@donmccurdy @fernandojsg @mrdoob

[2018-03-07 09:30] looeee commented on #13466
Fixed in #13513

[2018-03-07 09:40] looeee commented on #12736
@nNightKil can you confirm whether this is still an issue for you after #13513 ?

[2018-03-07 09:42] looeee commented on #7372
@oculushut can we close this issue now?

[2018-03-07 10:11] looeee commented on #12649
Fixed in #13515

[2018-03-07 10:13] looeee commented on #13179
[code]

There is not `nodeProperties` available in this method, and the light's position and rotation should be getting set the same way as any other object so I don't think that this is necessary.

[2018-03-07 10:16] looeee commented on #13179
Fixed the `FarAttenuationEnd` division issue in #13516

@HoldenCa if you have an example where a light is being incorrectly position, please open a new issue and share your model. Closing this for now.

[2018-03-07 10:16] #13179 closed

[2018-03-07 10:35] looeee commented on #13264
I've had a look at this and I don't think we should support these custom attributes.

The model has the following data once parsed:

[code]

The problem is that this is Maya specific code and so far we've (nearly entirely) avoided bloating the loader with any app specific code. For example, 3DS Max adds lots of non-standard attributes prefixed with "3DSMAX" regarding things like physical materials

[2018-03-07 10:35] looeee commented on #13264
Closing for now

[2018-03-07 10:35] #13264 closed

[2018-03-07 11:32] Mugen87 commented on #6603
Closing for now. We can reopen if the bug still exists with the latest version of `three.js`.

[2018-03-07 11:32] #6603 closed

[2018-03-07 13:42] Mugen87 commented on #9437
I've looked into the issue today and i can only reproduce if the examples runs inside an `iFrame`. Without an `iFrame` (https://threejs.org/examples/misc_controls_orbit.html) everything works fine. And i think I know why :blush:

- Call  https://threejs.org/examples/#misc_controls_orbit and use the arrow keys. Everything works fine so far.
- If you click on the side bar, arrow keys stop working si

[2018-03-07 15:23] donmccurdy commented on #11951
Hi @siddhartpai — `THREE.GLTFExporter` only converts `THREE.AnimationClip` objects to glTF animations, whereas A-Frame's animation system uses TweenJS. So currently this isn't possible. You may want to open an issue on A-Frame or the A-Frame Inspector, which also use `GLTFExporter`, to request it as a future feature.

[2018-03-07 16:52] WestLangley commented on #9437
@Mugen87 Yes, there are too many use cases. Robustness sometimes must be handled at the application level. I think this can be closed.

[2018-03-07 21:01] #8038 closed

[2018-03-07 21:27] #12649 closed

[2018-03-07 21:28] #13466 closed

[2018-03-07 21:36] Mugen87 commented on #4135
The related PR should improve the handling of `fogDensity`.

[2018-03-07 21:36] #4135 closed

[2018-03-07 22:07] mrdoob commented on #13170
Okay, Chrome 65 fixed the `alpha: true` issue. Things are fast once agaIn on MacBook Pros.

I'll report the glitches on Chromebooks next.

[2018-03-07 22:13] #13483 closed

[2018-03-07 22:38] #9437 closed

[2018-03-08 00:02] oculushut commented on #7372
Please do - thanks!

[2018-03-08 00:02] #7372 closed

[2018-03-08 04:40] mrdoob commented on #13379
Reported bug to Chrome:
https://bugs.chromium.org/p/chromium/issues/detail?id=819914

[2018-03-08 06:02] nayanpts opened #13526 "Missing phong material on models on devices running iOS 11.1.2"
##### Description of the problem

Issue:
As you can see the image below, the phong material is properly applied when running on desktop:
![iphone1](https://user-images.githubusercontent.com/33315949/37135464-7353d2b4-22c3-11e8-948b-c7d24f2bfc77.PNG)

But, when running on iOS devices with iOS 11.1.2, I get the following issue:
![img_0088](https://user-images.githubusercontent.com/33315949/37135515-

[2018-03-08 06:53] JERRYZFC opened #13528 "OrbitControls odd behavior"
https://threejs.org/examples/#misc_controls_orbit
THREE.WebGLRenderer 90

##### Browser
Chrome  version: 65.0.3325.146
can not behave normally

Firefox/Internet Explorer
console message：too much recursion

[2018-03-08 07:00] RemusMar commented on #13379
I know that, but it shows where the real problem is.
Depending on hardware, movie resolution and encoding type, it runs choppy in any browser and any OS.
As I said before, WebGL at UHD is something, videotexture at UHD is something completelly different.

[2018-03-08 07:11] mrdoob commented on #13379
Yeah, I know, but we're going to make it work.

[2018-03-08 10:21] Mugen87 commented on #9437
Um, does not seem to have any effect. If i change the code to `window.focus();` instead, arrow navigation works again. I guess it's because the `keydown` event listener is attached to `window` and not `canvas`.

Independently, this code would only solve the problem partially. If the users clicks outside the `iFrame`, arrow keys won't work after all. I'm not sure it makes sense to fix this in `Orbi

[2018-03-08 10:26] Mugen87 commented on #13528
Can you please elaborate a bit? What kind of behavior do you experience?

console message：too much recursion

I'm unable to reproduce with FF 58.0.2.

[2018-03-08 10:42] Mugen87 commented on #13526
I see you tested with `R88`. Do you have the same problem with `R90` (latest version)? Besides, is the following example rendered correctly on your iOS devices?

https://threejs.org/examples/webgl_materials_variations_phong.html

Do you have problem only with Chrome or Firefox for iOS?

[2018-03-08 11:31] makc commented on #13379
why not just have a timestamp on VideoTexture object, e.g. texture.lastUpdated = Date.now(), then you won't need these timeouts

[2018-03-08 11:37] makc commented on #13379
and in the renderer you would just do something like
[code]

[2018-03-08 11:38] generateui commented on #9562
My perspective as a beginnner:

I was a beginner until recently. I had trouble understanding the way THREE.js works: the process of copy & pasting source code from the examples directory seemed weird and not The Right Way at all! Firstly, the code I need was not an example (OrbitControls.js), but I perceived it as a separate module. Was I doing things wrong? Reading this thread assured me I was do

[2018-03-08 11:45] makc commented on #13379
funny thing, https://github.com/mrdoob/three.js/pull/13304/files mentioned above was doing basically the same thing, except

why 1? the value returned by performance.now is not in seconds

[2018-03-08 12:23] RemusMar commented on #13379
This method is not good because it's not accurate at all.
You check for Date.now() every 16.66ms and you can use integers only to add delay.
1 = 16.66ms = 60Hz
2 = 33.33ms = 30Hz
3 = 50ms = 20Hz
etc
You cannoe evan get a decent 40ms (20Hz) interval.
That's why the only solution here is **setInterval**
cheers

[2018-03-08 14:25] DVLP commented on #10729
@Mugen87 Why closed and not merged in?

[2018-03-08 15:19] Mugen87 commented on #10729
We had two PR in order to add the feature #12572. I guess it was not merged since the conversion from `BufferGeometry` to `Geometry` was intended to be temporary. I don't know if this is still true.

From my point of view, i would not hurt to merge this one or #12572 :wink:

[2018-03-08 15:21] mrdoob commented on #13379
Guys... The code implemented is correct already, we just bumped into a Chrome bug and they are looking into it.

[2018-03-08 15:27] RemusMar commented on #13379
https://github.com/mrdoob/three.js/blob/dev/src/textures/VideoTexture.js
The current update interval is 60 times per second (without setInterval)

[2018-03-08 15:47] RemusMar commented on #13379
In any case, to update a 2048x1024 videoTexture 60 times per second is a waste of resources for nothing.

[2018-03-08 16:05] mrdoob commented on #13379
@makc

https://github.com/mrdoob/three.js/commit/5e04f7639a852e9a63d460a82cdd4dfda2459ad1#diff-f9692e8d9d94a2c66a74e82488183c60

@RemusMar

This is the code we're trying to use:

https://github.com/mrdoob/three.js/blob/dev/examples/webvr_video.html#L69-L83

Once it works in all browsers we'll implement in `VideoTexture` directly.

[2018-03-08 16:13] RemusMar commented on #13379
I use it for 3 years, it worked just fine in older Chrome versions, so it will work in all the (non buggy) browsers.
A faster and elegant solution you can find above (see that piece of script with **viddel -= 1;**)
You don't even need setInterval for that.
Just multiply with 2 the default 16.66ms interval.
You will update the textures at 30Hz.
It will cover all the existing movies (30, 25, 24 FPS)

[2018-03-08 16:29] dbkaplun opened #13533 "Suggestion: integrate with CI and require PRs to pass"
Currently, it's difficult to contribute, when tests are already broken and lint does not pass. It would also make maintenance easier as everyone would have immediate feedback if the PR can be merged.

There have been discussions in the past, but they invariably end with "some code is not supposed to pass lint/tests". It would be nice to revisit this decision as three.js has no measures in place to

[2018-03-08 16:51] mrdoob commented on #13533
@fernandojsg is looking into this over the next few months.

[2018-03-08 16:59] DVLP commented on #10729
I understand that Geometry will become soon retired but still many things are not possible on BufferGeometry. i.e. to scale the geometry(not mesh) applyMatrix will not work with BufferGeometry

This workaround is needed and works:
to Geometry => Transform => back to BufferGeometry

object.geometry = new BufferGeometry().fromGeometry(new Geometry.fromBufferGeometry(object.geometry).scale(2, 2, 2))

[2018-03-08 17:09] hamishtodd1 opened #13535 "Bug when combining renderer.vr with clipping planes"
I have some clipping planes. Standard usage: array of planes, given to the material. Mostly works fine.

Problem: when I use it in VR, I get a different result for my left eye and right eyes! It is off to the "left" of my head. I am guessing this is not on my end, and happenning because the positions of the clipping planes are affected by the camera position.

http://jsfiddle.net/bar2jhbm/10/ - yo

[2018-03-08 17:20] Mugen87 commented on #7090
I think the problem is related to the following line of code in `OrbitControls`.
[code]
If we don't pass `cssRenderer.domElement` to the constructor, `scope.domElement` is the `document` element of the HTML page. So `scope.domElement.body` is assigned to `element`.

The problem is now that the container element of CSS3DRenderer has a `position` value of `absolute` which means, the height of `scope

[2018-03-08 19:30] Mugen87 commented on #10729
Why don't you use [BufferGeometry.scale](https://threejs.org/docs/#api/core/BufferGeometry.scale)?

[2018-03-08 19:32] DVLP commented on #10729
I did but it didn't work, hence the workaround

[2018-03-08 19:36] Mugen87 commented on #10729
Can you show this with a [jsfiddle](https://jsfiddle.net/f2Lommf5/)? I'll take a look.

[2018-03-08 20:38] DVLP commented on #10729
It's very interesting that I can't reproduce the problem. It all works well in codepen. I used code stepping to get through all steps of scaling, creating scale matrix, applying matrix to position attributes etc. It looks like it's all working fine. Could this be "needsUpdate" problem?

I tried another workaround(below) which worked. Already no need of using old Geometry, but still I'm curious wha

[2018-03-08 21:17] aardgoose opened #13537 "deprecation/ API change warning lifetimes"
Deprecated / changed APIs

Observing the ongoing API changes eg deprecating the optional nature of many method paramaters, is there a plan/policy on how long warnings are in place, before i. the API is changed ii. the warnings are removed given they are bloating the code. I'm discounting Three.Legacy.js because that is easily removed.

Looking through the source history, there are warnings and par

[2018-03-08 22:09] wcoebergh opened #13539 "Sprite(Material) not clipped by clippingPlanes"
##### Description of the problem

SpriteMaterials are not clipped (see screenshot below). Although [SpriteMaterial constructor docs](https://threejs.org/docs/#api/materials/SpriteMaterial) specifically state that all inherited [Material properties](https://threejs.org/docs/#api/materials/Material.clippingPlanes) can be set.

[code]

<img width="719" alt="screen shot 2018-03-08 at 22 55 12" src="ht

[2018-03-08 22:36] brion opened #13540 "STLLoader runs out of memory with large (70+mb) ASCII STL input"
##### Description of the problem

When loading a large (70+MB) STL ASCII file using STLLoader running in a headless node.js service, we encounter OOM errors in the node VM.

Upstream bug report at Wikimedia: https://phabricator.wikimedia.org/T188611
Sample file: https://upload.wikimedia.org/wikipedia/commons/0/05/Prusa_i3_MK2-full_model.stl

We tracked it down to STLLoader's `ensureString` functio

[2018-03-08 23:58] WestLangley commented on #13539
Sprites currently do not support clipping.

[2018-03-09 01:16] mrdoob commented on #9562
If you know what es6 modules are, you're no longer a beginner in my eyes 😁

When I say beginners, I don't mean people that haven't used the library before. I mean people that don't know how to program.

[2018-03-09 01:18] mrdoob commented on #9562
Anyway, we all agree that we the utilities in the examples folder should also be modules.

[code]

But no one is trying to solve the problem...

[2018-03-09 01:45] #13540 closed

[2018-03-09 01:47] arpu commented on #9562
looks like https://github.com/Itee is trying to solve the problem
here https://github.com/Itee/threejs-full-es6

[2018-03-09 01:51] mrdoob commented on #13537
I'm not sure...

Maybe the plan could be that when we start working on `WebGL2Renderer` we don't include `Three.Legacy.js`?

[2018-03-09 02:17] mrdoob commented on #7090
Oh. Interesting finding... It's `CSS3DRenderer` problem.

[2018-03-09 02:30] mrdoob commented on #4155
#13512

[2018-03-09 02:30] #4155 closed

[2018-03-09 02:35] mrdoob commented on #11306
@fernandojsg I guess this would be a good use case for the component system with a tick()...

[2018-03-09 02:42] looeee commented on #13539
@wcoebergh it seems like, until this is implemented, the docs are incorrect. Would you like to fix them?

[2018-03-09 03:19] nayanpts commented on #13526
1. Yes, I get the same output with R90,
2. Yes this example gets rendered correctly
I am wondering why the viewer I created is not, it worked fine until I updated the devices, there is a spot light already added in the viewer.
Also, I have seen when I add light to the scene from browser console on iPhone.
Some parts get lit up and some not at all.

[2018-03-09 03:44] backspaces commented on #9562
Well, wait .. several of us have built converters that input the THREE plugin and create a module from it, right? I'm sure any of them, with the right conventions would do the trick.

The hard part may be as simple as the import statement .. i.e. where does the foo.module.js find the three.module.js.

I no longer use this stunt, I use a "wrapper" solution
https://medium.com/@backspaces/es6-modules

[2018-03-09 07:45] XanderLuciano commented on #13528
Unable to reproduce as well. Tested in:

Microsoft Edge 41.16299.248.0 (poor performance)
IE 11.248.16299 (poor performance)
FF 58.0.2 (no issue)
Chrome 41, 64, and 67 (no issue)

[2018-03-09 08:58] atul-mourya commented on #9965
Looking forward to the native support for `EXT_shader_texture_lod`.
It may resolve the artifacts being generated while using `MeshStandardMaterial` and `MeshPhysicalMaterial` on most of the Android devices and MS Edge and Internet Explorer

[2018-03-09 09:26] takahirox commented on #11951
Multi-material support #13536

[2018-03-09 10:03] aardgoose commented on #13537
In the case for Vector[2|3|4].add() etc the warnings and checks are in the main code.

I imagine Three.Legacy will still be required as other items become deprecated.

[2018-03-09 10:20] vinstics opened #13545 "frustum.intersectsObject not check geometry's groups"
##### Description of the problem

When rendering scene, objects outside camera's frustum will not be rendered. But if object is geometry with groups, frustum.intersectsObject only checks the whole object's bounding sphere. Currently I workaround this by toggling material's visibility in scene.onBeforeRender/onAfterRender, but if some groups of geometry share the same material, this will not work.

[2018-03-09 10:27] wcoebergh commented on #13539
#13546

[2018-03-09 10:31] Mugen87 commented on #10729
No i don't think so. `BufferAttribute.applyMatrix()` always works with the latest data in the buffer attributes.

[2018-03-09 10:41] Mugen87 commented on #13545
Related: #7071

[2018-03-09 10:45] Mugen87 commented on #13528
@JERRYZFC We can reopen the issue if show the problem with a [live example](https://jsfiddle.net/Lbfno0gw/2/).

[2018-03-09 10:45] #13528 closed

[2018-03-09 12:24] Mugen87 commented on #7090
Okay. Removing the following code from the fiddle seems to solve the problem.
[code]
http://jsfiddle.net/vmypaqt2/29/

So it's not a problem inside `CSS3DRenderer`. But i've noticed that some examples set these style elements although it's not necessary. I guess only need `position:absolute` if you want to overlay the DOM element of `CSS3DRenderer` on top of a canvas (like in `css3d_sandbox`).

[2018-03-09 16:03] LAGENCECREE commented on #13236
I confirm  https://threejs.org/examples/webvr_cubes.html have a camera culling issue on window/vive/firefox , far distance is wrong on both eyes + left eye controlling the culling

[2018-03-09 19:06] Mugen87 commented on #13526
Do you also have problems with other lights than `Spotlight`? Can you make a test with `PointLight`?

[2018-03-09 19:15] WestLangley commented on #13439
Closing due to lack of interest.

[2018-03-09 19:49] denbo-ft commented on #13288
@OrtOfOn : I am having similar problems with a fixed scene and moving a skinned character around in the scene.  the character jitters terribly on ios.  bone count is 22.  dimensions of the scene are reasonable.  i believe the problem is that using vertex textures limits you to 32-bit floats, coupled with the assertion above that Threejs computes the skinning in world space!

I am looking into the

[2018-03-09 20:56] Mugen87 commented on #13537
I vote to remove this code.

[2018-03-09 21:00] Mugen87 commented on #7090
Do you think we can close the issue now? I would say the code in the fiddle caused the actual problem.

[2018-03-09 22:28] backspaces commented on #9562
@mrdoob You suggested the convention for the path of the examples modules:

And I believe the convention for the examples is Name.js where THREE.Name is the plugin. Thus we simply `export default Name` in Name.module.js.

So the final convention is: what is the import path for Three.js? The examples presume a global THREE thus presume a script tag that imports Three.js from some url/path under dev

[2018-03-09 22:40] donmccurdy commented on #9562
If my application uses:

[code]

And inside `GLTFLoader` there is a repo-relative link to `from '../../../build/three.module.js'`, is a build system going to bundle duplicate copies of three.js? Could the examples just use `from 'three'` like application code?

[2018-03-09 23:14] #7090 closed

[2018-03-09 23:18] mrdoob commented on #13537
I don't know about that... Some people dive into three.js using (old) books that has outdated code. If we remove these they'll get a bit lost.

[2018-03-10 00:25] especimenraro commented on #13375
I did the export with gltf from Blender 2.79, but when I try to import with glTFLoader() I get an error:
Error de lectura XML: mal formado
Ubicación: file:///home/ricardo/Documentos/ProyectoHTML5/etnika/modelos/gltf/Pioneer.gltf
Número de línea 1, columna 1:
Pioneer.gltf:1:1
TypeError: path is undefined
[Aprender más]
glTF-parser.js:91:17

[2018-03-10 00:43] donmccurdy commented on #13375
@especimenraro what is `glTF-parser.js`? Something has gone very wrong if XML is in the error message. 🤔

[2018-03-10 00:45] especimenraro commented on #13375
I fixed! I use GLTFLoader code on github and it works. I was using glTFLoader included in R89 libs

thanks

[2018-03-10 01:14] netpro2k commented on #13379
The current code runs at whatever refresh rate `requestAnimationFrame` is running at. On many VR devices this is 90 FPS, this is where I started seeing noticeable issues.

Since the frequency this block is invoked at depends on context, you can't just drop every other frame. Ideally we want to actually get the FPS from the source and render only when a new video frame is actually available, but ba

[2018-03-10 01:40] vinstics commented on #13545
Here's my workaround. I had tested it with huge scene in Chrome 65. It‘s’ performance still good even though toggling material's visibility per rendering brings extra consumption. Native support will have even better performance.

    /* tslint:disable no-invalid-this */
    import * as THREE from './buffergeometry.type';

    THREE.BufferGeometry.prototype.computeBoundingSphereByGroup = function(

[2018-03-10 01:49] carlosservipro commented on #11542
But where is that menu?

[2018-03-10 02:28] zz85 opened #13553 "[Work in process] Path Flow Modifier"
I've shared this on [twitter](https://twitter.com/BlurSpline/status/971072729066582016), but just adding here for gathering more feedback and tracking.

The idea behind "Path Flow Modifier" (Path Flow in Maya term, Curve Modifier in Blender) is to allow deformation / bending of a mesh along a path. This utilizes the Curve and Frenent Frames properties from threejs, passes them through a texture an

[2018-03-10 03:18] WestLangley commented on #13553
Sweet! Can you update the mesh normals, too -- or do you feel it is not necessary?

[2018-03-10 04:32] backspaces commented on #9562
Whoa, are we using bare module import specifiers? I know D3 does that, but I think only with unpkg.

I ask because `import { Scene, Renderer } from 'three'` is not legal esm import which needs a path .. i.e. starts with ./ or similar, and has .js suffix.

Or maybe webpack or similar task manager?

[2018-03-10 05:21] webprofusion-chrisc commented on #9562
@backspaces I think in this example it's taken as implied that if you're using modules you're also using a build system. The exact syntax of how you import/consume the module will vary (perhaps you're using require) but the 'build' convention is to package as npm/node_modules currently, and you can also provide a CDN copy instead. Once you have a module there are any number of ways to consume and

[2018-03-10 08:14] RemusMar commented on #13379
Obviously.
And that's 60Hz in most of the cases.

You can and I do that (with excellent results) for many years ago.
A movie recorded at 24, 25 or 30Hz and played back at 60Hz will have (at least) 2 sequential frames with the same content.
With that simple method all you do is to use a single one of them to update the texture.
The performances boost is HUGE!
The same significant boost for those VR

[2018-03-10 09:15] Mugen87 commented on #13537
Um, good point. Didn't thought about that...

[2018-03-10 09:25] Mugen87 commented on #11542
Do you mean "Vertex Groups"? It's in the "Object Data" Tab, see

![image](https://user-images.githubusercontent.com/12612165/37240524-ec942bf8-244c-11e8-8f47-5255ed4480df.png)

[2018-03-10 11:34] Mugen87 opened #13556 "Unit Tests: What is the intended Runtime Environment?"
##### Description of the problem

While fixing some unit tests, I've noticed that some parts of the code are unable to run in a node.js environment since there are dependencies to `XMLHttpRequest` and `window.performance`. Because of this the command `npm run test` does not produce a flawless result.

I wonder what is the intended way to execute the unit tests. Calling `test/unit/UnitTests.html` i

[2018-03-10 12:12] challakoushik opened #13557 "My material texture is being distorted and glitched as I go farther away"
The wallpaper texture I applied on my wall flickers very heavily for some reason and I don't know why. When I'm close to the mesh, it looks somewhat fine but once I take the camera far away the texture gets heavily distorted. I did try turning antialias of the render on and off but that doesn't seem to be the issue. Secondly, this issue doesn't happen when there is only color and no texture on the

[2018-03-10 13:34] looeee commented on #13557
This is not a help site, ask on the forum:
https://discourse.threejs.org

[2018-03-10 13:34] #13557 closed

[2018-03-10 15:49] zz85 commented on #13553
@WestLangley I _tried_ to update the mesh normals, however I think I might be making some wrong calculations... (https://github.com/zz85/threejs-path-flow/blob/9d58cc731b9242dda61013115f90f00dfe2604fd/flow.js#L97)

[2018-03-10 16:03] mrdoob commented on #13379
@netpro2k does https://rawgit.com/mrdoob/three.js/dev/examples/webvr_video.html work well for you?

[2018-03-10 16:25] mrdoob commented on #9562
here https://github.com/Itee/threejs-full-es6

Interesting, I hadn't had a chance to look into it. Seems like the problem is solved then?

[2018-03-10 18:14] backspaces commented on #9562
The conversion of the individual files using multiple relative import paths, rather than a single import of THREE, is brilliant.

It does mean that most of us will use a Rollup step for Three + a few examples/ but I find this is as good as any of the suggestions. And a Rollup step for Three use may be a good idea anyway for the tree-shaking and elimination of unused modules.

The resulting build l

[2018-03-10 18:30] backspaces commented on #9562
This may be of interest for unpkg users: https://github.com/unpkg/unpkg/issues/34#issuecomment-351472291

Basically the ?module query string will use info in package.json to perform module resolution "all the way down"! Impressive. I believe this may be equivalent to Rollup, as long as you refer to Three source files directly. This means the individual imports in examples/ may "just work". Sweet!

[2018-03-10 18:49] mrdoob commented on #13379
@dustinkerstein You're correct. With the `setInterval()`/`setTimeout()` approach we'll be losing frames from time to time but we're already losing frames because the devices aren't able to upload to the GPU at 60Hz/90Hz so performance degrades and frames are lost.

You can still do this though:

[code]

This is just a temporal solution. Videos tend to get decoded in the GPU and they're working on

[2018-03-10 19:09] dustinkerstein commented on #13379
Yeah, I'll be sticking with the manual needsUpdate method for my application.

With the proposed WEBGL_video_texture spec, since we still won't know exactly when the new frame is ready (from the GPU / software decoder), we'll need to call needsUpdate every frame (at 60/90hz) but since WebGL now has shared access to the texture, we won't incur the additional texture download/upload cost, correct?

[2018-03-10 19:19] mrdoob commented on #13379
That's my understanding. I think it automatically shows the last decoded frame.

[2018-03-10 19:39] mrdoob commented on #13439
Sorry for the delay.

I agree that they are a bit redundant (even if many of these have inspired people to use them on their websites). Rather than just removing them, I would start by combining them.

These two can be combined (Both in the same scene):

https://threejs.org/examples/canvas_lines_colors.html
https://threejs.org/examples/canvas_lines_colors_2d.html

These two can be combined (Both i

[2018-03-10 19:47] takahirox commented on #13439
I'm very interested in. Examples are growing so I think we need clean up or categorize like @webprofusion-chrisc suggested.

[2018-03-10 20:07] WestLangley commented on #13439
Reopening...   Thank you to everyone for the feedback!

Help implementing @mrdoob's suggestions welcome.

[2018-03-10 21:10] loldrup opened #13559 "OrbitControls.js triggers scroll-prohibiting bug in Firefox 58+"
https://github.com/loldrup/firefox_scroll_bug

The repository linked to above contains a "minimal" (ahem...) code example for inducing a scroll-prohibiting bug in Firefox 58+.

The file orbit_controls.html in the repository is a near-standard example of using the OrbitControls.js.  The only thing I have added is 50 lines of html saying "Hello1", "Hello2" etc. to the top of the page. With that many

[2018-03-10 22:23] trusktr commented on #9562
@mrdoob Almost! It just needs to land in this repo. 👌

[2018-03-11 03:41] XanderLuciano commented on #13559
This actually sounds like a bug in FireFox 57 and not FireFox 58. The page has `overflow: hidden` on the body tag which **should** prevent scrolling.

I forked your repo and created 2 examples showing the difference in behavior with and without `overflow: hidden`

No Scrolling: https://xanderluciano.github.io/firefox_scroll_bug/no-scroll.html
Scrolling: https://xanderluciano.github.io/firefox_scro

[2018-03-11 09:00] loldrup commented on #13559
Woops.. I got the Firefox version number wrong. The bug occurs in FF 57+,
but is absent in FF 56.
I'm delighted to learn that the issue comes down to simply setting a flag.
That should make it quite easy to fix this "bug" in my program code :)))

Thank you!

On 11 March 2018 at 04:42, Xander Luciano <notifications@github.com> wrote:

[2018-03-11 11:34] #13559 closed

[2018-03-11 12:00] looeee commented on #9562
I don't think that it needs to be part of this repo.  If this works well and the modules can easily be updated to use the dev version of the examples then I think it's a viable solution for now.
@Itee is that possible?

[2018-03-11 12:19] looeee commented on #9562
Lodash uses an interesting solution that is similar to this but keeps the code in the same repo.
They use multiple branches, and track them in seperate NPM modules. So you have

* github.com/lodash/lodash/tree/npm-> www.npmjs.com/package/lodash
* github.com/lodash/lodash/tree/es -> www.npmjs.com/package/lodash-es
* github.com/lodash/lodash/tree/amd -> www.npmjs.com/package/lodash-amd

Something si

[2018-03-11 15:42] Mugen87 commented on #13545
Are you okay with marking the issue as a duplicate and focus on #7071, instead?

[2018-03-11 15:56] vinstics commented on #13545
@Mugen87 yeah, that's all right. It's just one use case you may consider to make this library better.

[2018-03-11 15:56] #13545 closed

[2018-03-11 22:31] carstenschwede opened #13565 "CameraHelper: .clone() is broken"
##### Description of the problem

`CameraHelper::constructor` expects a `Camera` argument, but since `CameraHelper::clone` is not overwritten it will forward to `LineSegments::constructor` which expects a geometry and a material.

As a result `cameraHelper.camera` won't be set and `cameraHelper.clone()` throws via `.update()` (see https://jsfiddle.net/bbnk59af/).

Overwriting `CameraHelper::clone`

[2018-03-11 22:46] WestLangley commented on #13565
None of the helpers have a `clone()` method.

Why do you feel you need to clone a `CameraHelper`?

[2018-03-11 23:38] carstenschwede commented on #13565
`CameraHelper` inherits `clone` from `LineSegments`.

They are being automatically cloned as part of a `scene.clone()`.

[2018-03-12 01:32] moroine commented on #9562
Hello,

On my side I use webpack and thanks to [import-loader](https://github.com/webpack-contrib/imports-loader) & [export-loader](https://github.com/webpack-contrib/exports-loader) I am able to import the examples.

[code]

I think three-shaking may work if I am more specific on the import rules, to import only needed modules but this would require me to be careful on each threejs release.

[2018-03-12 02:01] ov commented on #13397
@fernandojsg thanks for the updates you made, much appreciated. There are two more things worth adding:

1. Multi-material meshes support. The ones that have groups in their geometries and array in `Mesh.material` - they currently cannot be exported properly;
2. Better compatibility between the only supported MeshStandardMaterial and the result we have on Facebook. So far metallic and diffuse surf

[2018-03-12 02:16] donmccurdy commented on #13397
@ov I think both of those are likely to be fixed around r91:

1. multi-material export https://github.com/mrdoob/three.js/pull/13536
2. metal/roughness fixes https://github.com/mrdoob/three.js/pull/13501

It's possible that Facebook's materials aren't quite right yet either, but glTF is pretty specific about how things should appear so eventually we should converge.

[2018-03-12 02:17] donmccurdy commented on #13397
Oh, we should add ability to export `KHR_materials_unlit` too...

[2018-03-12 04:06] George35mk commented on #9562
Hello, I have some typescript modules where I have converted the stats.js in typescript format.

The only problem I facing for now is with the MTLLoader.ts and OBJLoader.js

this works nice

I imported in my angular 5 project like this  ``` import { Stats } from '@app-core/helpers/stats'; ```

[code]

[2018-03-12 06:11] giangm9 commented on #13458
@donmccurdy  I removed it when the issue is closed

[2018-03-12 06:29] moroine opened #13567 "OrbitControls - Restrict target degrees of freedom (z-Axis)"
### Description of the problem

Hello everyone,

I am using three.js to display a map like this one.

![image](https://user-images.githubusercontent.com/4658821/37266196-a7d98910-25f3-11e8-9851-d2830076ad16.png)

The OrbitControls got almost everything I need, I just need to keep the target on the ground (object surface). I currently use `maxPolarAngle` to prevent the camera going under the plane,

[2018-03-12 06:50] moroine commented on #13567
Ok one of the three.js official magicien just did it 13 days ago #13242 !

Thanks @WestLangley

[2018-03-12 06:50] #13567 closed

[2018-03-12 10:22] panny3690 opened #13568 "orthographic camera zoom in direction of mouse"
##### Description of the problem

This form is for three.js bug reports and feature requests only.

This is NOT a help site. Do not ask help questions here.
If you need help, please use the [forum](https://discourse.threejs.org/) or [stackoverflow](http://stackoverflow.com/questions/tagged/three.js).

Describe the bug or feature request in detail.

Always include a code snippet, screenshots, and a

[2018-03-12 10:23] panny3690 commented on #13568
I am working on THREE.js orthographic camera, I am using 'OrbitalControls.js' for controls. I want to zoom in the direction of mouse in 3D world. Hoping to get solution in JS. I know this one is not easy solution like perspective camera.(where we add in camera direction)

[2018-03-12 10:37] Mugen87 commented on #13568
This is not a help site. Please use the [forum](discourse.threejs.org) instead.

[2018-03-12 10:37] #13568 closed

[2018-03-12 11:11] Mugen87 commented on #13565
Related: #8452

[2018-03-12 11:44] nayanpts commented on #13526
I checked my viewer again there were few problems with setting spot light position. After setting the position correctly I got the following output on the iOS.
![1r](https://user-images.githubusercontent.com/33315949/37281666-d7ddca4e-2617-11e8-8f33-87a5146530f0.jpg)

However, as you can see in the image, only one part has proper shading now and the other does not have it at all.

I tried directio

[2018-03-12 12:04] Mugen87 commented on #13526
Just adding `SpotLight` to the origin (0,0,0) won't produce proper results. Try something like this instead:

http://jsfiddle.net/f2Lommf5/2850/

[2018-03-12 12:53] carstenschwede commented on #13565
@Mugen87 Yes, apparently this applies to most, if not all helpers.

[2018-03-12 18:23] donmccurdy opened #13572 "LOD: Use .onBeforeRender() instead of .update()"
`THREE.LOD` currently requires manual updates via `lod.update( camera )` in the render loop. Perhaps this can be done automatically using `onBeforeRender` now?

[2018-03-12 18:27] donmccurdy commented on #13556
Personally I use the browser so I can filter into specific test suites (probably qunit CLI can do that too?) and step through a debugger. But if we want to do so, we could use something like [karma-qunit](karma-qunit) to have `npm test` run tests in a browser and display results in CLI.

Having a way to run tests in CLI would be nice-to-have I think though, e.g. we could use a recommended set of "

[2018-03-12 19:01] Perinban opened #13573 "Collada file not displaying the object properly with canvas"
When I use the same code for viewing the file without lights,animation and everything it works fine.Below I have attached the file that is working perfectly.

![screenshot 153](https://user-images.githubusercontent.com/26972975/37303801-9316eb46-2655-11e8-885d-c1dbfc6b84f0.png)

But when I add lights and other files, it does not working correctly. I cannot able to identify what is the problem with

[2018-03-12 19:07] donmccurdy commented on #13573
Could you put your code in a .ZIP (you can drag them into github comments) or create a live demo? You'll need to include the `.dae` file itself, most likely.

[2018-03-12 19:25] Perinban commented on #13573
[Friday.zip](https://github.com/mrdoob/three.js/files/1804200/Friday.zip)

@donmccurdy, I have attached both the Files in the Assets/Buildings Folder

[2018-03-12 19:42] donmccurdy commented on #13573
Can reproduce the issue by opening the `.dae` files by themselves in https://threejs.org/editor/. I'm not sure if the files are properly formed, as I can't open them in Blender or COLLADA2GLTF here...

[2018-03-12 19:44] Perinban commented on #13573
@donmccurdy  Can I send the 3ds max scene file or any other formats?

[2018-03-12 19:44] richardmonette opened #13574 "Rendering with equiangular environment map?"
@mrdoob A few of the offline renderers that I am familiar with take HDR light probes in equiangular/latlng format. Quick question: is this supported in 3 right now? If not, I'll take a look at making an example that demonstrates this. cc @bhouston

[2018-03-12 19:54] donmccurdy commented on #13573
Probably worth trying FBX with the editor and `THREE.FBXLoader` I think.

[2018-03-12 19:56] Perinban commented on #13573
@donmccurdy I never used the FBX loader, is there any sample I could use for Ionic 3 application?

[2018-03-12 19:58] donmccurdy commented on #13573
I haven't used Ionic, but there is a general example using FBXLoader here: https://threejs.org/examples/?q=fbx#webgl_loader_fbx

[2018-03-12 19:59] bhouston commented on #13574
We support HDR light probes either as FP32, FP16 or a packed format, but in CubeMap format or CubeUV2 format (a flat format.)  I would not suggest adding support for latlong, but instead add conversion to CubeMap.  The reason is that we already convolve properly in CubeMap and CubeUV2 but with latlong we would have to come up with a new convolution method in order to model roughness.

[2018-03-12 20:00] Perinban commented on #13573
Thanks @donmccurdy I will try that

[2018-03-12 20:01] bhouston commented on #13574
Convolving latlong is not simple though because its projection is highly distortive at the polar regions.

[2018-03-12 20:03] bhouston commented on #13574
Demo of light probe in *.hdr cubemap format, convolved and packed and then used for PBR lighting:

https://threejs.org/examples/#webgl_materials_envmaps_hdr

What you want is this same pipeline but start with a latlong image in EXR or HDR format.  Should be relatively straightforward to do....

[2018-03-12 20:11] WestLangley commented on #13574
@bhouston Do we support HDR cubemap backgrounds? I don't think that has been implemented.

Oh, and [your proposal](https://github.com/mrdoob/three.js/pull/9163) would be great! :)

[2018-03-12 20:11] Mugen87 commented on #13572
I like the idea. I just wonder if there are use cases where you don't want to update the LOD object each frame but at a lower tick rate. A separate `.update()` method could be useful in this context.

[2018-03-12 20:36] Mugen87 commented on #13556
Okay, i make a small PR so `npm run test` is free of fails. I just skip the problematic tests. Not the best solution but we can improve this later.

[2018-03-12 20:45] fernandojsg commented on #13556
+1 for running it on the cli as we could use them for CI

[2018-03-12 21:09] semleti opened #13576 "TypeScript port of three.js"
##### Description of the problem

Hello fellow threejsers!
Today I would like to present a project I've been working on and off for a month: a [TypeScript](https://www.typescriptlang.org) port of three.js creatively called [three.ts](https://github.com/semleti/three.ts)
It's mostly for fun and to get more familiar with TypeScript and three.js, but I hope it could end up being usefull to someone.
T

[2018-03-12 21:18] Mugen87 commented on #13576
I guess the [forum](https://discourse.threejs.org/) is a better place for this post.

[2018-03-12 21:26] semleti commented on #13576
Thank you.
I had asked @mrdoob if the threejs github was a good place since it's in part about coding, which he said was ok.
But I'll gladly go to the forum if you think it's a better place for this :)
Sorry for the trouble ;)

[2018-03-12 21:29] Mugen87 commented on #13576
No problem. It's just my personal opinion.

[2018-03-13 00:36] dustinkerstein commented on #13225
Quick question on this - I was playing around with a Rift in Firefox yesterday and the render scale was much better than what I see in Chrome for Daydream devices. Is that just based on the HMD parameters that those devices are sending? It seems like this might only be an issue for Daydream then, in which case I'll need to have HMD specific conditions for the renderScale - totally fine on my end,

[2018-03-13 04:20] giangm9 opened #13577 "Blender exporter works with Skeleton animation but wrong rotation with regular objects"
##### Description of the problem
Blender 2.78, 2.79
I have a blender file with 2 skeleton animation and 2 monkeys
![peek 2018-03-13 11-13](https://user-images.githubusercontent.com/10234339/37322348-8cd95336-26af-11e8-9eb8-47f6b83ba8ab.gif)
when i export from blender to threejs, here is the result
https://giangm9.github.io/blender3js/public/examples/anim.html
as you can see, only 1 object was expo

[2018-03-13 04:30] yiakwy opened #13578 "Extrude a shape along customized curve"
##### Description of the problem

I integrated a de Boor algorithm + casteljau (bez segments) Curve toolkit into my system (also I have different R. V. distributions implementation to generate control points smartly), which generates curve points adaptively. Now I want to extrude a shape  (a series of points, not what three.js default extras/core/Curve.js defined objects), rectangles for example,

[2018-03-13 05:22] donmccurdy commented on #13577
This is likely a bug in the exporter, but FWIW I'm working on u[pdates to the glTF Blender Exporter to support multiple animations](https://github.com/KhronosGroup/glTF-Blender-Exporter/pull/166). If you want to try the experimental version there with `THREE.GLTFLoader`, it should just work:

![715a598f-de31-4983-be16-058bfcbb55d1-44168-0001de4a58408e11](https://user-images.githubusercontent.com/1

[2018-03-13 05:37] donmccurdy commented on #13577
If I give each bone a unique name, I get better results, but still broken...

[2018-03-13 05:56] giangm9 commented on #13577
I think the problem with the skeleton animation is: In blender, the Mesh is the  child of the skeleton, but in threejs, the skeleton is the child, but the location of the Mesh is relative to its parent, so that the location of the mesh is at (0, 0, 0)

[2018-03-13 06:24] trymoremore opened #13579 "Dose three.js support cross-domain access?"
Dose three.js support cross-domain access?
I want to use image with URL like  as material's mapDiffuse but chrome get the error "DOMException: Failed to execute 'texImage2D' on 'WebGLRenderingContext': Tainted canvases may not be loaded.".
![309894ee-e795-492b-affd-a6d251256084](https://user-images.githubusercontent.com/27277007/37325753-2af84562-26ca-11e8-9937-c93eb6694904.png)

[2018-03-13 09:20] Usnul commented on #13579
To me this is not sufficient to debug your issue. In short: "yes is dose".
I suggest you provide more information on what you are loading and how. What is the version of three.js that you are using?

[2018-03-13 09:25] Mugen87 commented on #13556
Thanks for your feedback! So there are valid use cases for both browser and CLI support 👍

[2018-03-13 09:25] #13556 closed

[2018-03-13 09:34] Usnul commented on #13553
Looks amazing. I'm wondering if it would be useful in many circumstances as is. If you could make bones follow a curve that could be super useful for things like tail animations and twisting bodies for more natural motion in certain cases. Reminds me of presentation on procedural animation where a lizard's tail was aligned on a spline to make turn animation look really fluid.

[2018-03-13 09:49] semleti commented on #13576
Moved to the forum:
https://discourse.threejs.org/t/typescript-port-of-threejs/2104

[2018-03-13 09:49] #13576 closed

[2018-03-13 10:19] Mugen87 commented on #13579
@trymoremore Please use the [forum](https://discourse.threejs.org/) if you need more help. Like @Usnul said, loading assets from different origins is supported. But it's more a feature of the Web Platform and than of `three.js`.

[2018-03-13 10:19] #13579 closed

[2018-03-13 10:44] Mugen87 commented on #13578
No, you can't just pass in an array of points to `ExtrudeGeometry`. The implementation calls [Curve.computeFrenetFrames](https://threejs.org/docs/index.html#api/extras/core/Curve.computeFrenetFrames) in order to calculate  correct extrusions along the curve. Use your points to create an instance of `CatmullRomCurve3` and apply this to `ExtrudeGeometry` as a parameter.

[2018-03-13 11:02] Mugen87 commented on #13454
Closing. If more users complain, we can still make `clampToMaxSize()` more robust. For now let's keep the code as it is.

[2018-03-13 11:06] levilime opened #13580 "Continuous Integration for three.js, Documenting requirements"
##### Continuous Integration for three.js, Documenting requirements

Hey @mrdoob @fernandojsg , I hope I am on topic with the following question.   I was wondering about the work being done on Continuous integration of the system for running tests. I would be thankful to get insight with answers to these following questions:
- There is already [a static analysis tool](https://lgtm.com/projects/g/m

[2018-03-13 12:15] Mugen87 commented on #13580
The fails should be gone on `dev` branch. I've removed them with recent PRs.

[2018-03-13 13:43] Mugen87 commented on #13580
When i think about it: I think it would be better to just have a single issue about CI. That's easier to manage and the discussion happens at a single place.

[2018-03-13 14:00] Mugen87 commented on #5856
I'm unable to reproduce the issue with the latest version of `three.js` and `TrackballControls`.

`getMouseProjectionOnBall()` was removed some time ago with #6123.

[2018-03-13 15:18] WestLangley commented on #13578
Please use the forum for help, instead. Thank you.

This may help: http://threejs.org/examples/webgl_geometry_extrude_shapes.html

[2018-03-13 15:18] #13578 closed

[2018-03-13 18:48] dustinkerstein commented on #13105
FYI - something in my app didn't like having this event listener inside WebVR.js. It wouldn't automatically invoke VR mode on page launch with a Rift connected, though it would work for page reloads if I was already in VR.

Once I moved the "vrdisplayactivate" listener outside of WebVR.js I was able to enter VR on page load. My code now looks like:

[code]

Figured I'd post here as it's possible t

[2018-03-13 19:17] LAGENCECREE commented on #8146
@wizgrav  worked on https://wizgrav.github.io/aframe-effects/ , maybe portable for threejs last version 90 ? ( for working with renderer.vr )

[2018-03-13 19:30] wizgrav commented on #8146
aframe-effects works without aframe, with just three.js that is

[2018-03-13 20:42] wizgrav commented on #8146
A good addition for the shaders would be a cameraViewport vec4 uniform containing the normalized viewport. This is more or less what I implemented in aframe-effects along with a textureVR function that just bounds the texture lookups based on that uniform so they don't spill across eyes

[2018-03-13 21:43] levilime commented on #13580
Hey @Mugen87 thanks for your response. On your first remark. I saw these fixes, passing the tests when the environment does not have certain dependencies in for example https://github.com/mrdoob/three.js/issues/13556, good work!  I notice on the current dev build 88a2bf98881df8b8a362beb9e1b81d4ae1ffe27 there are still 3 failing tests
- `not ok 1074 Source > Maths > Euler > set/get properties`
- `n

[2018-03-13 21:45] levilime commented on #13580
On the second point on the single issue for CI. That sounds good could I help in any way to arrange this?

[2018-03-13 22:44] takahirox commented on #13069
I evaluated some flattening techniques mentioned in https://github.com/davidmarkclements/flatstr but they're as slow as `String.toUpperCase()`. `String.toUpperCase()` seems a bit faster than them. I speculate `String::Flatten` in JS engine isn't fast regardless how we trigger. Seems like we can't avoid tradeoff between performance and memory consumption.

In short term, we need to determine which

[2018-03-13 22:54] takahirox commented on #13069
Performance

| generateUUID | Chrome | FireFox Nightly |
| ---- | ---- | ---- |
| r87 | 1300ms | 800ms |
| r90 | 300ms | 400ms |
| r90 + .toUpperCase() | 600ms | 800ms |

[2018-03-14 02:52] #13197 closed

[2018-03-14 04:28] yiakwy commented on #13578
@Mugen87 Thanks for the answer first. If I understand correctly, "CatmullRomCurve3" in Three, currently only accepts control points not original. To recover control points I needs do some extra computation. Otherwise I have to change API how to send data (sad). Anyway, when I do all Splines computation in client side, it needs a lot of time (might be 3 to 5 seconds).

@WestLangley Hi, I understand

[2018-03-14 05:21] mrdoob commented on #13572
If we do this using `onBeforeRender` in VR it would happen per eye, and it could happen that the result is different for each eye...

Ideally this would happen at projecting time?

[2018-03-14 05:26] mrdoob commented on #13454
That sounds good to me 👍

[2018-03-14 05:31] #5856 closed

[2018-03-14 05:34] donmccurdy commented on #13572
Hm good points..  Sounds like `.update( camera )` is reasonable to keep then. :)

[2018-03-14 05:34] #13572 closed

[2018-03-14 05:35] #13526 closed

[2018-03-14 05:46] mrdoob commented on #8979
Closing until then...

[2018-03-14 05:46] #8979 closed

[2018-03-14 05:58] mrdoob commented on #9562
So this may have been proposed already, but...

What if we added a `three.extras.module.js` to the build process? So we would end up with:

[code]

`three.extras.module.js` would bundle controls, loaders, etc...

[2018-03-14 06:05] looeee commented on #9562
So then you would use it (from NPM) something like:

`import { OrbitControls } from 'node_modules/three/build/three.extras.module.js'` ?

If tree shaking works well then that seems like a good solution to me. However, we would still need to convert all the current examples into a format suitable for being bundled into that file somehow.

[2018-03-14 06:09] mrdoob commented on #9562
Yes!

Yes... I wonder if Rollup support some sort of string replacing that can do this without having to convert these files to modules.

[2018-03-14 08:20] looeee commented on #9562
Well, I guess converting the modules is going to have to happen no matter what solution we choose.

This solution is quite similar to @donmccurdy's in #13544, the main different being all examples are in one big file in `build/three.extras.module.js` vs lots of separate files in `build/examples/*.umd.js`.

@donmccurdy's approach has one advantage: the generated file, say `build/examples/OrbitContr

[2018-03-14 08:57] takahirox commented on #13069
Total heap size comparison with 5000 objects on Windows.

| revision | Chrome | FireFox Nightly |
| ---- | ---- | ---- |
| r87 | 72.2MB | 73.20MB |
| r90 | 78.8MB | 78.75MB |
| dev | 77.4MB | 72.60MB |
| dev + .toUpperCase() | 69.8MB | 71.01MB |

In dev, @aardgoose has removed `.uuid` from some modules so total heap size in dev is a bit smaller than r90's. And by using `.toUpperCase()` we can redu

[2018-03-14 10:16] Mugen87 commented on #13580
I guess we should close this issue and focus on #13533 instead

[2018-03-14 10:23] Mugen87 commented on #13454
Okay, i'll make a PR then 😊

[2018-03-14 10:35] Mugen87 commented on #13580
Can't reproduce with `npm run build` on `dev`(0c6c0050982cf3697005bb7ca419b4dbd6a9279a)

![image](https://user-images.githubusercontent.com/12612165/37397324-9bdfc898-277b-11e8-8f6f-a1c5990fc76f.png)

[2018-03-14 12:51] Mugen87 commented on #13573
I've analyzed the Collada files. There are two problems.

- IMO, the way transparency is defined in `BLOCK.DAE` does not conform to the standard. If there is just a `<transparency>` but no `<transparent`> tag, loaders have to assume default opaque mode `A_ONE`. Because the value `<transparency>` is  always `0` in this file, some of the materials in `BLOCK.DAE` have transparent materials with `opac

[2018-03-14 14:48] #13573 closed

[2018-03-14 14:54] #13580 closed

[2018-03-14 15:50] Perinban commented on #13573
@Mugen87  How to change the transparency and the point lights? and can u send the corrected dae file?

[2018-03-14 16:19] Usnul commented on #13069
There are at least 2 sides. And i don't quite understand the purpose here:

- speed
- memory footprint

I suggested solution that is both fast (i believe it's the fastest so far, about 50% of the next best thing) and takes minimal amount of space: 16 bytes per UUID. What are the other considerations?

[2018-03-14 16:22] Mugen87 commented on #13573
[Block.DAE.zip](https://github.com/mrdoob/three.js/files/1811997/Block.DAE.zip)

[2018-03-14 16:25] donmccurdy commented on #9562
Well, the `*.umd.js` file can be used for both CommonJS (e.g. Browserify) and `<script/>` tags. But they're not valid ES6 modules, although I think you can configure a bundler to resolve them (e.g. [rollup-plugin-commonjs](https://github.com/rollup/rollup-plugin-commonjs)).

Converting global→ES6 _sounds_ more error-prone than ES6→global, but Rollup never ceases to impress. The scripts suggested a

[2018-03-14 16:56] Perinban commented on #13573
@Mugen87  Still Im getting the black scene
![screenshot 167](https://user-images.githubusercontent.com/26972975/37417468-678a676e-27d6-11e8-8418-85f7073a3dc0.png)

If Im using three.js editor, similarly im getting like this
![screenshot 168](https://user-images.githubusercontent.com/26972975/37417520-889d0484-27d6-11e8-845c-d2e8e7b2ade3.png)

But it works well with the external software
![screensh

[2018-03-14 17:02] WestLangley commented on #13578
@yiakwy

Try this:
[code]

[2018-03-14 17:13] Mugen87 commented on #13573
You need to add a light source in your scene.

[2018-03-14 17:30] Perinban commented on #13573
@Mugen87 How to add lights without overexposing the scene? Like you said you add simple light settings

[2018-03-14 17:35] looeee commented on #9562
Hmmm, seems you are correct. So much for _universal_ module definition :sweat_smile:

So that means that your PR doesn't add support for ES6 modules? I think that we should be supporting ES6 over CommonJS and AMD if we have to choose between them.

It might be possible to modify UMD to work as ES6 modules as well for our use case though. There's some discussion here:
https://github.com/umdjs/umd/i

[2018-03-14 18:07] donmccurdy commented on #13573
You will probably want to put lights into the scene separately from the model. Or *Add -> Point Light* in the three.js editor menu. The issue is that 16 point lights is too many, unless brightness is turned way down. See [this example](https://github.com/mrdoob/three.js/blob/master/examples/webgl_loader_collada.html) or the three.js forums for help with lighting.

[2018-03-14 18:11] donmccurdy commented on #9562
In my PR, I've (by hand) converted two examples to ES6 modules, meaning that the code we maintain would be ES6 like `src/*`. Then (with Rollup) those ES6 modules are converted to the UMD modules for script tags. Users wishing to use ES6 modules would require source files from `examples/js/*`, and users wanting a script tag would use generated files in `build/examples/js/*`.

[2018-03-14 18:16] Perinban commented on #13573
Thanks @Mugen87  @donmccurdy, it works well

[2018-03-14 19:12] takahirox commented on #13069
I think your solution is fitting to lazy uuid generation. I'm thinking very similar one (almost same) for lazy uuid generation we do after we remove all `.uuid` references from Three.js core and `examples/` except for serialization.

    Object.defineProperties( Object3D.prototype, {

        _uuid: {
            value: null,
            writable: true
        },

        'uuid': {

            ge

[2018-03-14 20:01] Mugen87 commented on #13573
@Perinban BTW: This is how it feels implementing a loader for `Collada` and then test it with random `dae` files from the web.

![Alt Text](https://media3.giphy.com/media/3uyIgVxP1qAjS/giphy.gif)

[2018-03-14 20:21] pailhead commented on #13537
Maybe the books could be updated.

[2018-03-14 20:39] mrdoob commented on #13537
Not the ones that have been printed already... 😛 But yes, they're updating them.

[2018-03-14 20:45] mrdoob commented on #13069
It may be better to invest all these energies in implementing Instancing instead. In a way, it solves this problem too.

[2018-03-14 20:51] mrdoob commented on #13225
Yes... For performance reasons, Daydream creates a canvas that is 0.7 the fullsize (or something like that).

WebVR 2.0 (WebXR) has an option to overwrite that value, so you'll be able to force 1.0 or even 1.5.

I'll try to put that in during the next few weeks.

[2018-03-14 21:02] takahirox commented on #13069
Yeah, that could be one of the good solutions in long term.

Regarding in short term, I prefer `.toUpperCase()` solution because

change is very easy and 10% memory consumption reduction sounds good to me.

What do you think?

[2018-03-14 21:16] mrdoob commented on #13069
Yeah, sounds good to me. We can merge and test during the `r92` cycle.

[2018-03-14 21:35] takahirox commented on #13069
So let's reopen #13094

I'm also very interested in more use of instancing in Three.js. Is #10750 the hottest thread about instancing?

[2018-03-14 21:47] backspaces commented on #9562
Looking at @Itee's solution, he successfully creates an es6 module for each example/**.js file which has individual import's to path-relative Three es6 .js files, which in turn are modules.

His exports are individually named components, without a "default" export. This matches Three's modules.

That all seems to be done via a script .. a very *smart* one!

He uses these to create a single module

[2018-03-14 21:48] pailhead commented on #13537
Given how quickly threejs changes we could make proclamation that no threejs book should ever be printed on paper ever again :)

[2018-03-14 21:51] mrdoob commented on #13537
Blogposts are also an issue actually...

[2018-03-14 23:15] mrdoob opened #13594 "WebGLRenderer: animate() → setRenderLoop()?"
While working on a new WebVR project, it somehow felt that `setRenderLoop()` would be a better name than `animate()` but I'm unsure.

[code]

Thoughts?

[2018-03-15 00:50] WestLangley commented on #12231
This has largely been completed -- except for the `ParametricGeometries` and the `Curve`-based classes.

The curve classes are a mixture of 2D-specific, 3D-specific, and dimension-agnostic classes. I think a refactoring or redesign is required.

The goal is to remove `optionalTarget` from `getPoint()`. However, `getPoints()` will still have to allocate an array.

Closing.

[2018-03-15 00:50] #12231 closed

[2018-03-15 01:15] mkeblx commented on #13594
Makes sense especially since other methods that 'set' something are `set{X}` form.

[2018-03-15 02:35] looeee commented on #9562
OK, that makes sense. I like this approach since it means the people doing the actual developing get to work directly with ES6 modules.

However, I'm not sure that the directory structure makes sense any more if we do this. It seems strange to have a file `/examples/js/controls/OrbitControls.js`, and a corresponding example `/examples/Misc_Controls_Orbit.html` that instead uses `/build/examples/js

[2018-03-15 02:59] vt5491 commented on #13105
It's my understanding that the webVr spec requires a [user gesture](https://github.com/immersive-web/webvrrocks/issues/231) in order to first enter VR mode.  That means clicking a button with a mouse, or, in the case of a-frame, optionally pressing the "f" key.  From the webvr 1.1 spec:

I do realize that "putting on the HMD" could also be considered a user gesture, and indeed the OR store, and th

[2018-03-15 03:09] dustinkerstein commented on #13105
In my testing with Firefox Nightly, if the Rift is connected (with Oculus Home running) I am put into VR mode immediately when going to https://webvr.info/samples/03-vr-presentation.html without any user interaction. This is in fact the behavior I'm looking for, and is needed to handle inter-site link traversal in VR. Whether that's what the WebVR 1.1 spec says is supposed to happen, I can't say..

[2018-03-15 03:24] dustinkerstein commented on #13105
Though I just had someone in my office quickly test https://webvr.info/samples/03-vr-presentation.html with their Rift + Nightly and it didn't auto-invoke VR... So I guess I'll need to get my Rift setup again and do some more testing.

[2018-03-15 05:49] yiakwy commented on #13578
@WestLangley for es6 representation, I get the point that I need to override **getPoint** method so that ExtrudeGeometry to use

[code]

[2018-03-15 06:09] vinstics opened #13598 "raycaster's doc needs update"
##### Description of the problem
[Raycaster](https://threejs.org/docs/index.html#api/core/Raycaster)

indices seems no longer exists. face and faceIndex will always be set.

<blockquote>
When intersecting a Mesh with a BufferGeometry, the faceIndex will be undefined, and indices will be set; when intersecting a Mesh with a Geometry, indices will be undefined.
</blockquote>

##### Three.js version

[2018-03-15 08:02] mirohristov-com opened #13599 "DOF2 example broken"
The [dof2 example](https://threejs.org/examples/#webgl_postprocessing_dof2)  seems to have stopped working since r91 and r90 or even before that.

My guess is it's the `depthMaterial = new THREE.MeshDepthMaterial();` returning blank/black result but I'm pretty new to threejs so I wouldn't know.

It appears to be working better in r88 - https://jsfiddle.net/3bvpr75n/4/

Any idea for a quick fix bes

[2018-03-15 10:10] Mugen87 commented on #13598
That's correct. Would you like to do a PR with the change? 😊

[2018-03-15 10:21] Mugen87 commented on #13598
Also noticed that for non-indexed `BufferGeoemtry` an additional property `index` is set. This should also be added in the docs.

https://github.com/mrdoob/three.js/blob/566f53d5db20a7088b5462c5f3755930914b7abf/src/objects/Mesh.js#L298-L303

[2018-03-15 10:52] CGerAJ opened #13600 "I set the transparent color.But chorme doesn't show up properly."
##### Description of the problem

Firefox & safari can be implemented, but the background can't be displayed in the background with the chrome threejs under the multi-layer dom structure.

I set the transparent color.Firefox & safari can be implemented,But chorme doesn't show up properly.I have submitted the question to google.

[code]

templates ADDress:

http://www.luckhome.cn/threejs/index.html

[2018-03-15 10:52] CGerAJ commented on #13600
<img width="705" alt="2222222" src="https://user-images.githubusercontent.com/20548301/37459109-0d35a2ea-2882-11e8-99c3-3a67bb2e6b35.png">

[2018-03-15 10:53] CGerAJ commented on #13600
![11111111](https://user-images.githubusercontent.com/20548301/37459123-1a569efc-2882-11e8-80b9-052a57b019dd.png)

[2018-03-15 10:54] Mugen87 commented on #13599
Can you please check if it looks better with this adjusted fiddle? https://jsfiddle.net/3bvpr75n/14/

[2018-03-15 10:54] CGerAJ commented on #13600
Normal display status

<img width="1665" alt="33333333" src="https://user-images.githubusercontent.com/20548301/37459173-4096a224-2882-11e8-98cb-ebe73529bcab.png">

[2018-03-15 11:49] NataliaDSmirnova opened #13601 "Uncaught TypeError when render an empty BufferGeometry with wireframe"
##### Description of the problem

I render a mesh that consists of empty geometry (without positions an indices) and material with wireframe:

` var geometry = new THREE.BufferGeometry(); `
` var material = new THREE.MeshPhongMaterial( {wireframe: true} );`
`mesh = new THREE.Mesh( geometry, material );`
` scene.add( mesh );`

**Expected result:**
Nothing is rendered

**Actual result:**
An exceptio

[2018-03-15 12:04] biojazzard commented on #10357
This way?
https://threejs.org/examples/#webgl_lines_fat

[2018-03-15 12:05] Mugen87 commented on #10357
@biojazzard Yep

[2018-03-15 12:10] Mugen87 commented on #13601
You need to add at least a `position` attribute: http://jsfiddle.net/akmcv7Lh/313/

Related: #10339

[2018-03-15 12:18] Mugen87 commented on #13601
@mrdoob @WestLangley We could add a safety check at the following place. Or do we still consider that a `BufferGeometry` without `position` attribute is no valid geometry?

https://github.com/mrdoob/three.js/blob/566f53d5db20a7088b5462c5f3755930914b7abf/src/renderers/webgl/WebGLGeometries.js#L157

[2018-03-15 12:23] Mugen87 commented on #13600
Have you considered using your background image as a background texture? Something like:
[code]
This should also work in Chrome.

[2018-03-15 12:23] NataliaDSmirnova commented on #13601
@Mugen87 There is no information in documentation about legal minimum composition of BufferGeometry. Theoretically empty geometry should be valid, but not rendered. The safety check would be great.

[2018-03-15 12:46] f1cognite opened #13602 "Clone defines on Material.clone()?"
##### Description of the problem
Should the `Material.clone()` function also clone / copy the defines on the original material?

##### Three.js version

- [ ] Dev
- [x] r90
- [ ] ...

##### Browser

- [x] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [x] All of them
- [ ] Windows
- [ ] macOS
- [ ] Linux
- [ ] Android
- [ ] iOS

[2018-03-15 13:37] webprofusion-chrisc commented on #9562
I thinks that's also an indication that 'examples' like orbit controls are core 'extras' and are meant to be directly reusable (i.e. modules), whereas /examples/js/a_fancy_demo.js isn't (ok I made that example up).

[2018-03-15 13:40] George35mk commented on #9562
Yes I think the orbit control and some other modules like loaders must be at the core of TREE

[2018-03-15 13:43] Mugen87 commented on #13602
I guess this is only relevant for `ShaderMaterial`. The respective `.copy()` method already regards `.defines`.

https://github.com/mrdoob/three.js/blob/566f53d5db20a7088b5462c5f3755930914b7abf/src/materials/ShaderMaterial.js#L96

[2018-03-15 13:53] Mugen87 commented on #6520
Closing. We can reopen the issue when a test case is provided.

[2018-03-15 13:53] #6520 closed

[2018-03-15 13:57] Mugen87 commented on #5345
This issue refers to the old `ColladaLoader`. The new implementation has no support for bump and normal maps so far. I'll turn this issue into a feature request and remove the `Bug` label.

[2018-03-15 15:08] WestLangley commented on #13598
You can remove it and see if users complain.

[2018-03-15 15:13] timothyallan commented on #9562
Ditto here for Lens Flare. r90 borked my es6 web app because of the move to examples.

[2018-03-15 15:27] WestLangley commented on #13600
@Mugen87 I do not think `CanvasRenderer` supports scene background images.

[2018-03-15 15:30] Mugen87 commented on #13600
Oh, i did not realize he is using `CanvasRenderer`...

[2018-03-15 15:37] Mugen87 commented on #13600
@CGerAJ In any event, you should report this at the Chromium issue tracker instead. I've tested this on my machine and the bug only happens with Chrome and not with Safari and FF.

https://bugs.chromium.org/p/chromium/issues/list

[2018-03-15 16:07] WestLangley commented on #13601
There are many was to create an invalid geometry. We do not validate inputs in three.js. There are too many possible user errors to test for. We also give the users a lot of flexibility, and validation is hard.

I think the current status on that is it depends on what part of the code you are reading.

[2018-03-15 17:44] donmccurdy commented on #9562
I don't think having more things in the core library is a goal in itself. The loaders, for example, would be far too much. Tree-shaking is not yet common enough that libraries don't have to worry about size. But please feel free to make the argument for any particular examples that you feel strongly should be in the core library (ideally in a new issue).

If we have a build/update workflow we're h

[2018-03-15 17:45] WestLangley commented on #13602
@f1cognite Can you please explain your use case or show a code snippet?

[2018-03-15 18:10] iBasel opened #13604 "deviceorientation laggy behavior"
##### Description of the problem

Since updating to chrome 65 on android, deviceorientation has become laggy.
https://threejs.org/examples/#misc_controls_deviceorientation

Not sure if this is related:
https://developers.google.com/web/updates/2017/09/webvr-origin-trial-chrome-62

##### Browser

- [ ] All of them
- [x] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [ ] All of them
- [ ]

[2018-03-15 18:23] Mugen87 commented on #13604
I can reproduce the issue on my Pixel with Chrome. No problems with FF.

Seems to be a browser issue though.

[2018-03-15 18:33] donmccurdy commented on #13107
We're a good bit closer with r91, but still showing somewhat clearer reflections than the other two engines mentioned in this thread:

![screen shot 2018-03-15 at 11 30 16 am](https://user-images.githubusercontent.com/1848368/37483938-5a04ff5a-2844-11e8-99ec-14f5a13ab2ca.png)

I've added an HDR environment map to https://gltf-viewer.donmccurdy.com/ that matches the one in http://sandbox.babylonjs.

[2018-03-15 19:16] Mugen87 commented on #7739
I've read this issue multiple times but i still don't understood the benefit of this suggestion. Can somebody enlighten me? 😊

[2018-03-15 20:47] #13454 closed

[2018-03-15 20:57] Mugen87 commented on #13602
Now that i look at the code. Why don't we do this?
[code]
Otherwise both materials refer to the same `defines`, right?

[2018-03-15 20:59] Mugen87 commented on #10705
As @takahirox said, the implementation is correct. We can reopen the issue if @mqnc illustrates the reported misbehavior with a fiddle.

[2018-03-15 20:59] #10705 closed

[2018-03-15 22:04] levilime opened #13606 "Failing tests (with a clean install of three.js dev)"
##### Some failing tests in a clean install of three.js dev branch

In my local version of the current three.js (eb8f84647f649d995153ae3a64a260124e977b54) five tests fail. Two of these only fail when using the QUnit browser GUI that is generated in `test/unit/UnitTests.html` when doing `npm run build-test`.

![problem](https://user-images.githubusercontent.com/5917975/37492938-8054ea58-28a3-11e8-8

[2018-03-15 22:09] levilime commented on #13606
In https://github.com/mrdoob/three.js/issues/13606 I made a proof of concept to correct one of the three failing tests. Hope to hear whether this is a goose chase or that this is something worthwhile to pursue further for the other failing tests.

Thanks!

[2018-03-15 22:26] levilime commented on #13580
Hey @Mugen87 I made a separate issue about the failing tests, I wonder what to do so they work for everyone: https://github.com/mrdoob/three.js/issues/13606.

Thanks!

[2018-03-15 22:48] looeee commented on #9562
This seems like the reasonable thing to do. Then we can have `plugins/src` and `plugins/build`.

[2018-03-15 22:48] mrdoob commented on #13604
Yeah, this is a regression in Chrome 65. Its been fixed already though. Next browser update should get this fixed.

[2018-03-15 22:48] #13604 closed

[2018-03-16 00:13] webprofusion-chrisc commented on #9562
Yes, so no I wouldn't suggest expanding the core of three, instead just formalising the existing extensions to three. So if something currently extends the THREE namespace that suggests it's trying to be a plugin rather than just an example/demo.

[2018-03-16 00:53] mrdoob commented on #7739
I don't understand it either... It sure would benefit of some context.

[2018-03-16 01:08] donmccurdy commented on #7739
I think this amounts to having three.js automatically add itself to the global namespace... we probably want to avoid that; rollup or other tools can do it for users if needed.

[2018-03-16 01:41] mirohristov-com commented on #13599
Yes. I'm not sure if that's what the original example looked like but at least the depth is taken into account when blurring. Should we just fix the bokehShader?

[2018-03-16 02:29] CGerAJ commented on #13600
Yesterday, I sent a screenshot to Google.Recently, there have been more and more bugs in chorme version 65.

https://bugs.chromium.org/p/chromium/issues/list

I can't open this page.Thank you for submitting issues to chorme.

[2018-03-16 03:13] iamnotstone opened #13608 "Can not set DirectionalLightShadow's direction"
##### Description of the problem

The DirectionalLightShadow always lookAt Vector3(0,0,0).

I set its direction below, but it not works. The light.shadow.camera always lookAt (0,0,0)
[code]
here is my code on codepen:

[codepen] (https://codepen.io/iamnotstone/pen/jzrzge)

##### Three.js version

 - [x] r91

##### Browser

- [x] Chrome

##### OS

- [x] Linux

[2018-03-16 03:20] WestLangley commented on #13608
This is not a help site. Please use the [forum](https://discourse.threejs.org).

[2018-03-16 03:20] #13608 closed

[2018-03-16 04:48] vinstics commented on #13598
@Mugen87 Sorry I'm not familiar with git and don't know how to do a PR, I'll learn it soon and try next time.

[2018-03-16 06:26] leoboboyan opened #13610 "mesh both receive and cast shadow seems odd"
##### Description of the problem

This form is for three.js bug reports and feature requests only.

This is NOT a help site. Do not ask help questions here.
If you need help, please use the [forum](https://discourse.threejs.org/) or [stackoverflow](http://stackoverflow.com/questions/tagged/three.js).

Describe the bug or feature request in detail.

Always include a code snippet, screenshots, and a

[2018-03-16 06:40] donmccurdy commented on #13610
This shadow doesn't look unreasonable to me, what part seems odd?

![screen shot 2018-03-15 at 11 39 11 pm](https://user-images.githubusercontent.com/1848368/37507077-29a4e1a2-28aa-11e8-8c01-e9684fbbb0c9.png)

[2018-03-16 06:53] leoboboyan commented on #13610
there are so many dark streaks on the object.

when set receive shadow to false, it's gone.

[2018-03-16 06:53] HyunmokMoon opened #13611 "mapDiffuseRepeat value modified few times, WebGL conext lost happen"
##### Description of the problem

When I change mapDiffuseRepeat value,
diffuse texture u,v repeat is modified.
But I try few times, chrome goto conext lost.
I can't find forum or stackoverflow about this issue.

This form is for three.js bug reports and feature requests only.

This is NOT a help site. Do not ask help questions here.
If you need help, please use the [forum](https://discourse.three

[2018-03-16 08:39] Usnul commented on #13610
In short:
- shadow acne (https://computergraphics.stackexchange.com/questions/2192/cause-of-shadow-acne)

Problems:
- shadow mapping algorithm is rather simple, more complex algorithms address this issue to some degree
- shadowmap resolution is too low in the acne region. This can be addressed by increading resolution or tightening the shadow camera frustum
- normals on the cylinder are not "smoot

[2018-03-16 08:44] Usnul commented on #13594
I think it's not that not super descriptive. I would call it "simulate" or something along the lines of "addFrameEventHandler"

[2018-03-16 08:53] looeee commented on #13594
What about `startRenderLoop` ? Since we are starting to call `render` in a loop here I think that's pretty descriptive.

[2018-03-16 09:01] Usnul commented on #13594
@looeee
can i do this?

[code]

is this a good name then? :)

[2018-03-16 09:07] Usnul commented on #13611
can you put together a jsfiddle or equivalent example?

[2018-03-16 09:15] leoboboyan commented on #13610
thanks a lot! @Usnul

[2018-03-16 09:48] HyunmokMoon commented on #13611
I talked my coworker, he said memory leak related. so I have to check release memory when create material.

[2018-03-16 12:13] looeee commented on #13594
No, but I challenge you to think of a non-stupid, useful example where the callback function being passed `WebGLRenderer.animate` should be called something other than `render`. 😛
If you can then I'll change my mind.

[2018-03-16 13:03] Ben-Mack commented on #13397
+1 hope this will be fixed soon. Lots of library for Three.js still performing based on `THREE.Geometry`.

( FB still having error `...must be RGBA` with `THREE.Geometry` )

[2018-03-16 13:31] looeee commented on #13397
@Ben-Mack, which libraries are you using that still use Geometry? Perhaps we could work with the owners to get them updated.

[2018-03-16 14:45] #13610 closed

[2018-03-16 15:25] Usnul commented on #13594
Challenge accepted!

There are typically multiple simulation systems involved in making an
interactive application such as a game. One obvious example is physics
simulation. If you go by a ECS paradigm (entity component system) - every
system can benefit from an update step. Most of these systems are typically
non-visual.
On Fri 16. Mar 2018 at 13:14, Lewy Blue <notifications@github.com> wrote:

[2018-03-16 15:28] mrdoob commented on #7094
With the [current code](https://github.com/mrdoob/three.js/blob/dev/src/renderers/shaders/ShaderChunk/normalmap_pars_fragment.glsl), is there a way to invert `normalScale` when rendering the flipped normalMap?

Maybe something like...

[code]

Notice how the right side of the helmet has the normalMap inverted due to the texture being mirrored.

![screenshot 2018-03-16 at 08 17 05](https://user-ima

[2018-03-16 15:36] mrdoob commented on #13600
@CGerAJ Are you using `CanvasRenderer` for compatibility or because you liked that effect?

[2018-03-16 15:41] WestLangley commented on #13610
Those are artifacts caused by self-shadowing, and the question has been answered on [stackoverflow](https://stackoverflow.com/questions/48938170/three-js-odd-striped-shadows/48939256#48939256).

[2018-03-16 16:10] davdtm opened #13612 "STL loader regex issue"
I think I've found an issue on the STL loader. The parseASCII(data) function parses the content of a STL ascii file, and the problematic line looks the following:

var patternFloat = /[\s]+([+-]?(?:\d+.\d+|\d+.|\d+|.\d+)(?:[eE][+-]?\d+)?)/.source;

it seems that 99.9...% of times it works well, however I have a STL file that contains faces like the following:

text: facet normal 1.29316e-07 3.6679

[2018-03-16 16:24] WestLangley commented on #7094
@mrdoob This is definitely a normal map issue. I would think that `mirroredRepeatWrapping` would be appropriate, but it is not used in this model -- nor do I expect it would work correctly for normal maps.

Also see [this comment](https://github.com/mrdoob/three.js/issues/4935#issuecomment-296380394) -- and in fact, the entire thread.

[2018-03-16 17:26] Mugen87 commented on #13599
Now that i think about it...i don't think the fix is correct. I'll try to revisit this over the next days.

[2018-03-16 17:33] Mugen87 commented on #13598
@vinstics Thanks for reporting the issue!

[2018-03-16 17:39] Mugen87 commented on #13600
Um, it does not work with Chrome Canaray (67.0.3372.0), too :pensive:

[2018-03-16 17:47] mrdoob commented on #7094
Actually, that code is stupid. Sorry about that 😅

[2018-03-16 17:56] Mugen87 commented on #13612
I guess the following regex should fix it:
[code]
Notice the new `?` quantifier after `[eE]`. This section is now optional.

The problem is that `.` in `d+.` already matches the `e` in `-2e-08`.

[2018-03-16 23:22] CGerAJ commented on #13600
@mrdoob  That's what the design needs are. I've avoided this bug by modifying the DOM structure. I hope Google can fix these bugs

[2018-03-17 01:31] looeee commented on #13594
OK, that's a good point. Consider me convinced 😄

A typical (simplified) Game loop at looks like:

[code]

Obviously the `getUserInput` is handled differently in JS due to `eventListeners`, but otherwise it's similar to a typical three.js loop with the `while` replaced by RAF. So I don't think that the animate function should have `Render` in  the name.

How about `startRAFLoop` ?

[2018-03-17 03:08] Ben-Mack commented on #13397
@looeee Please take a look at this library: https://github.com/a-jie/threejs-geometry-modifiers

[2018-03-17 05:56] #13598 closed

[2018-03-17 05:57] #7739 closed

[2018-03-17 10:55] Mugen87 commented on #13612
@davdtm Can you please share your mentioned `STL` file for testing purposes?

[2018-03-17 15:11] jonobr1 commented on #13478
Ricardo kicking it off! https://github.com/mrdoob/three.js/pull/13616 

[2018-03-17 17:55] mrdoob commented on #13594
Hmm, I like that one too...

[2018-03-17 17:56] mrdoob commented on #13594
`setAnimationLoop` may sound less alien.

[2018-03-17 19:10] #13602 closed

[2018-03-17 20:08] fernandojsg commented on #13594
+1 for the `startAnimationLoop` I agree with @Usnul that `renderloop` is misleading

[2018-03-17 23:42] aardgoose commented on #13069
closed now since uuids either removed or flattened.

[2018-03-17 23:42] #13069 closed

[2018-03-18 08:43] dericatienza opened #13623 "Unwanted edge rendering"
##### Description of the problem

I'm trying to render only the edges of the geometry below but I am getting unwanted edges specifically the ones in violet line. The green lines represent the ones generated by an EdgesGeometry with threshold 1 and the faded grey lines are generated by a WireframeGeometry for examination of the whole geometry of the object.

Green lines:
`  const edgesGeometry = ne

[2018-03-18 09:13] Ben-Mack commented on #12678
@DIeHarke Working great, thank you!

Can you create a pull request to merge this feature?

[2018-03-18 09:19] paulbrzeski commented on #13478
I'm getting some very strange results when trying to use this.. Even a really simple SVG example from W3C,
`<svg height="210" width="400">
  <path d="M150 0 L75 200 L225 200 Z" />
</svg>`
results in the following:
![capture](https://user-images.githubusercontent.com/951100/37564410-7e9d06d0-2ad0-11e8-8f2f-0b935f8c897a.PNG)

[2018-03-18 10:02] ErezBouskila opened #13624 "360 video plays only audio and black video on FireFox Android"
##### Description of the problem
When playing a 360 video on FF v59 on Android there is only audio and the video is black, checking the console the following error is displayed:
Error: WebGL warning: texImage2D: GetAsSourceSurface or GetDataSurface failed after blit failed for TexUnpackImage.

Steps to reproduce:
1. Open link in FF on Android - http://www.kaltura.com/index.php/extwidget/preview/pa

[2018-03-18 11:53] Mugen87 commented on #13624
I can reproduce the problem with FF 59.0.1 on Android 8.1.

You should report this problem to Mozilla instead since it's clearly a browser issue.

https://bugzilla.mozilla.org/

[2018-03-18 11:53] #13624 closed

[2018-03-18 12:06] Mugen87 commented on #13623
I've prepared a fiddle, so it's easier to debug the issue: https://jsfiddle.net/f2Lommf5/3314/

[2018-03-18 12:06] Mugen87 commented on #13623
This is actually a duplicate of #10517

[2018-03-18 12:06] #13623 closed

[2018-03-18 13:36] Mugen87 commented on #13600
I've debugged this one more time. Instead of setting `renderer.setClearColor(0xffffff, 0);`, create your renderer like this:
[code]
In this way, you background image should work in Chrome, too.

[2018-03-18 13:47] Mugen87 commented on #13612
This is an alternative regex that should also handle the mentioned case.

`[\s]+([+-]?(?:0|[1-9]\d*)(?:\.\d*)?(?:[eE][+-]?\d+)?)`

[2018-03-18 17:46] BasicMan01 opened #13630 "Wrong Variable in FBXLoader for specular color"
**Description:**
In the following fixed issue a wrong variable for specular color ist used.

**Issue reference:**
#13515

**Code reference:**
https://github.com/mrdoob/three.js/blob/c3216344736b165c15af8fa8065748e180b189b4/examples/js/loaders/FBXLoader.js#L461

I think the correct left part must be "parameters.specular".

**Three.js version**
- [x] r91

[2018-03-18 22:41] George35mk commented on #7579
https://threejs.org/examples/?q=line#webgl_lines_fat

[2018-03-19 01:28] looeee commented on #13630
Oops! I'll fix it 😅

[2018-03-19 02:33] paulbrzeski commented on #13478
@mrdoob I know this is still a WIP but I got some strange results trying to use the SVGLoader even though it works fine with the example tiger.svg.

Using the d3-threeD implementation from webgl_geometry_extrude_shapes2's example worked fine though.

[2018-03-19 03:09] mrdoob commented on #13478
Please, share the files that are giving you strange results.

[2018-03-19 04:27] paulbrzeski commented on #13478
Github wouldn't let me post the file so here it is in a public repo - https://github.com/paulbrzeski/manifold/blob/master/potrace.svg

[2018-03-19 04:55] CGerAJ commented on #13600
Today I tested the method you gave me, and solved my problem.TKS

https://threejs.org/docs/index.html#examples/renderers/CanvasRenderer

[code]

[2018-03-19 04:55] #13600 closed

[2018-03-19 05:08] russdanner commented on #12530
This model still produces the issue:
https://clara.io/view/20ed671f-f62c-4c54-b1c9-18758f48cbdf#

[2018-03-19 10:18] Mugen87 commented on #13508
We rephrased the question and added an answer. I hope user are now pointed to the right direction.

[2018-03-19 10:18] #13508 closed

[2018-03-19 10:19] Mugen87 commented on #11406
see #13631

[2018-03-19 10:19] #11406 closed

[2018-03-19 10:40] Mugen87 commented on #12530
@russdanner Can you please shader the model?

[2018-03-19 12:19] looeee commented on #12530
@russdanner your model is loading fine for me. @Mugen87 here's the file
[heart-dae.zip](https://github.com/mrdoob/three.js/files/1824893/heart-dae.zip)

[2018-03-19 14:07] Mugen87 commented on #12530
@looeee Thanks! Yeah, the editor loads the file without errors.

[2018-03-19 16:50] wdanilo commented on #9965
@mrdoob are there any plans from you or your team to update Threejs to Webgl 2.0? This thread takes literally years and nothing really changes while all other frameworks already moved forward. I’ll have a hard decision soon, we would probably have to migrate over Babylon or something and I would really like to stay with Three. I will, if there would be any, just any plans for its modernization.

[2018-03-19 17:31] LuckXP commented on #12530
I'm having trouble with this model as well: [https://clara.io/view/1a03ac6b-d6b5-4c2d-9f1a-c80068311396#](https://clara.io/view/1a03ac6b-d6b5-4c2d-9f1a-c80068311396#)

[2018-03-19 17:49] Mugen87 commented on #12530
@LuckXP What do you mean with "trouble"? Can you please specify what's going wrong?

[2018-03-19 19:46] Mugen87 commented on #6093
I've tested this today but i get a slightly different behavior. You can reproduce it with this example: https://jsfiddle.net/f2Lommf5/3446/

- hold down the mouse button (you have to do this in the first two seconds while the controls are enabled) and change the camera
- when the controls are disabled, release the mouse button
- after two seconds, the controls are enabled again. You can still chan

[2018-03-19 20:22] LuckXP commented on #12530
@Mugen87 Oh. Yeah sorry. Just that the model I posted results in the same "Undefined sampler." console warning.

[2018-03-19 20:23] isassaba opened #13639 "Cant set spotlight target correctly."
Hi im trying to set up the car lights, but when i try to set the spotlight to the floor in front of the car it always target the point (0,0,0) nothing seems to modify that.
I've tried:
- spotlight.target.position.set(x,y,z);
-spotlight.target.updateMatrix();

I would aprecciate if you have any solution to do this quickly.
Thanks in advice.

[2018-03-19 20:49] lejeunerenard commented on #9411
Closing as it this is out of date.

All `this` references have been replaced with just the type of the return value. And all standard JS types are no longer links.

[2018-03-19 20:49] #9411 closed

[2018-03-19 21:00] WestLangley commented on #6093
I expect this will work:
[code]
.. but the use case seems unusual to me.

[2018-03-19 21:09] WestLangley commented on #13639
https://threejs.org/docs/index.html#api/lights/SpotLight
[code]

[2018-03-19 21:09] #13639 closed

[2018-03-19 23:06] mrdoob commented on #13478
@paulbrzeski After d82442aedc15d726b2bbf280ce93a98c093a8ebe, your files are starting to appear 😁

[2018-03-20 08:44] Elania opened #13640 "THREE.Plane projectPoint() gives wrong result"
I assume this function should project the given point onto the plane, so that as a result I get the point on the given plane that has the smallest distance to the given point.

Let's say I do have a simple Hesse plane that lies in the XZ plane with normal (0,1,0) and constant 10.
I want to project point (0,20,0) on that plane. Obviously, the projected point on the plane should be at (0,10,0).
So w

[2018-03-20 08:58] looeee commented on #13640
The equation of the plane is y + 10 = 0
This is y = -10
So the plane is below the x-axis, which means that (0, 10, 0) cannot be a point on the plane.

[2018-03-20 09:19] Elania commented on #13640
Ah sorry, my fault, I did not understand correctly how the plane should be defined here.
It is
x * n + d = 0
instead of
x * n - d = 0
So I just need to multiply the constants of my planes with -1 and it should work.
Thank you very much for your help!
Can be closed.

[2018-03-20 09:26] #13640 closed

[2018-03-20 10:09] davdtm commented on #13612
Sorry for my late reply. In attachment you can find a simple cube geometry where I've made two manual changes:

I've changed the X coordinate of the first vertex of the first facet as follows:

from:

vertex 0 0 0.8999999985

to:

vertex 2e-8 0 0.8999999985

and the Z coordinate of the second vertex of the second facet as follows:

from:

vertex 0.06666666542 1 0

to:

vertex 0.06666666542 1 2e-8

[2018-03-20 10:40] Fasani opened #13641 "webgl_loader_obj_mtl not working on Chrome 65/MacOS"
##### Description of the problem
Console Errors
THREE.WebGLRenderer: Error creating WebGL context.
Uncaught TypeError: Cannot read property 'getExtension' of null

Please also include a live example if possible. You can start from these templates:
https://threejs.org/examples/webgl_loader_obj_mtl.html

Also on:
http://demos.littleworkshop.fr/infinitown

##### Browser
- [x] Chrome 65

##### OS
- [x

[2018-03-20 11:01] Mugen87 commented on #6093
Yeah it feels a little bit...artificial.

If I call `.dispose()` and then enable the controls again, i'm unable to control the camera like before. I think it's because `.dispose()`removes all event listeners and there is no mechanism that restores the setup.

[2018-03-20 11:04] Mugen87 commented on #13641
Both websites work for me on macOS (10.13.3) and Chrome (65.0.3325.162). Have you tested with other browser, too?

[2018-03-20 11:18] WestLangley commented on #6093
I do not think we need to worry about a use case in which the controls are being programmatically disabled while the user is interacting with it.

[2018-03-20 11:32] Mugen87 commented on #13612
Thanks for the model! The PR seems to solve the problem.

[2018-03-20 11:36] Mugen87 commented on #6093
Okay, i think we can close the issue then. If users ever complain again, then at least we know where the problem is 😊

[2018-03-20 11:39] #6093 closed

[2018-03-20 12:23] jcyuan commented on #11319
@wyckster

http://jsfiddle.net/uz0sdzLn/32/
is this one correct?

I have a light impression on gamma correction.
please correct me if it's not right:

for speed/storage reason, usually images are saved as 8bit format but in this format the color is actually not linear, so here comes gamma correction.
for an engine, it must process textures in linear space for e.g. mixing, lighting etc purposes in

[2018-03-20 12:30] looeee commented on #13641
I get a lot of errors on the infinitown link... but not this error.

[2018-03-20 12:50] jcyuan commented on #11319
just found an issue, it seems that @WestLangley wants to add these new features. see #11337.

[2018-03-20 13:26] pjoe opened #13642 "GLTFLoader: camera xfov calculation is wrong"
##### Description of the problem

xfov is not calculated correctly. As fov is an angle you can not just multiply aspect ratio, but should do something like `xfov = atan(tan(yfov) / aspectratio)` (see https://www.gamedev.net/forums/topic/203238-perspective---x---fov/?tab=comments#comment-2294951)

This conversion is done here: https://github.com/mrdoob/three.js/blob/dev/examples/js/loaders/GLTFLoad

[2018-03-20 13:37] pjoe commented on #13642
After more testing the right formula is:

`xfov=2*Math.atan(Math.tan(yfov/2) * aspect)`

[2018-03-20 14:52] donmccurdy commented on #13642
Thanks for the report! Looking at this now, I'm not sure why we convert to `xfov` at all... glTF provides `yfov`, or "The floating-point vertical field of view in radians", and the `THREE.PerspectiveCamera` constructor expects "Camera frustum vertical field of view" in degrees. So we should just convert directly from radians to degrees.

[2018-03-20 20:09] pjoe commented on #13642
Hah, that explains what I'm seeing ... double (or triple) checked that the xfov got calculated correctly, but scene still didn't look quite right :)

Should be very easy fix then.

[2018-03-20 20:37] donmccurdy commented on #13642
Opened #13646

[2018-03-20 22:07] Mugen87 commented on #5169
Closing. I also see no benefit of this proposal.

[2018-03-20 22:07] #5169 closed

[2018-03-20 22:48] #13642 closed

[2018-03-21 00:30] felixturner commented on #12533
does it do anything?

[2018-03-21 02:36] #13630 closed

[2018-03-21 02:41] #13612 closed

[2018-03-21 04:23] donmccurdy opened #13648 "DRACOLoader: Decoding should happen in a Web Worker."
Decoding Draco geometries is a long, blocking task, and shouldn't be happening on the main thread. I'm hoping that with some of the LoaderSupport APIs we should be able to configure it to run just as easily in a web worker as not. Proposed API:

[code]

The distinction between Loader and Parser exists because the Parser cannot know about any `THREE.*` types, to minimize dependencies in the WW.

/c

[2018-03-21 04:32] donmccurdy commented on #13235
I would suggest that this be explored with some examples before any new `WebGLWorkerRenderer` API is created... I'm not entirely sure arrangement of keeping THREE.Scene content on the main thread and ferrying it through Transferrables to a Renderer in the WW is the right abstraction.

There is an OffscreenCanvas example now (#13253), IMO that is enough for general purposes.

[2018-03-21 05:50] #13235 closed

[2018-03-21 05:57] darkf opened #13649 "Raycaster doesn't return UV2 coordinates"
##### Description of the problem

The raycaster provides UV coordinates of the hit point, but not UV2 (second layer, i.e. `faceVertexUvs[1]`) coordinates.

##### Three.js version

- [x] Dev
- [ ] r91
- [ ] ...

##### Browser

- [x] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [x] All of them
- [ ] Windows
- [ ] macOS
- [ ] Linux
- [ ] Android
- [ ] iOS

##### Hardwar

[2018-03-21 09:37] Mugen87 commented on #13606
What about the remaining two fails? You've mentioned they happen only in the browser, right? Can you please run the test for `BufferGeometry.fromDirectGeometry()` and check if the corresponding model loads (`examples/models/skinned/simple/simple.js`)? Maybe you receive a timeout because the model could not loaded for some reasons...

[2018-03-21 09:39] Mugen87 commented on #11452
Since the docs were updated, i think we can close the issue.

[2018-03-21 09:39] #11452 closed

[2018-03-21 09:59] Mugen87 opened #13651 "Deprecate BinaryLoader"
This was discussed before but i'd like to make a separate issue so it's easier to track the progress. `BinaryLoader` is still used in three examples. However, there are already some PRs by @looeee

- [x] `webgl_materials_cubemap` → #14843
- [x] `webgl_materials_cars` → #14843
- [x] `webgl_effects_parallaxbarrier` → #13084

There is also a dependency to `BinaryLoader` in `examples/js/Car.js`.

Look

[2018-03-21 10:10] Mugen87 commented on #12530
@LuckXP Can you please share the model in this thread?

[2018-03-21 10:23] Mugen87 commented on #10117
I don't recommend to change the semantics of `onBeforeRender()`.

Working with occlusion queries is something specific that needs to be handled by the application for now. Maybe we can adapt at some point something similar like BabylonJS's occlusion queries.

https://doc.babylonjs.com/features/occlusionquery

[2018-03-21 10:40] looeee commented on #13651
That was my original intention, however it turned out that Car.js is quite strictly tied in to the Binary format model being used, which means that just replacing the model with one in a different format doesn't work.

It makes sense to me that if we have something as specific as car controls in the repo, then it should be possible to  use it with any generic car model, consisting of a body, 4 whe

[2018-03-21 10:45] takahirox commented on #13648
Agreed.

About the proposed API, what's the purpose of exporting `.setParser()`? `new THREE.DRACOLoader( {
worker: true } )`  isn't good? (I'm not familiar with neither `DRACOLoader` nor `LoaderSupport` yet.)

[2018-03-21 10:52] Mugen87 commented on #13651
Um, let's start with: `webgl_effects_parallaxbarrier`

I would just copy `webgl_effects_anaglyph` and replace `AnaglyphEffect` with `ParallaxBarrierEffect`.

[2018-03-21 14:05] donmccurdy commented on #13648
That would be fine, too. There may be need for a Parser subclass to isolate code for three.js-independent tasks, but it doesn't need to be exposed to the user necessarily.

Related: https://github.com/kaisalmen/WWOBJLoader/issues/36#issuecomment-374842424

[2018-03-21 14:09] kaisalmen commented on #13648
`LoaderSupport` will disappear. I am currently working on `OBJLoader(2)` version that no longer depends on `LoaderSupport`. It should be replaced by a generic `WorkerLoader` integrating the useful Worker tools from `LoaderSupport`.

My rough idea for it looks as follows:
Any Loaders features these methods where `serializeParser` is optional:
[code]
The loader is given to `WorkerLoader` which eithe

[2018-03-21 14:56] Mugen87 commented on #13651
@looeee Would you like to perform the change (in #13084) or should I make a fresh PR?

[2018-03-21 15:02] mrdoob commented on #9965
@wdanilo if WebGL 2.0 is a priority for your project I would recommend you to migrate over to Babylon. I know some three.js contributors are planning on working on it, but I'm personally focused on WebVR and artists workflows (svg support, etc).

[2018-03-21 15:05] mrdoob commented on #13641
@Fasani Do you get that error only with that example or with all the examples? What graphics card do you have?

[2018-03-21 15:12] #11319 closed

[2018-03-21 15:12] looeee commented on #13651
If you don't mind waiting a day or so I can do it, otherwise feel free to make a fresh PR 👍

[2018-03-21 15:18] WestLangley commented on #13649
Can you please explain your use case?

[2018-03-21 15:19] strangerintheq commented on #11957
Hi!
Problem description:
I have a svg path with holes and i want to extrude geometry from it, everything is fine except usecase where we have a isolated inner figure in source svg path

here is a [fiddle](https://jsfiddle.net/4h19hov1/22/) with example of problem

in fiddle above one hole related to another polygon

 is this bug related to three.js or d3-three code?

[2018-03-21 15:32] wdanilo commented on #9965
@mrdoob I really appreciate your fast answer here. I'd really like not to abandon three.js. I like how the lib is constructed under the hood and its assumptions to be "general" framework, not "game-focused" etc. Anyway, thank you for the information and keeping this clear.

[2018-03-21 15:49] #13641 closed

[2018-03-21 16:00] strangerintheq opened #13653 "Incorrect shape with holes, when one area eclosed by another"
##### Description of the problem

Hi!
Problem description:
I have a svg path with holes and i want to extrude geometry from it, everything is fine except usecase where i have a isolated inner figure in source svg path

here is a [fiddle](https://jsfiddle.net/4h19hov1/22/) with example of problem

[dev-branch fiddle](https://jsfiddle.net/4h19hov1/24/)

at top of the scene: is the final result of ex

[2018-03-21 16:26] Mugen87 commented on #11957
@strangerintheq Please open a new issue for this.

[2018-03-21 16:27] Mugen87 commented on #13651
Let's reuse your PR 😊

[2018-03-21 16:32] Mugen87 commented on #13653
Can you please link to the mentioned code section?

[2018-03-21 16:33] Mugen87 commented on #13653
I could image that nested shapes are not supported so far...

[2018-03-21 17:00] strangerintheq commented on #13653
https://github.com/mrdoob/three.js/blob/dev/src/extras/core/ShapePath.js

Scroll down source to last return statement.
Look at the value of return variable, in my case it contains two shapes, one with hole from another. Code above is trying to resolve the relations between shapes and holes, but..

[2018-03-21 17:04] WestLangley commented on #13653
Pasting the path from the fiddle into `webgl_geometry_extrude_shapes2.html` produces this:

![screen shot 2018-03-21 at 1 01 53 pm](https://user-images.githubusercontent.com/1000017/37724936-381dc5b6-2d08-11e8-9998-a1c4bb2caf00.png)

[2018-03-21 17:06] donmccurdy opened #13654 "Docs: Update comparison of BufferGeometry vs Geometry?"
Current language:

Is this still how we want to compare these, especially if we want to move toward putting Geometry in `examples/js`? The last paragraph particularly sounds to me like we're recommending Geometry for dynamic objects, and I don't think that's the case... perhaps we'd change to something like:

([context on Stack Overflow](https://stackoverflow.com/questions/49391866/a-frame-limit-t

[2018-03-21 17:08] Mugen87 commented on #13653
@strangerintheq What is your intended visual output?

[2018-03-21 17:08] strangerintheq commented on #13653
Svg path is clockwise...

[2018-03-21 17:10] Mugen87 commented on #13653
I mean can you please specify the expected visual output with a screenshot? TBH, i don't understand what you are trying to achieve...

[2018-03-21 17:11] donmccurdy commented on #5045
Closing in favor of https://github.com/mrdoob/three.js/issues/13651

[2018-03-21 17:11] #5045 closed

[2018-03-21 17:14] Mugen87 commented on #13654
Yes, the current wording is somewhat misleading. I like your suggestion since it's clear and compact.

[2018-03-21 17:41] donmccurdy commented on #8086
This looks great, nice work! 🎉

I'm going to close the issue unless there are any specific ways three.js should accommodate this use case better, but for discussion/benchmarks/updates feel free to start a new thread in the [three.js forums](https://discourse.threejs.org/) as well.

[2018-03-21 17:41] #8086 closed

[2018-03-21 17:49] donmccurdy commented on #7277
This is a very easy change if we want it:

[code]

One side effect, `.drawRange` currently overrides only `.groups` that extend outside its start/count, whereas with this change it would clear existing groups. I haven't found any examples using both `.groups` and `.drawRange`, so not sure if that's an issue.

Seems like relatively little maintenance difference to keep `.drawRange`, aside from a fe

[2018-03-21 17:55] strangerintheq commented on #13653
here is expected result [fiddle](https://jsfiddle.net/4h19hov1/30/)
it achieved by manual managing of svg path subpaths sequence

[2018-03-21 18:01] WestLangley commented on #7277
Groups were added to support multiple materials; that is, as a way to specify a material index. They should be called "material groups".

I do not think we should recommend using groups for two purposes. Consequently, I would recommend retaining `drawRange`. JMHO, of course.

[2018-03-21 18:04] WestLangley commented on #13653
What does "manual managing" mean?

[2018-03-21 18:11] donmccurdy commented on #7277
I like the name `.groups` as it also fits splitting to accommodate 65,536 vertices per draw or granular culling, but either way I'm happy with keeping `drawRange` around.

Closing this issue, unless there are any other concerns. 🙂

[2018-03-21 18:11] #7277 closed

[2018-03-21 18:13] WestLangley commented on #13653
Why do you think that worked?

Are your subpaths clockwise or counterclockwise or both?

[2018-03-21 18:15] takahirox commented on #7277
FYI, https://github.com/mrdoob/three.js/pull/13536#discussion_r173913332 my comment in another thread.

[2018-03-21 18:35] mrdoob commented on #13641
Thanks. Please, include graphics card info in the future and perform more testing before reporting.
These false positive issues can be time consuming for maintainers.

[2018-03-21 18:40] wesleyted00 opened #13655 "Suggestion: Remove the mandatory target argument in the THREE.Ray: .at() and similar APIs"
##### Description of the problem

The optional target in the API like THREE.Ray: .at() has become mandatory since r91. It seems the change was discussed in https://github.com/mrdoob/three.js/issues/12231.

However, I suggest that the target argument can be removed. The reasons are:
1. The API will be simple and natural. For example, `ray.at(0.3)` will return a vector object, which is very natural

[2018-03-21 18:46] Busata opened #13656 "Degraded reflector/mirror performance since r90"
Today I've upgraded our codebase from r88 -> r91, everything seems to work fine aside from the reflectors (code which has not significantly changed since r88 from what I see). I've noticed that when checking individual upgrades, the problem starts at r90.

It seems to go exponentially bad when our entire model + mirror are in the frustrum, when I'm right in front of it & little else of the model,

[2018-03-21 18:53] WestLangley commented on #13655
That is true, but it can also lead to unnecessary garbage collection.

It is your responsibility to instantiate objects at the application level. You can create one `Vector3` instance and reuse it, for example.

Those are closures. Only one instance of the `Vector3` is instantiated, and that instance reused in subsequent calls.

[2018-03-21 19:01] WestLangley commented on #13656
Can you create a simple example or jsfiddle that duplicates the problem?

[2018-03-21 19:08] strangerintheq commented on #13653
It seems that all my paths and sub paths is always clockwise

[2018-03-21 20:21] darkf commented on #13649
Yes, my scene has a lightmap (and other textures in lightmap/UV2 space) which I want to sample and draw on as a result of the raycast, a la [Tag](https://en.wikipedia.org/wiki/Tag:_The_Power_of_Paint), Portal 2, Splatoon, etc. For this I need the UV2 coordinates of where it hit -- and since Three already provides UV coordinates, I figure it should provide them on all layers anyway.

[2018-03-21 20:28] autuus opened #13657 "Oculus Touch position is off after library update"
oculus touch controller position is off around y + 1.65 after updating from r89 to r90, the issue is present in r91

[2018-03-21 20:57] Busata commented on #13656
In our codebase, the effect below is even more exaggerated, from running rather smoothly at capped 60fps, to 10fps when a lot of furniture with different materials/geometry are in view. This was not an issue with 88 so something seems different.

Bit of a contrived example, but we render 3D models of houses with furniture in it, so I can't quite easily create an example of that.
(note that if the

[2018-03-21 21:37] mrdoob commented on #13656
I don't see any mirror in these examples... 🤔

[2018-03-21 21:40] Mugen87 commented on #13656
The mirror is at the ground. It's not easy to spot 😅

Um, the only thing i remember is #13110

This change was very necessary since the rendering with mirrors was highly unpredictable and buggy.

[2018-03-21 21:52] Mugen87 commented on #13656
BTW: I'm not sure the tests are 100% valid. The version of `Reflector` should always match the version of `three.js`. Currently you are using the latest version of `Reflector` in all demos.

[2018-03-21 21:57] Busata commented on #13656
@Mugen87 I've checked out the repo, according to annotate on the dev branch, nothing notable has changed since r88

[2018-03-21 21:58] Mugen87 commented on #13656
Okay. I'll try to make a performance analysis tomorrow. I hope can see something obvious in my dev tools...

[2018-03-21 22:10] strangerintheq commented on #13653
I was fixed bug in my case with this code:

https://github.com/mrdoob/three.js/blob/dev/src/extras/core/ShapePath.js
`
return fixShapesHoles(shapes);

function findEnclosingShapes(hole, shapes) {
    return shapes.filter(function (shape) {
        return isPointInsidePolygon(hole.currentPoint, shape.getPoints());
    });
}

function findAllInnerShapes(shape, possibleInnerShapes) {
    return possi

[2018-03-21 22:13] Mugen87 commented on #13599
I guess we need a similar fix like in #11881

[2018-03-21 23:03] eXponenta opened #13659 "nPOT textures can be swapped during the uploading process if the textures were already in Browser Cache."
##### Description of the problem

nPOT textures can be swapped during the uploading process if the textures were already in Browser Cache.

##### Repeating of the problem
 - Open [this link](https://exponenta.github.io/ThreeJsBug/) in Chrome on Android device.
 - Toilets must be bottom of screen, baths must be on top of screen.
 - Reload some page
 - Now bath and toilets mixed on both sides (or ma

[2018-03-21 23:12] zz85 commented on #8790
![image](https://user-images.githubusercontent.com/314997/37742294-05c1022a-2da0-11e8-879d-333d05081763.png)
Took me awhile to spot what the exactly the change was but indeed the contribution is legit 😂

[2018-03-21 23:13] WestLangley commented on #13649
What is your current workaround?

[2018-03-22 00:18] looeee commented on #13659
Confirmed on my Moto G

[2018-03-22 06:40] kaisalmen opened #13663 "Should OBJLoader2 become OBJLoader?"
`OBJLoader2` is now around for a while and I think that especially the Parser has reached at least feature parity with the other implementation. It currently has less known bugs and the code is now more accessible to others than it has been in the past (code reviews&verification in R90 and R91).

`OBJLoader` is more widely used and replacing it with `OBJLoader2` will only be smooth once the follow

[2018-03-22 06:48] kaisalmen opened #13664 "Generic WorkerLoader"
`OBJLoader2` introduced `LoaderSupport` in R88. This separated the more generic Worker related functions from the `OBJ` format loader. My idea was that other loaders could use it to allow worker based loading where it makes sense.

I realized during discussion we had (https://github.com/mrdoob/three.js/pull/13263  and #13648) that this is not the right approach. `LoaderSupport` was over-freighted

[2018-03-22 06:53] kaisalmen commented on #13648
@takahirox and @donmccurdy I have moved the ideas related to `WorkerLoader` to an isolated issue (see above). Sorry for hijacking this issue.

Do you need volunteers for a DRACOLoader utilizing Workers and if when do you need it?

[2018-03-22 07:01] strangerintheq commented on #13653
PS: let me know if you interesting in pull request

[2018-03-22 09:35] Mugen87 commented on #13659
I'm not sure that is a `three.js` bug. When the call `texImage2d()` returns, WebGL ensures that you can reuse the given image/buffer without affecting the upload. If this is not the case there is maybe a problem in the browser implementation.

BTW: I can't reproduce the error in Firefox (Android).

The implementation of `makePowerOfTwo()` was changed because it was not memory efficient to create a

[2018-03-22 10:01] looeee commented on #13659
I can also reproduce this on windows with Chrome 66, but not with Firefox or Edge. Perhaps it's a bug in Chrome?

[2018-03-22 10:17] Mugen87 commented on #13659
I think so. The behavior in Chrome does not conform to the standard. At least from my point of view...

[2018-03-22 10:46] Mugen87 commented on #13656
Um, i think the overhead is produced through additional calls of `initMaterial()` in `setProgram()`. When the reflectors renders the scene, the `lightsHash` of the respective material has changed because it renders the scene in a different `WebGLRenderState`. This will trigger an update of the material (but no program change).
https://github.com/mrdoob/three.js/blob/683289bd00dc2eb8230744c03d7e7c6

[2018-03-22 10:50] Busata commented on #13656
Heh, was about the post the same culprit, profiled our app:

https://imgur.com/a/EVxri

[2018-03-22 11:22] Busata commented on #13656
@Mugen87 from what I gather from that pull request, you've implemented the concept of render states that track the lights/shadows/... used for a rendertarget & restores them upon switching?

If so, the render state for reflector & the scene are in essence the same, is the juggling of materials updates really needed in those scenarios?

[2018-03-22 11:34] Mugen87 commented on #13656
Since the reflector renders with a different view matrix, light uniforms are going to change. So updating these uniforms is necessary, hence the material update.

[2018-03-22 11:34] Busata commented on #13656
Ok, thanks. Will check why the updates in our case affect performance so badly.

[2018-03-22 11:38] Mugen87 commented on #13655
I think the API is fine as it is.

[2018-03-22 11:40] eXponenta commented on #13659
Yep, this is Chrome bug, and was represented in raw openGl.
Test link: https://jsfiddle.net/6nLucq2y/9/, perhaps it's bug in GPU memory.

[2018-03-22 11:42] Mugen87 commented on #13657
Can you please show your code?

BTW: Have you scene these changes: https://github.com/mrdoob/three.js/commit/cfd22c2c4f4621d770f3a5af68b0533e69af5959#diff-eb152a516883cb17690e595058479f49

I guess these PR also affects your application.

[2018-03-22 11:44] Mugen87 commented on #13659
Can you please file a bug at? https://bugs.chromium.org/p/chromium/issues/list

You've already prepared a nice test case 😇

[2018-03-22 16:32] WestLangley commented on #13653
By default, paths should be clockwise; holes counterclockwise. Please try it.

[2018-03-22 17:01] donmccurdy commented on #13648
No concern about hijacking it's all very related. 😅

I've been wanting to try DRACOLoader + workers for a while still haven't gotten started... if you're interested and find time please do! No time constraint.

[2018-03-22 17:04] EerikKivistik commented on #12679
@mrdoob This still seems to be an issue and it also seems to be more widespread than it used to. We have recently started getting more and more reports from our users (3d editor on mobile devices), who are experiencing this issue. As far as I can tell, it affects all releases from r73-r91. I will see if I can compile a list of affected devices. I will also provide some sample screenshots and mater

[2018-03-22 18:50] scottialex opened #13665 "THREE.FontLoader() parse() does not return a THREE Font object instance"
I use my own system getFile() function to retrieve files from our secure app. I fetched the file helvetiker_regular.typeface.json and then parsed it like so:

let loader = new THREE.FontLoader();
let font = loader.parse( jsonFile);

As you can see in my 3 attachments, the parse method returns a generic object, not an instance of a THREE Font object.

When I use loader.load() method it returns an i

[2018-03-22 18:57] Mugen87 commented on #13665
I guess you have to do this:
[code]

[2018-03-22 19:06] scottialex commented on #13665
Aha! I did try JSON.parse() but inadvertently parsed it backwards!

I did this and of course it wouldn't work...
let font = loader.parse( jsonFile );
font = JSON.parse( font );

This is my final working code, thank you!

    getFile( "/fonts/helvetiker_regular.typeface.json", ( jsonString ) =>
    {
      let jsonParsed = JSON.parse(jsonString);
      let loader = new THREE.FontLoader();
      let

[2018-03-22 19:06] #13665 closed

[2018-03-22 19:39] cwilso opened #13666 "Documentation: .filters description doesn't make sense"
The description of the .filters on Audio doesn't make sense -
 just says "Whether the audio is currently playing. Default is empty array."  rather than describing what an element in the array is or represents (WebAudio BiquadFilterNode or any chainable filter, I guess?).  Also, the setFilter behavior seems like it would blow away any previous filters.

(around this line: https://github.com/mrdoob/

[2018-03-22 22:44] kaisalmen commented on #13663
Description has been updated.

[2018-03-22 22:50] kaisalmen commented on #13648
Need to work on `WorkerLoader`/`OBJLoader2` first, but having a real use-case apart from `PCDLoader` for proving the overall concept seems tempting, but it will not be next week 😉

[2018-03-22 23:14] omgitsraven commented on #13236
Here's an example that uses A-Frame, but that makes the problem very clear: http://ravenworks.ca/witch/bugdemo/edgedisappear.html

![edge_disappear](https://user-images.githubusercontent.com/8540042/37803466-37544f76-2e05-11e8-9303-c280d126f523.png)

[2018-03-23 01:12] tanxu1120 opened #13668 "Is there an example of medical imaging (DICOM) ?"
Is there an example of medical imaging (DICOM) ?
I did not find it.

[2018-03-23 08:49] bgirschig opened #13669 "Broken example "webgl_materials_envmaps_hdr""
##### Description of the problem

It looks like the [webgl_materials_envmaps_hdr](https://threejs.org/examples/webgl_materials_envmaps_hdr) example is broken. The mipmap levels are all displayed simultaneously on the ground plane.
There are no errors in the console.

Maybe it's just a bug with the example but I thought it might be revealing a bug with three itself.

![screen shot 2018-03-23 at 9 2

[2018-03-23 08:54] Busata commented on #13656
Since we were using custom materials I was fearing it was that, but replacing them with basic materials causes serious fps drops too. We seem to have 900 different materials in the scene, which probably all get rendered too due to everything being in the frustum at the location where the fps drops. We'll have to hold off upgrading for now I suppose, can't think of alternatives for now to solve thi

[2018-03-23 09:18] Mugen87 commented on #13668
There is only a NRRDLoader with a corresponding [example](https://threejs.org/examples/webgl_loader_nrrd.html) but no `DICOMLoader`.

Reading this [article](https://www.embodi3d.com/blogs/entry/341-how-to-create-an-nrrd-file-from-a-dicom-medical-imaging-data-set/), it seems you want to create a NRRD file from a DICOM Medical Imaging Data Set for visualization purposes in any case.

[2018-03-23 09:25] Mugen87 commented on #13669
No, it's not a bug. It's intended to visualize the environment map.

[2018-03-23 09:25] #13669 closed

[2018-03-23 09:26] bgirschig commented on #13669
oh ok, sorry for that

[2018-03-23 09:50] Mugen87 commented on #13666
Yeah, i guess the current description of `.filters` is some sort of copy/paste error. How about:
[code]

Yes, the description is wrong, too. The method does not perform an add operation. It just sets a single filter and thus overwrites existing filters.

[2018-03-23 09:51] Mugen87 commented on #13666
Would you like to do a PR with the changes 😇

[2018-03-23 10:02] jonnenauha commented on #13663
Yes, I'm all for this. It just depends if backwards compatibility is more important to doob than removing old code from the repo.

I assume if the class `OBJLoader` just gets swapped, is there backwards compatibility in terms of func names, func params and what the funcs return? Or will this break code or force people to port OBJLoader code when upgrading to the release this would be done in? If p

[2018-03-23 10:09] kaisalmen commented on #13663
Functional compatibility parse, load, setMaterials is already provided. It is currently a drop in replacement on dev branch that loads the existing original obj examples.

[2018-03-23 10:31] MarcRibguth opened #13671 "VideoTexture: Doesn't handle file rotation."
Hallo,
It seems that the video from some mobile devices are not rotating correctly. I used the same video element for the right view and the left plain and the rotation is not the same. Other videos are working.

![bildschirmfoto vom 2018-03-23 11-10-49](https://user-images.githubusercontent.com/26739421/37824763-fb7336dc-2e8d-11e8-92d1-139c80b46177.png)

[video.zip](https://github.com/mrdoob/thre

[2018-03-23 10:32] MarcRibguth commented on #13671
![bildschirmfoto vom 2018-03-23 11-10-49](https://user-images.githubusercontent.com/26739421/37824716-d6a382a8-2e8d-11e8-8e3b-bbff009b0511.png)

[2018-03-23 10:53] strangerintheq commented on #13653
@WestLangley but how? it is a input data for me, i cant determine where is shape or hole to reverse hole path

[2018-03-23 12:46] Busata commented on #13656
Realised that we don't use any dynamic lights in the first place. So I can easily circumvent these state switches by setting lights property to false.

[2018-03-23 12:46] #13656 closed

[2018-03-23 14:33] WestLangley commented on #13653
See this [SVG fill-rule property demo](https://codepen.io/AmeliaBR/pen/fmiEv).

[2018-03-23 14:45] MarcRibguth commented on #13671
I can try to do thet, but I'm not shoure when I will have the time for that.
The probelm is, that I use the loaded video data to create the geometry of the mesh on the left side. That part is working fine. But when I load the video on to the plain, the video has not the right rotation like in the video element on the right side.

[code]
I will try to create an example ready the in next days.

[2018-03-23 14:55] WestLangley commented on #13668
/ping @NicolasRannou

[2018-03-23 15:08] Mugen87 commented on #13671
Try you video with this [live demo](https://jsfiddle.net/f2Lommf5/3698/ ) and test if the orientation is correct.

[2018-03-23 16:08] cwilso commented on #13666
What's the right thing to do here?

1. Describe current behavior of setFilter and setFilters, and the .filters array.  This will have some odd text, since the setFilter* methods are kind of odd.  ("This is an array containing any filters that have been set.")
2. Quietly remove mention of setFilters, change setFilter description to be correct. ("inserts a Web Audio filtering node into the audio out

[2018-03-23 16:25] Mugen87 commented on #13666
As a first step, i would choose option one in order to ensure the descriptions actually reflect the current implementation. This is something that we can do now.

However, refactoring `.setFilter()` and `. setFilters()` is something that we should consider. As you said, a single `.setFilter()` method with different semantics is maybe sufficient. Let's see what @mrdoob thinks about it.

[2018-03-23 18:47] MarcRibguth commented on #13671
I checked it and the rotation is wrong. I also noticed, that Windows Media-Player is also not rotating the file correctly. In VLC-Player is the rotation right.

![test](https://user-images.githubusercontent.com/26739421/37848029-0325672a-2ed3-11e8-85e2-60ddbfa6af3e.JPG)

[2018-03-23 19:35] #7354 closed

[2018-03-23 19:36] Mugen87 commented on #13671
I don't think that's a `three.js` related issue. Or do you have a suggestion what the library should make different?

[2018-03-23 20:07] MarcRibguth commented on #13671
I would expect that the texture has the same rotation like the video element I putted in. Or do you know a way to detract the rotation?

[2018-03-23 20:24] Mugen87 commented on #13671
No. And i don't think that's the task of a 3D library.

You should investigate why Windows Media-Player shows the same behavior.

[2018-03-23 21:24] #8790 closed

[2018-03-23 23:41] dlabz commented on #9764
@Foosballfan : IFC is the most efficient way to compress geometry. Problem is, the procedural approach required to render it is not really compatible with triangles. A 34MB IFC can easily extract to a 4GB of triangle streams. IFC describes an elbow pipe with just 4 vertices, but it will take hundreds of triangles to render it. One look at the OP's renderings, and I can tell there is no spoon. Sure

[2018-03-24 00:41] mrdoob commented on #12679
A list of devices (and gpus) would indeed be super helpful!

[2018-03-24 00:51] wesleyted00 commented on #13655
- The expressiveness and naturalness should be much more important for API products.

 `resultVec = myRay.at(0, resultVec);` looks not natural/elegant.

- "Unnecessary garbage collection". Garbage collection is a gift from Javascript and other high-level languages.  How to make GC much more efficient and how to make a better application architecture should not be the focus of API since API has no

[2018-03-24 11:43] throni3git commented on #12679
Same issue on Samsung SM-T555 (Galaxy A). It does support OES_texture_float but not the filtering extension OES_texture_float_linear, whilst supporting OES_texture_half_float_linear and OES_texture_half_float.

Can textures be switched vom type=Float to HalfFloat eaysily?

[2018-03-24 11:56] Mugen87 commented on #12679
Maybe this is related to the usage of `struct` in the shaders. AFAIK, this was introduced with `R74` (see #7324)

[2018-03-24 16:49] zellski commented on #13397
Hey folks -- as of this morning, Facebook no longer rejects RGB (VEC3) vertex colours as "invalid".

The power-of-two textures requirements remains for the moment, but I'm working on that too.

[2018-03-24 17:08] Mugen87 commented on #8906
Closing. See discussion in #9005

[2018-03-24 17:08] #8906 closed

[2018-03-24 17:26] Mugen87 commented on #6121
@makc Can you please have a look if the bug is still present in `R91`: https://jsfiddle.net/XGWGn/133/

I think i could not reproduce.

[2018-03-24 19:14] #13074 closed

[2018-03-24 19:38] Mugen87 commented on #10665
There are even more errors in this doc page.  For example the description for `LuminanceFormat` says:

That's not true. `THREE.FloatType` or `THREE.HalfFloatType` also work.

Example: https://jsfiddle.net/f2Lommf5/1856/

I suggest to remove all sections that starts with: `The type must be...` and just refer to [MDN](https://developer.mozilla.org/de/docs/Web/API/WebGLRenderingContext/texImage2D) in

[2018-03-24 19:40] makc commented on #6121
@Mugen87 this has been fixed between [r77](http://jsfiddle.net/XGWGn/136/) and [r78](http://jsfiddle.net/XGWGn/137/).

[2018-03-24 19:40] #6121 closed

[2018-03-24 19:42] Mugen87 commented on #10665
BTW: The external links are not correct on this doc page. They are not created with `[link:]` but with plain anchor elements. Hence, the navigation is wrong.

[2018-03-24 19:43] Mugen87 commented on #6121
Great 😊 🎉

[2018-03-25 10:02] looeee opened #13682 "Ring geometry being lit from direction opposite to normals with MeshStandardMaterial"
See this [pen](https://codepen.io/looeee/pen/NYaKGN?editors=0010).

The light is affecting the ring geometry from the opposite direction to its normals when it has a `MeshStandardMaterial` applied. This occurs for both `RingBufferGeometry` and `RingGeometry`. Lighting works as expected with `MeshPhongMaterial`.

![front](https://user-images.githubusercontent.com/5307958/37873813-0a8f57e2-304e-11e8

[2018-03-25 10:20] fernandojsg commented on #13397
@zellski coool! :) I'm very close to have fully support for a-painter :D Is there any plan to implement the rest of the primitive modes? Right now I believe just TRIANGLE are supported, It could be great to support the rest, eg in A-painter we're using TRIANGLE_STRIP to save some space 👼

[2018-03-25 10:36] Mugen87 commented on #13682
Wait...everything is correct.

@looeee You just applied wrong values to the constructor of `RingBufferGeometry`.

see https://jsfiddle.net/f2Lommf5/3785/

Instead of
[code]
it should be
[code]

[2018-03-25 11:29] looeee commented on #13682
Oh wow! Haha, didn't see that at all.

The order of parameters is completely opposite to what my intuition says is right, feels like it should be outer, then inner.

Thanks 😁

[2018-03-25 11:29] #13682 closed

[2018-03-25 15:35] #10665 closed

[2018-03-25 15:54] EerikKivistik commented on #12679
I'll add a list of devices that my users are having issues on. I have tried to reproduce on around 30 devices and am unable to find one with the issue. What I do know is that it started happening a lot more often when people upgraded from an older version of Android to Android 7.0. Some of our users are willing to help us debug, so if you have a specific fix you want to try out, I can forward it t

[2018-03-25 16:04] fernandojsg commented on #11951
I've just noticed that the validator throws an error on every normal element on a bufferview that is not normalized. eg If I stored uninitialized values like [0,0,0] it will throw that error.
As it's a error and not a warning/notice I see it's sensitive to fix. What do you think about ensure the normal bufferview elements are normalized? Even so, for values that can't be normalized such as [0,0,0]

[2018-03-25 16:24] takahirox commented on #11951
Seems like `NORMAL` should be normalized.

https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#meshes

[2018-03-25 16:24] #13654 closed

[2018-03-25 16:27] fernandojsg commented on #11951
Yep, but what to do when you don't have an actual normal, like an unused value of [0,0,0], just create a valid one and that's all right? let's say [1,0,0]. So we should modify the bufferview code to detect that we're parsing a normal attribute and normalize each one before saving it to the dataview.

[2018-03-25 16:46] takahirox commented on #11951
Hm.... replacing with a valid one and displaying warning?

I prefer doing that in `processMesh()` because it'd be simpler.

    var originalNormal = geometry.attributes.normal;

    if ( hasNonNormalizedValues( originalNormal ) ) {

        geometry.attributes.normal = convertNormalizedAttribute( originalNormal );

    }

    processAccessorHere();

    geometry.attributes.normal = originalNormal;

[2018-03-25 16:50] fernandojsg commented on #11951
Yep I like that approach, I was afraid to modify the normals after exporting, but it should be ok if we save a reference put them back again after finishing. :+1: Would you mind pushing a PR with these changes? or want me to do it?

[2018-03-25 16:51] takahirox commented on #11951
OK, I will. (Are you in hurry to fix that?)

[2018-03-25 16:55] fernandojsg commented on #11951
@takahirox cool, thanks! but no rush I was just reviewing the state of the exporter ^_^

[2018-03-25 16:55] takahirox commented on #11951
OK, then I'll do tomorrow.

[2018-03-25 20:30] levilime commented on #13606
Hey @Mugen87. The model could not be downloaded due to CORS being disallowed for the `examples/models/skinned/simple/simple.js` resource.

![cors](https://user-images.githubusercontent.com/5917975/37879451-9e526958-3079-11e8-9f26-a27ca98ec407.PNG)

Funnily enough when searching this problem from a two link process from [stack-overflow](https://stackoverflow.com/questions/10752055/cross-origin-requ

[2018-03-25 22:46] calrk commented on #13671
The reason for this is most likely the video rotation metadata that has been saved in the video when filming on a mobile device. The mobile will record the video with whatever its default rotation is, then add in the rotation metadata for video players to use when playing back. The reason I believe is to reduce any video processing needed during recording.

Modern browsers will use this to rotate

[2018-03-26 00:15] richardmonette commented on #13574
<img width="711" alt="screen shot 2018-03-25 at 8 11 10 pm" src="https://user-images.githubusercontent.com/1041278/37881600-c4ee55f6-3068-11e8-9b56-114b5661bb91.png">

Working out the last bugs now but wanted to quickly tease that I've almost got this working!

I started from @bhouston 's HDR environment mapping example, and have add an EXR equiangular -> HDR cubemap generator, which feeds into th

[2018-03-26 00:21] zellski commented on #13397
It would be crazy not to implement them, right? Ideally all valid glTF should be accepted. I don't know how that work will be prioritised, though. We're a small team with a lot of strong urges. :)

[2018-03-26 01:59] looeee commented on #13606
@levilime this is not so much a failing of the tests as a failing of the way you've set up your testing environment - every web app that loads files locally would fail in the exact same way in this case.

A `README.md` file for the tests is not a bad idea though, it could link to the how to run things locally page.

[2018-03-26 08:47] NicolasRannou commented on #13668
@tanxu1120 please have a look at [ami.js](https://github.com/FNNDSC/ami).

You can think of it as an extension of Three for medical imaging. There are a bunch of loaders, helpers, custom shaders that should allow you to look at your data more easily.

https://fnndsc.github.io/ami/#geometries_slice

The difference with other existing web packages is that it is the only one based on WebGL for DICOM