[2017-12-27 17:38] bhouston commented on #7764
@mrdoob hehe.  Very nice.  Basically STL is a brutally bad format - it just wrecks geometry when you convert to it.  If you @Stracx can use the 3MF format instead things will be better for you and given that ThreeJS already supports it, it should be easy to do. :)

[2017-12-27 17:41] bhouston commented on #7764
@Stracx vertex color extension for 3MF is here: https://3mf.io/3mf-materials-and-properties-extension/#_Toc417309091

[2017-12-27 17:45] Mugen87 commented on #9997
@samiasultan Please don't post your help request here. Use the [forum](https://discourse.threejs.org/) or stackoverflow instead.

[2017-12-27 17:55] Mugen87 commented on #12974
Both issues should be fixed now :+1:

eff32a82114d3fe4aed0eb11f5c9b2918696ccb5
92dacdcce9f78eb7aba2df6e915fb073bdd22049

[2017-12-27 17:55] #12974 closed

[2017-12-27 18:48] wdanilo commented on #12978
@WestLangley oh, I have to be blind! Thank you for your answer and yeah, its simple to achieve using current apis! I understand it is better to use just canvases and "draw" there results from render than using multiple renderers? Or using multiple renderers should have similar performance and the scene and all the buffers would be "shared" under the hood?

[2017-12-27 20:56] Mugen87 commented on #12639
The exporter has been removed, see #12930

[2017-12-27 20:56] #12639 closed

[2017-12-27 21:03] Mugen87 commented on #12426
Closing for now. We can reopen the issue if @HangchengQi provides a live demo that shows the problem.

[2017-12-27 21:03] #12426 closed

[2017-12-27 21:05] #12432 closed

[2017-12-27 21:10] Mugen87 commented on #6829
The exporter has been removed, see #12930

[2017-12-27 21:10] #6829 closed

[2017-12-27 21:42] WestLangley commented on #12722
Let's see if @sunag will have a look...

[2017-12-27 21:59] sunag commented on #12722
I will see. I just forgot about it.

[2017-12-27 22:13] WestLangley commented on #12978
Sorry, I have no idea. Perhaps you can try the forum...

[2017-12-27 22:13] #12978 closed

[2017-12-27 22:33] mrdoob commented on #12978
It's better to reuse the same renderer.

[2017-12-28 00:36] #12722 closed

[2017-12-28 01:04] #12956 closed

[2017-12-28 02:56] #4901 closed

[2017-12-28 04:00] donmccurdy opened #12980 "GLTFLoader: No received shadows for spec/gloss materials."
From https://github.com/aframevr/aframe/issues/3325, glTF models using the spec/gloss ShaderMaterial do not receive shadows, while those using the metal/rough MeshStandardMaterial do.

Demo: https://bug-gltf-specgloss-shadows-lbxbxojcha.now.sh/

[2017-12-28 04:00] donmccurdy commented on #12980
/cc @takahirox

[2017-12-28 04:11] takahirox commented on #12980
I'll check into later.

[2017-12-28 04:27] donmccurdy commented on #9473
If the exported OBJ file is incorrect in some way please reopen the issue, but as mrdoob mentions above we don't retain the original OBJ file at runtime, so exports may have structural differences from the original file.

[2017-12-28 04:27] #9473 closed

[2017-12-28 04:31] donmccurdy commented on #9506
FWIW it's also possible to create custom interpolants for AnimationClip using a small hack. See https://github.com/mrdoob/three.js/pull/12907 for an example, which creates a GLTFCubicSplineInterpolant that uses not just control points as inputs, but in- and out-tangents for each keyframe.

[2017-12-28 04:39] donmccurdy commented on #8874
Per https://github.com/mrdoob/three.js/issues/12903, the most reliable way to get animations from Maya would probably be FBXLoader or GLTFLoader these days. If you're able to share an example file (preferably something I can open in Maya LT) I can take a look.

[2017-12-28 04:43] donmccurdy commented on #8747
We're implementing something like this for GLTFLoader in https://github.com/mrdoob/three.js/pull/12907, by creating a new GLTFCubicSplineInterpolant class and overriding `createInterpolant`. If that could be reused for any other formats, perhaps it's a starting point.

[2017-12-28 04:46] donmccurdy commented on #8293
Closing this issue as `convert_obj_three.py` no longer exists. There is a [node.js script](https://github.com/mrdoob/three.js/tree/dev/utils/converters) that fills the same role. See https://github.com/mrdoob/three.js/issues/12903 for some background on why some exporters and converters are deprecated.

[2017-12-28 04:46] #8293 closed

[2017-12-28 04:54] takahirox commented on #12980
In demo, looks like the bottom object receives shadow of the top object.

![image](https://user-images.githubusercontent.com/7637832/34400588-554ede5e-ebd6-11e7-8a3f-3bda2db81946.png)

 Am I missing something?

[2017-12-28 04:58] donmccurdy commented on #8071
As `examples` is not ignored in npm builds, I think the only other open item here is perhaps pulling examples into the npm builds. As that's a duplicate of https://github.com/mrdoob/three.js/issues/9562 and https://github.com/mrdoob/three.js/issues/9403, closing this issue.

[2017-12-28 04:58] #8071 closed

[2017-12-28 05:00] donmccurdy commented on #8009
FWIW I use https://kinolien.github.io/gitzip/ to grab subfolders from GitHub. Never managed to do a partial clone with Git.

Based on that code, if someone wanted to set up a feature for exporters' docs pages to download the latest zip that would be a nice feature I think.

[2017-12-28 05:13] donmccurdy commented on #12522
This is probably a missing feature in the blender exporter, yes. The [glTF Blender Exporter](https://github.com/KhronosGroup/glTF-Blender-Exporter/) does support emissives, but would require some tweaks to the materials in Blender to convert them to PBR and freeze mirror transformations.

Unfortunately this isn't feasible — what you want is probably gaussian blur in post-processing (e.g. [UnrealBl

[2017-12-28 05:17] donmccurdy commented on #9549
Closing this, but feel free to reopen with an example we can debug — thanks.

[2017-12-28 05:17] #9549 closed

[2017-12-28 05:20] donmccurdy commented on #6050
This is a long issue and I'll confess I haven't read everything, but if the problem is still as described by the OP (i.e. need a way to animate a character in Mixamo and load in three.js) then you can accomplish this with the glTF Blender exporter and THREE.GLTFLoader. Here's my workflow: https://medium.com/@donmccurdy/creating-animated-gltf-characters-with-mixamo-and-blender-728dc120e678

[2017-12-28 05:24] looeee commented on #6050
Alternatively you can just export as FBX from Mixamo and load directly using the FBXLoader.
As of the last release (R89) it should work very smoothly.

[2017-12-28 05:26] donmccurdy commented on #12980
Hmm ok I don't see shadows in Chrome, but it's fine in Firefox. That's ... odd. 🤨

[2017-12-28 05:28] takahirox commented on #12980
The screenshot is taken on my Chrome (+Windows10)

[2017-12-28 05:35] donmccurdy commented on #12980
No such luck here, Chrome + macOS. The lighting does animate correctly, just no shadows. Very strange..

<img width="356" alt="screen shot 2017-12-28 at 12 34 28 am" src="https://user-images.githubusercontent.com/1848368/34401192-fb3f7596-eb66-11e7-9034-d968030cd802.png">

[2017-12-28 07:38] unphased opened #12983 "ImageLoader does not URL-escape "+""
##### Description of the problem

AWS S3 rejects `+` in URLs (on GETs), nonconformant to spec. See https://forums.aws.amazon.com/thread.jspa?messageID=722673

It would be nice if there was maybe a way to configure ImageLoader to escape its url's. It's unclear if it would be safe to just change ImageLoader to escape its url's. It would probably break people's stuff.

Since my app directly loads fro

[2017-12-28 11:45] nayanpts commented on #12977
Hello Team,

Thank you very much..

This solution worked for us.

Also, it would be really great if something like material.decalMap existed, so that we could apply both color texture and decal texture on the same face.

Thanks.

[2017-12-28 12:37] tiborsaas opened #12985 "Map textures leak to another object material's maps and break RectAreaLight reflection"
##### Description of the problem

I've run into a very strange bug. I'm not sure if the title describes it correctly, because I'm not even sure how to find a grip on the subject.

A picture will describe it better:

![image](https://user-images.githubusercontent.com/342688/34410781-dd1cdd4e-ebd2-11e7-976e-0809bf72ab1a.png)

What you see here is that the `rectAreaLight`'s reflection on the floor is

[2017-12-28 13:41] takahirox commented on #12980
I made jsfiddle example. I wanted to remove A-Frame from the example.

http://jsfiddle.net/kjpddn34/1/

![image](https://user-images.githubusercontent.com/7637832/34412265-85418f6e-ec1f-11e7-9feb-97d8f044217a.png)

On my Chrome + Windows10, the bottom specular-glossiness model receives the shadow cast by the top specular-glossiness model as the screenshot shows.

How will it be on Mac? (I don't ha

[2017-12-28 14:28] donmccurdy commented on #12983
You can override request URLs for any of the loaders using a [LoadingManager](https://threejs.org/docs/#api/loaders/managers/LoadingManager), as long as the loader uses its manager correctly;

[code]

[2017-12-28 15:01] donmccurdy commented on #12980
Ok, that example does look correct on Chrome + macOS, shadows are fine:

<img width="255" alt="screen shot 2017-12-28 at 9 19 02 am" src="https://user-images.githubusercontent.com/1848368/34413255-30557d86-ebb0-11e7-9ff9-07e2d5daff6b.png">

so the issue must be (a) in A-Frame or (b) something specific to the Skull model...

[2017-12-28 15:12] WestLangley commented on #12985
Can you please create a minimal example that demonstrates the problem?

[2017-12-28 15:40] WestLangley commented on #12977
You can also use the approach explained [in this post](https://github.com/mrdoob/three.js/issues/12135) to do that.

[2017-12-28 16:56] tiborsaas commented on #12985
Here you go:
https://jsfiddle.net/b65n7xp7/1/

If you uncomment the normalMap, the floor texture changes.

[2017-12-28 17:25] atul-mourya commented on #12851
Any thoughts on this issue yet?

[2017-12-28 17:45] WestLangley commented on #12985
For one thing, you need to include this:
[code]

[2017-12-28 17:58] WestLangley commented on #12851
Sorry, I do not have access to those devices, so I am not able to reproduce the issue.

[2017-12-28 18:04] mrdoob commented on #12851
This may have something to do with the `PMREMGenerator` code. I've noticed that some of the levels it creates have "ghost" layers. See the level on the top-left here:

![screenshot 2017-12-28 at 10 00 56](https://user-images.githubusercontent.com/97088/34418999-2e30b72c-ebb6-11e7-9249-e46e7ea898f9.png)

https://threejs.org/examples/webgl_materials_envmaps_hdr.html

/cc @bhouston @spidersharma03

[2017-12-28 18:08] tiborsaas commented on #12985
It fixes the floor, but then the cube's shininess goes away and the normalmap starts to look like a black and white texture.

![image](https://user-images.githubusercontent.com/342688/34419140-7ea57778-ec02-11e7-84eb-7bfdc3e2d4cb.png)

[2017-12-28 18:19] tiborsaas commented on #12985
Hmmm. It was probably because the light was inside the cube, however there still might a bug somewhere.

What do you think that that normal map should look like this?

![image](https://user-images.githubusercontent.com/342688/34419342-9f2a27e0-ec03-11e7-8c8c-d043bc023e8d.png)

[2017-12-28 18:24] #12983 closed

[2017-12-28 18:30] mrdoob commented on #8009
Actually... this is actually a feature request for Github itself.

[2017-12-28 18:30] #8009 closed

[2017-12-28 18:45] tiborsaas commented on #12985
It seems fine, I converted the `RectAreaLightUniformsLib.es6.js` to ES6 and the glitchy effect is now gone.

[2017-12-28 18:45] #12985 closed

[2017-12-28 19:53] makc commented on #8009
[Here is an interesting email from git ml](https://public-inbox.org/git/xmqqtx3npu6e.fsf@gitster.dls.corp.google.com/):
[code]

so, it looks like it can be done with some command line fu using bare git, after all ?

[2017-12-28 20:26] humam-nameer-10p commented on #8100
Im getting the same error. If I try to use the older version I get fileloader is not a constructor. I believe this is related to version of Three.js I am using but on that part I am dependent on forge-viewer model derivative Three.js version. otherwise forgeviewer doesnt work.

[2017-12-28 21:47] mrdoob commented on #12851
Disregard my previous comment, it's an unrelated issue.

I can replicated on Windows/Edge:

roughness: 0.0 - the cubemap is a bit confusing but the result is correct:
![capture1](https://user-images.githubusercontent.com/97088/34424022-2124089e-ebd5-11e7-8cf2-427dfeee681a.PNG)
https://jsfiddle.net/gdzj7ju8/15/

roughness: 0.5 - things get "patchy" indeed:
![capture2](https://user-images.githubuser

[2017-12-28 22:36] mrdoob commented on #8100
What version of three.js does forge-viewer use?

[2017-12-28 22:52] #8874 closed

[2017-12-29 00:05] PeterKey opened #12988 "Resizing Renderer (on orientation change) corrupts window.innerWidth/Height"
##### Description of the problem

I may have discovered a very strange bug:

If you adjust the three.js (full-screen) canvas size by calling `renderer.setSize(window.innerWidth, window.innerHeight)` on resize, switching from landscape to portrait mode messes up window.innerWidth/Height.

Yup, it actually seems to change what window.innerWidth/Height returns.

I have set up a small test case inside

[2017-12-29 02:08] drreparo commented on #12988
It just because physicsResolution, devicePixelRatio.

Example iphone6, css resolution is 375 x 667, physics resolution is 750 x 1334, and devicePixelRatio is 2.
resolution is multiplied by physics resolution and devicePixelRatio . 1500 x 2668.

You can edit devtools device option, custom resolution and custom devicePixelRatio.
and check [https://mydevice.io/devices/](https://mydevice.io/devices/)

[2017-12-29 03:45] unphased commented on #12983
Thank you so much

[2017-12-29 03:54] unphased commented on #12983
This may not be properly wired through with OBJLoader2, but I should have enough information to get somewhere useful with it at least.

[2017-12-29 04:14] unphased commented on #12983
I will have a PR for OBJLoader2 shortly. It's just not passing the LoadingManager through.

I do have a question though. It's clear to see that there exists a difference in behavior with e.g. the `+` URL-escapement between ImgLoader and FileLoader... how much of that matters since loading an MTL causes it to load both types of resources under the hood?

Actually I'm looking at the dev branch now a

[2017-12-29 04:57] atul-mourya commented on #12851
@mrdoob You got it absolutely right this time.

[2017-12-29 04:59] Travis1282 commented on #11487
I'm running into the same problem as James both locally and on a server.

Error: THREE.FBXLoader: Cannot find the version number for the file given.
    at getFbxVersion (FBXLoader.js:3529)
    at THREE.FBXLoader.parse (FBXLoader.js:90)
    at Object.onLoad (FBXLoader.js:53)
    at XMLHttpRequest.<anonymous> (three.js:30794)

![vorona_256](https://user-images.githubusercontent.com/16586743/3442977

[2017-12-29 06:24] mrdoob commented on #11487
@Travis1282 It would be helpful if you could share the .fbx file...

[2017-12-29 09:41] Mugen87 commented on #12988
I've transferred your code to this fiddle: https://jsfiddle.net/bja0cpge/5/

As far as i can see, i get valid results in the console even if i change the orientation of the emulated device.

What do you mean with "messes up"? What values do you get? And what values do you expected?

[2017-12-29 10:33] PeterKey commented on #12988
Thank you for taking your time investigating this!

This is the console output on my sample project.

[code]

The first time I switch from landscape to portrait mode the values aren't correct anymore. It should be 412x732 instead of 732x1301.

Your fiddle seems to work fine for me as well. I actually wasn't able to replicate this in a fiddle, that's why I created the repository.

[2017-12-29 11:05] kaktus40 opened #12991 "BufferGeometry: ComputeVertexNormals"
##### Description of the problem

Hello,
I worked with BufferGeometry and I update positions . Also when I use [computeVertexNormals](https://github.com/mrdoob/three.js/blob/dev/src/core/BufferGeometry.js#L675-L794) and the number of position points is different from the previous state, the normal [array](https://github.com/mrdoob/three.js/blob/dev/src/core/BufferGeometry.js#L703) doesn't fit the

[2017-12-29 12:51] takahirox commented on #10491
WIP tho...

https://twitter.com/superhoge/status/946723196148916225
https://rawgit.com/takahirox/three.js/PointsMaterialLights/examples/webgl_points_dynamic_light.html

[2017-12-29 13:15] Mugen87 commented on #12991
The number of position vectors must be the same. `BufferGeometry`  assumes that the item count of its attributes is static and does not change after creation.

[2017-12-29 13:18] Mugen87 commented on #12991
BTW: This manual page (section `BufferGeometry`) might be helpful to you:

https://threejs.org/docs/#manual/introduction/How-to-update-things

[2017-12-29 13:23] Mugen87 commented on #12988
In any event, i don't think this is a `three.js` issue. It is not a bug in the library if you get wrong values `window.innerWidth` and `window.innerHeight`. I suggest you should post a help request at stackoverlfow.

[2017-12-29 13:26] kaktus40 commented on #12991
Thanks for the guide. It's clear for me.

[2017-12-29 13:26] #12991 closed

[2017-12-29 13:54] kaktus40 commented on #12991
By the way, ``bufferGeometry.drawRange`` commands index array or it only works on position array?

[2017-12-29 14:04] bhouston commented on #12851
Is it related to this Edge bug with regards to PNGs?

I first brought this up here:
https://github.com/mrdoob/three.js/issues/6915#issuecomment-127336788

It has been discussed a few times since:
https://github.com/mrdoob/three.js/issues/10977

[2017-12-29 14:08] bhouston commented on #12851
@atul-mourya should be asking stack overflow, this is not a bug.  It isn't using PMREM, it is just using the fallback CubeLOD method that is low quality.

[2017-12-29 14:10] atul-mourya commented on #12851
@bhouston I think this issue is different. No where I'm using PNGs. Also this issue is not just visible on EDGE or IE but also on so many android devices I tried.

[2017-12-29 14:13] bhouston commented on #12851
@atul-mourya You are just not using Three.JS correctly.  Please refer to the examples.  See my second comment.

[2017-12-29 14:58] donmccurdy commented on #12942
I've renamed the issue *Loaders: Inconsistent implementations of .setPath()*, as I think the changes to consider would be:

1. [ ] Ensuring that all loaders use `setPath()` for extra resources but not the original request.
2. [ ] Deprecate `setPath()` on FileLoader and ImageLoader, as they have no extra resources.
3. [ ] Consider renaming `setPath()` in cases where it must behave differently than

[2017-12-29 15:54] Mugen87 commented on #12991
It depends on whether the geometry is indexed or non-indexed. So if you have no index buffer, `drawRange` refers to the amount of entries in the position buffer.

[2017-12-29 16:10] WestLangley commented on #12991
@kaktus40 Please TRY before you ask.

[2017-12-29 17:05] Travis1282 commented on #11487
Sorry about that:

http://realetravis.com/travis/FBXLoader/models/flying_sparrow.fbx

[2017-12-29 18:14] wolfgangvonludwigsburg commented on #12942
I think in the "loaders class tree", there are even more inconsistencies as well;
if I only focus on .obj and .gltf, there are differences in the granularity of the returned interface objects,
eg.:
- OBJLoader  returns a _group_ object
- OBJLoader2 returns _object.detail.loaderRootNode_ (= group)
- GLTFLoader returns another _"compound object"_ ...

BTW, another issue I found out, it seems as if t

[2017-12-29 18:36] mrdoob commented on #11487
/ping @looeee

[2017-12-30 00:59] donmccurdy commented on #12942
The differences in returned values have various reasons, some intentional some probably not... glTF may contain more than just a model, so a `THREE.Group` is not sufficient. Feel free to open a new issue to suggest changes, but I think it's too complex a thing to discuss in this thread.

About points, could you open a new issue describing what you've tried that isn't working? Some formats support

[2017-12-30 01:12] takahirox commented on #12942
I'm not sure if it's the same issue you're facing, but I'm already aware of that `GLTFLoader` can't handle(display) `Points` correctly.

The reason is `GLTFLoader` doesn't create `PointsMaterial` for `Points`. `Points` needs `PointsMaterial` to be rendered. It can't be rendered with `Mesh*Material` (If I'm right).

I already started to work on the fix in my local branch.

Another issue I'm aware o

[2017-12-30 01:58] PlumCantaloupe commented on #12980
I did notice that the lighting works on Windows 10 (FF57) also; but yes nothing on Mac OSX High Sierra (FF57) or iPhone iOS11 (Safari). I also re-exported the model using blender and Khronos GLTF exporter plugin ( https://github.com/KhronosGroup/glTF-Blender-Exporter ) and shadows are received for MetalRough worked but not SpecGloss.

I am just getting into Aframe and Three.js but you can see an e

[2017-12-30 02:33] takahirox commented on #12980
I updated jsfiddle example with Skull specular-glossiness model.

http://jsfiddle.net/kjpddn34/2/

Looks fine on my Windows10 + Chrome.

![image](https://user-images.githubusercontent.com/7637832/34450730-147cf142-ed55-11e7-89a6-16d489958211.png)

How about Mac?

[2017-12-30 03:15] donmccurdy commented on #12980
Thanks, in Chrome on macOS I do see the shadow on the skull as well.

So, I guess that narrows the issue down to something A-Frame specific?

[2017-12-30 03:22] takahirox commented on #12980
Maybe yes?

I haven't read the related A-Frame code yet but I guess there's `if ( material.isStandardMaterial )` that's missing specular-glossiness material or something? (But it can't explain why this's platform specific issue...)

[2017-12-30 03:25] donmccurdy commented on #12980
Here's the relevant code: https://github.com/aframevr/aframe/blob/master/src/components/shadow.js#L35-L51

It might be just some edge case where `material.needsUpdate = true` isn't called.

[2017-12-30 04:14] takahirox commented on #12980
That could be?

Running the following code on the console would be able to check if that's the issue.

    document.getElementsByTagName('a-scene')[0].object3D.traverse( function ( obj ) {

        if ( obj.material ) {

            if ( Array.isArray( obj.material ) ) {

                for ( var i = 0, il = obj.material.length; i < il; i ++ ) {

                    obj.material[ i ].needsUpdate

[2017-12-30 07:33] wolfgangvonludwigsburg commented on #12942
@donmccurdy, @takahirox: Many THX for your responses so far!

Don has recently "widened" the issue concern,
if you go one step further, it could even become: _loaders - code quality / orthogonal code testing_

I mean something like (pseudo code):

[code]
I can write a
- test case to accomplish that (in the coding style of e.g. examples/webgl_multiple_elements.html), or
- write unit tests (like tes

[2017-12-30 09:22] Claod44 commented on #12913
Hi Mugen,

`audioLoader.load( 'sounds/ping_pong.mp3', function ( buffer ) {
			for ( var i = 0; i < count; i ++ ) {
				var s = i / count * Math.PI * 2;
				var ball = new THREE.Mesh( ballGeometry, ballMaterial );
				ball.castShadow = true;
				ball.userData.down = false;
				ball.position.x = radius * Math.cos( s );
				ball.position.z = radius * Math.sin( s );
				var audio = new THREE.Position

[2017-12-30 11:12] Mugen87 commented on #12913
Of course you can do this:
[code]
Same loader for different URLs.

The next time, please post a help request at the [forum](discourse.threejs.org) or at stackoverflow.

[2017-12-30 11:59] Claod44 commented on #12913
I was doing so x)

[code]

I call this function with another URL and the console.log says : THREE.Audio: Audio is already playing.
I just needed to stop the music, to replace the source --', I tried before without success, now it's working, thanks a lot for your confirmation 👍

[2017-12-30 14:15] donmccurdy commented on #12980
Heh, now the demo A-Frame demo is showing shadows for me correctly too: https://bug-gltf-specgloss-shadows-lbxbxojcha.now.sh/ ... maybe a race condition with that `scene.hasLoaded` check, then? I was on a slower internet connection earlier.

[2017-12-30 14:24] sjpt opened #12997 "Feature request: user control of VR resolution"
##### Description of the problem
It is sometimes desirable (for performance/quality tradeoff)  to prepare VR frames at a resolution other than the recommended one.  This can be achieved for Vive (with limited detail on the control) using the supersampling slider in the SteamVR settings.  It would be convenient to be able to do so under program control

This can be achieved with a setting such as `

[2017-12-30 14:50] wolfgangvonludwigsburg commented on #12942
To be more concrete (I'll work it out next days; **Happy 2018 !!**):
[code]

[2017-12-30 17:55] mrdoob commented on #12988
That means that the error is in your code and not in the library or browser.

[2017-12-30 17:55] #12988 closed

[2017-12-30 18:47] #12946 closed

[2017-12-30 18:48] Mugen87 commented on #11138
Should be solved with #12950

[2017-12-31 05:05] Pansaai commented on #6840
Hi guys, is this still being worked on ?

[2017-12-31 05:30] DoomTay opened #13002 "VRMLLoader: Support Text Nodes"
##### Description of the problem
[Here](http://hedges.org/thehedges/Ver21.wrl) is one such example of a text node with a "size" field containing only one number.
##### Three.js version

- [x] r89

##### Browser

- [x] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [x] All of them
- [ ] Windows
- [ ] macOS
- [ ] Linux
- [ ] Android
- [ ] iOS

[2017-12-31 12:36] Mugen87 commented on #13002
Yes, this feature is not supported. Maybe we should rename the issue to "VRMLLoader: Support Text Nodes" or something like that. Besides, the semantic of `size` is different when it's used inside `fontStyle`.

[2017-12-31 13:15] Mugen87 commented on #12903
@donmccurdy I'm afraid you can't use `FBXLoader` inside a node.js script since you don't have access to the DOM. All loaders which utilize `TextureLoader` have a dependency to `ImageLoader` and therefore to `document`. You will get runtime errors like `ReferenceError: document is not defined`.

[2017-12-31 14:19] Mugen87 commented on #12530
I figured out a clean way that should solve the issue.

[2017-12-31 16:24] DoomTay commented on #13002
It seems that VRMLLoader fails to support a few things besides V1. I couldn't get it working with [this](http://hedges.org/thehedges/Ver21.wrl) or [this](http://www.rccad.com/Gallery/Vrml/stratoracer.wrl) or [this](https://web.archive.org/web/20080922201846oe_/http://www.itl.nist.gov/iaui/ovrt/projects/vrml/VRML2/PCAR.wrl) NIST-developed one

It's a shame, because I was hoping to use this as the b

[2017-12-31 23:49] buchanae commented on #9916
Can we reopen this then? Having an way to do this via THREE.js seems reasonable, and since there's a thick layer of THREE.js code between my app and webgl, I'm really not sure how to start working around this.

[2018-01-01 04:13] looeee commented on #11487
@Travis1282 would you mind opening a new issue about this? I'll take a look.

[2018-01-01 04:59] MohmadAyman commented on #12530
I can help trying it out when ready 👍

[2018-01-01 12:05] gero3 opened #13011 "LoopRepeat executes an action once too many"
##### Description of the problem

When I was writing the unit test of AnimationAction, I noticed something I didn't expect. When asking to LoopRepeat a action 3 times, it executes the action 4 times, I think.
Example: https://jsfiddle.net/wqoLka39/3/

##### Three.js version

- [x] Dev
- [ ] r89
- [ ] ...

##### Browser

- [x] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

[2018-01-01 12:12] hxnan commented on #6840
I am sorry for this ,I want to do this work when I  was a college student and learning the graphics.
But I has got an Operation Engineer Job. So ...close this issue.

[2018-01-01 12:12] #6840 closed

[2018-01-01 13:27] bhouston commented on #12530
BTW just to be clear, because I missed this originally, we use the Autodesk FBX SDK export to create the Collada files exported from Clara.io.  It has proven to be buggy.

[2018-01-01 14:05] wrcstewart opened #13012 "Feature request: Example of complete clean up."
It would be useful to have a definitive example of cleaning up objects/scenes/mesh/geometry and any etc's. This would be useful for those that want to carry out changes  dynamically by recreating a mesh.

Please also show when and how any reuse of a structure might be more appropiate. As newbie I'm not sure what is meant by phrases like "reusing" a geometry.

[2018-01-01 14:13] wrcstewart commented on #13012
Can anyone tell me where I find the feature request Label! ? Can't see it anywhere ....

[2018-01-01 16:19] #12530 closed

[2018-01-01 16:35] mrdoob commented on #13011
/ping @tschw

[2018-01-01 16:35] mrdoob commented on #13011
/ping @bhouston @tschw

[2018-01-01 16:40] donmccurdy commented on #13011
This is documented under AnimationAction.repetitions:

[2018-01-01 16:41] mrdoob commented on #12903
@Mugen87 Maybe, as a temporal workaround, we could redefine `ImageLoader` and `FileLoader` in the `fbx2three.js` file?

[2018-01-01 16:42] Mugen87 commented on #13012
There are already two examples which illustrate how to clean up things.

https://threejs.org/examples/?q=memory

BTW: You don't have the permission to set labels in the project.

[2018-01-01 16:42] donmccurdy commented on #13011
^I've been surprised by that as well. Not sure if there's another way to phrase the API that would feel more intuitive.

[2018-01-01 16:45] donmccurdy commented on #12903
I think this would be simple enough, and still require much less code than the python converter there now... i'll give that a try.

[2018-01-01 16:48] Mugen87 commented on #12903
Good idea :blush:

[2018-01-01 16:50] Mugen87 commented on #13012
Also see #11345

[2018-01-01 20:43] bhouston commented on #13011
This is confusing.  We should just change the behavior to be what everyone
expects.

Best regards,
Ben Houston
http://Clara.io Online 3d modeling and rendering

On Jan 1, 2018 11:43 AM, "Don McCurdy" <notifications@github.com> wrote:

[2018-01-01 22:51] kaisalmen commented on #12900
@unphased I opened https://github.com/kaisalmen/WWOBJLoader/issues/32

[2018-01-02 06:36] looeee commented on #11487
@Travis1282 your model gets past the version check in the latest FBXLoader:

[code]

However something in the BinaryParser is failing silently and I haven't been able to figure out where, except that there seem to be some non-unicode characters parsed (displaying as `?` when I log them to the console).

It's likely that this is because your model is a very old version - the current FBX Binary vers

[2018-01-02 07:42] gero3 commented on #13011
I agree.

[2018-01-02 12:56] wdanilo opened #13019 "ShaderMaterial.onBeforeUpdate method"
##### Description of the problem

Feature request.

Can we have ShaderMaterial.onBeforeUpdate function?

Use case:
I'm generating vertex and fragment shaders based on some user-defined properties. Generation is generally cheap, but it would be great if it would happen only when necessary. So when user defines a property, I've got two ways to follow:
  1. I can generate new shaders and set `materia

[2018-01-02 14:24] yiakwy opened #13020 "Three.js cannot work with Tern."
##### Description of the problem
Most npm modules can work with Tern (tern_for_vim), but I found tern_for_vim cannot complete three.js when I import three using ES6

##### Three.js version

- [ ] Dev
- [x] r89
- [ ] ...

##### Browser

- [x] All of them
- [x] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [x] All of them
- [ ] Windows
- [x] macOS
- [ ] Linux
- [ ] Android
- [ ] iOS

###

[2018-01-02 14:28] looeee commented on #13020
It seems likely that this is an issue you should raise with the tern_for_vim developers.

[2018-01-02 15:24] Mugen87 commented on #13020
I'm not familiar with tern but there is a tern file which is used in the editor (see [here](https://github.com/mrdoob/three.js/blob/dev/editor/js/libs/tern-threejs/threejs.js)).

But be careful. This file is not really maintained and does not reflect the entire API.

[2018-01-02 15:26] Mugen87 commented on #13012
I'm marking this as a duplicate. Please continue the discussion in #11345 :+1:

[2018-01-02 15:26] #13012 closed

[2018-01-02 18:35] WestLangley commented on #13019
Can you please provide a live example to demonstrate your use case?

Why do you need to set the `needsUpdate` flag, and why are you not able to control when shaders are created?

[2018-01-02 19:34] pailhead commented on #12903
This may not be entirely true, .max is more like the same category, .3ds is pretty stripped down.

[2018-01-02 19:41] pailhead commented on #12903
I liked having the 3ds max exporter around as an example of how to write an exporter, and on maxscript as well. I don't think i was ever able to export the correct tangent space from 3ds max via fbx, with maxscript it's easy to experiment and grab the stuff you need.

[2018-01-02 19:47] donmccurdy commented on #12903
Worth putting in a new repo, with appropriate disclaimers? All for examples of how to write an exporter, but if it’s unmaintained and FBXLoader is now more reliable, we don’t want people assuming it’s the recommended way to bring assets from 3DS Max into three.js.

[2018-01-02 19:50] Mugen87 commented on #12903
Yeah, if anything then i vote for a new repo.

[2018-01-02 22:32] pailhead commented on #12977
@WestLangley

Any chance you could give some thoughts on why you're suggesting this:

Rather than using `material.onBeforeCompile`?

Why would you monkey patch this and override it globally?

[2018-01-02 23:53] WestLangley commented on #12977
Because it was easy.

The built-in materials still work as they did prior to the monkey patch, and the new decal feature works with multiple built-in materials.

[2018-01-03 00:13] pailhead commented on #12977
Easy for this specific example, or easy overall? Would you do this instead of the `onBeforeCompile` or you wouldn't have `#ifdef` branching if you changed the shader for a specific material? Not trying to be a smart-ass, just trying to understand the way of thinking.

[2018-01-03 00:34] mrdoob commented on #11422
Implemented in https://github.com/mrdoob/three.js/commit/0eeee30112c2c39524adda9a267924d8515f2070#diff-c95aa6af1ef517957bfbff6af39992f5

[2018-01-03 00:34] #11422 closed

[2018-01-03 01:11] pailhead commented on #13019
Why not set the flag then?

[2018-01-03 02:22] WestLangley commented on #12977
I did not give it that much thought. `onBeforeCompile()` is a perfectly fine solution, too.

[2018-01-03 03:28] yiakwy commented on #13020
Hi @looeee I also reported the problem to tern developers.  I use vim in server side and try to build a modern ES development environment within vim. It was true (C, python, es6 with other modules) until I use three.js. It takes me a lot of time before I figure out that there might be some conflicts between three.js and tern_for_vim.

@Mugen87 Thanks for your help.  [tern_for_vim](https://github.c

[2018-01-03 06:51] loldrup opened #13025 "Documentation: Filter by Method Names"
It seems nothing shows up when I filter on 'triangulateShape' on https://threejs.org/docs/
Is that intended behavior? Can you reproduce?

[2018-01-03 07:07] zwcloud commented on #6397
Has this issue been solved?

[2018-01-03 07:38] looeee commented on #13025
TriangulateShape is in the [ShapeUtils page](https://threejs.org/docs/#api/extras/ShapeUtils).

Currently the search only works for pages, not internal hrefs within pages.
It would be great if it also searched within pages, so we could return results for things like:

`threejs.org/docs/#api/extras/ShapeUtils.triangulateShape`

[2018-01-03 08:48] trusktr commented on #2916
@WestLangley

This does not solve the problem.

Here's one sample using one material instance per mesh (the slow case) with different colors:

https://codepen.io/anon/pen/JMydzb

and here's an attempt to use only a single material shared with all meshes, and using `onBeforeRender` to change the color of each mesh, but what you will notice happens is that all meshes are rendered the same color, pro

[2018-01-03 09:14] trusktr commented on #2916
Maybe there's opporrunity to detect certain scenarios and do auto-instancing? Is that possible? Does that cause problems with sorting?

[2018-01-03 09:16] Mugen87 commented on #13025
I'm not sure if it's worth to implement something like a full-text search. I prefer to keep things simple even if we have to live with some limitations. The code base of the docs is already quite big (and maybe too complex).

BTW: I can find the documentation page when i just type into google : _triangulateShape_. Even three.js is not required^^.

[2018-01-03 09:19] trusktr commented on #2916
Looks like that was attempted in https://github.com/mrdoob/three.js/pull/10093.

[2018-01-03 09:48] looeee commented on #13025
@Mugen87 I agree that a full text search is not necessary - however, each class's parameters and methods are included as internal hyperlinks and it would be useful to be able to search these.

For example, it would be great to easily see which classes override an inherited method such as [Object3D.clone](https://threejs.org/docs/#api/core/Object3D.clone). There is currently no easy way to check th

[2018-01-03 15:52] radiantmediaplayer commented on #9754
So I was happy for about 1H this morning when I managed to crack the iOS 11 case with the above workaround (@danrossi I took inspiration from your example at http://dev.electroteque.org/webgl/three-canvas.html) ... but then I put my glasses on and felt like an ice-cube under the desert sun.

This is the result I get on an iPhone 6 Plus with iOS 11.2.1, animation is actually pretty smooth but it is

[2018-01-03 15:59] danrossi commented on #9754
I'm doing this. I am fairly certain this should size it correctly.

[code]

[2018-01-03 16:06] nuliknol opened #13028 "Getting map files from the editor?"
Could you add a feature to the editor, to download map files ?
For example, this mesh, has 3 maps (Map,Rough Map, and Env Map):
https://threejs.org/editor/#file=https://mrdoob.neocities.org/021/app.json
however , if I click on the texture icon it asks me to upload a file, but what I want is to download it.
Is this possible to implement?
In the mean time, where exactly the URL is stored in the app.

[2018-01-03 17:36] WestLangley commented on #6397
@zwcloud The issue was addressed by https://github.com/mrdoob/three.js/commit/1cdc0957319dfd203f314b132fd8ea2178c478bd, so apparently, it has.

[2018-01-03 19:05] makc opened #13031 "feature request: support points in obj"
While working with the client files exported from JNetCAD, I had this error:
![screen shot 2018-01-03 at 20 00 27](https://user-images.githubusercontent.com/242577/34535042-fabbd0e2-f0c0-11e7-9119-bea8660eceb0.png)

which was caused by following group:
![screen shot 2018-01-03 at 19 59 38](https://user-images.githubusercontent.com/242577/34535067-0e7bb6b0-f0c1-11e7-9e86-6aa7e154ad72.png)

I think

[2018-01-03 19:26] WestLangley commented on #2916
@trusktr  Apparently the uniforms are not being updated.

If we want to support updating material properties in `onBeforeRender()`, we may need something like a `material.uniformsNeedUpdate` flag to force it.

If you want to pursue this.

[2018-01-03 21:14] sam-g-steel commented on #9373
@bhouston I would love to do a white paper for SIGGRAPH! Thanks for the suggestion!
@honorabel I'm working on a preview... I hope to have it up soon! I've been redoing some logic to yield better compression and to work with the new improvements that @WestLangley added to the LTC Dataset.

[2018-01-03 22:42] mrdoob commented on #10491
Interesting! We should think how to name it...
`PointsMaterial` would become `PointsBasicMaterial` and we would need `Points???Material`?

[2018-01-04 00:45] #6397 closed

[2018-01-04 00:57] trusktr commented on #2916
@WestLangley So before every draw call of every mesh, it'll update the uniform? Seems like an edge case that should be handled. This also would not work with any of the proposed auto-instancing by @Benjamin-Dobell, right?

[2018-01-04 01:06] mrdoob commented on #2916
@trusktr are you still mainly drawing planes...?

[2018-01-04 01:10] #6050 closed

[2018-01-04 02:03] trusktr commented on #2916
@mrdoob I'm making a general purpose HTML interface for 3D. I'd like anyone to be able to make anything with it, so I'm experimenting with ways to improve performance without any specific use case in mind.

The Planes are for the specific "mix DOM with WebGL" use case.

[2018-01-04 08:34] lettywiterock opened #13036 "Camera 这个怎么设置？"
在nodeThreeObject 添加了 Camera？ 使用 array[]：还是function
例：
[
new THREE.MeshLambertMaterial({
            color: Math.round(Math.random() * Math.pow(2, 24)),
            transparent: true,
            opacity: 0.75
          }),
new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 0.1, 1000)
]

if 需要点击事件 -->  onNodeClick（）
直接修改：new THREE.PerspectiveCamera(75, window.innerWidth/window.in

[2018-01-04 08:40] looeee commented on #13036
Please ask help questions on the forum: https://discourse.threejs.org/

请在论坛上提问帮助: https://discourse.threejs.org/

You'll probably get a better response if you ask in English too, even using [automatic translation](https://translate.google.com).

[2018-01-04 08:40] #13036 closed

[2018-01-04 09:04] harry-liu opened #13037 "webgl_loader_gltf memory problem"
##### Description of the problem

in this tutorial, after switch models for many times the memory is grow quickly, is there any way to fix it?

https://threejs.org/examples/webgl_loader_gltf.html

##### Three.js version

- [ ] Dev
- [x] r89
- [ ] ...

##### Browser

- [x] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [x] All of them
- [ ] Windows
- [ ] macOS
- [ ] Lin

[2018-01-04 09:19] looeee commented on #13037
Confirmed  on Windows 10, Chrome Version 64.0.3282.71 (Official Build) beta (64-bit).

RAM usage is steady about 120mb, but every time I switch models GPU memory use jumps ~200mb.
Pretty soon it gets maxed out and then I get a black screen with the dreaded "Rats! Webgl hit a snag" message.

[2018-01-04 09:27] takahirox commented on #13037
The issue confirmed.

That example creates a scene and a renderer when switching model.
I speculate old resources aren't disposed correctly.

I'll look into later...

[2018-01-04 12:04] Mugen87 commented on #13028
The images are stored as a Base64 encoded string. You can manually extract the string and decode it (e.g with an [online converter](https://codebeautify.org/base64-to-image-converter)).

[2018-01-04 12:09] Mugen87 commented on #13025
I've renamed the issue so it describes the actual feature request 😇

[2018-01-04 13:35] Mugen87 commented on #13020
I don't think we can help here. Closing for now.

[2018-01-04 13:35] #13020 closed

[2018-01-04 13:43] #12172 closed

[2018-01-04 13:49] Mugen87 commented on #11888
Closing since this issue seems to be solved.

[2018-01-04 13:49] #11888 closed

[2018-01-04 13:59] Astrak opened #13038 "LensFlares : support logarithmic depth"
Currently the flares are rendered in a special pass, the code being in the WebGLFlareRenderer. It checks if the lensflares are visible by rendering a depth mask.

However the depth mask shader does not handle the case of the logarithmic depth buffer, causing the flares to be hidden by objects behind them.

I've started crafting solutions but didn't find something conclusive yet, opening this issue

[2018-01-04 16:18] Mugen87 commented on #12777
I think it's no problem that `currentRenderList` is not initialized. `renderLists.dispose();` is the important call that cleans up all references inside `WebGLRenderLists`.

@mrdoob About the properties object: Why not rename the `.clear()` of `WebGLProperties` to `.dispose()` and call it inside `renderer.dispose()`? Same for `WebGLObjects`.

[2018-01-04 16:22] MrEveryhand opened #13040 "Json export corrupted vertices"
Good day everyone!

I have next problem:
I exported blender model into json format, which previously I exported from maya fbx format to blender. Also I want to export one morph target with it, but when I do this, three js show me corrupted mesh (see picture below). Without morph target it looks normal, but with it many vertices on my model are pushed to the geometrical center.

Please answer if so

[2018-01-04 16:25] #12777 closed

[2018-01-04 16:30] Mugen87 commented on #13040
I guess you already posted this question here.

https://discourse.threejs.org/t/export-json-from-blender/1567

Github is not intended for help request. I've answered on your question at the forum.

[2018-01-04 16:30] #13040 closed

[2018-01-04 16:31] radiantmediaplayer commented on #9754
So I nailed it after a bit a poking. It appears that in our config the off-dom canvas must be of the exact size of the current HLS rendition being played in order to render correctly (hence for ABR it needs to be updated each time the rendition changes). Our testing shows this works ok for iOS 11 (ok is better than nothing). Leaving this here if it helps someone else.

[2018-01-04 16:32] donmccurdy opened #13041 "GLTFLoader: Simplified examples"
The current glTF examples are functioning as unit tests more than anything else – the code is complex to support all of the options and extensions, has a custom GUI, and isn’t a very easy reference for developers.

I’d like to clean that up: show just a few nice-looking example models and either put each example in a new page (as COLLADA does) or use dat.gui and reduce the complexity of the code.

[2018-01-04 16:33] donmccurdy commented on #13037
I wonder if we should simplify the glTF examples... right now they’re more unit tests than anything else, and not a very helpful reference for developers... opened https://github.com/mrdoob/three.js/issues/13041

[2018-01-04 16:46] Mugen87 commented on #13041
I like this proposal. Three examples with different emphases (basic, animation, advanced) sounds reasonable.

[2018-01-04 17:07] takahirox commented on #13041
I was gonna propose the same thing.
The current glTF example is too complicated and we should simplify.

I'll think again how to organize tomorrow (I'm about to sleep now!) but personally prefer less examples for good maintenance. Maybe "simple example with one animated model" and, if necessary, another one for develop purpose. (I think animated one can cover non-animated one)

[2018-01-04 18:32] danrossi commented on #9754
Yeah , hence I do it in the loadedata event to get the video width. I figured this out before and it had your same problem.

However for native HLS there is no event when a bitrate changes ? I'm just setting in the once personally. The amount of work arounds for Apple is already incredible enough.

[2018-01-04 21:46] wdanilo opened #13042 "Incorrect program output when Material.transparent=true is set."
##### Description of the problem

Here is a sample scene:
https://jsfiddle.net/s3rjfcc3/1/

If you move mouse over the ball, you can see values printed to console: `[5, 37.5, 30, 5]`, however, the shader outputs following values instead: `[1.0,7.5,6.0,5.0]`. This problem occurs when we are using `transparent:true` in the Material settings. Without it, it runs correctly.

##### Three.js version

-

[2018-01-04 21:50] pailhead commented on #13042
Might be related - https://stackoverflow.com/questions/17981163/webgl-read-pixels-from-floating-point-render-target

[2018-01-04 21:57] wdanilo commented on #13042
Ok, guys on the three.js slack just discovered what it is. It is alpha premultiplication!

[2018-01-04 22:05] #13042 closed

[2018-01-04 22:08] pailhead commented on #13042
there's a three.js slack?

[2018-01-04 22:27] manthrax commented on #13042
@WestLangley The three.js slack started by @repsac has been getting a fair amount of use over the last year.. If you want to direct help questions here: https://threejs-slack.herokuapp.com/

[2018-01-04 22:51] WestLangley commented on #13042
@manthrax Thanks for the tip. SO seems to have fallen out of favor somewhat.

/ping @Mugen87 Maybe we should link to slack, too.

[2018-01-04 23:01] mrdoob commented on #13042
There is a link to slack right in https://threejs.org/ 🤓

[2018-01-04 23:16] WestLangley commented on #13042
:-)

A link [here](https://github.com/mrdoob/three.js), too, may be helpful -- and perhaps a help section linking to all the help sites on the [Wiki](https://github.com/mrdoob/three.js/wiki).

[2018-01-05 00:07] mrdoob commented on #13041
👍

[2018-01-05 00:10] mrdoob commented on #13028
You can use the browser developer tools for that. In the case of Chrome:

<img width="1254" alt="screen shot 2018-01-04 at 4 09 05 pm" src="https://user-images.githubusercontent.com/97088/34590138-b2ee6816-f169-11e7-82f4-43de84575c47.png">

[2018-01-05 00:10] #13028 closed

[2018-01-05 00:36] mrdoob commented on #13037
Closing this in favour of #13041

[2018-01-05 00:36] #13037 closed

[2018-01-05 00:38] mrdoob commented on #2916
@trusktr have you done performance profiles that shows that this is an issue in your use case?

[2018-01-05 00:39] mrdoob commented on #12777
@Mugen87 sounds good 👍

[2018-01-05 02:27] harry-liu commented on #13041
pls show how to manage the memory when switch models in new gltf examples

[2018-01-05 03:17] looeee commented on #13041
@harry-liu that's not the purpose of the GLTF example.

See these examples for details of memory management: https://threejs.org/examples/?q=memory

[2018-01-05 03:30] harry-liu commented on #13041
@looeee thanks, but still dont know how to use gltf loader to manage memory

[2018-01-05 03:40] wdanilo commented on #13019
@WestLangley if that would be necessary I will create an example, but I will try to explain myself better first.

@pailhead: It's not this optimization I'm looking for.

I've got some objects, that are user defined. These objects are rectangles with shapes defined as SDF functions. User is provided with an API to define how the shape looks like, in particular, it is possible to re-define the shape

[2018-01-05 03:46] looeee commented on #13041
@harry-liu GLTFLoader doesn't manage memory, it just loads models. If you need any more help with this please ask over on the forum: https://discourse.threejs.org/

[2018-01-05 03:56] trusktr commented on #2916
Of those two pens, the second one is definitely faster (disregarding color not working as I hoped).

- https://codepen.io/anon/pen/JMydzb
- https://codepen.io/anon/pen/zpdGWx

 I do have other performance problems in my lib. I'm trying to make faster any way that I can.

[2018-01-05 04:08] openforus opened #13044 "About the problem of superposition of transparent materials"
##### Description of the problem
When two transparent materials plane are superimposed, they are viewed from different directions then Can't see through each other. depthWrite  depthTest is set to true.
[ cube  Look from  the front](https://pan.baidu.com/s/1jIy65BS)
can see the back plane

[ cube look  from the Front side ](https://pan.baidu.com/s/1i4SK2pf)
can see the back plane pass through the

[2018-01-05 04:20] #13044 closed

[2018-01-05 04:31] mrdoob commented on #2916
Why are you creating a new geometry for every object if only the size is different???
There is **no way** the renderer could optimise that.
Here's your fiddle with same output with 1000x memory reduction and running much faster:

https://codepen.io/anon/pen/NXayKj

[2018-01-05 04:51] looeee commented on #13044
@openforus please direct help questions to the forum: https://discourse.threejs.org/

[2018-01-05 05:39] looeee commented on #12652
Fixed in #13045

[2018-01-05 06:19] #12652 closed

[2018-01-05 09:39] radiantmediaplayer commented on #9754
There is no event, that I am aware of, provided by Safari that can be used to detect a change in rendition for ABR HLS. We just update the off-dom canvas width and height with video.videoWidth and video.videoHeight on each AnimationFrame (which is probably not ideal on a performance point of view but at this stage we have it working and we will settle for it until another option becomes available)

[2018-01-05 12:16] danrossi commented on #9754
Yeah for what it's worth it's hacky enough. So doing that is excessive especially if there is condition statements in a frame callback. Whatever works for now I guess.

They still can't provide a rendition change event. I believe there is a spec for one but was never implemented ?

The CORS proxy to work around older Safari bugs, the HLS flipy fix and now this is enough.

Glad it's all working. I

[2018-01-05 12:28] radiantmediaplayer commented on #9754
I cannot recall seeing something in the HTML5 video spec about a quality switch event. There is the Apple-maintained HLS spec but it does not describe what should be done by the client when a quality switch happens. Libs like hls.js have this implemented but this is not available for HLS to native HTML5 video in Safari.

I just realize I could "polyfill" our hack to detect change in rendition by q

[2018-01-05 14:05] Avocher opened #13047 "Logarithmic depthbuffer not working correctly on devices that do not support EXT_frag_depth"
##### Description of the problem

Surfaces "bend" and disappear after the latest update to support logarithmic depthbuffer on devices that do not support EXT_frag_depth with logarithmicDepthBuffer set to true.

https://jsfiddle.net/dz37428b/7/

##### Three.js version

- [ ] Dev
- [x] r89
- [ ] ...

##### Browser

- [ ] All of them
- [x] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [ ]

[2018-01-05 14:59] takahirox commented on #13037
I confirmed that main source of the issue is old resources aren't released.
Probably it wouldn't be better to switch model in an example, releasing all unnecessary resources with `.dispose()` is a bit complicated for users.
So, I think #13041 is one of the best ways for us.

(But I'm still wondered why old `WebGLRenderer` instance isn't automatically released... who holds the reference?)

BTW I fo

[2018-01-05 15:33] takahirox commented on #13041
How about making only one simple example using Project 'polly'.

Here is the master? https://github.com/KhronosGroup/glTF-Blender-Exporter/tree/master/polly

Users can see (almost?) all glTF 2.0 features.

Adding another model (or example) for extensions would be also ok.

[2018-01-05 15:36] takahirox commented on #12980
You meant, the shadow is fine without the code I posted above now?

If so, I want someone to try the code who can reproduce the issue to know if it seems race condition. I can't reproduce  the issue here....

[2018-01-05 15:44] danidr commented on #3670
Hello everyone,
I am finding myself in the same situation. @bartmcleod , can you please share such code with us? It could be a great help to those of us who don't care that much about loading time, but do care about proper rendering.
Thank you!

[2018-01-05 16:06] glegenty commented on #12988
I have the same issue also only on chrome.

[2018-01-05 16:07] haroldiedema commented on #13025
Reference PR #13027

[2018-01-05 16:33] bartmcleod commented on #3670
Hi @danidr, the code is in the VrmlParser repository on GitHub. If I can find the time, I will lookup the exact bits for you.

[2018-01-05 17:37] PeterKey commented on #12988
I am happy that I'm not the only one. [This is the related Stackoverflow post.](https://stackoverflow.com/questions/48033845/window-innerwidth-height-gets-corrupted-by-resizing-three-js-renderer-on-orienta/48116336#48116336) Until we can't confirm that this is a three.js issue we should continue the discussion there. _Please upvote on SO for traction_  😌

[2018-01-05 17:45] donmccurdy commented on #13041
The issue with Polly is that it's 50MB and (at least on my laptop) can only run at ~45fps. There's also a transparency issue that isn't webgl-friendly.

Here are more examples featured on Sketchfab: https://sketchfab.com/features/gltf

And a bunch more animated ones: https://sketchfab.com/models?features=downloadable+animated+staffpicked&sort_by=-likeCount

We can just pick something with a CC lic

[2018-01-05 17:50] WestLangley commented on #13047
Can you provide a screenshot?

What "update" are your referring to? Did it work prior to that update?

Chrome only?

[2018-01-05 17:59] danidr commented on #3670
I guess it's this whole bit?
[EdgeDuplicator](https://github.com/bartmcleod/VrmlParser/blob/master/Renderer/ThreeJs/EdgeDuplicator.js)
Will test it later and report if it works with latest ThreeJS. Thank you again in the meanwhile!

[2018-01-05 18:10] WestLangley commented on #3670
FWIW, `CylinderBufferGeometry` will do what you expect -- except on the seam where the sides wrap around, meet, and vertices are not shared. `BoxBufferGeometry` will work as you expect, too.

[2018-01-05 18:57] donmccurdy commented on #12980
With no changes, right... i'm assuming it's a race condition in A-Frame, not related to three.js or GLTFLoader.

[2018-01-05 19:26] Mugen87 commented on #13041
I suggest to use models < 10 MB. `DamagedHelmet` would be ideal for a basic example.

[2018-01-05 19:40] mrdoob commented on #13041
Agreed. I vote for Damaged Helmet too 👍

[2018-01-05 23:09] donmccurdy commented on #13041
Ok, let's start with that. Maybe later on we add a second example with animation that's under 10mb, for variety. 🙂

[2018-01-06 01:26] grlindburg commented on #10404
@owenroberts I've been attempting the same thing, but your example and your code don't seem to get me anywhere with iOS 11 on an iPhone 6s. Any idea if recent mobile safari/chrome updates have broken this?

[2018-01-06 01:31] takahirox commented on #13041
Yeah, that's a good start.

[2018-01-06 01:41] openforus commented on #13044
@looeee  @openforus   Thanks
 I found the reason for the problem,Should be set
material.alphaTest = 0.5;

[2018-01-06 08:06] atul-mourya commented on #12851
Thank you everyone. Sorry that I thought it as a bug. Using PMREM separately solved the problem for most of the devices. However, the performance has turned out be a an overkill. I'll try to figure out some solution for that.

Meanwhile, we can close this issue.
Thank you @Mugen87 @mrdoob @WestLangley @bhouston for providing your feedback.

[2018-01-06 08:15] atul-mourya commented on #12851
Thank you everyone for giving important insights for this problem. Using PMREM does solves the problem for some devices, but the performance turns out to be an overkill. Also, for some devices the though the patchy visuals are not visible anymore but color changes to some different shades of green ( no matter whatever color I implement ).
I'm sure will later revision there will be some better way

[2018-01-06 11:25] ddcouples commented on #10996
`_renderer = new THREE.WebGLRenderer( { alpha: true } );
_renderer.setClearColor( 0x000000, 0 )`
it doesn't work,the background is alse balk!

[2018-01-06 12:06] dionsnoeijen opened #13050 "Unclear loader usage"
I'm just trying to get a hang of threejs. Right now I'm at the point where I like to import some external 3d models. The documentation is very unclear on how to achieve this.

I have found several ways on how to achieve this:

**1: Blender export addon.**
This gives me the ability to export a .json file that should be readable by three, however, the json loader is unable to handle the json, it wil

[2018-01-06 12:11] nuliknol commented on #13028
thanks mrdoob!

[2018-01-06 12:13] pikilipita opened #13051 "FBX loader: blender animated models are broken"
While the new example with a mixamo model works great, unfortunately the latest version of the FBX loader is messing up animated models exported from blender.

a fbx loader with the fbx loader as from 28/12/2017:
![screen shot 2018-01-06 at 13 01 38](https://user-images.githubusercontent.com/1799792/34639594-a226e7f4-f2e2-11e7-9418-12838b51551b.png)

the same model loaded with the new fbx loader a

[2018-01-06 12:16] nuliknol opened #13052 "feature request: convert SVG to Geometry object."
I think it would be a nice feature if an SVG file could be imported into Geometry object, with extrude option. Right not the only way I can think of loading and extruding an SVG is by importing it from Blender as already extruded geometry in JSON format.

[2018-01-06 13:25] Mugen87 commented on #13050
The discussion here might help: https://discourse.threejs.org/t/advise-a-newbie-on-applications-that-can-be-used-to-prepare-models/899/2

Besides, please ask help request at the [forum](https://discourse.threejs.org/) or at stackoverflow.

[2018-01-06 13:25] #13050 closed

[2018-01-06 13:30] Mugen87 commented on #13050
But yes, an additional manual page about loading assets could be helpful especially for new users.

[2018-01-06 19:45] WestLangley commented on #13052
Did you see [this example](https://threejs.org/examples/webgl_geometry_extrude_shapes2.html)?

[2018-01-06 20:55] bartmcleod commented on #3670
@WestLangley thank you, that might prove to be a really helpful tip. Why does the `CylinderBufferGeometry` have a seam? It can't be that hard to share the vertices of the last triangle with the first... @danidr Yes, that would be EdgeDuplicator. If I recall correctly, it only works on IndexedFacedSet, not on standard geometries, such as a cylinder or a sphere, but you may find that their buffered

[2018-01-06 21:43] danidr commented on #3670
@bartmcleod Yes, in fact I have re-used your function (exported as ES6 module – Note: if anyone wants to reuse it, remove all "scope.log" references, or substitute them with "console.log", since it gets what ever scope the function is, and it might not have a log function), on a BufferGeometry, and works perfectly.
I merge vertices before calling your function, and compute vertex normals after.
Th

[2018-01-06 21:54] WestLangley commented on #3670
Because the UVs are not continuous there, so vertices need to be duplicated.

[2018-01-07 01:49] looeee commented on #13050
A simpler option would be to add a line to to the top of all the docs pages for examples, something like:

**NOTE** This is not part of the three.js core. To use OBJLoader you will have to include it separately to the main three.js script.

[2018-01-07 16:45] Mugen87 commented on #13052
IMO, the example is sufficient for this use case.

[2018-01-07 20:53] WestLangley commented on #13052
The example could use some refactoring and cleanup, IMHO, if someone is interested.

[2018-01-07 21:36] crubier opened #13058 "[BUG] ObjectLoader does not update object matrix"
##### Description of the problem

When loading an object with ObjectLoader, the matrix of the object is not read. This results in all read objects to have an identity matrix, breaking all groups and all positioning. An `updateMatrixWorld` must be executed on the imported object in order for it to be correctly positioned.

##### Explanation

[code]

In order to have the correct matrices, I had to c

[2018-01-07 22:57] WestLangley commented on #13058
It is read; it is just not set. The position, quaternion, and scale are set, instead.

We could set the matrix, too.

[code]

[2018-01-07 23:23] rhgrafix opened #13059 "How to generate a compressed .... not working"
The link on https://github.com/aleeper/three.js
In this section:
Usage
Download the minified library and include it in your html. Alternatively see “how to build the library yourself.”
takes me to this page:
“https://github.com/mrdoob/three.js/wiki/build.py,-or-how-to-generate-a-compressed-Three.js-file
with a blank comment window.
Link should be: https://github.com/mrdoob/three.js/wiki/Build-inst

[2018-01-07 23:31] WestLangley commented on #13059
Avoid outdated forks. That one is 5 years old.

Refer to the three.js site, instead: https://github.com/mrdoob/three.js

[2018-01-07 23:31] #13059 closed

[2018-01-08 02:32] richardmonette commented on #13031
@mrdoob I've been working on a PR to implement this feature. Does this warrant its own new example?

https://github.com/mrdoob/three.js/pull/13060

[2018-01-08 03:47] owenroberts commented on #10404
@grlindburg oh ok, good to know, i have not updated to iOS 11 yet, have been meaning to do that, i'll test it soon.  is your code available online?

[2018-01-08 04:02] makc commented on #13031
since I didn't know when someone will have time to implement it, I used quick hack:
[code]

not sure if it's useful to anyone.

[2018-01-08 04:58] looeee commented on #13051
I'm investigating this now.

Actually your model was not displaying well even with older versions of the loader:

![screenshot-threejs test-2018-01-08-11-57-15-231](https://user-images.githubusercontent.com/5307958/34659426-23de544c-f46b-11e7-88c0-cec058e9a809.png)

[2018-01-08 05:43] looeee commented on #13051
@pikilipita fixed here: #13061

[2018-01-08 08:13] Avocher commented on #13047
Here's a screenshot from the fiddle ![screenshot](https://user-images.githubusercontent.com/4103154/34662513-e6c15b60-f459-11e7-9140-a043db205f19.jpg)

I'm guessing it indirectly happened after this pull request https://github.com/mrdoob/three.js/pull/11995

I only had chrome/safari on my test devices so i checked those, I can install firefox if you want.

[2018-01-08 10:06] Mugen87 commented on #13058
I vote for this change. Honestly, i also would expect that the matrix is set correctly.

[2018-01-08 10:24] pikilipita commented on #13051
Thanks!
I've checked a dozen of animated models with this fix, works like a charm now. Awesome :)

Just a thing: when minyfing the file, I get this error:
SyntaxError: Unexpected token: punc (()
( line 2940 )
maybe you should change the line 2937 to:

parseSubNode: function ( name, node, subNode ) {

[2018-01-08 10:34] Mugen87 commented on #13052
385559bf2a42d956f3a0bf0ac5015abb70f10ae6  Just some minor code style improvements but better than before 😊

[2018-01-08 10:58] looeee commented on #13051
Sweet! Great to have a second set of eyes on this, there are only so many models I can test by myself.

Oops, that's what it should have been already. I'll make a PR.

[2018-01-08 10:59] karuppasamy20 opened #13062 "THREE.BufferGeometry.computeBoundingSphere(): Computed radius is NaN. The "position" attribute is likely to have NaN values."
camera = new THREE.PerspectiveCamera( 27, window.innerWidth / window.innerHeight, 5, 3500 );
				camera.position.z = 2750;
				scene = new THREE.Scene();
				scene.background = new THREE.Color( 0x050505 );
				scene.fog = new THREE.Fog( 0x050505, 2000, 3500 );
				//
				var particles = 500000;
				var geometry = new THREE.BufferGeometry();
				var positions = [];
				var colors = [];
				var colo

[2018-01-08 11:00] looeee commented on #13062
Please direct help questions to the forum: https://discourse.threejs.org/

[2018-01-08 11:00] #13062 closed

[2018-01-08 11:05] Mugen87 commented on #10052
The current version of `ColladaLoader` should handle skeletal animation better than before.

[2018-01-08 11:05] #10052 closed

[2018-01-08 13:11] matthias-w opened #13064 "Suggestion: add Box3.intersectsTriangle"
When I implemented a spatial search tree I had to do some some Axis-Aligned-Bounding-Box (AABB) - Triangle intersection tests. Since I did not find any `THREE.js` built-in function for this, I came up implementing such a function by myself. It is based on separating-axis-theorem (SAT).

I am not sure if such a function could be also relevant for others. I could provide the code if you like to add

[2018-01-08 13:27] crubier commented on #13058
You are right, and I saw that in the source code that I linked initially.

Here I just tried to explain simply the situation. From an user "black box" perspective of my use case, the matrix could not have been read at all and the result would be the same.

Yes, me too, I spent quite some time understanding why my rayCaster did not work before understanding that the bug was actually during the impo

[2018-01-08 14:03] pikilipita opened #13066 "scene.background affected by tonemapping"
images displayed on the background of the canvas using scene.background are affected by environment maps, in my case, they get darken.

I thought the purpose of the scene background was to display an image on the back of the canvas, but without the need of using an <img> html tag.

In cases like the one below, I would expect the scene background not to be affected in any way by the scene lightning

[2018-01-08 15:54] donmccurdy commented on #6065
The `THREE.Animation` class no longer exists, and as far as I know this case works correctly with the new animation system. Please reopen if this is still reproducible.

[2018-01-08 15:54] #6065 closed

[2018-01-08 15:57] donmccurdy commented on #6455
I think this can be closed since it's not reproducible — if the issue is still occurring please provide a `.blend` file and we can investigate. You can also export to glTF using [glTF-Blender-Exporter](https://github.com/KhronosGroup/glTF-Blender-Exporter), and probably reduce the filesize further.

[2018-01-08 15:57] #6455 closed

[2018-01-08 17:03] jernoble commented on #9754
@radiantmediaplayer You should be able to use the "resize" event to detect changes to the underlying .videoWidth and .videoHeight properties.

[2018-01-08 17:59] donmccurdy commented on #3510
This is working now. :)

[2018-01-08 17:59] #3510 closed

[2018-01-08 18:21] WestLangley commented on #13058
@crubier

The change I proposed will not solve your problem. `Raycaster` requires updated world matrices; `ObjectLoader` does not update `matrixWorld`. The renderer calls `updateMatrixWorld()` for you.

Are you raycasting without adding the object to the scene?

If the matrix were not read, then your use of `updateMatrixWorld()` would not have worked.

This is not a bug. The object's transform is

[2018-01-08 18:27] WestLangley commented on #13066
Can you please provide a live example to demonstrate your issue?

[2018-01-08 18:40] crubier commented on #13058
Ok things are getting more clear to me now.

No BUT I do not use a renderer at all, since I use Three to perform spatial computation only, with no rendering, on node JS.
Adding the imported object to the scene does not change the situation, and I suspect this is because the scene is never rendered since I do not render anything.

True.

Would this code change solve my problem, or would I always ne

[2018-01-08 19:35] WestLangley commented on #13047
OK, there is no "bending". What you are seeing are depth-buffer artifacts close to the near plane.

The issue is discussed [here](http://outerra.blogspot.com/2009/08/logarithmic-z-buffer.html), and the work-around is to tessellate your geometry -- both boxes in this case.

As stated in the title to this post, the logarithmic depth buffer artifacts occur on devices that do not support the `EXT_frag

[2018-01-08 19:42] kriffe commented on #7125
If you are looking for validation models there are some to be found on: https://www.cax-if.org/library/index.html

Also just published a fork of wikistep.org that seems to be not beeing maintained any more on: http://wikistep.skymaker.se

[2018-01-08 19:52] WestLangley commented on #13058
You would always need to call `updateMatrixWorld()` manually in your situation.

Fixed. Thank you for the report. :)

[2018-01-08 19:52] #13058 closed

[2018-01-08 19:57] aardgoose opened #13069 "memory consumption of UUID strings."
##### Description of the problem

UUID generation in Math.js produces strings stored as concatenated strings in Firefox and Chrome.

On Chrome 40bytes are used for each component of the final string,  creating heap overhead.  In my application with thousands of objects this adds up.

For example, Heap size using Chrome

r89 as is: 95MB
r89 with uuid flattened with String().toUpper(): 66MB.

I see

[2018-01-08 20:14] pikilipita commented on #13066
While doing the example, I found out that is it not directly the envmap that is affecting the scene background, but the:
renderer.toneMapping
and
renderer.toneMappingExposure
values

here's the example:
[http://lune.live/scene_background/](http://lune.live/scene_background/)

[2018-01-08 20:27] sunag commented on #7522
https://github.com/mrdoob/three.js/pull/13070

[2018-01-08 20:39] WestLangley commented on #13066
OK, that makes more sense.

Is it acceptable to set a CSS background and set `WebGLRenderer( { alpha: true } ), instead?

[2018-01-08 20:47] pikilipita commented on #13066
I'm using scene.background to I can make screengrabs of the canvas that include the background.
That's how are generated all the thumbnails on this page:
[https://xr.plus](https://xr.plus)

if the image is outside of the canvas is will be excluded from the screengrab.

[2018-01-08 21:05] WestLangley commented on #13066
Got it.

Do you require tonemapping in your app?
[code]

[2018-01-08 21:24] pikilipita commented on #13066
Ideally,
I would like to let users adjust the exposure of their environment map, like here:
[https://threejs.org/examples/webgl_materials_envmaps_hdr.html](https://threejs.org/examples/webgl_materials_envmaps_hdr.html)

[2018-01-08 22:13] makc commented on #13031
ok, it seems #13060 was merged

[2018-01-08 22:13] #13031 closed

[2018-01-08 22:26] #13041 closed

[2018-01-08 23:13] mrdoob commented on #13069
Pull Request? 😊

[2018-01-08 23:26] aardgoose commented on #13069
If there isn't a nasty performance hit, considering that uuid generation has been tuned for speed... I'll take a look.

[2018-01-08 23:27] takahirox commented on #13069
Can lazy UUID generation solve your app case?

[2018-01-08 23:47] #13051 closed

[2018-01-09 00:31] donmccurdy commented on #6684
BufferGeometry now has a [`.removeAttribute` method](https://threejs.org/docs/#api/core/BufferGeometry.removeAttribute).

[2018-01-09 00:31] #6684 closed

[2018-01-09 08:22] Avocher commented on #13047
I see,
Sadly tessellation is not an option for me as I have little to no control over the assets, so I'll just fall back to linear depth buffer when needed.

Thank you so much @WestLangley for helping me out.

[2018-01-09 08:22] #13047 closed

[2018-01-09 10:03] #13052 closed

[2018-01-09 10:20] aardgoose commented on #13069
@takahirox  lazy generation would help to some extent, but as more of a scene is explored the memory consumption would still increase. I presume using a getter function to generate uuid's on request.

To test I have replaced the Objects in WebGLAttributes and WebGLProperties with WeakMaps* keyed on the scene objects/attributes directly rather than the uuids., and for testing stubbed out uuid gener

[2018-01-09 10:20] Mugen87 commented on #11741
I'm also unable to reproduce the memory leak. Closing.

[2018-01-09 10:20] #11741 closed

[2018-01-09 10:22] #11636 closed

[2018-01-09 10:28] Mugen87 commented on #11397
The buffer size of a `BufferAttribute` is fixed. Read the following manual page (section `BufferGeometry`) for more information:

https://threejs.org/docs/index.html#manual/introduction/How-to-update-things

[2018-01-09 10:28] #11397 closed

[2018-01-09 10:40] #11242 closed

[2018-01-09 10:48] #9781 closed

[2018-01-09 10:50] #11118 closed

[2018-01-09 11:09] zdddrszj commented on #12469
I have the same problem. But the old version of 52 is well.

[2018-01-09 14:44] DEKHTIARJonathan commented on #7125
I don't want to make any self promotion, however this can help some of you.
For a research project, I developed the website : https://www.dmu-net.org.

It has a visualizer for 3D Model which came in STEP format at the beginning: https://www.dmu-net.org/explore.php

In order to enable the display for 3D STEP models, I used OpenOCC to convert from STEP to ThreeJS.

The source code of this project is

[2018-01-09 15:52] DanielJoyce commented on #9562
This really needs to be fixed. Those targeting older browsers can use rollup/browserify/babel/etc to make their code work. ES6 is the way forward and its currently a mess trying to get three.js play nicely with its own examples now...

[2018-01-09 15:59] Mugen87 commented on #4998
#11259 should solves problem.

[2018-01-09 15:59] #4998 closed

[2018-01-09 16:02] sneha-belkhale opened #13074 "Adding a computeCurvature function to BufferGeometryUtils"
Hey all,
I've been creating some animations in three.js, and had the idea that having a curvature attribute in my bufferGeometry could lead to some interesting shader effects.
I made a function that essentially takes in a bufferGeometry and computes a curvature attribute based on a vertex point and it's neighboring point positions and normals (using this formula, but for 3D https://computergraphic

[2018-01-09 16:13] Mugen87 commented on #6870
The 3DS max exporter has been removed: #12930

[2018-01-09 16:13] #6870 closed

[2018-01-09 16:21] Mugen87 commented on #10747
Closing. If this is still an issue in Chrome, please report a bug here: https://bugs.chromium.org/p/chromium/issues/list

[2018-01-09 16:21] #10747 closed

[2018-01-09 21:49] mysteryDate opened #13076 "object3D.getWorldRotation() does not callback to set the quaternion of the optional target"
`object3D.getWorldRotation()` does not set the update flag to true for the target rotation. This results in some pretty weird behavior, as `object.getWorldRotation(target.rotation)` behaves differently than `object.getWorldQuaternion(target.quaternion)`:

  https://codepen.io/mysterydate/pen/mpXzad?editors=0010

  Changing the third argument to `true` here would fix it:

  https://github.com/mrdoo

[2018-01-09 22:48] mrdoob commented on #13069
How many objects are you dealing with? I mean, at what scene graph size this becomes an issue?

[2018-01-09 23:10] WestLangley commented on #13076
Thanks for this.

Maybe not, anymore...

There is another problem, though. Instead of this:
[code]
it should be
[code]
We do not want the change the rotation order here.

@mrdoob Maybe you recall, `object.rotation.order` used to be a separate property `object.eulerOrder.` There are remnants of that former design in the code. For example,
[code]
I'm thinking `order `should no longer be an argument

[2018-01-10 00:55] mrdoob commented on #13069
r89 with uuid flattened with String().toUpper(): 66MB.

I missed that, what is `String().toUpper()`?

[2018-01-10 01:02] #12420 closed

[2018-01-10 02:00] mrdoob commented on #13076
Oh man... I hate this code... 😅

I kind of would prefer to find ways to remove `rotation` and `Euler` altogether than trying to fix it.

For this particular case... maybe we should remove `getWorldRotation()` and encourage `getWorldQuaternion()` usage instead?

[2018-01-10 02:06] mrdoob commented on #13074
That's interesting. I think we could start with a example for it?

[2018-01-10 02:29] WestLangley commented on #13074
The local curvature of a mesh must be approximated -- or inferred -- and there are a variety of proposed methods for doing so. I don't think we need to include a particular curvature method in the utils. But as @mrdoob said, it could possibly be the basis for an interesting shader in one of the examples.

[2018-01-10 02:38] WestLangley commented on #13076
Fine with me. I'm all for that!

[2018-01-10 06:11] donmccurdy commented on #10754
@enesser I've found the issue. There seems to be an expectation somewhere that the skin weights are normalized, or at least that there be a bone assigned to each vertex. In the `.blend` model you include, the vertices around the box's base are not assigned to any bones. That's not necessarily invalid (clearly it works in Blender) but it's causing issues in three.js for sure...

Anyway it's pretty

[2018-01-10 06:11] #10754 closed

[2018-01-10 08:02] darshithedpara opened #13078 "BufferLoader for loading .buf files"
i facing major problem when i want to load **300Mb > object** file so i thought

first of all we divide our object into several parts like :

1. mashes.buf
2. transforms.buf
3. bounds.buf
4. faces.buf
5. faces16.buf
6. vertices.buf
7. normals.buf
8. uvs0.buf
9. uva1.buf

then we create **queueAjaxGet** for calling this small chunks one by one and load into scene…

it would be very useful and mobil

[2018-01-10 08:12] RenateOnVizoo3d commented on #12867
Please see the original version of the webGl_testenvironment attached.
[webGl_testenvironment - originalClearCoatBehaviour.zip](https://github.com/mrdoob/three.js/files/1617945/webGl_testenvironment.-.originalClearCoatBehaviour.zip)
You should see the difference compared to the implementation in my last post when playing with normal, clearcoat / clearcoat roughness and environment intensity. here

[2018-01-10 08:24] matthias-w commented on #13064
Hello @Mugen87 , I will create a pr.

[2018-01-10 09:49] StoneMa opened #13080 "OrbitControls: How to zoom smoothly"
##### Description of the problem

I use `OrbitControls `to control camera, and I set
[code]
but when the camera zooming , it can't zooming like sketchfab's model , it is not so smooth. how to fix it？

##### Three.js version
- [x ] r89
##### Browser

- [ ] All of them
- [x] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [ ] All of them
- [x] Windows
- [ ] macOS
- [ ] Linux
- [ ] Android

[2018-01-10 11:38] takahirox commented on #13069
I'd like to know the total memory consumption on your app and the percentage of memory consumption for `uuid`. Feeling like 40bytes/object isn't too huge...

[2018-01-10 12:15] takahirox commented on #13069
904 bytes per uuid(36chars)? That's kinda surprising...

[2018-01-10 13:29] takahirox commented on #13069
`.toUpperCase()` technique seems very interesting.

I evaluated memory consumption with the following code.

    <html>
    <head>
    </head>
    <body>
    <script src="https://rawgit.com/mrdoob/three.js/r89/build/three.js"></script>
    <script>
    var num = 0x10000;

    var array = [];

    for ( var i = 0; i < num; i ++ ) {

        //array.push( THREE.Math.generateUUID().toUpperCase() );

[2018-01-10 13:51] aardgoose commented on #13069
Hi, nice.

I got 904 from looking at heap info and counting counting the shallow size allocations in the chain.  May have mis-counted (also Chrome  on Win10 ) Chrome 63 rather than bleeding edge,

You see similar effects though. 74 sounds OK, looking at heap dumps looks like there is a fixed overhead and then the final allocation is in multiples of fixed sized buckets ( multiples of 8) which 74 is

[2018-01-10 15:06] Mugen87 commented on #13080
This "damping" behavior is not supported by `OrbitControls`. You might check out #12179 and use the code for your project.

[2018-01-10 15:10] Mugen87 commented on #13078
Crossposting: https://discourse.threejs.org/t/new-feature-request-bufferloader-in-three-js/1591

Closing this issue in favor of the forum thread.

[2018-01-10 15:10] #13078 closed

[2018-01-10 15:29] otaviojacobi commented on #12822
What needs to be done to run three.js with VR ?
- Include the [WebVRPolyfill](https://github.com/googlevr/webvr-polyfill) package into your project.
- Include the [WEBVR class](https://github.com/mrdoob/three.js/blob/dev/examples/js/vr/WebVR.js) class into your project.
- In three.js set your ```render.vr.enabled = true;```
- Disable all your other controls (such as OrbitControl.js, TrackbarContro

[2018-01-10 16:39] WestLangley commented on #13080
@Mugen87 Why do you say damping is not supported?

[2018-01-10 16:52] sneha-belkhale commented on #13074
@mrdoob  @WestLangley, makes sense, I'll clean up my example and post it here

[2018-01-10 16:53] Mugen87 commented on #13080
I refer to the smooth slow down of movements in Sketchfab's controls. I thought the mentioned PR tries to add this feature. Please enlighten me if i've misunderstood something 😇

[2018-01-10 17:20] WestLangley commented on #12867
Your demos throw console errors for me. Sorry, I  am not able to invest the time to debug this.

I am still interested in your suggestion, however.

[2018-01-10 17:28] WestLangley commented on #13080
I want to understand what you are saying... Is it that you agree that damping is supported, it is just different from Sketchfab's damping?
[code]

Also, on a Mac, mouse scroll has built-in inertia, so different hardware will have different behavior.

[2018-01-10 19:38] Mugen87 commented on #13080
Yes. Sry, i for being unclear in this case. I just want to say that @StoneMa needs to modify `OrbitControls` if he wants the "Sketchfab" behavior.

[2018-01-10 19:51] rajvicky commented on #12884
how to enter editor

[2018-01-10 19:53] WestLangley commented on #13080
On my Mac, I see no significant difference between Sketchfab behavior and `OrbitControls` behavior when zooming with a mouse. I did not test touch -- nor have I tested other hardware.

So... it is not clear to me what the issue is.

[2018-01-10 20:06] Mugen87 commented on #13080
It's hard to describe...but it feels different. At least with my iMac.

I don't wanna say it's better. Just different...

[2018-01-10 20:20] mrdoob commented on #13069
Hmm... I don't understand how `toUpperCase()` would make trigger less memory consumption. Do you see the same effect with Firefox?

[2018-01-10 20:29] fordhurley commented on #13019
I think there are better ways to go about this without changing THREE. One option is to manage your own version of "needsUpdate" and check this from your render loop before rendering. This would be happening next to all the other updates you do each frame (e.g., animation). Of course, I don't fully understand your use case, so I could be missing something.

[2018-01-10 20:37] mrdoob commented on #12867
/cc @bhouston

[2018-01-10 20:56] pailhead commented on #13078
Ow :( why only a slight smile for mrdoob?

[2018-01-10 21:06] bhouston commented on #12867
Unreal Engine 4 does this:

https://docs.unrealengine.com/latest/INT/Engine/Rendering/Materials/HowTo/ClearCoatDualNormal/

I've wanted this as well.

Basically the main way to do this is to add a second normal map and have it used for either the top layer or the bottom layer.  I would prefer to have the second normal map be used for the surface because then we can call it clearCoatNormalMap and i

[2018-01-10 21:39] WestLangley commented on #12867
It is probably sufficient to keep it simple and just to add two properties:
[code]
If `clearCoatNormalMap` is null, the clear coat uses no normal map.

[2018-01-10 21:42] aardgoose commented on #13069
I did see similar issues in firefox of similar size though I didn't dig as deep.

the original uuid strings are stored as a linked list arrangements of pointers to the original strings in the LUT rather than a new memory allocation for the complete string.  However the list arrangement structures take up a lot more space, as the string is build up in small segments there are about 12 of these link

[2018-01-10 21:46] WestLangley commented on #13080
@StoneMa Can you please provide a live example to demonstrate the issue? Please also specify your hardware and operating system.

[2018-01-10 22:17] bhouston commented on #12867
Sure, I am fine with your suggestion.  Just to be clear, this is for the top layer normal and not the bottom layer as it is with UE4?  I think that is the more logical choice.  clearCoatNormalMAp == null leads to a smooth surface for clearcoat but normal/bump affect the underlying layer.

[2018-01-10 22:33] WestLangley commented on #12867
@bhouston Correct.

[2018-01-11 00:16] sam-g-steel commented on #9373
https://ltc-kompressor.azurewebsites.net/threejs/examples/?q=rectarea#webgl_lights_rectarealight_compression_test

[2018-01-11 01:18] mrdoob commented on #3856
https://threejs.org/examples/#webgl_mirror
https://threejs.org/examples/#webgl_water

[2018-01-11 01:18] #3856 closed

[2018-01-11 01:18] mrdoob commented on #9821
https://threejs.org/examples/#webvr_sandbox

[2018-01-11 01:18] #9821 closed

[2018-01-11 01:20] mrdoob commented on #8815
WebVR Chromium builds are now deprecated.

[2018-01-11 01:20] #8815 closed

[2018-01-11 01:34] mrdoob commented on #8525
`VideoTextures` no longer use a internal `requestAnimationFrame`.
https://github.com/mrdoob/three.js/pull/13053#issuecomment-355763509

[2018-01-11 01:34] #8525 closed

[2018-01-11 01:55] mrdoob commented on #5045
Time to replace `BinaryLoader` with `GLTFLoader` 💪

[2018-01-11 03:48] WestLangley commented on #9373
That is good! I am not able to see a perceptible difference, at least when the light is moving.

Have you graphed these functions? Each channel can be graphed as a function of the two parameters, and the functions are, by-and-large, fairly smooth. It would seem that downsampling from 64 x 64 to 32 x 32 -- or even to 16 x 16 -- would be reasonable, and would reduce the data by a factor of 4 (or 16)

[2018-01-11 03:57] bhouston commented on #9373
Also one could downsample using bspline patches or something this one could
use non uniform control points.

Best regards,
Ben Houston
http://Clara.io Online 3d modeling and rendering

On Jan 10, 2018 10:49 PM, "WestLangley" <notifications@github.com> wrote:

[2018-01-11 06:50] StoneMa commented on #13080
sorry guys, come late, code in this link:
[https://codepen.io/Lorti/pen/Vbppap](url)
if you can't zoom use your mouse wheel
you may have to add
[code]
to the `init()` function in JavaScript ,

[2018-01-11 07:19] sam-g-steel commented on #9373
@WestLangley Awesome! I tried to avoid having any noticeable artifacts...
However, two things I should have mentioned are...

- #### I dropped the neural network based compression
   _The network that I was developing only seemed to work with the old LTC Data... I was going to have to spend a lot, **months**, more time to get good results for the new stuff!_

- #### Artifacts are more noticeable a

[2018-01-11 07:24] sam-g-steel commented on #9373
this fork has my changes... https://github.com/sam-g-steel/three.js/tree/dev

this script is what compresses the data... https://github.com/sam-g-steel/three.js/blob/dev/examples/js/lights/LTC_Compress_LZMA.chrome.js

[2018-01-11 08:03] RenateOnVizoo3d commented on #12867
@WestLangley First, apologies for the example throwing errors. This should not have happened.

@bhouston I just wanted to confirm from our side that a `clearCoatNormalMap == null` should lead to a completely smooth, unperturbed clear coat layer. As if the materials has an additional transparent painting.
To keep it simple I would use the second normal map only for the clearcoat (top) layer. The bo

[2018-01-11 11:47] takahirox commented on #13069
As @aardgoose this's JavaScript strings memory layout topic.

I'm not so familiar with that, but the following is my rough understanding.

For example, uuid "D30D4BC2-4BAE-49FF-8A3F-3F9A4467A0FA" layout in low-layer is represented as linked list, like

    // more precisely, not the raw string but pointer to LUT of generateUUID()?
    'D3' -> '0D' -> '4B' -> ...

because of `generateUUID()` logic,

[2018-01-11 13:47] JekaMedvedev opened #13089 "loader json"
Good day! Can you answer me, can I return created object after parcing it from json file by other way than JSONloader by onload parameter.

[2018-01-11 13:52] looeee commented on #13089
Please direct help questions to the forum http://discourse.threejs.org/

Also, you are going to need to include a lot more detail than this if you expect anyone to be able to help you.

[2018-01-11 13:52] #13089 closed

[2018-01-11 13:58] Aadjou opened #13090 "Make unrollLoops optionally available for THREE.ShaderMaterial"
**Problem**
- We use shader code from the `THREE.MeshPhongMaterial` in a `THREE.ShaderMaterial`
- The results are the same, except on Macbooks with radeon cards, where shadows are missing
- This is caused by loops in the shadow shader chunks
- If we force the [unrollLoops in WebGlProgram][WebGlProgram] to execute for our ShaderMaterial, we get correct results
- See [Original Issue][Original Issue

[2018-01-11 15:05] AVGP commented on #13090
I think this is an interesting discussion to have - how can we enable reusing shader chunks without copy&paste (which will eventuall fall behind upstream)? Loop unrolling definitely is something that is probably needed (and done in a RawShaderMaterial, but not ShaderMaterial) - so what's the official way forward here?

[2018-01-11 17:13] mrdoob commented on #13069
So a solution would be to remove the `toUpperCase()`?

[2018-01-11 17:23] WestLangley commented on #13080
@StoneMa
1. Why are you are instantiating _two_ orbit controls in your codepen?
2. Why are you not setting `controls.enableDamping = true`?

[2018-01-11 18:27] makc commented on #13069
@mrdoob I think they want one more toUpperCase on generateUUID return expression

[2018-01-11 19:27] FutureCake opened #13093 "Lookat flipping direction (bug?)"
##### Description of the problem

I have the following scene visable here: http://gravient.thomashoek.com/drag_example/

In the initial mode the text looks at the mouse. but when you make sertain mouse movements the text seems to flip the direct of looking at the mouse. As far as i figured out this happens when the mouse crosses the middle of the canvas.

A quick in depth explanation of the proble

[2018-01-11 19:41] mrdoob commented on #13069
Moving it then?

[2018-01-11 19:45] aardgoose commented on #13069
Yes, sorry if that wasn't clear,

return String(   <uuid expression>  ).toUpperCase();

You can remove the toUpperCase() when setting up the lut, it doesn't change the end result, The conversion on the returned expression happens with it there or not.

The rather hacky nature is why I proposed the WeakMap solution as well, avoids the costs of uuid generation unless they are required, and removes t

[2018-01-11 20:00] WestLangley commented on #13093
Sorry, this is not a help site. If you can demonstrate a bug, that is a different matter. Perhaps you can try the forum.

[2018-01-11 20:00] #13093 closed

[2018-01-11 21:02] mattdesl commented on #9941
@Rich-Harris has this changed in recent rollup versions? I am trying with rollup@0.53.4 and some custom code that looks like this:

[code]

The file does not appear to have the inline source map at the end of the file. I've tried `sourceMap`, `sourcemap`, true/false, adding it into `rollup.output` options, etc.

[2018-01-11 23:41] takahirox commented on #12980
@PlumCantaloupe Can you reproduce this issue and check if the code I posted above makes the shadow be fine? I wanna move this issue back to A-Frame issue thread once we confirm this's A-Frame issue, not Three.js's.

[2018-01-12 01:26] Rich-Harris commented on #9941
Will concede this is a little bit confusing! `bundle.generate` resolves to a `{ code, map }` object, where `code` *doesn't* have a `//# sourceMappingURL` comment — it's deliberately a low level API. You have a couple of options. The long way...

[code]

...is more or less equivalent to the short way:

[code]

`bundle.write` will write your bundle including the comment, plus a separate `.map` file

[2018-01-12 05:08] PlumCantaloupe commented on #12980
Unfortunately neither yours or the link Don posted above seems to work for me on Apple devices, and I haven't been able to find any loading discrepancies though any kind of refreshing or the like. I will have to try at university to see if a much faster wired connection makes a difference ...

I also made a gltf loading component mimicking the THREEjs way with no luck (though I could set envMaps a

[2018-01-12 06:18] BadmasterY opened #13095 "I have some questions about r81 to r88"
My previous project used r81, but recently my team wanted to change the version to r88. However, we have encountered some problems in this process. We hope that we will not change the original project and use r88 directly. So we want to use jQuery. GetScript () to dynamically replace r81, but jQuery is wrong. The error code is as follows:

parsererror

TypeError: Cannot set property AudioContext o

[2018-01-12 10:27] vin-ni commented on #8084
any updates on this?

[2018-01-12 12:33] wdanilo commented on #13019
@fordhurley youre totally right - I could do it, but then I need to keep some store of all materials used in the scene and iterate over them on each update, which would be double-work if THREE already does it. Including it in THREE would have no performance overhead in comparison to this solution, am I wrong here?

[2018-01-12 12:40] MarcRibguth opened #13097 "Reset mesh after animation, to the loading position"
I'm trying to set back the mesh to the T-pose, after the animation stoped. There are four skinned meshes on this object. And if i call on all skinned meshes .pose() it will destroy the pose compled. The rigth mesh has the name "Boy01_Brows_Geo". And some animated objects don't have skinned meshes to begin with. Is there a easy way to get the Object back to its loading state? Or else I need to find

[2018-01-12 12:57] MarcRibguth commented on #13097
Here the model
[Capoeira.zip](https://github.com/mrdoob/three.js/files/1626030/Capoeira.zip)

[2018-01-12 12:57] Mugen87 commented on #13095
Can you please provide a simple [live example](https://jsfiddle.net/f2Lommf5/) in order to show the problem?

[2018-01-12 16:06] Mugen87 commented on #13090
Related issue #12312

[2018-01-12 16:10] Benjy1979 commented on #11579
Some textureNodes passed into loadTextures, is actually an array but yet the code is trying to access .properties
https://threejs.org/examples/models/fbx/nurbs.fbx 1 2
fbx_loader.html:71 1% downloaded
fbx_loader.html:71 65% downloaded
fbx_loader.html:71 100% downloaded
FBXLoader.js:2965 THREE.FBXLoader: FBX binary version: 7400
FBXLoader.js:386 Loading G & R Kitchen.fbxDiffuse_8.png
fbx_loader.htm

[2018-01-12 16:16] Benjy1979 opened #13098 "Loading FBX, loadTextures expecting an object where it's an array"
##### Description of the problem
Loading in an FBX file, but the "textureNode" variable is an array of textures rather than just one.
The FBX is here:
http://www.articad.biz/fbx/Kitchen2.zip
http://www.articad.biz/fbx/images.zip
[code]
##### Three.js version

- [ ] Dev
- [ ] r89
- [ ] ...

##### Browser

- [x] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [x] All of t

[2018-01-12 16:39] #13098 closed

[2018-01-12 17:27] Aadjou commented on #13090
@Mugen87 thank you for the reference!
@AVGP this PR was not merged.
https://github.com/mrdoob/three.js/pull/12323

[2018-01-12 18:08] Mugen87 commented on #13090
Right now there are two possible solutions:

- Add something like `unrollLoops` as a property to `ShaderMaterial`
- Custom shaders have to set a `define`(e.g. `UNROLL_LOOPS`) to force the loop unrolling

TBH, i'm fine with both solutions. It's just important to expose the control of loop unrolling to the user for custom shaders in some way...

[2018-01-12 19:39] donmccurdy commented on #13097
Does calling `mixer.stopAllAction()` do the trick? Or `.stop()` / `.reset()` on individual AnimationActions?

[2018-01-13 01:50] looeee commented on #13098
@Benjy1979 did you find out what the problem was?

[2018-01-13 19:59] ngokevin opened #13105 "Automatically requestPresent / enter VR on vrdisplayactivate event to support link traversal."
##### Description of the problem

Firefox (and probably other browser) supports `onvrdisplayactivate` event to automatically enter VR when navigating from VR site to VR site (link traversal) or refreshing.

Most three.js-based WebVR applications don't handle this making it so we have to click an Enter VR button every time. The three.js WebVR renderer/manager should automatically start presenting i

[2018-01-13 21:03] donmccurdy opened #13107 "MeshStandardMaterial: Reflections visible for moderate roughness values"
Comparing [MetalRoughSpheres](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/MetalRoughSpheres) in a few different engines:

| engine | screenshot |
|---|---|
| three.js | ![screen shot 2018-01-13 at 12 56 00 pm](https://user-images.githubusercontent.com/1848368/34910010-a80b1fc6-f861-11e7-94c6-85b6ac56be98.png) |
| babylon.js | ![screen shot 2018-01-13 at 12 56 08 pm](https://

[2018-01-13 23:30] WestLangley commented on #13107
Agreed. Perceptual roughness is a problem.

Since your demos are using different environment maps, it is hard to compare brightness.

So, in your view, is the reflection too bright at certain roughness levels, not blurry enough at certain roughness levels, or both?

Certainly one place to look is the shader code that selects mipmap from roughness.  /ping @bhouston

[2018-01-14 00:44] takahirox commented on #13107
These comments would be helpful

https://github.com/KhronosGroup/glTF-Blender-Exporter/issues/143#issuecomment-355831214
https://github.com/KhronosGroup/glTF-Blender-Exporter/issues/143#issuecomment-357468319

[2018-01-14 05:57] trusktr opened #13108 "Shadow normalBias and slopeBias"
I didn't see these two options in Three, unless I missed it.

Based on https://github.com/mrdoob/three.js/issues/5554, it'd be cool to start getting more ways to tweak shadow.

We need a **bias that adapts to slope**, and a **normal bias** to be up to standard it seems.

Those would help me get rid of ACNE in this demo: https://codepen.io/anon/pen/dJKxxp

No matter what I set for the `bias` on lin

[2018-01-14 05:59] trusktr commented on #13108
Here's about normal bias: https://docs.unity3d.com/ScriptReference/Light-shadowNormalBias.html

Seems easy to implements. Maybe I'll give it a go at some point...

[2018-01-14 06:10] trusktr commented on #13108
Search for "modify the bias according to the slope" [here](http://www.opengl-tutorial.org/intermediate-tutorials/tutorial-16-shadow-mapping/) for a definition. Basically the bias can get bigger based on a growth factor and depending on the slope of the light ray compared to the surface.

[2018-01-14 06:30] FriOne commented on #11552
I'm trying to make Angular project with threejs and it always looks like I'm hacking every part of threejs.
First of all it is es5 syntax with THREE constant that must exist, for example, if I need OrbitalControls.
We have threejs typings, but it will be more convenient to have them in the same package. The typings have OrbitalControls, but we can't simply import like `import { OrbitalControls } f

[2018-01-14 12:13] takahirox commented on #13107
This one?

	// TODO, replace 8 with the real maxMIPLevel
	vec3 radiance = getLightProbeIndirectRadiance( /*specularLightProbe,*/ geometry, Material_BlinnShininessExponent( material ), 8 );

https://github.com/mrdoob/three.js/blob/dev/src/renderers/shaders/ShaderChunk/lights_template.glsl#L138-L139

I replaced 8 with 11(=Math.log2(2048), envMap texture used in that Three.js example is 2048) and the

[2018-01-15 03:15] trusktr commented on #7522
As in the screenshots above where nodes are connected visually, how do we re-create this mentally with this API? I see that constructors accept other nodes. Is that the way that output from one node (passed into a constructor) is input for another node (it receives the nodes in its constructor)? Does a node have at most one output? How many nodes can be inputs to another node via constructor, or i

[2018-01-15 05:39] StoneMa commented on #13080
@WestLangley I just optimize my website's User experience，and I find sketchfab has Rotational damping & Zoom damping, so I want to kown could Three.js support it.

[2018-01-15 08:31] MarcRibguth commented on #13097
Thanks for your fast reply and sorry for my late reply.
I tested it today and only stop/reset the action does the trick. thanks!

[2018-01-15 08:46] #13097 closed

[2018-01-15 11:06] Mugen87 commented on #13038
FYI: `WebGLFlareRenderer` has been removed, see #13081

Any changes needs to be done in `examples/js/objects/LensFlare.js`

[2018-01-15 11:15] #12785 closed

[2018-01-15 11:30] Mugen87 commented on #9856
[LensFlare](https://github.com/mrdoob/three.js/blob/dev/examples/js/objects/LensFlare.js) is now part of the examples. If this issue still exists, you can perform call of `renderer.context.finish()` after `renderer.copyFramebufferToTexture()` without changing the core of the library.

[2018-01-15 11:30] #9856 closed

[2018-01-15 12:30] makc commented on #13080
@StoneMa what @WestLangley says is that there are copy-paste errors in your codepen.

[2018-01-15 12:46] WahlbergRu opened #13113 "Mirror for site"
##### Description of the problem

Can you make mirror with another IP, because in some parts of russia you ip adress has blocked.

[2018-01-15 13:42] Mugen87 commented on #13113
Why not just using a proxy server or VPN service?

[2018-01-15 16:45] mrdoob commented on #13113
Which parts of Russia have blocked it? Does it show the reason why it is blocked?

[2018-01-15 21:12] bhouston commented on #13107
I believe the issue is a square or a sqrt() to the roughness value or something like this.  I do not follow where @takahirox's fix comes from unfortunately, the logic seems incorrect as our maps are packed into 2048x2048, they are not actually that size.

[2018-01-15 22:39] emackey commented on #13107
Just my $0.02, but it looks to me like @takahirox hit the mark exactly.  I always have to remind myself that the MIP levels are "upside-down" in that higher numbers correspond to smaller MIPs.  So if you're using an environment with 11 levels, and you hard-code a maximum level of 8, then your roughest spheres aren't getting down to the smallest MIP levels.

In @donmccurdy's first screenshot, if yo

[2018-01-16 01:37] bhouston commented on #13107
Instead of repeating myself, can either @emackey or @takahirox point to me in the code where the top level cube map size in the mipmap chain used in the PBR implementation of roughness is 2048x2048 so that your argument of 11 mipmaps makes sense?

( PS. https://github.com/mrdoob/three.js/blob/dev/examples/js/pmrem/PMREMGenerator.js#L17 )

[2018-01-16 02:16] WestLangley commented on #13107
@bhouston They are not using PMREM -- just standard cube maps.

[2018-01-16 02:29] bhouston commented on #13107
Oh, okay.  We are back to that original method.  I guess this inconsistency bug I reported back in 2015 no longer applies?  https://bugs.chromium.org/p/chromium/issues/detail?id=479753

You are correct that you need to match the cubemap size.  The proper theory to follow is documented here: http://casual-effects.blogspot.ca/2011/08/plausible-environment-lighting-in-two.html

[2018-01-16 08:19] StoneMa commented on #13080
@WestLangley @makc @Mugen87  Thx guys, it works.

[2018-01-16 10:05] #13080 closed

[2018-01-16 10:36] sam-g-steel commented on #9373
@mrdoob @WestLangley any feedback?

[2018-01-16 11:20] RenateOnVizoo3d commented on #12867
@WestLangley

Did you try in Mozilla Firefox? The demo is not running in any other browser yet

[2018-01-16 13:04] pjoe commented on #12903
Just wanted to add before totally abandoning the json format: We are using the blender exporter for scene exporting, i.e. setting up camera and scene hierarchy with animations and custom properties along with placeholder objects, that are then replaced dynamically at runtime by real meshes (loaded in other ways). As this is 'just' json it is very easy to introspect and modify in js and do these ki

[2018-01-16 14:43] Mugen87 commented on #8007
Closing. Adding serialization/ deserialization for `ExtrudeGeometry ` is tracked via #5863

[2018-01-16 14:43] #8007 closed

[2018-01-16 15:37] makc commented on #13113
@mrdoob there is ongoing troll battle where anons commit alt.suicide.methods pasta to github repo, and authorities then block github for hosting suicide propaganda, which is illegal in Russia. github gets blocked, trolls get lols, russian autorities are shamed, and github gets unblocked. this happens like once per month or two. of course, there may be another reason why it's blocked in Russia, but

[2018-01-16 16:39] donmccurdy commented on #12903
@pjoe I expect the JSON format and Blender exporter are more likely to stick around in the near term than other things mentioned in this thread (e.g. 3DS Max + Maya exporters).

But all the same, it would be nice to get your feedback on glTF and the [Blender exporter](https://github.com/KhronosGroup/glTF-blender-exporter). Everything you mentioned is supported:

- set up camera
- scene hierarchy
-

[2018-01-16 17:04] WestLangley commented on #12867
No. Maybe you will fix your demo.

[2018-01-16 17:21] WestLangley commented on #9373
Yes, as I mentioned previously, I suggest you graph the surface data. XYZ.

IMO, this is not an image compression problem. Treat it as a downsampling problem. That's my suggestion.

[2018-01-16 18:18] bhouston commented on #13113
Can not you just use rawgit on http://github.com/mrdoob/three.js/branch/gh-pages or somethign similar?

Also isn't there a ton of open proxy servers around the world?

[2018-01-16 18:20] bhouston commented on #9373
I agree that this is probably best.

Also we should not use LZMA because three.js when served by competent webservers will be gzipped already.

[2018-01-16 18:21] makc commented on #13113
tor should work too

[2018-01-16 18:40] sam-g-steel commented on #9373
@bhouston I suggest we look further into gzip vs lzma... https://tukaani.org/lzma/benchmarks.html
Depending on the dataset lzma can be many times smaller than gzip... However, we are using ~6kb to store the lzma decode function

[2018-01-16 19:00] maciek134 commented on #7169
Is this still a problem?

[2018-01-16 19:04] maciek134 commented on #7135
Seems like this was caused by the Blender JSON exporter and could be closed here?

[2018-01-16 19:43] mrdoob commented on #13113
Indeed! This should work: http://rawgit.com/mrdoob/three.js/gh-pages/

[2018-01-16 19:43] #13113 closed

[2018-01-16 19:59] pjoe commented on #12903
@donmccurdy must admit I don't have tons of experience with glTF (at least yet) - though I did try to read the spec :)

I guess my main 'beef' with glTF (which I think is a great transport format and also great for getting 'the bytes' as quickly and directly as possibly into GPU buffers) is that all refs are index based, which is not a good fit for a mutable scene format. So if you e.g. wanna dele

[2018-01-16 20:06] donmccurdy commented on #12903
Yeah, it isn't designed for manual edits in that sense and, as a runtime/transmission format, probably never will be. There are [various libraries](https://github.com/KhronosGroup/glTF#c) for working with it that could help.

Generally I've found the glTF Blender exporter to be give better results than any other Blender output, but please file bugs if you've found particular issues. :)

[2018-01-16 20:17] pjoe commented on #12903
@donmccurdy agreed on glTF staying true to being for transport/runtime ... one of the great things about it, is exactly that it's not trying to be a fit all format (like collada - don't get me started).

We are trying to avoid extra libs or conversion overhead as we are doing a web application that needs to be tiny and fast - and so far the three.js JSON format as been a good fit as a scene format

[2018-01-16 20:44] Mugen87 commented on #12903
@looeee I'm curious, have you any news on this 😊 ? Do you think we can remove the exporter now and refer to `FBX` instead?

[2018-01-16 20:58] Astrak commented on #7135
Definitely. i should have closed the issue long ago

[2018-01-16 20:58] #7135 closed

[2018-01-16 22:28] makc commented on #11940
[updated the fiddle to use threejs.org urls](https://jsfiddle.net/hfj7gm6t/4899/) - the problm is still there today

[2018-01-17 00:04] looeee commented on #12903
I only did a small amount of testing, planned to do more but I haven't had the time. But I'd say yes, we should remove it and work to make the FBXLoader support Maya fully.

[2018-01-17 13:32] WahlbergRu opened #13125 "[Types bug] Camera for rendering"
##### Description of the problem

new WebGLRenderer().render support only one type for camera, but If I use CubeCamera I have types error.

    /**
     * Render a scene using a camera.
     * The render is done to the renderTarget (if specified) or to the canvas as usual.
     * If forceClear is true, the canvas will be cleared before rendering, even if the renderer's autoClear property is false.

[2018-01-17 14:17] Mugen87 commented on #13125
see https://github.com/mrdoob/three.js/issues/10681#issuecomment-287921860

[2018-01-17 14:17] #13125 closed

[2018-01-17 15:45] alinhulea opened #13126 "Textures with dimensions non power of two get downscaled to power of two dimensions"
Textures with dimensions non power of two get always downscaled to power of two dimensions. Previous algorithm was performing a "round" to aproximate power of two dimensions rather than floor.
Example  :
r89: THREE.WebGLRenderer: image is not power of two (1638x2166). Resized to 1024x2048
r80: THREE.WebGLRenderer: image is not power of two (1638x2166). Resized to 2048x2048

Code in WebGLTextures.j

[2018-01-17 16:11] WestLangley commented on #13126
We did that on purpose. See #12201. What is the problem you are having?

[2018-01-17 16:55] WestLangley commented on #13090
DEFINES are not appropriate as a solution. This flag is not set in the shader.

[2018-01-17 17:24] Mugen87 commented on #13090
I've meant it like that 56da7308335495b082576ea5fe8796ae9ac8c592

[2018-01-17 17:39] WestLangley commented on #13090
Yes, I understand. Sorry, @Mugen87, I should have made it clear I was stating an opinion, not a fact. I need to be more careful. :)

This is all handled on the CPU. Defines are injected into the shader code, so I think your flag suggestion is a better API.

[2018-01-17 18:10] maciek134 commented on #9003
I see that the PR was never filed, is the issue still present (I don't have any OSX machines to test)?

[2018-01-17 18:25] maciek134 commented on #9855
If this is still needed (looks like it may be) I could make a PR with the `renderer.getInternalProperty( value )` API.

[2018-01-17 19:16] izaid commented on #9003
Sorry about that. I definitely remember this issue, but I forgot to file the PR. I haven't used the particular combination of Jupyter, THREE, and OS X on a bit, but when I will I'll reopen if necessary.

[2018-01-17 19:16] #9003 closed

[2018-01-17 19:58] L3rchal commented on #8100
I had same problem with r73 version. Here is awesome example http://jsdo.it/cx20/OQ5X importing object using mtl and obj loaders. Plus, there is example for r73,r76 and r79. Helped me a lot.
PS for 73 example is using OBJMTLLoader which works.

[2018-01-17 20:17] Mugen87 commented on #4770
`WeakMap` will find its way into the core, see #4770

[2018-01-17 22:37] elunty commented on #9965
I'm looking to use it so i can set  depthTexture.type = THREE.FloatType.. unless there is another way to currently do such a thing.

[2018-01-17 23:36] #10751 closed

[2018-01-18 00:02] mrdoob commented on #13090
I think I prefer the API in #12323.
Unfortunately I can't merge that PR because the branch the PR points to has been deleted.

[2018-01-18 00:07] mrdoob commented on #7169
I guess it's not? Closing...

[2018-01-18 00:07] #7169 closed

[2018-01-18 03:02] mrdoob opened #13130 "Fix Blender Exporter rotation issues"
As noted in https://github.com/mrdoob/three.js/pull/12987#issuecomment-355168140, by using the [glTF exporter](https://github.com/KhronosGroup/glTF-Blender-Exporter/) as reference we should be able to finally solve the rotation issues.

Relevant code:

https://github.com/KhronosGroup/glTF-Blender-Exporter/blob/v1.0.0/scripts/addons/io_scene_gltf2/gltf2_extract.py#L34-L60

https://github.com/Khrono

[2018-01-18 03:04] mrdoob commented on #12917
Yeah, give it a go!

[2018-01-18 06:31] Aadjou commented on #13090
So how should we proceed? @Mugen87 should we reopen #12323? (or recreate it?)

[2018-01-18 08:51] alinhulea commented on #13126
Basically we are using images that are uploaded by client, so we cannot restrict upload dimensions.
This change broked the previous functionality because some textures had sensitive details/dimension , for example textures 500x500 loose a lot of detail when resized to 256x256.
The alternative solution would be to implement our own TextureLoader and resize the image before assigning it to the textu

[2018-01-18 09:55] RenateOnVizoo3d commented on #12867
The 2 demos are online now and should work in all Browsers.

Please open the links below and load the "Green leather" material which you find when unzipping the attached (select .xTex file, see screenshot attached)
[Green Leather.zip](https://github.com/mrdoob/three.js/files/1642317/Green.Leather.zip)

Please see clearcoat hack here:
https://www.vizoo3d.com/tmp_Renate/webGl_testenvironmentCLEARCOA

[2018-01-18 11:14] Mugen87 commented on #13090
We should focus on your PR #13124

[2018-01-18 14:03] mattrei opened #13131 "Add MeshStandardMaterial to SVG Renderer"
##### Description of the problem

Meshes with `MeshStandardMaterial` are currently not considered (and therefore rendered) within the `SVGRenderer` in the _examples_ folder.

##### Three.js version

- [x] Dev
- [x] r89

##### Browser

- [x] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [x] All of them
- [ ] Windows
- [ ] macOS
- [ ] Linux
- [ ] Android
- [ ] iOS

[2018-01-18 16:00] WestLangley commented on #13126
Power-of-two textures are not required. Depending on your use case, another option may be:
[code]

[2018-01-18 18:31] kpetrow commented on #12640
experiencing error with materials and colors:

`Cannot read property 'triangles' of undefined`

[2018-01-18 18:33] donmccurdy commented on #12640
@kpetrow if you can share the file, that will allow someone to help debug this. Note that you can drag .ZIP files into GitHub comments.

[2018-01-18 19:05] alinhulea commented on #13126
We use anisotropic filtering, mipmaps are are required...

[2018-01-18 19:17] kpetrow commented on #12640
[model.zip](https://github.com/mrdoob/three.js/files/1644136/model.zip)

[2018-01-18 20:57] mrdoob commented on #13131
[SVG](https://developer.mozilla.org/en-US/docs/Web/SVG) doesn't support shaders.

[2018-01-18 20:57] #13131 closed

[2018-01-18 21:52] mrdoob commented on #13126
Even if you're using anisotropic filtering I think you still need mipmaps.
https://gamedev.stackexchange.com/a/101012

[2018-01-18 22:06] alinhulea commented on #13126
Yes, that Is what I was trying to say, that because of the anisotropic filtering we need to have the mipmaps and as a result the power of two dimensions. Regarding the alternative solution, I was trying to create a custom texture loader, code very similar to the built in TextureLoader, just creating a temporary resized canvas and setting it to the texture in the load handler, but for fome reason t

[2018-01-18 23:50] WestLangley commented on #12867
Thanks. I see your demo is working now.

[2018-01-19 00:09] vt5491 commented on #13105
Since I am currently working on a [project](https://github.com/vt5491/threejs-vr-gallery) that requires this very ability, this discussion is very apropos to me and indeed  the information supplied from @ngokevin was the catalyst to my working solution.  The project intends to be a gallery of three.js examples that have been "lifted" (or ['vrized'](https://github.com/vt5491/vrize) ) to vr-mode.  T

[2018-01-19 00:51] pailhead commented on #12788
Thanks to @usefulthink for pointing this out:
https://github.com/mrdoob/three.js/blob/dev/src/renderers/WebGLRenderer.js#L1991-L2061

While i'm not a huge fan of this, perhaps all that's needed is to document it.

[2018-01-19 00:56] pailhead opened #13135 "Enhance texture/material transform documentation"
After seeing this:

https://github.com/mrdoob/three.js/blob/dev/src/renderers/WebGLRenderer.js#L1991-L2061

I propose adding some kind of documentation to let the world know that there is magic happening under the hood.

Because a single material, with a single transform property can have many textures with many unique transform properties - Three.js does voodoo magic under the hood to chose which

[2018-01-19 02:05] technohippy commented on #12640
Thanks, I will fix this bug hopefully this weekend.

[2018-01-19 02:31] looeee commented on #13135
Documenting this sounds like a good idea, but describing it as 'voodoo magic' is not really acceptable... In my opinion 😛

[2018-01-19 02:37] WestLangley commented on #13135
See https://stackoverflow.com/questions/14371385/can-a-three-js-material-have-separate-repeat-values-for-a-bump-map-and-a-texture/14372235#14372235

[2018-01-19 03:16] pailhead commented on #13135
J/k was just stubbing it :) but the list does seem somewhat arbitrary hence the term

[2018-01-19 03:21] pailhead commented on #13135
@westlangley

That is an interesting point, all shader related problems can be solved by simply writing shaders. I’d suggest looking into onBeforeCompile instead of writing a shader from scratch though.

Still, as is this seems like tribal knowledge. I know your SO answers are broadly referenced but maybe the information in that answer should be in the actual documentation.

[2018-01-19 03:32] WestLangley commented on #9373
@sam-g-steel A quick hack produced this. I'm sure you could do better. :)

![screen shot 2018-01-18 at 10 29 30 pm](https://user-images.githubusercontent.com/1000017/35133611-2ad1a3b2-fc9f-11e7-8470-10b6a1d28781.png)

If you look at the other channels, there appears to be some edge-case estimation errors; but who knows...

[2018-01-19 04:06] WestLangley commented on #13135
@pailhead Would you be willing to improve the docs? The SO link is just suggested text you can copy if you want.

[2018-01-19 04:08] pailhead commented on #13135
It might be worth revisiting what this transformation is and how it behaves.

https://github.com/mrdoob/three.js/blob/1c7a88bd8e30f2784457534e46f20833fdd62bd4/src/renderers/shaders/ShaderChunk/uv_vertex.glsl#L3

**_Thats super awesome! Do you want to scale it, offset it and/or rotate it, perhaps?_**

**_Thats's fine! I'm just going to set up an identity matrix in the shader and add a few more inst

[2018-01-19 04:11] pailhead commented on #13135
@WestLangley

uhh i may have some bias towards how it works today. Documenting at least, may give me some piece, so in lieu of rethinking this, yes i can document this.

[2018-01-19 06:15] miandry commented on #12470
After change with @takahirox    convertUint8ArrayToString is not defined

[2018-01-19 07:01] sam-g-steel commented on #9373
Nice! I'll look further into it...

[2018-01-19 07:04] #13095 closed

[2018-01-19 08:58] StoneMa opened #13137 "How to use raycaster, there are some problem I can't understand."
##### Description of the problem
I want to add a mouse function just like [three.js-master/examples/canvas_interactive_cubes.html](https://threejs.org/examples/canvas_interactive_cubes.html)
the difference is I use obj, not geometory. but  it can't work.
When I debug on Chrome,

**In the case: I found it will go into this function:**

![image](https://user-images.githubusercontent.com/6917909/3514

[2018-01-19 13:29] kpetrow commented on #12640
Thank you. Now that windows has 3d builder, being able to use their preferred format is very helpful.  Windows 3d builder obj/mat is very buggy.  Thank you

[2018-01-19 13:55] dherben commented on #12903
Chiming in as a user of the Blender exporter here: one advantage of having the JSON is that it is extremely simple to modify after the export. Blender is only a part of our automated toolchain, and we do a lot of processing on the exported JSON, before it is ready to go to our web viewer. Having a transfer format that is so close to the internal threejs format, is a major bonus for us.

Also, we'v

[2018-01-19 14:31] #13137 closed

[2018-01-19 14:32] Mugen87 commented on #13137
Please ask help requests at the [forum](discourse.threejs.org).

[2018-01-19 17:23] elunty opened #13138 "New example for logarithmicDepthBuffer + depthtexture"
##### Description of the problem

I wondering if its possible for someone to create a new example similar to depth texture example (https://threejs.org/examples/?q=depth#webgl_depth_texture) but using logarithmicDepthBuffer =true in the webglrenderer. Maybe I am just misunderstanding something and the depth buffer option does not actually change the results of the depth texture..

##### Three.js v

[2018-01-19 18:02] donmccurdy commented on #12470
@miandry Are you using it somewhere else? In recent versions of three.js that function has been renamed to `THREE.LoaderUtils.decodeText( array )`.

[2018-01-19 18:33] WestLangley commented on #13138
This question is reposted from [SO](https://stackoverflow.com/questions/48314587/storing-the-logarithmic-depth-in-a-three-depthtexture).

Study the source code of `depth_frag.glsl`. There has been a lot of discussion on this. It will take some time to reconstruct the history. Start with https://github.com/mrdoob/three.js/pull/8602.

Beware your platform may or may not support 'EXT_frag_depth'.

Fe

[2018-01-19 19:51] elunty commented on #13138
Isnt depth_frag.glsl actually for MeshDepthMaterial and not a DepthTexture?

[2018-01-19 20:21] Mugen87 commented on #13090
There is now a third option :blush: #13140

[2018-01-20 02:40] WestLangley commented on #13138
@elunty So sorry, misread your post.

[2018-01-20 05:59] lrusso opened #13142 "Possible fix/update for custom scaling and moving using TransformControls.js"
I modified the TransformControls script in order to use a variable for how much the object will resize or move in each event. I also deleted a few functions as well. Anyway, I hope it may help some of the code.

Demo: https://lrusso.github.io/Three_with_TransformControls_patched/Viewer.html
Source: https://github.com/lrusso/Three_with_TransformControls_patched

[2018-01-20 10:07] dpvignesh1997 commented on #11125
can you share the file @mrdoob .
Thank You

[2018-01-20 13:02] miandry commented on #12470
@donmccurdy thks i will check it

[2018-01-20 19:41] #13064 closed

[2018-01-20 20:07] Mugen87 commented on #12888
This won't be fixed, sry. You need to enhance `ColladaLoader` by yourself.

[2018-01-20 20:07] #12888 closed

[2018-01-20 22:13] #9997 closed

[2018-01-21 09:21] elunty commented on #13138
Okay so.. turns out I am an idiot. I'm using some custom shaders for my object (`three.points`), and for some reason i expected `logarithmicDepthBuffer: true` to magically make my custom shader assign the logarithmic depth to the `depthTexture` object. It turns out (obviously) that isn't true at all.

I'll close the issue..

[2018-01-21 09:21] #13138 closed

[2018-01-21 11:06] #9904 closed

[2018-01-21 11:06] #6613 closed

[2018-01-21 11:06] #4754 closed

[2018-01-21 22:19] gigablox commented on #5876
@sunag For PR:
https://github.com/mrdoob/three.js/pull/11531

One issue I ran into:
https://jsfiddle.net/f0j2v3s8/

It seems like `SpriteNodeMaterial` transparency is lost, there is no combination of blending I can use on  to get this example to work.

Any ideas?

[2018-01-21 22:31] gigablox opened #13148 "SpriteNodeMaterial transparency lost?"
@sunag For PR:
https://github.com/mrdoob/three.js/pull/11531

One issue I ran into:
https://jsfiddle.net/f0j2v3s8/

It seems like SpriteNodeMaterial transparency is lost, there is no combination of blending I can use on to get this example to work.

Any ideas?

[2018-01-22 02:53] sunag commented on #13148
it was to removed the black box inside of the character?

[2018-01-22 04:08] gigablox commented on #13148
@sunag The sprite has an alpha channel - I'm trying to make the transparency show so there is no black. I'm able to get this working for other types of sprites but not `SpriteNodeMaterial` for some reason.

[2018-01-22 05:09] griffin2000 opened #13150 "Frustrum culling broken in WebVR"
##### Description of the problem

I'll add a repro case when I get the chance. But it looks like in VR mode frustrum culling is very broken.

If you launch VR via the THREE.WebVRManager and move the scene's root so it is always directly in front of the camera, everything works fine until the WebVR view is facing behind the original camera direction. At that point objects will get frustrum culled e

[2018-01-22 08:56] Aadjou commented on #13090
sounds great to me!
that's exactly why I made this issue, because it's a design decision.
What do you think of option 3 @WestLangley @AVGP

[2018-01-22 09:14] alinhulea commented on #12469
Any update on this issue guys ?

[2018-01-22 10:28] Mugen87 commented on #13090
Yes. It's still part of the regular expression.

Correct.

Maybe we can enhance the doc pages for [ShaderMaterial](https://threejs.org/docs/index.html#api/materials/ShaderMaterial) and [RawShaderMaterial](https://threejs.org/docs/index.html#api/materials/RawShaderMaterial).

[2018-01-22 10:52] Astrak commented on #13038
I'd love to ! Will do in feburary if noone did earlier.

[2018-01-22 11:11] MortimerGoro commented on #11619
@mrdoob Is that the correct solution? Why use a fixed height in vive examples when you could use standingTransform to get the best accuracy?

[2018-01-22 11:17] Mugen87 commented on #8261
The Maya exporter was removed with #13145

I suggest to export your model as `FBX` and import it via `FBXLoader`.

[2018-01-22 11:17] #8261 closed

[2018-01-22 11:18] #12861 closed

[2018-01-22 11:32] Mugen87 commented on #11550
Closing, see https://github.com/mrdoob/three.js/issues/12580#issuecomment-345797204

[2018-01-22 11:32] #11550 closed

[2018-01-22 11:37] fernandojsg commented on #11619
I also believe we should the `standingMatrix` to fix this issue. If the device doesn't have a `stageParameters` we could just set the height as described, but if it has, we should use it.
Otherwise we're forcing the same height for everyone, in my case for example I feel the floor is 20cms or so above my feet.

[2018-01-22 11:39] Mugen87 commented on #11209
This seems to be a WebGL2 related issue. We are using [drawArraysInstancedANGLE](https://developer.mozilla.org/en-US/docs/Web/API/ANGLE_instanced_arrays/drawArraysInstancedANGLE) and [drawElementsInstancedANGLE](https://developer.mozilla.org/en-US/docs/Web/API/ANGLE_instanced_arrays/drawElementsInstancedANGLE). In both cases `maxInstancedCount` is used as the `primcount` parameter which works as e

[2018-01-22 11:39] #11209 closed

[2018-01-22 11:49] brunnerh opened #13151 "Inescapable and non-disposable animation loop"
##### Description of the problem

The `WebGLRenderer` has an internal `loop` function as part of the `animate` function, looking at the code it will loop indefinitely and there is no hook for disposal either:

	function loop( time ) {
		if ( onAnimationFrame !== null ) onAnimationFrame( time );

		var device = vr.getDevice();

		if ( device && device.isPresenting ) {
			device.requestAnimationFram

[2018-01-22 11:54] Mugen87 commented on #10120
I would say we can remove `WebGLRenderer.setFaceCulling()`.

@mrdoob @WestLangley What do you think about this issue?

[2018-01-22 12:12] Mugen87 commented on #13151
If we keep track of the return value of a `requestAnimationFrame()` call, we can stop the animation loop in `dispose()` via `cancelAnimationFrame()`.

[2018-01-22 12:55] sunag commented on #13148
is need add a node in `alpha` channel:

`material.transparent` is setted in `build` if alpha slot is used

https://jsfiddle.net/213rn0rs/

[code]

[2018-01-22 12:59] sunag commented on #13148
or to prefer

https://jsfiddle.net/3x79hpw3/

[code]

[2018-01-22 15:12] gigablox commented on #13148
@sunag  Oh wow, yes this is what I was trying to do! Thank you so much!

[2018-01-22 15:12] #13148 closed

[2018-01-22 15:24] gigablox commented on #13148
Targeting the alpha channel is what worked for me :)
`new THREE.Math1Node( new THREE.SwitchNode( sprite1.material.color, "a" ), THREE.Math1Node.SUB );`

Thanks again!

[2018-01-22 15:52] WestLangley commented on #10120
It is OK to remove it. Users can directly call the methods it calls -- if they dare to do so...

[2018-01-22 16:30] sunag commented on #13148
@gigablox You're welcome!

[2018-01-22 16:51] NicolasRannou opened #13153 "[Feature request] Clipping against path of planes"
Is there any plan to support clipping against a path composed of "N" planes.

You can think of it as the yellow mesh there:
![screen shot 2018-01-22 at 5 48 10 pm](https://user-images.githubusercontent.com/214063/35232825-c9bc6200-ff9c-11e7-9320-d0ecf65bc01d.png)

Using the current clipping method doesn't quite work in this context.

I'd be happy to work on that if you have any suggestion on the b

[2018-01-22 17:23] WestLangley commented on #13153
No. I expect that is too application-specific. You can write your own shader to do that, however -- or inject code into an existing shader.

We do support clipping against "N" planes.

[2018-01-22 20:01] evanmrose commented on #12924
@looeee @mrdoob is this scheduled for release in .90?

[2018-01-22 20:40] Mugen87 commented on #13150
That would be helpful 👍

[2018-01-22 20:58] Mugen87 commented on #10719
Closing, since this is a Qt WebEngine related issue.

[2018-01-22 20:58] #10719 closed

[2018-01-22 21:55] mysteryDate opened #13155 "Documentation says the tube argument to torus is a diameter, when it seems to be a radius"
https://github.com/mrdoob/three.js/blob/a885290f59ff6b1692b5cccd8e7ab5b2bba33946/docs/api/geometries/TorusBufferGeometry.html#L48

<img width="899" alt="screen shot 2018-01-22 at 16 52 38" src="https://user-images.githubusercontent.com/2529989/35246491-e3cc1472-ff94-11e7-9990-0636515b3b27.png">

If `radius = tube` and it appears from the generated torus that `tube` is the *radius* of the tube, not

[2018-01-22 22:15] WestLangley commented on #13155
radius — radius of the torus. Default is 1.
    tube — radius of the tube. Default is 0.4.

Would you like to fix it?

[2018-01-22 23:15] Benjy1979 commented on #13098
Yeah, old version! I had taken the version from the samples instead of downloading the whole threejs folder.

[2018-01-23 00:10] griffin2000 commented on #13150
Hmmm can't seem to repro in a simple example, so possibly something more complicated going on.  Will dig deeper when I get the chance.

[2018-01-23 00:51] mrdoob commented on #12924
Yes. Should be released this week.

[2018-01-23 02:45] vt5491 commented on #13105
Unless I hear any objections, I'm going to proceed with a pull request on this.

I created a [glitch](https://adjoining-carver.glitch.me/) that can be used for testing.

The glitch starts off with an aframe scene with links to two pure-three.js vr scripts ('webgl_geometry_cube.html', and 'webgl_mirror.hml').  WASD keys are in effect.  From any transferred scene press 'b' to go back to the prior sc

[2018-01-23 02:53] WestLangley commented on #12210
@mrdoob Please revert this change. This is not a canvas API. Let's adhere to the webGL convention.

https://developer.mozilla.org/en-US/docs/Web/API/WebGLRenderingContext/viewport

[2018-01-23 09:31] Mugen87 commented on #13142
IMO, this modification is too application-specific and should be no part of the default `TransformControl`. I suggest to create a new topic at the [forum](https://discourse.threejs.org/) (category `Resources`) and present your work there.

https://discourse.threejs.org/c/resources

[2018-01-23 09:38] svcew-dinesh opened #13160 "Overlapping holes cause triangulation failure"
This is extension of issue #3386

I am trying to add two rectangles to one parent rectangle so that parent rectangle will have the cut same as its children. If two rectangles are apart from each other its working fine but if we combine both then the issue occurs.
Please check the issue in [jsfiddle](https://jsfiddle.net/6dtzfLfn/1/)

[2018-01-23 10:12] Mugen87 commented on #13160
Our code currently expects that holes are not overlapping. If you ensure this, you will get proper results:

https://jsfiddle.net/6dtzfLfn/7/

`three.js` uses internally a port of [earcut](https://github.com/mapbox/earcut) for polygon triangulation. If you can reproduce the issue just with earcut, you might want to open an issue at the respective repository.

[2018-01-23 11:35] Foosballfan commented on #9764
Hi @kdilayer, could we please have access to your application?

I'm interested to see the file size difference between .ifc and three.js formats.

Thanks!

[2018-01-23 13:07] jean-noelp commented on #9764
@Foosballfan I think an IFC is not an interesting format for the size, since it's very verbose. It's just an exchange format for architecture software like AutoDesk.
It's a standard or BIM. (ask to google this term which is famous in this kind of profession)

[2018-01-23 14:09] Richard004 commented on #9965
And here I reply to myself. Reading [thickness-of-lines-using-three-linebasicmaterial on SO](https://stackoverflow.com/questions/11638883/thickness-of-lines-using-three-linebasicmaterial) I understood that thick lines will need a geometry in the future anyway.

[2018-01-23 14:13] Mugen87 commented on #9965
@Richard004 This has nothing to do with WebGL. We already have a PR for this feature request, see #11349 👍

[2018-01-23 14:19] #5258 closed

[2018-01-23 14:23] Mugen87 commented on #5070
As @WestLangley mentioned we have an example that illustrates the workflow.

[2018-01-23 14:23] #5070 closed

[2018-01-23 14:32] Foosballfan commented on #9764
@jean-noelp  Thanks for the reply.

I have an ifc file for a building which is 34MB and am trying to display this data on the web with the smallest possible download size.

With Unity WebGL I can get it down to about 11MB but would like to see whether it is possible with more pure WebGL using Three.js. Hopefully I can achieve an even smaller download size.

Do you have any experience with a simila

[2018-01-23 14:32] Mugen87 commented on #5338
Closing, see https://github.com/mrdoob/three.js/issues/5338#issuecomment-56187042

[2018-01-23 14:32] #5338 closed

[2018-01-23 14:59] Mugen87 commented on #5631
The mentioned section of the "Getting started" tutorial is not valid anymore. If you want to retain a fullscreen canvas, set `width` and `height` of the canvas via CSS to `100%` and perform `.setSize()` like this:
[code]
Like mentioned in the [docs](https://threejs.org/docs/index.html#api/renderers/WebGLRenderer.setSize) setting `updateStyle` to `false` prevents any style changes to the canvas DOM

[2018-01-23 14:59] #5631 closed

[2018-01-23 15:06] donmccurdy commented on #9764
@Foosballfan to minimize file size, the steps I would try are:

1. convert to OBJ
2. run through [obj-simplify](https://github.com/jonnenauha/obj-simplify)
3. compress the OBJ with [Draco](https://github.com/google/draco)
4. load with THREE.DRACOLoader

If the file can't be converted to OBJ or another format, then there's probably not a lot you can do beyond simplifying the model or using gzip...

[2018-01-23 15:07] brunnerh opened #13161 "Only one scene is rendered in VR"
##### Description of the problem

If i have a perspective camera and an orthographic camera, each rendering separate scenes to the same renderer, only the contents of the first scene appear in VR. It does not appear to matter that one of the cameras is orthographic. Even when using the same camera to render the two scenes, the second scene only shows up in the browser, not the VR display.

What th

[2018-01-23 15:16] Mugen87 commented on #13161
So this problem only happens in VR, right? Can you reproduce the problem with this [Chrome Extension](https://chrome.google.com/webstore/detail/webvr-api-emulation/gbdnpaebafagioggnhkacnaaahpiefil)?

It will be easier to investigate the issue if you provide a simple live demo/reduced test case.

[2018-01-23 15:21] Mugen87 commented on #13155
`TorusKnotGeometry` and `TorusKnotBufferGeometry` also needs this fix.

[2018-01-23 15:22] brunnerh commented on #13161
Here is a test file where only the red sphere appears in VR:

[code]

[2018-01-23 15:24] brunnerh commented on #13161
Using the extension the problem also manifests.

Non-VR:

![image](https://user-images.githubusercontent.com/834235/35283931-cbc8500a-0059-11e8-9fa0-d2d8c4d7264f.png)

VR:

![image](https://user-images.githubusercontent.com/834235/35283958-da3b08f8-0059-11e8-8b02-32557eafa24c.png)

[2018-01-23 15:26] Foosballfan commented on #9764
@donmccurdy That looks great, thanks!

I'll give it a go and see how it turns out.

I originally gave up on obj as the one I made is 220MB from the 34MB file.

[2018-01-23 15:37] mrdoob commented on #5631
Another option would be doing this:

[code]

[2018-01-23 15:46] Mugen87 commented on #5631
That's even better 😅

[2018-01-23 15:52] #10120 closed

[2018-01-23 16:14] mrdoob commented on #12888
Workaround:

[code]

[2018-01-23 16:20] mrdoob commented on #13161
Yes, currently you can only do one render per frame in VR.

For your use case, I recommend you add the HUD as a child of the main camera and disable `depthTest` on its materials.

Also, VR does not support Orthographic cameras.

[2018-01-23 16:20] #13161 closed

[2018-01-23 16:22] #13160 closed

[2018-01-23 16:31] brunnerh commented on #13161
Thank you for the information and suggestions!

[2018-01-23 16:36] WestLangley commented on #13153
Sorry, this is not going to become a three.js feature. Try one of my above suggestions.

[2018-01-23 16:36] #13153 closed

[2018-01-23 16:43] mrdoob commented on #13150
Okay. Closing until then.

[2018-01-23 16:43] #13150 closed

[2018-01-23 19:31] mysteryDate commented on #13155
Sure! I should have suggested when I opened ticket, I'll fix it.

[2018-01-23 19:48] pailhead commented on #12851
I think i got these artifacts when using `TextureCube` with bias instead of `TextureCubeLOD`

[2018-01-23 21:12] WestLangley commented on #12851
That sounds like a reasonable conjecture...

@atul-mourya Closing. Feel free to open another issue later if you feel it is warranted.

[2018-01-23 21:12] #12851 closed

[2018-01-23 21:20] leighhalliday opened #13164 "Example broken on mobile"
##### Description of the problem

This example is broken on Android/Chrome:
https://threejs.org/examples/#webgl_gpgpu_water

[code]

##### Three.js version

- [ ] Dev
- [x] r89
- [ ] ...

##### Browser

- [ ] All of them
- [x] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [ ] All of them
- [ ] Windows
- [ ] macOS
- [ ] Linux
- [x] Android
- [ ] iOS

##### Hardware Requirements (graphic

[2018-01-23 21:35] Mugen87 commented on #13164
The example works on my Pixel with Android 8.1.

 OES_texture_half_float extension not supported.
OES_texture_half_float_linear extension not supported.

It's important to know that the mentioned extensions are not supported on all devices (see e.g. https://webglstats.com/webgl/extension/OES_texture_float_linear). If they are missing, the example won't work.

[2018-01-23 21:35] #13164 closed

[2018-01-23 22:59] makc commented on #13126
what about something like this:
![screen shot 2018-01-23 at 23 59 01](https://user-images.githubusercontent.com/242577/35305401-75b0e2d2-0099-11e8-8c2f-48e662b86018.png)

[2018-01-24 10:02] dharveshmydeen opened #13166 "FBXLoader Not Loading Binary octat-streat (parse) file"
##### Description of the problem
Hi,

I have Used Latest three.js package and working in angular 5.

By using FBXLoader it is loading normal plain/text file and it is working fine.

But,It is showing error while uploading binary parse fbx file

This form is for three.js bug reports and feature requests only.

This is NOT a help site. Do not ask help questions here.
If you need help, please use the

[2018-01-24 12:16] looeee commented on #13166
Can you share the model you are having problems with?

And have you tested with the latest dev version of the loader?

[2018-01-24 12:18] apostololeg opened #13167 "Error when calling mixer.clipAction()"
I have my model `cube.gltf`, that contains some animations named “jump” and “rotate”.
Animations playing correctly, but when I use `mixer.clipAction('jump')`, the error is throwing:

**TypeError: Cannot read property 'length' of undefined**

![2018-01-24_14-35-03](https://user-images.githubusercontent.com/514713/35332669-d04394c8-011c-11e8-8932-9ad6496eabd7.png)

[code]
[TEST REPO](https://github.

[2018-01-24 12:41] dharveshmydeen commented on #13166
I have uploaded my Binary Parse Model File.It is not Loading and Showing the below error

![screenshot from 2018-01-24 15-31-47](https://user-images.githubusercontent.com/20161904/35332715-f17c410c-0131-11e8-8a13-5a2f09a73e6c.png)

[BinaryModel.zip](https://github.com/mrdoob/three.js/files/1659821/BinaryModel.zip)

[2018-01-24 14:34] looeee commented on #13166
It loads fine with the latest version of the loader from the dev branch. Please update your loader.

[2018-01-24 14:34] #13166 closed

[2018-01-24 14:47] Mugen87 commented on #13167
After looking at your code, i'm afraid to say that you are not using `AnimationMixer` correctly. If you call `mixer.clipAction( 'rotate' )`, the root object of the mixer needs the animations attached to its geometry or to itself. This is not the case in your application. You should do something like this:

[code]
Your subsequent calls of `clipAction()` will work then. Besides, I can see multiple p

[2018-01-24 14:47] #13167 closed

[2018-01-24 15:03] apostololeg commented on #13167
Code, that you wrote, already [exist in my app](https://github.com/apostololeg/gltf-animation-test/blob/master/index.js#L54-L60).

fixed, but error still throwing

for what ?
I changed my code to use WebGLRenderer, but error still throwing

[2018-01-24 15:24] donmccurdy commented on #13167
Please post to the forum, we can help there.

[2018-01-24 16:46] sjpt commented on #8428
The same issue has returned with THREE.Texture().  Not at all serious for me as I am now using yaml instead of JSON.

[2018-01-24 18:04] mrdoob commented on #13126
That's quite a hack 😁

[2018-01-24 18:06] mrdoob commented on #13126
So the issue is... I actually don't understand what the issue is anymore.

[2018-01-24 18:38] makc commented on #13126
the issue is he is losing texture details. I guess what he really wants is some texture 'resize policy' setting, Idk:

[2018-01-24 18:40] makc commented on #13126
would it be less of a hack if 3js had
[code]

and users then could override this function?

[2018-01-24 18:55] Mugen87 commented on #13126
From my point of view, this is something users need to handle in their apps. They should resize the image according to their ideas in a pre-processing step and then pass the new image to `three.js`.

[2018-01-24 21:05] trusktr opened #13170 "Glitches in the LensFlare demo"
##### Description of the problem

In the [LensFlare demo](https://threejs.org/examples/webgl_lensflares.html), I see glitches that look like this

![screenshot 2018-01-24 at 10 55 28 am](https://user-images.githubusercontent.com/297678/35356756-31c69374-0106-11e8-8f76-9411f36cbf1e.png)

##### Three.js version

- [ ] Dev
- [x] r89 (at time of writing)
- [ ] ...

##### Browser

- [ ] All of them
- [

[2018-01-24 21:08] trusktr commented on #13170
Unable to reproduce in Chrome for macOS. Maybe it's a Chrome OS issue.

[2018-01-24 22:43] Mugen87 commented on #13170
I unable to reproduce on Chrome (64.0.3282.119) for macOS 10.13.2. Is it the only example where you see such artifacts? Can you please make a test with the `dev` branch, too?

[2018-01-25 02:20] BadmasterY opened #13171 "Delete the render pipe with THREE. EffectComposer"
I only see function like addPass, insertPass, render, reset, setSize, and swapBuffers.But I didn't see deletet in the THREE Effection, except what did I miss?

I now through the array to the operation of the rendering pipeline to delete, but I do think it does have a serious impact on the performance, after doing this in bloody android machine can not run!

So I'm wondering if there's a better way

[2018-01-25 03:08] WestLangley commented on #13171
Sorry, this is not a help site. Try [the forum](https://discourse.threejs.org).

[2018-01-25 03:08] #13171 closed

[2018-01-25 05:24] dharveshmydeen commented on #13166
Thanks you,

I am using "version": "0.89.0" .I think it is a latest Version.
I am using this in angular 5.0
I have loaded the model using the code which you have given in your example. https://threejs.org/examples/?q=fbx#webgl_loader_fbx

I dont know how where to locate the model in this scene.

Can your share loading function which you have used..?

[2018-01-25 05:33] looeee commented on #13166
Yes, R89 is the latest release. You need to take the files from the development branch (R90dev) here:
https://github.com/mrdoob/three.js/tree/dev

You'll need to update the three.js file and the FBXLoader.js file

I tested it in my loader [here](https://www.blackthreaddesign.com/loader/).

[2018-01-25 05:55] looeee commented on #13166
If you need any more help please ask over on the [forum](http://discourse.threejs.org/).

[2018-01-25 12:27] alinhulea commented on #12469
I have tried the webgl_test_memory example as it is and the memory seems to be released properly.
However, using the canvas size of about 1000X1000 instead of 256X256 in the same example in Firefox will result in GPU memory greater that 3GB in a matter of seconds ...and crash

Tried the solution with a single POT canvas and it seems to work better, no crash.
However the single POT canvas solution

[2018-01-25 12:48] alinhulea commented on #13126
@makc
Yes, this would be a solution.

Also, the proposed hack should work also, given that the "floorPowerOfTwo" function is not used elsewhere in the Three.js :)

@Mugen87
We have tried as mentioned creating a resized canvas (similar to the code that three.js uses to convert to POT textures), but this solution it not quite optimal in terms of memory, I understand this would be related to issue #1

[2018-01-25 12:58] brunnerh opened #13173 "WebVR camera FOV always returns 50"
##### Description of the problem

The VR camera always returns a FOV of 50 degrees, which is not necessarily the actual FOV. Using Cardboard, for example, the field of view is a lot higher.

It can be tested in [this example](https://threejs.org/examples/webvr_cubes.html) using the code:

[code]

If this value is not meant to be used (because the view is distorted rather differently from a regular

[2018-01-25 16:32] Ben-Mack opened #13174 "SoftwareRenderer border flickering on Chrome"
On Chrome (v64 latest), examples using SoftwareRenderer produces below flickering:
![ezgif-2-0716262583](https://user-images.githubusercontent.com/6309393/35398204-f1026394-0223-11e8-9e92-1af4d5f247be.gif)

These 2 examples:
  https://threejs.org/examples/software_geometry_earth.html
 https://threejs.org/examples/software_sandbox.html
have flickering.

But https://threejs.org/examples/software_lin

[2018-01-25 17:30] Mugen87 commented on #13174
I'm unable to reproduce with Chrome 64.0.3282.119 and macOS 10.13.2. Um, maybe the flickering happens only with Windows?

[2018-01-25 19:24] Mugen87 commented on #11940
I've found the bug 🙌

see https://jsfiddle.net/hfj7gm6t/4902/

[2018-01-25 19:55] trusktr opened #13176 "Unused GL function"
https://github.com/mrdoob/three.js/blob/be6bd29fd1461c5c6158abefed385271a386117b/src/renderers/shaders/ShaderChunk/lights_pars.glsl#L3-L15

This function is not always used. Should it be behind a directive?

[2018-01-25 20:37] trusktr commented on #13176
Well, in the Phone shader it's only used if a conditional preprocessor is true, which seems to always be true in the phong shader. But I haven't checked other shaders, so let me just close this before speaking too soon and re-open if I happen to see some way to organize it better.

[2018-01-25 20:37] #13176 closed

[2018-01-26 01:08] emeyex opened #13177 "ObjectLoader.js uses "anonymous" LoadingManager in parseImages()"
See https://github.com/mrdoob/three.js/blob/master/src/loaders/ObjectLoader.js, currently line number 494 in master branch: `var manager = new LoadingManager( onLoad );`

The problem is that there is no way to pass custom parameters to that `LoadingManager` instance. In my specific use-case, I need to remap all asset urls in my game, i.e. using `setURLModifier`. Using `DefaultLoadingManager` or pa

[2018-01-26 01:17] haroldiedema commented on #13174
I can confirm this is broken. Looks like a browser issue though.

For me, it was working on Chrome 63.0.3239.132 (Official build) (64-bits).
When I updated to version 64.0.3282.119 (Official build) (64-bits), it shows exactly like the image OP posted.

[2018-01-26 01:41] looeee commented on #13174
Looks fine to me on Windows 10, Chrome Version 64.0.3282.119 (Official Build) beta (64-bit).

[2018-01-26 01:54] #11940 closed

[2018-01-26 01:56] #13155 closed

[2018-01-26 05:19] emeyex commented on #13177
For anyone looking for a work around, the following is working for me, but obviously it would be great if this were fixed inside the actual `ObjectLoader.load` code instead.

[code]
☝️  is more or less a straight copy/paste of `ObjectLoader.load` (I removed the error handling to simplify), but before calling `parse()`, I iterate over the images in the JSON and modify the URLs inline. In my case I

[2018-01-26 10:57] HoldenCa opened #13179 "FBX importer (binary) parse PointLight color is incorrect."
##### Description of the problem
FBX importer (binary) parse PoitLight color incorrect.
You expect "ColorRGB" as vector3 but you have to expect "Color" as vector3 also.

[code]

I Can fix it by myself, but I want you to suggest me. If it's bad idea instaed of checking innerPropType1, check subNode.propertyList.length to define if the value of property is an vector or it's just single value?
Also s

[2018-01-26 11:07] HoldenCa opened #13180 "FBX loader PerspectiveCamera enhancement"
##### Description of the problem

Consider to apply FocalLength from fbx file for Pespective camera. It's makes scene looks pixel perfect as in 3ds max.

[code]

##### Three.js version

- [ ] Dev
- [ ] r89
- [ ] ...

##### Browser

- [x] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [x] All of them
- [ ] Windows
- [ ] macOS
- [ ] Linux
- [ ] Android
- [ ] iOS

##### H

[2018-01-26 11:18] eliasasaid1 opened #13181 "text direction for text geometry"
It seems there is an issue with the text geometry when using arabic unicoded letters I attached the files needed to reproduce the issue.

also you must the below hash to reproduce it : three.js-dev/examples/webgl_geometry_text.html#FF00A1001#%D8%B3%D8%A7%D9%82

problem occurs when text is set as below :

`	var text = "\u0633\u0627\u0642", //there is problem with text displayed (direction and lette

[2018-01-26 11:59] HoldenCa opened #13182 "FBXLoader changes object names."
##### Description of the problem
After recent changes FBX loader started to modify objects names.
For example I'm exporting a plane from 3ds max with name "Plane001", after import by FBXLoader name is converted to "Plane001Model".
Is it correct behaviour?
I want to relly on object names in my code.

##### Three.js version

- [x ] Dev
- [ ] r89
- [ ] ...

##### Browser

- [x] All of them
- [ ] Chro

[2018-01-26 12:47] Mugen87 commented on #13181
see #11680

[2018-01-26 12:47] #13181 closed

[2018-01-26 12:48] miguelriemoliveira opened #13183 "Misleading Documentation - Matrix4"
The description for the [Matrix4](https://threejs.org/docs/#api/math/Matrix4) in the online documentation says:

"

"

Perhaps I am misunderstanding something, but the matrixWorld should store the **object's transformation relative to the world**. Thus the sentence "This is the **object's transformation relative to its parent**" seems incorrect.

I would guess this sentence was written to the _mat

[2018-01-26 12:51] Mugen87 commented on #13174
@Ben-Mack Do you mind to file a bug here: https://bugs.chromium.org/p/chromium/issues/list

It also worth to highlight that updating to Chrome 64 seems to introduce this issue.

[2018-01-26 12:56] Mugen87 commented on #13183
Good find! Indeed, the sentence `This is the object's transformation relative to its parent.` is wrong there. It belongs to `matrix`. Would you like to correct the description? 😊

[2018-01-26 13:07] miguelriemoliveira commented on #13183
You mean with a pull request? I can try to do that.

[2018-01-26 13:16] Mugen87 commented on #13177
`ObjectLoader` uses an additional instance of `LoadingManager` to fire the global `onLoad()` callback iff all images are loaded. Um, this is something that other loaders actually handle differently. If you want to wait until all resources (e.g. textures) are fully loaded, you have to use the `onLoad()` callback of the respective loading manager.

Maybe we can change the following [line](https://gi

[2018-01-26 13:16] Mugen87 commented on #13183
Yes please 👍

[2018-01-26 13:18] Mugen87 commented on #13183
You can also use the "Edit" feature of github.

![image](https://user-images.githubusercontent.com/12612165/35441404-af8042e4-02a3-11e8-8187-e8fb6519ee60.png)

[2018-01-26 13:36] miguelriemoliveira commented on #13183
Made a mistake and did a pull request to my own fork first. Now its correct - a pull request is open to fix this one.

[2018-01-26 13:41] Mugen87 commented on #13173
How about adding a doc page for `ArrayCamera` and note the information there?

[2018-01-26 15:05] HoldenCa opened #13185 "FBXLoader animation doesn't work."
##### Description of the problem

After recent changes FBXLoader doesn't handle animations properly and falls with error.

![image](https://user-images.githubusercontent.com/13250475/35445565-b0de2f9a-02ba-11e8-895d-e5ab6235ef4e.png)
fbx model with test animation is attached.
[test_animation.zip](https://github.com/mrdoob/three.js/files/1668147/test_animation.zip)

[2018-01-26 17:35] #13105 closed

[2018-01-26 17:35] emeyex commented on #13177
That would definitely make more sense to me (to wait for all resources to load by using the shared loading manager). Enabling that behavior could maybe just be provided via an extra option so as not to change old/existing code bases?

[2018-01-26 17:49] #13183 closed

[2018-01-26 20:15] Mugen87 commented on #12469
@alinhulea So you suggesting something like this?
[code]
I think this should work since `makePowerOfTwo()` is only used inside `uploadTexture()`. When the generated image data are uploaded to the GPU memory via `texImage2D()`, there should be no problem to overwrite the canvas with other data. A new upload should also be no problem since this triggers the recreation of the POT image data.

@mrdoob

[2018-01-26 22:14] erichlof commented on #9965
Hi @mrdoob and @Mugen87
I need bit manipulations inside the fragment shader as well as dynamic array indexing.  The first one is probably not very common, but I need it regardless because I'm trying to port a CUDA kernel over to WebGL and other shader languages allow bit manipulations, but WebGL 1.0 does not.

The second one I think a lot of developers could benefit from: that is, accessing an arr

[2018-01-26 22:32] emeyex commented on #13177
Added a PR ☝️ that addresses the issue for me, and should otherwise preserve behavior for anyone who doesn't care about the new addition.

[2018-01-27 09:49] yiakwy opened #13188 "Critical Bug of getInverse when I use arrowHelper!"
##### Description of the problem

Hello I am developing a 3d system and it generates a lot arrowHelper programmatically. The issue is that  every few seconds,  a warning "THREE.Matrix3: .getInverse() can't invert matrix, determinant is 0" be fired.

[code]

those huge I/O operations (console.log) might run out the memory of my browser.

When I dived into the codes, I believe that there is a bug or

[2018-01-27 23:21] wjessup opened #13189 "bug? animation behavior inconsistent, only moves half length"
I'm creating an animation for that's dynamic based on a bunch of stuff, so the movements are not fixed, even the number of movements depends on state. I'm also creating objects and animating those in the middle of all of it.

It was working perfectly until I started to refactor it a bit and use only a single mixer. Now I get this behavior where the animationClip says the right thing but the animat

[2018-01-28 05:19] gavinkou commented on #13189
From: bounces+848413-91e8-gavin.kou=163.com@sgmail.github.com [mailto:bounces+848413-91e8-gavin.kou=163.com@sgmail.github.com] On Behalf Of Will Jessup
Sent: Sunday, January 28, 2018 7:22 AM
To: mrdoob/three.js <three.js@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [mrdoob/three.js] bug? animation behavior inconsistent, only moves half length (#13189)

I'm creating a

[2018-01-28 10:25] vincentfretin commented on #13188
I have a similar issue with lots of
"THREE.Matrix4: .getInverse() can't invert matrix, determinant is 0" or
"THREE.Matrix3: .getInverse() can't invert matrix, determinant is 0"
and with a texture inside a sphere that is now black.
using r89 and removing the changes from
https://github.com/mrdoob/three.js/pull/12787
fixed the issue for me.

[2018-01-28 11:03] vincentfretin commented on #13188
For the black texture I had, I now need to set material side:back and keep a negative scale, see
https://github.com/aframevr/aframe/issues/3288#issuecomment-361054219
but I still have lots of `.getInverse() can't invert matrix, determinant is 0` warnings of my scene.

[2018-01-28 15:05] Mugen87 commented on #13189
Sorry, this is not a help site. Please try [the forum](https://discourse.threejs.org). Also provide a live demo or reduced test case. In this way, it's easier for other community members to help you.

[2018-01-28 15:05] #13189 closed

[2018-01-28 16:53] pailhead commented on #11475
@mrdoob

Is it possible that these extended shaders are not being cached correctly? I am trying to use two different materials, one has `dithering_fragment` changed, the other doesnt. When i add both to the scene, it appears as only the one without the `dithering_fragment` chunk is being used.

[2018-01-28 17:01] edsilv opened #13191 "THREE.PointsMaterial not rendering correctly in Edge WebVR"
Here are a couple of screengrabs to illustrate the problem:

![ply1](https://user-images.githubusercontent.com/1334393/35484739-2962e7a2-044c-11e8-8e1f-cf6983544b7f.png)

![ply2](https://user-images.githubusercontent.com/1334393/35484743-2faf6a9a-044c-11e8-805b-768277d6cf0a.png)

The first image is how the ply file (a Lidar scan of a pub) looks in Edge on the desktop.

The second image is how it l

[2018-01-28 18:34] pailhead commented on #11475
It could possibly be due to this?

https://github.com/mrdoob/three.js/blob/35a26f178c523514673d992da1aece23c1cfca6e/src/renderers/webgl/WebGLPrograms.js#L244

I have the same function with some logic provided to both materials, the variables for the logic are out of scope of the callback, thus both my materials get the same hash?

[code]

[2018-01-28 18:54] pailhead opened #13192 "[BUG]: onBeforeCompile hashing"
##### Description of the problem

Go to https://codepen.io/anon/pen/KQPBjd. Comment line `#41` and the other cube that stays in the scene will change the shader.

This is due to:
https://github.com/mrdoob/three.js/blob/35a26f178c523514673d992da1aece23c1cfca6e/src/renderers/webgl/WebGLPrograms.js#L244

The same `onBeforeCompile` is provided to both materials, even though there is a condition that w

[2018-01-28 19:36] Ni55aN commented on #3670
Hello everyone!
I found a solution just by modifying the exist `computeVertexNormals()`
Live example: https://codepen.io/Ni55aN/pen/zROmoe?editors=0010
Source code: https://gist.github.com/Ni55aN/90c017fafbefd3e31ef8d98ab6566cfa

[2018-01-28 19:49] bartmcleod commented on #3670
@Ni55aN Looking good! How does it behave with other shapes?

[2018-01-28 21:08] pailhead commented on #11475
https://github.com/mrdoob/three.js/issues/13192

[2018-01-28 21:09] Mugen87 commented on #13170
Closing for now. I suggest to open an issue at https://bugs.chromium.org/p/chromium/issues/list

[2018-01-28 23:02] edsilv commented on #13191
Ah, setting `sizeAttenuation` to false has solved it. Closing.

[2018-01-28 23:02] #13191 closed

[2018-01-29 05:29] pbonneville commented on #10804
Just dropping a note that this flipped axis issue with the Blender export still seems to be an issue.

[2018-01-29 06:56] yiakwy commented on #13188
@vincentfretin Thank you! Now I know why this happened. But it seems that PR is likely for addressing another problem. Simply revert the commit might not be an ideal solution.

[2018-01-29 07:24] Usnul commented on #13069
It might be worth mentioning that 16 bytes are required to represent UUID. It might also be of interest to note that new Uint8Array(16) would provide just that, without any necessity for resizing, reallocating or indeed, even string manipulation.

[2018-01-29 09:01] Mugen87 commented on #10804
@pbonneville see #13130

[2018-01-29 09:44] Mugen87 commented on #5115
Unable to reproduce with Safari 11.0.2. Looks like the problem has been fixed for a while now.

Update test file: http://jsfiddle.net/3t9Ly94L/8/

[2018-01-29 09:44] #5115 closed

[2018-01-29 09:56] Mugen87 commented on #8845
Closing. If a browser has still problems with scientific notations for numbers in 2018, please file an issue at the respective bug tracker.

[2018-01-29 09:56] #8845 closed

[2018-01-29 10:05] alinhulea commented on #12469
@Mugen87  In the webgl_test_memory example the images are created using a canvas like so:

As I mentioned, with the canvas size changed from 256x256 to 1000x1000 in this example will result in GPU memory greater that 3GB in Firefox in couple of seconds ...and crash.
In this example I have tried to reuse the same canvas (not the canvas in Three.js makePowerOfTwo code)  and it seems to work better.

[2018-01-29 10:10] Mugen87 commented on #12469
So the huge amount of logs produced by `console.warn` is responsible for your memory problem?

[2018-01-29 10:13] Mugen87 commented on #10856
Closing. This issue won't be fixed in the library.

[2018-01-29 10:13] #10856 closed

[2018-01-29 11:24] Mugen87 commented on #5720
`MeshFaceMaterial` has been removed some time ago. Multiple materials are handled differently now. The issue should be solved now (at least the fiddle looks good with `R89`).

[2018-01-29 11:24] #5720 closed

[2018-01-29 11:39] Mugen87 commented on #9499
If this is still an issue for someone, ask the respective browser developers for a fix.

see https://github.com/mrdoob/three.js/issues/4834#issuecomment-122041257

[2018-01-29 11:39] #9499 closed

[2018-01-29 11:41] Ni55aN commented on #3670
@bartmcleod I have not tested with a lot of shapes yet. One shape after processing CSG looks correct, but small transitions between neighboring faces are visible (perhaps just because of the geometry)

[2018-01-29 11:58] Mugen87 commented on #12469
BTW: I suggest to close this issue and mark it as a duplicate.

#11378 should be the leading issue.

[2018-01-29 12:05] makc commented on #13069
@Usnul I tried that [here](https://github.com/mrdoob/three.js/pull/13094#issuecomment-357077546), it was 15 times slower.

[2018-01-29 13:22] tschoartschi commented on #11552
@FriOne I'm not sure if @mrdoob really thinks Typescript is bad but I think he is against discussing Typescript in this issue/thread because it's not the topic of this thread. I think ES6 classes don't work against or for Typescript. If you transform the codebase to ES6 it's even easier to port the codebase over to Typescript because it's syntax is very similar. Yes I think Typescript could enable

[2018-01-29 14:23] FriOne commented on #11552
@tschoartschi, think typescript can help with migration to es6 classes and other refactoring. I don't have such migration experience, it might be I'm wrong.

[2018-01-29 14:33] tschoartschi commented on #11552
@FriOne it depends 😉 of course Typescript could help because the compiler could tell you all your errors and mistakes but you would need to set up the whole build pipe first to work with Typescript. Furthermore, you need to assess if Typescript is the correct fit or not. I think it's fine to convert to ES6 classes first and then think about Typescript.

[2018-01-29 18:11] Mugen87 commented on #9377
All standard geometries in `three.js` (`BoxGeometry`, `SphereGeometry`, `CylinderGeometry` etc.) are procedurally generated from a given set of parameters. When `three.js` serializes these entities, it's more lightweight to save only the parameters and not the entire geometry data (vertices, normals, uvs and maybe indices).

If you use one of the standard geometries and still want to serialize the

[2018-01-29 18:11] #9377 closed

[2018-01-29 21:56] kaisalmen opened #13197 "FileLoader with ArrayBuffer high loading frequency leads to DOMException"
##### Description of the problem

#12458 "Fix FileLoader duplicate request issues" seems to have introduced a new problem. When the same file is loaded with high frequency and ArrayBuffers are used then this message is likely to appear:
[code]
You can reproduce this easily with example `webgl_loader_obj2_run_director`. Select a high worker count; minimum 4 better 8 or 12. Watch the log for the app

[2018-01-29 22:40] klausw commented on #12225
First of all, the Android WebVR implementation unfortunately still has known performance issues, mostly this is due to the presentation pipeline copying pixels which adds fill rate overhead. I'm working on improving that, but this has been taking longer than anticipated.

But even with that known overhead, simple WebVR applications should still be able to reach 60fps.

A few things to look out for

[2018-01-30 03:48] mrdoob commented on #12469
@Mugen87 sounds good 👍

[2018-01-30 04:01] mrdoob commented on #13173
I get `70` here... 🤔

[2018-01-30 04:06] mrdoob commented on #13126
👍

I feel it's a bit of over-engineering...

[2018-01-30 04:06] #13126 closed

[2018-01-30 04:12] #13188 closed

[2018-01-30 04:16] #13142 closed

[2018-01-30 04:20] takahirox commented on #13197
I will look into.

@mrdoob Should we fix by r90? Or r91?

[2018-01-30 04:22] mrdoob commented on #13197
r91 for sure.

[2018-01-30 05:19] chjiyun opened #13199 "AnimationClip Problem"
i have a problem:
**Why the object which contains 6 children(Object3D) rotate on the opposite direction after  11 times of rotation? this troubled me 3 days. who can help me? Thank you!**

[code]
Caution: The problem will  arise when it have 11 same direction of rotation.

[2018-01-30 05:35] brunnerh commented on #13173
You are not in VR mode, so that is not the same camera.

[2018-01-30 05:49] mrdoob commented on #13173
@brunnerh I'm just following your instructions. Is there any other thing I should take into account before testing again? Also, what `fov` are you expecting to get?

[2018-01-30 05:58] brunnerh commented on #13173
Well, i did say that this was about the VR camera, but i guess i could have been more clear about entering VR before executing the code. There is nothing besides that necessary. The exact expected value depends on the device you use. Usually i would expect it to be closer to 90 degrees or even higher.

You can calculate the value from the projection matrices provided by `VRFrameData` that can be e

[2018-01-30 09:28] vaing4723 opened #13200 "How can I save shadow map as an image?"
I want to save the shadow map render target as an image, and I use the follow method,
At the end of WebglShadowMap render function, I add these codes:

var image = document.createElement('img');
var dataURL = _renderer.domElement.toDataURL();
image.src = dataURL;
document.body.appendChild(image);

![image](https://user-images.githubusercontent.com/12947170/35558266-8d259860-05e2-11e8-9331-29cf2d5a

[2018-01-30 09:43] Mugen87 commented on #13199
This is not a help site. Please use the [forum](https://discourse.threejs.org/).

[2018-01-30 09:43] #13199 closed

[2018-01-30 09:44] Mugen87 commented on #13200
This is not a help site. Please use the [forum](https://discourse.threejs.org/).

[2018-01-30 09:44] #13200 closed

[2018-01-30 10:05] vaing4723 commented on #13200
Can I transfer the topic to the forum directly?

[2018-01-30 10:06] vaing4723 commented on #13200
Can I transfer the topic to the forum directly?

[2018-01-30 10:23] Mugen87 commented on #13200
Unfortunately not.

[2018-01-30 13:42] #12469 closed

[2018-01-30 15:01] Mugen87 commented on #3886
see https://github.com/mrdoob/three.js/pull/11863#issue-246631722

[2018-01-30 15:01] #3886 closed

[2018-01-30 15:20] brunnerh commented on #13173
@mrdoob I added some more information regarding the expected FOV in my previous comment.

[2018-01-30 16:52] Mugen87 commented on #4762
see https://github.com/mrdoob/three.js/issues/9377#issuecomment-361334691

BTW: `ObjectExporter` has been removed, see f8ecbb150e15bda46d22295ca2d647e1cf2f06d4

[2018-01-30 16:52] #4762 closed

[2018-01-30 17:08] Mugen87 commented on #6017
Closing, since this feature request is too use case specific. I've never seen that the raycast logic of a 3D engine or library reports such a result.

[2018-01-30 17:08] #6017 closed

[2018-01-30 17:52] WestLangley commented on #13126
@mrdoob How about doing something like this instead:
[code]
Similarly for `height`, and being sure to also test for max texture size.

[2018-01-30 18:06] gadlol opened #13202 "Object3D.onBeforeRender, Object3D.onAfterRender keep running continuously"
##### These callback functions run always...

In the docs : [https://threejs.org/docs/#api/core/Object3D.onBeforeRender](url) it is written:

"is executed" not "is keep executed continuously"...

From my tests these callback functions keep running.

I dont know if it should run continuously or not but the docs and the functionality differs.

##### Three.js version

- [ ] Dev
- [x] r89
- [ ] ...

#

[2018-01-30 18:13] Mugen87 commented on #13202
I would say the documentation correct. It says: _An optional callback that is executed immediately before the Object3D is rendered._ The object is rendered each frame, thus the callback is fired each frame, too.

[2018-01-30 18:15] gadlol commented on #13202
Hmm, if that's the case you are right...

[2018-01-30 18:16] Mugen87 commented on #13202
You can check the source code if you wish to be on the safe side 😉

https://github.com/mrdoob/three.js/blob/f09e1a6a9b8ba6018efdf7d707e8a4f59c0f9d84/src/renderers/WebGLRenderer.js#L1434-L1461

[2018-01-30 18:19] #13202 closed

[2018-01-30 19:50] Mugen87 commented on #8210
@iRomano Closing. We can reopen the issue if you can reproduce the problem with a [live demo](https://jsfiddle.net/f2Lommf5/) and the latest `three.js` version.

[2018-01-30 19:50] #8210 closed

[2018-01-30 20:40] #5312 closed

[2018-01-30 20:43] Mugen87 commented on #5808
Solved with #11863

https://threejs.org/examples/webgl_materials_texture_rotation.html

[2018-01-30 20:43] #5808 closed

[2018-01-30 20:50] Mugen87 commented on #9102
Closing. We can reopen if this is still an issue in the latest `three.min.js` build.

[2018-01-30 20:50] #9102 closed

[2018-01-30 20:57] cmiguelcabral opened #13203 "FBX with dds and tga textures"
##### Description of the problem

The FBXLoader doesn't load FBX files with built-in DDS and TGA textures.

The function used to Load up the FBX file:
[code]

Here's a screenshot of Chrome's console:
https://ibb.co/mx33g6

##### Browser

- [ ] All of them
- [x] Chrome
- [ ] Firefox
- [x] Internet Explorer
- [x] Edge

##### OS

- [ ] All of them
- [x] Windows
- [ ] macOS
- [ ] Linux
- [x] Android
-

[2018-01-30 21:04] fetox74 commented on #9965
Antialiasing in Postprocessing would be definately beneficial.

[2018-01-30 22:11] backspaces commented on #9965
Under all this is the question: is it time for a new architecture for Three?

I recently started using D3, version 4. It was a *complete* redesign. Es6
modules. And far more important, *30* modules, each of which was its own
repo. I really recommend looking at the D3 architecture.

I'm not saying we need this for Three, but I think we could consider a
major version bump. Partially due to webgl2. B

[2018-01-30 22:13] elunty commented on #9965
@fetox74 Pretty sure you can do AA already https://threejs.org/examples/?q=fxaa#webgl_postprocessing_fxaa

[2018-01-30 22:59] pailhead commented on #11883
+ ∞

[2018-01-31 01:49] jonobr1 opened #13206 "[Firefox Android] Examples materials / video and video / panorama / equirectangular broken"
I'm not exactly sure if this ever worked or when it started breaking, but video textures seem to have errors on Firefox for Android. Below is the GL error / warnings spit out by Firefox Dev Console:

![capture](https://user-images.githubusercontent.com/220033/35600936-5b20f32a-05e5-11e8-887d-cedbe582e24a.PNG)

And the result is that the material returns black to the fragment shader.

I've tested t

[2018-01-31 02:00] mrdoob commented on #13126
It may be easier to do some utils for developers instead?

Something like...

[code]

[2018-01-31 02:33] chalienge opened #13207 "ColladaLoader: wrong opacity in parsing"
##### Description of the problem

The collada loader can not recognize transparency correctly. The glass and leaf parts inside the attached model has got two transparent materials, but the opacity properties are wrong when loaded into the scene.

[boi_chamber.zip](https://github.com/mrdoob/three.js/files/1680174/boi_chamber.zip)

##### Three.js version

- [x] Dev

##### Browser

- [x] All of them

[2018-01-31 03:48] WestLangley commented on #13126
That works. I was just suggesting to round large textures down; small textures up.

[2018-01-31 04:33] WestLangley commented on #13207
This is related to https://github.com/mrdoob/three.js/issues/2210#issuecomment-7286036.
[code]
As a test, the model renders correctly if transparency `0.000000` is replaced with `1.000000` in the model file.

[2018-01-31 04:41] commanderjameson commented on #6647
I think what

[2018-01-31 05:50] pailhead commented on #13192
I looked into fixing this, but i'm not sure what to do. There is no way of knowing what's in the `onBeforeCompile`, other than it does it's own "compile". Since this only makes sense on materials, and not `ShaderMaterials` one could compile the `onBeforeCompile` and use that to hash, but seems a bit too hacky.

[2018-01-31 08:24] finscn opened #13210 "[BUG] Can't get gl.VERSION correctly."
https://github.com/mrdoob/three.js/blob/e2973b76f11de536975ee1a8d0776e15aaca9e69/src/renderers/webgl/WebGLState.js#L345

on some android platforms ,  the code
[code]
will return `null`  (because there is no `WebGL`, only `OpenGL ES`),
so , this line will take an error `Cannot read '1' of null`.

### Suggestion :
change to
[code]

[2018-01-31 08:31] eastecho commented on #13210
Same here.

I'm running three.js with WeChat platform, the same problem occured.

[2018-01-31 09:49] marcofugaro commented on #9965
@elunty the FXAAShader doesn't produce a good enough result compared to original antialiasing, I've used it in the wild.

[2018-01-31 10:10] nNightKil opened #13212 "FBXLoader: Find a bug in the code that leads to load fail."
##### Description of the problem

Find a little bug in FBXLoader.  See the code in the following picture:
![image](https://user-images.githubusercontent.com/13641738/35617000-e38efe6a-06b1-11e8-82e3-2b107cf41eab.png)

when the "children" is undefined, the "fileName" is undefined, too.
and the below code doesn't consider this condition and call `fileName.indexOf`.
It will result a error and load fa

[2018-01-31 11:15] AmjadKh94 opened #13213 "How to apply 2 lightmap for two different objects that share same material"
I'm using Collada with three.js to apply lightmap to objects that share the same material,
it keep giving the objects the last lightmap.

[code]
is it even allowed to have multiobjects shared material each with its lightmap ?
ANYHELP ?
- [ ] Dev
- [ ] r89
- [ ] ...

##### Browser

- [ ] All of them
- [ ] Chrome
- [x] Firefox
- [ ] Internet Explorer

[2018-01-31 13:13] Mugen87 commented on #13213
This is not a help site. Please use the [forum](https://discourse.threejs.org/).

[2018-01-31 13:13] #13213 closed

[2018-01-31 13:18] Mugen87 commented on #13207
@WestLangley Does that mean we have to evaluate the `opaque` attribute in order to calculate the correct value for `material.opacity`? Right now the loader performs just this opertation:
[code]

[2018-01-31 13:26] Mugen87 commented on #13206
I can reproduce with my Pixel (first generation) and mobile Firefox. Looks like a browser issue to me...

[2018-01-31 13:28] Mugen87 commented on #13210
Does that mean you are not using `three.js` in a browser but in a WebView or something?

[2018-01-31 13:31] finscn commented on #13210
@Mugen87  , in browser , but it's the built-in browser of  custom ROM .
In China , there are many custom ROMs in different android phones.

[2018-01-31 13:45] nNightKil opened #13214 "FBXLoader: Wrong Normal Data for lighting"
##### Description of the problem
I update the FBXLoader today and find that it show wrong normal (I guess is the normal) when lighting for some fbx model. I will show different view for the same scene in the following, note that I have set the intensity of the directional light to 1000 ( I think big enough ). However, it shows wrong effect.

![image](https://user-images.githubusercontent.com/13641

[2018-01-31 13:49] RemusMar commented on #13206
That link doesn't work even on PC.

![webgl_materials_video](https://user-images.githubusercontent.com/11772787/35626389-42a44856-069e-11e8-9461-e7c159052e38.jpg)

[2018-01-31 13:52] Mugen87 commented on #13206
Both examples work on my desktop with macOS 10.13.2 and FF 58.0.1

[2018-01-31 14:17] RemusMar commented on #13206
That was the latest Firefox ESR (52.6.0).

With the latest Firefox Quantum (58.0.1) it works.

![firefox_quantum](https://user-images.githubusercontent.com/11772787/35627599-0f422362-06a2-11e8-9b60-8abd0112a93c.jpg)

But Firefox ESR is very important because it proves the backwards compatibility.

[2018-01-31 14:20] acc-firala commented on #13212
I had this exact problem - my FBX fails to load because of line 341.

However - I tried out your change and this causes a GET 404 in line 347 (because filename still is undefined, right?)

[2018-01-31 14:21] Mugen87 commented on #13206
Maybe related: https://bugzilla.mozilla.org/show_bug.cgi?id=1322694

[2018-01-31 14:25] RemusMar commented on #13206
This VideoTexture approach works perfect on Firefox ESR (52.6.0).:
http://necromanthus.com/Test/html5/testA_disco.html
But the example from threejs.org does not.

[2018-01-31 15:02] Mugen87 commented on #13206
Maybe it's related to the video format 🤔

[2018-01-31 15:14] RemusMar commented on #13206
Indeed.
https://github.com/mrdoob/three.js/pull/13215
It works now.

[2018-01-31 15:20] jonobr1 commented on #13206
All right! That's an easy fix. Awesome work!

On Wed, Jan 31, 2018 at 7:15 AM Remus M <notifications@github.com> wrote:

--
http://jonobr1.com/

[2018-01-31 15:29] WestLangley commented on #13207
Apparently so.

[2018-01-31 16:03] mrdoob commented on #13170
Actually, I can reproduce on a PixelBook.

The new version in `dev` doesn't show the artifacts though:
http://rawgit.com/mrdoob/three.js/dev/examples/webgl_lensflares.html

However, it's also slower. I'll have to investigate...

[2018-01-31 17:07] Mugen87 commented on #13210
I'm curious how these browser internally work 🤔. They have a WebGL API but no WebGL implementation?

[2018-01-31 17:38] finscn commented on #13210
@Mugen87  , they could run many webgl app , just information of gl.VERSION is incorrect.
So magic ...

[2018-01-31 18:40] Mugen87 commented on #13210
I've realized that there is already a PR for introducing OpenGL ES support: #13046

@finscn Can you please check what's different compared to your PR? I think one PR that tackles the issue is sufficient.

[2018-01-31 19:13] jonobr1 commented on #13206
Just for further clarification for anyone that stumbles on this issue it looks like FF Quantum 58.0.1 on Android is also having problems with `webm`s

[2018-01-31 20:50] #13207 closed

[2018-01-31 21:12] finscn commented on #13210
@Mugen87  , I read the  #13046 , and it inspires me.
I've updated my PR.
Now , I think . my PR is better than #13046.
Whatever , thanks , @raindust .

[2018-01-31 22:38] mrdoob opened #13218 "WebVR Origin Trial Tokens"
I'm being told the tokens expired on the 21st. How do you usually request them?

[2018-01-31 22:51] #13210 closed

[2018-02-01 00:23] looeee commented on #13212
I'll take a look at this and other FBXLoader issues tomorrow

[2018-02-01 01:42] looeee commented on #13214
Can you share the models? I'll take a look

[2018-02-01 01:44] looeee commented on #13203
Can you share your files? It should be fairly easy to make this work, but I haven't come across FBX files with these texture types before.

[2018-02-01 05:29] nNightKil commented on #13214
[testModel.zip](https://github.com/mrdoob/three.js/files/1684280/testModel.zip)

These are the model that result the problem. I just simplify the two model.  Which show wrong in the website editor is the "testSofa1.fbx", and the "testIron.fbx" is which show wrong in r87.

[2018-02-01 08:28] Mugen87 commented on #13218
I'm using this form:

 https://docs.google.com/forms/d/e/1FAIpQLSeTp7amHWjumMZpJBklt0gCuD8QbSHIPlrp5_EVzCYWhf_uEg/viewform

[2018-02-01 08:34] #13206 closed

[2018-02-01 08:50] Mugen87 commented on #12516
Closing. The place of any shader-related documentation can be discussed if someone actual provides a PR.y

[2018-02-01 08:50] #12516 closed

[2018-02-01 09:02] tomdelerue commented on #10690
Yes, something I've been looking forward to for some time. Maybe I can help?

[2018-02-01 09:27] Mugen87 commented on #11471
@rmarques-realstatus You are creating each frame 10.000 identical geometry, material and texture objects. You could easily create only a single geometry, material and texture in `init()` and reuse them for all meshes. Also adding and removing 10.000 new planes per frame is much more extreme compared to `webgl_test_memory`. A poor performance under these circumstances is comprehensible.

BTW: `webg

[2018-02-01 09:52] looeee commented on #13182
I can't reproduce this. Can you share the model you are having problems with?

[2018-02-01 09:58] looeee commented on #13180
This looks good - would you like to make a pull request?

A couple of comments:

`var FocalLength` should be `var focalLength`

`model.setLens` - I presume this should be [model.setFocalLength](https://threejs.org/docs/#api/cameras/PerspectiveCamera.setFocalLength) ?

[2018-02-01 10:23] looeee commented on #13185
Fixed in #13221

[2018-02-01 10:31] looeee commented on #13214
testIron.fbx looks fine.

testSofa.fbx is missing textures so it appears black. Can you provide the textures as well?

[2018-02-01 10:39] looeee commented on #13212
@nNightKil @acc-firala could you share the files that are causing issues?

A fix should be pretty easy but it would be best if I can test it against you files.

[2018-02-01 10:45] cnspaha opened #13222 "SAOPass: Change blending mode when rendering to screen"
##### Description of the problem

Following case:
1. Render some stuff on the canvas
2. Use SAOPass with ```renderToScreen=true``` for postprocessing
3. Expected behaviour => SAO is being put/rendered over the current canvas
    Actual behaviour     => Canvas is being 'cleaned' with the (probably empty) readBuffer

The actual behaviour happens because the SAOPass renders the readBuffer (which can

[2018-02-01 11:05] looeee opened #13223 "Materials / cubemap / dynamic is unnecessarily complex"
I want to refactor this [example](https://threejs.org/examples/?q=dyna#webgl_materials_cubemap_dynamic) to remove the use of `BinaryLoader`, but it seems to me that it is far more complex than is neccessary to demonstrate a dynamic cube map.

I'd suggest two option:

1. remove the example and replace it with `materials / cubemap / dynamic2` which is much simpler.

2. simplify it to use a single ca

[2018-02-01 11:21] cmiguelcabral commented on #13203
@looeee Just sent you an e-mail with the file.
It really need to be dds and/or tga because it uses the texture's alpha channel to define transparencies and reflections, png or jpg doesn't has any alpha channel.

[2018-02-01 11:41] nNightKil commented on #13214
What I get is just this model without textures. So it's neccessary for the model have the textures? But in r87, it show right.

r87:
![image](https://user-images.githubusercontent.com/13641738/35676618-602d629c-0787-11e8-9eea-81ba399c6a46.png)

r89:
![image](https://user-images.githubusercontent.com/13641738/35676648-7bdfd9ca-0787-11e8-8721-ac4499eb13c7.png)

I try it and guess the angle between w

[2018-02-01 12:01] nNightKil commented on #13212
I add the code by myself and then my model had shown right. But I load another model just now and  failed.
[testError.zip](https://github.com/mrdoob/three.js/files/1685396/testError.zip)

[2018-02-01 12:14] kaisalmen opened #13224 "Should we fix all CRLF issues?"
##### Description of the problem

Hi all,

the introduction of `.gitattributes` made sense, but it comes with a cost. If not all your files obey to the imposed rule you may get into trouble when switching branches even if that is not obvious (line endings are correct). Sometimes the only workaround is to hard reset to a fairly old commit and reset to hard to dev again; sounds weird, yes, but it wo

[2018-02-01 14:49] acc-firala commented on #13212
Unfortunately my files are under NDA of client. Wish I could share. When I convert the Binary FBX to ASCII with Maya, the same happens.

[2018-02-01 15:56] WestLangley commented on #13214
1 is big enough. That is a clear sign the normals are not correct.

In r.88 the normals appear correct, and the model is loaded on its side.

![screen shot 2018-02-01 at 10 45 20 am](https://user-images.githubusercontent.com/1000017/35687724-74f64134-073d-11e8-8d0d-b904ad3bc539.png)

In r.89, the normals are not correct, and the model is loaded right-side-up.

![screen shot 2018-02-01 at 10 47 05

[2018-02-01 16:52] emeyex commented on #13177
Since @Mugen87 closed the PR (https://github.com/mrdoob/three.js/pull/13187), I will continue conversation here.

I find it a little bewildering that after offering a fix for a bug and incorporating all feedback into the PR promptly, that it is then closed without any substantive explanation. It seems like it would be more constructive to actually point out real problems with the PR if there are a

[2018-02-01 17:19] dustinkerstein opened #13225 "renderer.setSize ignored when presenting in WebVR"
I'm trying to increase the render scale when WebVR rendering is enabled. I'm able to see clearly the effects of changing renderScale when using this example - https://webvr.info/samples/test-slow-render.html?heavyGpu=1&cubeScale=0.3&workTime=12&standardSize=true&renderScale=2.0 but when I try to do something similar with renderer.setSize in my code, my custom renderScale is just ignored.

Example:

[2018-02-01 17:45] Mugen87 commented on #13177
I think you exaggerate the whole thing a little bit. You contribution is valuable since you've pointed out an issue in `ObjectLoader`. If one of the collaborators closes a PR, then that does not mean the work of the developer is unwanted.

The thing is you've created a lot of code that is actually not necessary. If the internal image loader uses the global loading manager, it's not necessary to tr

[2018-02-01 17:56] emeyex commented on #13177
I don't take it personally if you close my PR, it's the closing of it without further explanation that was off-putting. Thank you for providing some more details, I will take a look and see if I can improve the PR based off your comment:

I will be the first to admit I am new to the three.js codebase and still getting my bearings, so I appreciate the specific feedback.

[2018-02-01 18:02] Mugen87 commented on #13177
Sorry for this. You're right, an explanation would have been appropriate. I guess it was just the lack of time to write some good feedback.

[2018-02-01 18:20] Mugen87 commented on #13223
I think i tend to option two. The handling of the car is actually quite funny 😁

[2018-02-01 18:27] donmccurdy commented on #13177
For my $0.02, in this situation it seems like the LoadingManager is being used to work around the lack of other async syntax, like `Promise.all()`. In GLTFLoader we are just using Promises, and it's easier to make sure the images all use the same LoadingManager. But I'm not sure whether any Promises are used in the core codebase; without transpiling that could be a breaking change. :/

[2018-02-01 18:35] mrdoob commented on #13225
The way the WebVR API is in control of the render size.

[2018-02-01 18:37] mrdoob commented on #13225
You could render into a `WebGLRenderTarget` and then use that as a texture. That only works for doing lower resolution though, we can't do much about higher resolution at the moment.

[2018-02-01 18:55] dustinkerstein commented on #13225
So it's not currently possible to raise the render scale if using the official WebVR api, correct?

For some use-cases which aren't pushing the performance limits of WebGL it would be really nice to be able to easily render the eye textures at higher resolutions. It appears that the render scale is currently defaulting somewhere around .5 of native which is quite noticeable in a headset.

When I t

[2018-02-01 19:49] Mugen87 commented on #13222
It seems to work [here](https://threejs.org/examples/webgl_postprocessing_sao.html) with the following setup:
[code]
What is different in your application from the example's code?

[2018-02-01 20:21] agilecollab opened #13226 "ObjLoader object.children not of type Mesh"
##### Description of the problem

When using es6 syntax ObjLoader does not return instances of Mesh as suggested within the example code.

[code]

##### Three.js version

- [ ] Dev
- [ x] r89
- [ ] ...

##### Browser

- [x] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [x] All of them
- [ ] Windows
- [ ] macOS
- [ ] Linux
- [ ] Android
- [ ] iOS

##### Hardware Requir

[2018-02-01 20:23] agilecollab commented on #13226
Tested with my model as well as the example code Male02.obj and my desired object with the same result. changing the condition to `child.type === 'Mesh'` appears to work.

[2018-02-01 20:34] agilecollab commented on #13226
Changing the condition to `child.isMesh` also appears to work.

[2018-02-01 20:40] emeyex commented on #13177
@Mugen87 👍 No worries, I understand having limited time.

I've just taken a closer look at the code - unless I'm misunderstanding your comment, the code I've added is necessary whether you use `DefaultLoadingManager` (I assume that's what you mean by `global loading manager`) or a new instance of `LoadingManager`. The anonymous callbacks passed to `loader.load` (`ObjectLoader.js` line 493 in my PR

[2018-02-01 20:49] looeee commented on #13223
OK, in that case we will need to convert one of the current car models in JSON Binary format into two models in another format (front wheels and rest of car).

I guess it should be GLTF?

[2018-02-01 21:13] #13185 closed

[2018-02-01 21:15] mrdoob commented on #13203
png has alpha channel...

[2018-02-01 21:23] looeee commented on #13203
I've added support here #13227

@cmiguelcabral the model you shared with me is still not loading correctly, but I'm not sure what the reasons are. It's possible that there are problems with your DDS textures, since I'm getting errors from the DDSLoader, but only for a few of them.

If you can create a couple of simple models that use TGA and DDS (preferably just a cube with a texture), I'll invest

[2018-02-01 21:24] Mugen87 commented on #13226
Maybe there is a problem within the `three-addons` npm module. What happens when you directly use the code of the latest `OBJLoader` from here:

https://github.com/mrdoob/three.js/blob/dev/examples/js/loaders/OBJLoader.js

[2018-02-01 21:36] mrdoob commented on #13226
Yeah the `OBJLoader` in `three-addons` may be old. But our current `OBJLaoder` still has some `instanceof`.

[2018-02-01 21:38] mrdoob commented on #13218
I see. Do you mind requesting new ones?

[2018-02-01 21:42] looeee commented on #13212
@nNightKil your testError.fbx doesn't have any textures so the `loadTexture` function never gets called.

Anyway, the issue should be fixed in #13228

[2018-02-01 21:42] cmiguelcabral commented on #13203
@looeee
The model I sent you opens nice on ClockStone's ViewFBX, that's why I think it is ok.
I'll make some simple model using one or two textures from each dds and tga from this same model I sent you.

[2018-02-01 21:44] cmiguelcabral commented on #13203
Do you think this could related to the "Real-World Scale" mapping feature on 3ds Max? I think this model has some materials with that option turned on.

[2018-02-01 21:49] mrdoob commented on #11883
Instead of trying to hack `BufferAttribute... What about an API like this?

[code]

[2018-02-01 21:51] #13212 closed

[2018-02-01 21:55] mrdoob commented on #13225
We could consider adding a `setPixelRatio()` to `renderer.vr`, but... even if the current API kind of allows it, as far as I know, the future versions of the API won't.

[2018-02-01 22:13] dustinkerstein commented on #13225
Interesting. As far as I know, all of the native desktop and mobile VR SDK's allow for manually setting the render scale for the eye textures. Bummer that the WebVR API wouldn't allow it.

[2018-02-01 22:26] emeyex commented on #13177
Pushed up a bit more concise version [here](https://github.com/emeyex/three.js/blob/objectloader-unify-loadingmanager/src/loaders/ObjectLoader.js#L469) (will hold off on creating a PR for now). Moved almost all the logic into `imageFinishedLoading()`.

For reference, here are the lines I mentioned above in `ImageLoader.js` demonstrating that some mechanism for waiting on all images is necessary re

[2018-02-01 22:36] DVLP opened #13230 "Baking ambient occlusion to texture dynamically"
#####

It would be good from performance perspective to be able to dynamically bake ambient occlusion once on scene load instead of using post processing. This would be good for i.e. procedurally generated levels. Currently achieving GI is either by using prebaked scenes from 3d software or using Effect Composer that costs performance

I'd like to be able to export scenes from my modified three.js

[2018-02-01 22:49] WestLangley commented on #13230
Please do not cross-post help questions here.

[2018-02-01 22:49] #13230 closed

[2018-02-01 22:52] DVLP commented on #13230
What about now? This is a genuine feature request not just cross posting

[2018-02-01 23:42] cmiguelcabral commented on #13203
@looeee
Here is a simple model using some of the previews one's textures. In the FBX there's 4 objects, two using dds textures and and the other two with the same textures converted to png:
https://1drv.ms/u/s!AuFgusJuBTNnhJ8PG8W4tHOjLHjysg

As you can see in those screenshots, ViewFBX can handle this textures:
![image](https://user-images.githubusercontent.com/3021283/35709176-518b3094-07a9-11e8-

[2018-02-01 23:46] #12343 closed

[2018-02-02 00:04] agilecollab commented on #13226
Thanks for the info guys, mucho appreciated.

The version of OBJLoader within the examples expects `THREE` to be defined within the global scope, which I would prefer not to do... as I would have to specifically modify my webpack config to expose THREE globally.

I'm in the process of creating a PR for `three-addons` to update their version of OBJLoader to the current implementation... hopefully t

[2018-02-02 00:16] mrdoob commented on #13226
Thank you!

[2018-02-02 00:16] #13226 closed

[2018-02-02 00:35] mrdoob commented on #13223
👍

However, I think we should save some of the car handling code though. Should we create a new example `webgl_interactive_car` maybe?

Yeah, but I would leave that for another PR.