[2017-10-30 22:53] donmccurdy commented on #12535
fail with an error, perhaps pointing to the polyfill

Is there an error thrown here, or do things just mysteriously fail later on down the line when that byte is read? If you have an example model you can share we can test this out.

i don't think I understand ... does that work? and would it slow down parsing for normal models? 🤔

[2017-10-30 22:59] stevesan commented on #12535
What happens in our non-browser environment is that it silently interprets
UTF8 as ascii, leading to file not found errors later on.

On Mon, Oct 30, 2017 at 6:54 PM Don McCurdy <notifications@github.com>
wrote:

[2017-10-30 23:12] takahirox commented on #12535
Oops, seems like `s = decodeURIComponent( escape( s ) );` is for another purpose. That's for handling encoded UTF-8, like "%E3%81%82". I've removed the comment.

[2017-10-31 00:43] MohmadAyman commented on #12525
Here you go :relieved:

[2017-10-31 01:28] #12349 closed

[2017-10-31 03:32] donmccurdy commented on #12535
Hm ok. I think I'd prefer not to check each character just so we can throw errors, that sounds like a performance hit. Would probably recommend the TextDecoder polyfill then... by the way is there a converter/exporter adding these UTF-8 characters? Or is it part of the name of an object in the model, do you know? Would be nice to know where that is coming from.

[2017-10-31 03:40] danrossi commented on #9754
I spent two whole months finding that solution above with the help of everyone fine tuning the shader of course so thankyou. It just means more of our time countering them finding another work around.

I hope there is one.

They have not bothered to try and fix the flipy / HLS / webgl issue at all, you can see in that ticket I made.

They only just fixed the CORS problem after all. Although I'm un

[2017-10-31 04:30] sandipJava commented on #12524
I need ur help can u mail me ur mail... sandip.d@nipun.net... pls @makc  @Mugen87 @gilesbowkett @zimbatm @darwin

[2017-10-31 04:48] kpetrow opened #12541 "matrix4().applyToBufferAttribute() not working"
##### Description of the problem

I dont seem to detect a change in array when i apply a matrix to the array.

[code]

http://jsfiddle.net/xgf1v2L5/

##### Three.js version

- [ ] Dev
- [x ] r84
- [ ] ...

##### Browser

- [ ] All of them
- [x ] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [x] All of them
- [ ] Windows
- [ ] macOS
- [ ] Linux
- [ ] Android
- [ ] iOS

##### Hardware Re

[2017-10-31 04:58] sandipJava commented on #12524
I created one 3d Map .obj (Using 3d max).  Then I loaded this map using three.js. Then I created one cube. This cube must be move on the road. how I can read the obj property and how I can set road on the map., Now this cube going in white space. Currently I gave manual road path for  moving cube.
Please share ur mail then I can send you obj files. Please Help me.

![new map 2](https://user-images

[2017-10-31 04:59] sandipJava opened #12542 "Obj Loader read its property and set the path"
I created one 3d Map .obj (Using 3d max).  Then I loaded this map using three.js. Then I created one cube. This cube must be move on the road. how I can read the obj property and how I can set road on the map., Now this cube going in white space. Currently I gave manual road path for  moving cube.
Please share ur mail then I can send you obj files. Please Help me.

![new map 2](https://user-images

[2017-10-31 05:07] sandipJava commented on #12542
see example... https://threejs.org/examples/webvr_rollercoaster.html

[2017-10-31 05:07] sandipJava commented on #12524
see example... https://threejs.org/examples/webvr_rollercoaster.html

[2017-10-31 05:24] stevesan commented on #12535
Well filenames can contain utf8, and those show up for things like texture
images.

Ok I was thinking you could just error if TextDecoder is not defined.

On Mon, Oct 30, 2017 at 11:33 PM Don McCurdy <notifications@github.com>
wrote:

[2017-10-31 05:25] takahirox commented on #12497
What @mrdoob wrote works in my environment.

And even if you need image asynchronously loaded, I think this would work

    var url = 'data:image/png;base64' + imageDataInBase64;
    var loader = new THREE.TextureLoader();
    var texture = loader.load( url );
    var material = new THREE.MeshBasicMaterial( {map: texture} );

because `TextureLoader` sets `texture.needsUpdate = true;` when image is

[2017-10-31 05:32] sandipJava commented on #12535
I created one 3d Map .obj (Using 3d max).  Then I loaded this map using three.js. Then I created one cube. This cube must be move on the road. how I can read the obj property and how I can set road on the map., Now this cube going in white space. Currently I gave manual road path for  moving cube.
Please share ur mail then I can send you obj files. Please Help me.
@stevesan @donmccurdy
![new map 2

[2017-10-31 05:33] sandipJava commented on #12497
@xcmaya

I created one 3d Map .obj (Using 3d max).  Then I loaded this map using three.js. Then I created one cube. This cube must be move on the road. how I can read the obj property and how I can set road on the map., Now this cube going in white space. Currently I gave manual road path for  moving cube.
Please share ur mail then I can send you obj files. Please Help me. sandip.d@nipun.net

![ne

[2017-10-31 06:02] takahirox commented on #12432
@mrdoob Thanks for merging `generateUUID2` 😄

[2017-10-31 06:17] sandipJava commented on #12432
@takahirox Hello sir I need some help in three js, Will u help me

[2017-10-31 06:22] takahirox commented on #12541
Pass attribute, not array, to `.applyToBufferAttribute`.

    var test = new THREE.BoxBufferGeometry(2, 2, 2).attributes.position;
    console.log(test.array)
    var test1 = new THREE.Matrix4().makeTranslation(3, 3, 3).applyToBufferAttribute(test);
    console.log(test1.array);

    Float32Array(72) [1, 1, 1, 1, 1, -1, 1, -1, 1, 1, -1, -1, -1, 1, -1, -1, 1, 1, -1, -1, -1, -1, -1, 1, -1, 1, -1, 1,

[2017-10-31 06:47] looeee commented on #12432
@sandipJava try the [forum](http://discourse.threejs.org).

[2017-10-31 07:12] sandipJava commented on #12432
@looeee will u help me

[2017-10-31 07:13] sandipJava commented on #12432
@looeee

I created one 3d Map .obj (Using 3d max).  Then I loaded this map using three.js. Then I created one cube. This cube must be move on the road. how I can read the obj property and how I can set road on the map., Now this cube going in white space. Currently I gave manual road path for  moving cube.
Please share ur mail then I can send you obj files. Please Help me. sandip.d@nipun.net

![ne

[2017-10-31 08:09] sonygod opened #12544 "[gltf] 'THREE.GLTFLoader: Duplicating UVs to support aoMap.' ?"
hi,my mode have two uv  channels, the uv2 for AO,but the three.js render error!
![image](https://user-images.githubusercontent.com/748320/32213313-aaab80ae-be55-11e7-97cb-b7555b7b88fb.png)

this is right show.
![image](https://user-images.githubusercontent.com/748320/32213324-b62e501e-be55-11e7-9b23-b90c7b953498.png)

![image](https://user-images.githubusercontent.com/748320/32213346-d32b8ef2-be55

[2017-10-31 08:42] sandipJava opened #12545 "https://discourse.threejs.org/t/obj-loading-and-make-road-path-on-it-see-description-and-image/1105?u=sandipnd31"
https://discourse.threejs.org/t/obj-loading-and-make-road-path-on-it-see-description-and-image/1105?u=sandipnd31

[2017-10-31 08:48] LagodViads commented on #12527
@Mugen87
Thanks for the insight. Copying the geometry to a new Geometry is what I ended up doing.

@WestLangley

If I understand correctly, direct transformation of the vertices of a typed geometry is not the correct usage ; transformations of typed geometries should be set in the containing mesh.

Ok, thanks.

[2017-10-31 09:20] Mugen87 commented on #12524
Please use the [forum](https://discourse.threejs.org/) or stackoverflow for help questions.

[2017-10-31 09:22] Mugen87 commented on #12542
Please use the [forum](https://discourse.threejs.org/) or stackoverflow for help questions.

[2017-10-31 09:22] #12542 closed

[2017-10-31 09:25] Mugen87 commented on #12545
It is no good style to clutter the issue section with your help request. Please focus on the forum and stackoverflow.

[2017-10-31 09:25] #12545 closed

[2017-10-31 09:26] sandipJava commented on #12524
@Mugen87  I used

[2017-10-31 09:27] sandipJava commented on #12545
@Mugen87  Sir , Help me to solve my issue

[2017-10-31 09:29] sandipJava commented on #12545
@Mugen87  See forum link https://discourse.threejs.org/t/obj-loading-and-make-road-path-on-it-see-description-and-image/1105?u=sandipnd31

[2017-10-31 09:30] Mugen87 commented on #12527
That will definitely work.

[2017-10-31 09:30] #12527 closed

[2017-10-31 09:32] #12541 closed

[2017-10-31 10:20] trymoremore opened #12546 "how"
##### Description of the problem

This form is for three.js bug reports and feature requests only.
This is NOT a help site. Do not ask help questions here.
If you need help, please use [stackoverflow](http://stackoverflow.com/questions/tagged/three.js).

Describe the bug or feature request in detail.
A code snippet, screenshot, and small-test help us understand.

You can edit for small-test.
http:

[2017-10-31 10:30] trymoremore opened #12547 "how to rotate a object around a special point"
i want to rotate a object around the read point like this :
![i](https://user-images.githubusercontent.com/27277007/32219440-2e32c604-be69-11e7-8d72-bd957886f0e8.jpg)

but the fact is this:
![image](https://user-images.githubusercontent.com/27277007/32219518-6566bad6-be69-11e7-9b63-9487d67004aa.png)

this is my code :
gz.position.set(0,-50,0);
gz.rotation.x+=-0.1*Math.PI;

[2017-10-31 10:39] sandipJava commented on #12547
@trymoremore  I have also same problem I want to move cube on the obj

[2017-10-31 10:51] Dev-Jareth commented on #12547
Have a look at https://stackoverflow.com/questions/15214582/how-do-i-rotate-some-moons-around-a-planet-with-three-js
Is this what you mean

[2017-10-31 11:24] #12546 closed

[2017-10-31 11:24] #12547 closed

[2017-10-31 13:49] kpetrow commented on #12541
@takahirox @Mugen87
That makes sense is there a reason why it doesn't take the array only?  Seems like there is some overhead in the attribute object when all we really need is the array to be modified.  Way better than geometry.applyMatrix, but still not as slim as possible?  Thank you for the help.

[2017-10-31 14:05] takahirox commented on #12481
Here is the working repository

https://github.com/takahirox/three.js/blob/GLTFLoaderAccessorNormalized/examples/js/loaders/GLTFLoader.js#L1475-L1567

Seems like it's working for  threejsnotnormalized.js but is not tested well enough yet.

[2017-10-31 14:10] Mugen87 commented on #12541
Data in a buffers are not always organized in a straightforward sequence. They can have different layouts like e.g. interleaved buffers. Working with buffer attributes provides a thin abstraction over these "low-level" implementation details.

[2017-10-31 15:31] takahirox commented on #12544
Can you share your glTF file with us for the test?

[2017-10-31 15:33] donmccurdy commented on #12481
I only just saw this but there is an optional `normalized` argument to THREE.BufferAttribute: https://threejs.org/docs/#api/core/BufferAttribute, which passes into WebGL `vertexAttribPointer()` call.

[2017-10-31 15:34] takahirox commented on #12481
Oh, I wasn't aware of that. I'll look into it tomorrow...

[2017-10-31 15:37] WestLangley commented on #12497
I don't think that is guaranteed. You have to be careful not to set the` needsUpdate` flag too early, in the event that `render()` is called before the image loads.

[code]

[2017-10-31 15:39] donmccurdy commented on #12535
Unless UTF-8 becomes a fairly common problem, I don't think we want to strictly require the polyfill by throwing an error when it's missing... I'd be OK with logging a warning saying something like: `THREE.GLTFLoader: TextDecoder API missing, falling back to manual decoding. May fail for assets containing UTF-8 characters.`.

[2017-10-31 15:47] WestLangley commented on #12527
There is nothing wrong with doing that. It is often done when geometries are merged, for example.

[2017-10-31 15:52] donmccurdy commented on #12432
@sandipJava the forum or Stack Overflow are the best places to get help with a question.

[2017-10-31 15:53] takahirox commented on #12481
Updated.

https://github.com/takahirox/three.js/blob/GLTFLoaderAccessorNormalized/examples/js/loaders/GLTFLoader.js#L1475-L1506

Seems like we should use `normalized` argument.

[2017-10-31 15:57] takahirox commented on #12497
Curious to know that, image can be loaded asynchronously with

    image.src = 'data:image/png;base64' + imageDataInBase64;

?

[2017-10-31 16:05] donmccurdy commented on #12481
Nice! That seems more convenient yes 😄

[2017-10-31 16:06] takahirox commented on #12481
Yup. And requesting to https://github.com/KhronosGroup/glTF-Sample-Models seems also nice.

[2017-10-31 22:18] Itee commented on #9562
Until a solution emerges from this discussion...

There is for all people that want be able to use a full modular threejs right now [threejs-full-es6](https://github.com/Itee/threejs-full-es6). And yes i'm the maintainer !

This is just a feasibility test for convert all wanted example to es6 module, using rollup for bundling. Currently it convert around 99% of examples into modules.

@trusktr Cou

[2017-10-31 22:18] wolfgangvonludwigsburg opened #12550 "Mysterious Points (BUG?)"
##### Description of the problem
In search for some serious larger threejs visualization projects, I found the "mother" of all animation efforts,
I think it's ROME - "3 Dreams of Black".

Wanting to start to analyse the basic mesh, I took these files

https://github.com/dataarts/3-dreams-of-black/blob/master/tests/cityShader/assets/city/City.Ground1_.008.js
https://github.com/dataarts/3-dreams-of-

[2017-11-01 01:24] MohmadAyman commented on #12525
@Mugen87  here is the whole model zipped, textures and the mesh included.

Here is [the whole model zipped](https://drive.google.com/open?id=0B60Ua3vn3uQ-TjBzelpBUU9Pa1k).

Thanks.

[2017-11-01 04:26] looeee commented on #12550
@wolfgangvonludwigsburg the [forum](https://discourse.threejs.org/) is probably a better place to discuss this.

[2017-11-01 05:16] sandipJava opened #12553 "Which is the best loader in Three.js?"
I want to do some operation on 3d external file. for example I want to read file x y z axis, I want to restrict or set boundary on that 3d file. Which is the best loader to do operations.

[2017-11-01 06:12] wolfgangvonludwigsburg commented on #12550
@looeee may I ask, could you verify the issue on your system?

![mysterious points](https://user-images.githubusercontent.com/9339385/32262241-d0fbd622-bed3-11e7-9b71-5df79ca6c413.jpg)
camera.position.z:

Points NOT visible at 200000
Points NOT visible at 190000
Points     visible at 180500
Points NOT visible at 171475
...
(alternating visible/not visible)

I presume, it is a concern of the underl

[2017-11-01 07:13] Maplesog opened #12554 "GLTFLoader display model is darker"
##### Description of the problem

My modal is .obj, and it displays well when I use objLoader and mtlLoader . I use obj2gltf to convert my obj modal to gltf. And then it displays more darker with GLTFLoader. what's the problem?

##### Three.js version

- [ ] Dev
- [x] r87
- [ ] ...

##### Browser

- [x] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [x] All of them
- [

[2017-11-01 07:21] takahirox commented on #12554
Can other viewers/libs render as you expect? If not, it'd be an obj2gltf issue.

[2017-11-01 10:52] Mugen87 commented on #12525
Thanks, i'll have a look at it.

[2017-11-01 11:04] Mugen87 commented on #12554
You can also upload your model to [clara.io](https://clara.io/) or [sketchfab](https://sketchfab.com) and compare the results. In this way, you don't have to write any code.

[2017-11-01 12:26] Mugen87 commented on #12553
I think it's sufficient to ask the question at one place.

https://discourse.threejs.org/t/which-is-the-best-loader-in-three-js/1120

I'll send you there a post with some information about loaders in `three.js`.

[2017-11-01 12:26] #12553 closed

[2017-11-01 12:40] Mugen87 commented on #12525
I've tested your `dae` file but i'm afraid there are not textures included. So let me ask, how do you load the textures and apply them to your mesh?

I expected a structure like in this [file](https://raw.githubusercontent.com/mrdoob/three.js/dev/examples/models/collada/stormtrooper/stormtrooper.dae). The textures are defined in the tag `library_images`.

[code]

[2017-11-01 12:42] Mugen87 commented on #12530
Is it possible to provide the entire model as a zip file again? 😊 Makes it easier to see if the texture is actually applied.

[2017-11-01 13:38] wolfgangvonludwigsburg commented on #12550
The better ISSUE title should be:
**PointsMaterial over textured MeshBasicMaterial does'nt render consistently on long-dimensioned camera positions(e.g. 10*1e3)**

I simplified the test code (put this into your three-examples folder):

[code]

[2017-11-01 14:13] MohmadAyman commented on #12525
Thanks for looking into it.

Yes I didn't use to use `library_images` for that.

I load the textures like this:
First load the mesh
[code]

then
[code]

[2017-11-01 14:33] donmccurdy commented on #12550
I can't comment on the different JSON versions, but any of the ROME glTF assets should work with the latest THREE.GLTFLoader:

https://gltf-viewer.donmccurdy.com/#model=https://raw.githubusercontent.com/mrdoob/rome-gltf/master/files/models/life_soup/quadruped_fox.gltf

They may require double-side materials, which the viewer above and files themselves do not set.

[2017-11-01 14:36] donmccurdy commented on #12554
Assuming you're converting to glTF 2.0, obj2gltf is converting to a metal-rough PBR workflow, i.e. THREE.MeshStandardMaterial. This may give different results, and/or look better with an environment map.

As others mention, comparing against various viewers (https://gltf-viewer.donmccurdy.com/, http://sandbox.babylonjs.com/) or including your source and output models would make it easier to help y

[2017-11-01 14:54] #12481 closed

[2017-11-01 15:07] WestLangley commented on #12550
Increase your near plane to 100.

See [this SO answer](https://stackoverflow.com/questions/26717513/stl-rendering-with-threejs/26725521#26725521).

Also, [this article](http://www.songho.ca/opengl/gl_projectionmatrix.html).

[2017-11-01 15:07] #12550 closed

[2017-11-01 15:28] looeee opened #12559 "Docs: Buffergeometry .normals attribute clarification"
The description of the .normals attribute in the [buffergeometry docs](https://threejs.org/docs/#api/core/BufferGeometry) says:

But as far as I am aware only vertex normals are supported in WebGL.

[2017-11-01 15:44] Mugen87 commented on #12525
Assuming your model has correct uv data, you have to manually set the correct texture parameter. For example:
[code]
I don't understand why this workflow worked with the old loader. If no textures are defined in the `dae` file, the implementation is unable to create texture objects with correct parameters. In any event, this is not a loader but a user specific problem.

[2017-11-01 16:05] WestLangley commented on #12559
Thanks. An improvement would be:

[2017-11-01 16:12] looeee commented on #12559
Yeah I figured - I was just wondering if we should clarify that face normals are interpolated if converting from a geometry that has them.

[2017-11-01 16:58] looeee opened #12560 "Should FBXLoader return indexed geometry?"
I've been testing returning indexed buffer geometry with the FBXLoader, and it looks like it should be possible (at least, I have it working for some simple models consisting of just vertices and normals).

It certainly reduces duplication of vertex info a lot, especially when dividing up quads.

Getting the indexing to work with  complex models with skinning data will be quite a bit of work thoug

[2017-11-01 18:29] donmccurdy commented on #12535
hm there are a non-trivial number of different loaders doing ad-hoc TextDecoder fallbacks: https://github.com/mrdoob/three.js/search?utf8=%E2%9C%93&q=textdecoder&type=

maybe we should just implement this with utf-8 support in a utility (`LoaderSupport.bin2str`?) and reuse it everywhere

[2017-11-01 22:53] MohmadAyman commented on #12525
Okay I see, but why wouldn't it be a problem with the loader well since it only appeared when it was upgraded?

Well the loading code was written quite a time ago, we used to only set the `texture.wrapS` and `texture.wrapT` if the material had a scaling factor.
[code]

I've tried your approach for loading the texture, but unfortunately nth changed.

[2017-11-02 00:29] looeee commented on #12559
Sorry, I'm wrong - the face normals from a geometry are duplicated, not interpolated.

https://github.com/mrdoob/three.js/blob/c1afee8fea2157a3846b7b9bdf00d4f69d7076eb/src/core/DirectGeometry.js#L160

I'll update the docs now, your suggestion is fine.

[2017-11-02 00:54] mrdoob commented on #12109
The [WebVR.js](https://github.com/mrdoob/three.js/blob/dev/examples/js/vr/WebVR.js) that landed in r88 handles these events.

[2017-11-02 00:54] #12109 closed

[2017-11-02 01:01] #12559 closed

[2017-11-02 01:14] bhouston commented on #12231
@WestLangley I do like your original proposal, I think it is the right way to go.

[2017-11-02 01:52] trusktr opened #12563 "[bug?] Value of 'premultipliedAlpha' has no effect?"
##### Description of the problem

When I change the value of `premultipliedAlpha` to `false` the result is the same.

For example:

- http://jsfiddle.net/gxnr75wn/3
- http://jsfiddle.net/gxnr75wn/4

I thought the difference would be something like this, when doing it with vanilla WebGL:

- http://jsfiddle.net/Px65h/376
- http://jsfiddle.net/Px65h/377

In those last two examples, it is easy to see

[2017-11-02 02:54] WestLangley commented on #12231
@mrdoob My proposal is to wait until after the next release, and then file a PR that makes the optional target non-optional, eliminating the use of the following pattern from the library:
[code]
The policy would be that three.js methods do not instantiate objects, except in constructors and in methods such as clone().

Would that be something you would support?

[2017-11-02 03:22] WestLangley commented on #12563
There shouldn't be any difference if you specify your colors correctly.

What you have implemented in your example is not valid code when `premultipliedAlpha` is `true`.
[code]
It should be
[code]
Read the three.js source code so you understand the decisions we made when we implemented this feature.

I would not change the renderer's `premultipliedAlpha` setting unless you really know what you are

[2017-11-02 10:20] Mugen87 commented on #12525
Ok, i'll revisit this at the weekend.

[2017-11-02 10:40] Mugen87 commented on #12525
BTW: I don't think that the usage `material.scale` makes any sense in this context. As far as i know, `LineDashedMaterial` is the only material that has a [scale](https://threejs.org/docs/index.html#api/materials/LineDashedMaterial.scale) property.

[2017-11-02 11:27] Mugen87 commented on #12525
Ahhh, i think i found the issue. It is actually a problem in the loader! Your file contains the following uv information:
[code]
As you can see, two sets of uv coordinates. The new collada always picks the last set of uvs, which is a different behavior compared to the old loader. It seems to be necessary to evaluate the `set` attribute in some way in order to get right results.

[2017-11-02 11:58] Itee commented on #12231
I totally agreed with @bhouston about the polluting against Vector3, which will become unmaintainable with this way.

And

Should be a lead coding pattern in the lib !

About @Mugen87

[code]
It's look good but is in conflict with the first proposal, so to avoid breaking change and allow user to make their port we should use, like @mrdoob said:

[code]

Finally, just a suggest about parameters usa

[2017-11-02 14:27] KavehR commented on #12530
Having the same issue with Maya 2017 here. Is the loader expecting a specific shading network to be set before exportation with the DAE_FBX exporter from Maya ? I am asking because it seems, among a couple of secondary disparities, that the sampler2D newparam is not created in the dae file, nor passed as the texture in the texture tag of the desired channel. The texture is fed with the image id di

[2017-11-02 15:04] MohmadAyman commented on #12525
Oh I see, so thats why.

I'll try to have a look at it this weekend to try to solve it.

[2017-11-02 15:08] MohmadAyman commented on #12530
Sure, here is the [model zipped](https://drive.google.com/file/d/0B60Ua3vn3uQ-ZkE5cXJ4eldBQkk/view?usp=sharing) .

[2017-11-02 15:25] KavehR commented on #12530
In your files, it looks like the blender exporter is properly giving the sampler's id to the channel's texture, whereas meshlab's present kind of the same problem as Maya 2017's here, giving the image id instead of the sampler id to the channel's texture. Feels like a collada exportation plugin problem..

[2017-11-02 18:30] Mugen87 commented on #12525
You might want to start at `parseGeometryPrimitive()`:
https://github.com/mrdoob/three.js/blob/a57b090b5c6a7307ccabd94965e56f5568594166/examples/js/loaders/ColladaLoader.js#L1881-L1887

After we have read the `set` attribute for an input tag, we need to find a way to store multiple `uv` sets for the semantic `TEXCOORD`. Right now, an existing entry just gets overwritten. This new behavior will cau

[2017-11-02 18:57] matpen opened #12567 "Raycaster not working with initially zero-length lines"
I am new to three.js, so firstly I would like to thank for a great library.

Next, here is the problem I am facing. The raycaster seems not to work when used with a line that was created with two overlapping points (that is, if the line had **originally** zero length). The raycaster continues **not** to detect the line, even if the vertices have changed and the line has a non-zero length **afterwa

[2017-11-02 19:00] makc commented on #12567
maybe you need to update bounding sphere / box on the geometry

[2017-11-02 19:03] makc commented on #12560
they gave up on this in other loaders. I liked how it used to parse into Geometry and you could then (in theory) convert to indexed BufferGeometry or not, depending on how you wanted it. but now when the Geometry is hated, they just do 3 unique vertices per triangle.

[2017-11-02 19:21] WestLangley commented on #12560
If you were determined to do it, I would create `BufferGeometry.toIndexed()`, instead.

[2017-11-02 19:25] matpen commented on #12567
Yes, that solves the issue. Thank you for the quick reply and sorry for the noise: my google-fu failed me this time!

[2017-11-02 19:35] makc commented on #12560
this would have no means to preserve hard edges

[2017-11-02 19:59] #12567 closed

[2017-11-02 20:07] rck1 commented on #12554
I am experiencing the same issue.  I am not using  obj2gltf.  If you look at the gltf loader example (https://threejs.org/examples/#webgl_loader_gltf) with GLTFLoader.js r87 vs r88, you will see that the r88 is significantly darker.

[2017-11-02 20:13] WestLangley commented on #12560
Right. three.js is not modeling software.

[2017-11-02 20:18] steveg3003 opened #12568 "THREE.OBJLoader2 is not a constructor"
##### Description of the problem

OBJLoader2 appears to be an empty object. When you create a new instance with

var objLoader = new THREE.OBJLoader2();

I get the error THREE.OBJLoader2 is not a constructor

http://jsfiddle.net/dm3mg5qs/1/

##### Three.js version

- [ ] Dev
- [x] r88
- [ ] ...

##### Browser

- [ ] All of them
- [x] Chrome (Version 61.0.3163.100 (Official Build) (64-bit))
- [ ] F

[2017-11-02 20:42] Mugen87 commented on #12568
You have to add additional imports to your fiddle. Besides, the signature of `loadMtl()` was not correct.

Updated fiddle: https://jsfiddle.net/dm3mg5qs/4/

Also have a look at this example: https://threejs.org/examples/webgl_loader_obj2.html

[2017-11-02 20:47] Mugen87 commented on #12530
Sketchfab for example is able to load the file correctly. I wonder how you can implement this feature without making assumptions about the name of the id. Just adding '-sampler' does not look very robust to me.

Unfortunately, i did not find something useful in the spec. It only refers to the workflow via samplers.

https://www.khronos.org/files/collada_spec_1_5.pdf

[2017-11-02 20:56] mrdoob commented on #11619
For the time being, this is how you can work around it:
https://github.com/mrdoob/three.js/commit/e3cbd3052b20a9235f343446cc23b0211782d3d4#diff-eb152a516883cb17690e595058479f49

[2017-11-02 20:57] mrdoob commented on #11619
But now that I think about it, maybe I broke it because the controllers should also be a child of that object? I'll check it later...

[2017-11-02 21:04] steveg3003 commented on #12568
Ok cool, thanks. There is no mention of the additional import requirements or any mention of loadMtl  in the docs https://threejs.org/docs/#examples/loaders/OBJLoader2

Should I create a new issue for that?

[2017-11-02 21:29] donmccurdy commented on #12568
@steveg3003 Nothing under the *Examples* header in the docs is included in three.js by default, it's not just OBJLoader2.

[2017-11-02 21:34] donmccurdy commented on #12554
@rck1 that is another issue, see https://github.com/donmccurdy/three-gltf-viewer/issues/51. r88 is correct, THREE.GLTFLoader <=r87 had used incorrect texture encoding.

[2017-11-02 23:27] rck1 commented on #12554
@donmccurdy, thanks for the link and explanation.  That makes sense but I was hoping there would be  consistency across the image applications that I use and the results that I'm seeing with the GLTFLoader.  For instance, looking at the texture in a program like Photoshop and rendered using three.js/GLTFLoader now looks very different.  With r87 it looks the same.  But the results using JSONLoader

[2017-11-02 23:42] pailhead commented on #12516
Where will this documentation live? This is not something that an user changes ever, but is something one should be familiar if using `onBeforeCompile`

[2017-11-02 23:44] pailhead commented on #12568
Please take a note of this

This is NOT a help site. Do not ask help questions here.
If you need help, please use [stackoverflow](http://stackoverflow.com/questions/tagged/three.js).

But even on stack overflow you should not tag this `three.js` since it's just a javascript issue - you're trying to construct something that is undefined.

[2017-11-03 00:18] steveg3003 commented on #12568
Sorry if this looked like a help request, I genuinely thought I'd come across a bug. OBJLoader2 in r87 didn't depend on LoaderSupport.js and there is no mention of it in the docs https://threejs.org/docs/#examples/loaders/OBJLoader2

[2017-11-03 00:18] #12568 closed

[2017-11-03 00:20] looeee commented on #12560
The reason I'm suggesting it here is that FBX is already storing data in an indexed format, at least for vertex positions. Every mesh geometry has at least these two properties:

https://github.com/mrdoob/three.js/blob/05d67e9fb68e19adb17400d32e4964f1debd52cd/examples/js/loaders/FBXLoader.js#L669-L670

Things get a bit more complex for other properties (material indexes, normals, uvs etc) which ca

[2017-11-03 00:22] donmccurdy commented on #12568
Oh, I missed that `LoaderSupport` is now also required... that would IMO be worth documenting, or at least throwing a user-friendly error about the need for it.

[2017-11-03 00:26] donmccurdy commented on #12554
@rck1 Base color and emissive textures in glTF are expected to be in [sRGB colorspace](https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/README.md#pbrmetallicroughnessbasecolortexture), not linear. If you're creating textures in Photoshop, you will want to set export options accordingly. glTF-specific tools, like the Blender exporter, should automatically do this conversion (and i

[2017-11-03 00:27] looeee commented on #12568
Is the idea to use `LoaderSupport` in lots of loaders? At the moment only `OBJLoader2` is using it, if this isn't going to change I'd suggest moving it into the same file to prevent this kind of confusion.

Or at least throw a warning if the files is not found (and ideally fail gracefully) as @donmccurdy suggests. FBXLoader does this for NurbsCurve:

https://github.com/mrdoob/three.js/blob/05d67e9

[2017-11-03 00:37] rck1 commented on #12554
@donmccurdy I'll double check the color management workflow across all my applications to ensure sRGB colorspace.  Thanks for your help with this.

[2017-11-03 00:50] Itee commented on #12568
@looeee Yes the loader support should/will be implemented by all loaders2.
And may be it should be put in src folder (?)

The goal of `LoaderSupport`, if i fully understand, is to allow Workers, with an Orchestrator on top, for loaders.

The differents class inside should be, IMO, splitted in differents files to allow their port on others part of the library !

[2017-11-03 02:56] xcmaya commented on #12497
@WestLangley You are right. Just setting `needsUpdate` flag is not enough. `texture.needsUpdate = true;` has to be put in the `onload` callback.

The key is the HTML Image is an asynchronous thing. It should be awesome if the texture can be independent of HTMLImage.

[2017-11-03 04:58] makc commented on #12560
@looeee I believe now that it is pointless to ask people to do the opposite of what they want to with their project, just look:

:D
especially when you can't really offer the solution that will make everyone happy. so when I need controversial feature like original inidces I just use old loaders from git history, or hack the code. so, for your question, why dont you just make sure that indices wil

[2017-11-03 05:00] #11898 closed

[2017-11-03 05:10] looeee commented on #12560
@makc I was just asking this question to try and understand whether it's worth the effort to try and make the FBXLoader return indexed buffer geometry. From my understanding, indexed geometry has two advantages:

* lower memory requirements
* faster vertex shader since there are potentially a lot less vertices to do the operations on

However I don't know if there are corresponding disadvantages (

[2017-11-03 05:49] kaisalmen commented on #12568
I will add a user friendly error. Docs for `OBJLoader2` mention the dependence, but don't explicitly stated the it needs to be imported. Some polishing us required, I guess.

[2017-11-03 07:36] sandipJava opened #12569 "Create NavMesh"
Hello Three.js developer, I need a help to create navMesh to my .obj file. Pls show me right way.

[2017-11-03 08:02] #12569 closed

[2017-11-03 09:09] Maplesog commented on #12554
@donmccurdy Thanks for your suggest.The following modal is converted by obj2gltf and show with threejs GLTF viewer. Obviously it's more darker than normal and not expected. And I got some suggests yesterday  to return THREE.MeshLambertMaterial in  threejs GLTFLoader.js souce code line 299. The modal seemed more lighter than before but still dark.
<img width="1642" alt="qq20171103-164541 2x" src="h

[2017-11-03 09:13] kaisalmen commented on #12568
@Itee and @looeee especially the `THREE.LoaderSupport.Builder` and `THREE.LoaderSupport.WorkerSupport` can be re-used by other loaders in the future. The functionality is independent of OBJ loading and can be commonly used by other loaders if desired.
Please see https://github.com/mrdoob/three.js/pull/12048 for more background info.

[2017-11-03 11:34] Itee commented on #11552
Ok so... first of all

First pattern ( the best IMO ):

[code]

The second pattern:

[code]

@arctwelve This pattern was introduce for many reason.  This is not masturbate !

First of all it allow a clear reading about the object inheritance. The `Object.assign` is clearly here about the object inheritance. Then you can't lose the inherited object in many and many line of `MyClass.prototype`.
Seco

[2017-11-03 12:01] looeee commented on #11552
Are you sure about that? I'd expect `Object.Assign` would be slower, if anything. But in either case I doubt it's enough of a performance overhead to worry about.

[2017-11-03 12:11] rck1 commented on #12554
@donmccurdy  I did some digging and think I gained some surface-level knowledge on this topic of color management.  I think three.js utilizes linear color space throughout it's pipeline for lighting calculations, etc.  So when you flag the map/texture as sRGB, it removes the gamma correction so calculations can correctly be done in linear color space.  I think this is the right approach and is fol

[2017-11-03 13:24] Mugen87 commented on #12510
I've realized that it might be no good idea to hard-code the value `timeConstant`. It's better to use the time delta value from the previous frame.

@mrdoob Any ideas how we can provide such a time delta value to `AudioListener` and `Audio`?

[2017-11-03 14:43] Usnul commented on #12231
I would even drop the checks for === undefined.

similarly, i would soon drop return parameter also, as long as it's the target that's being returned. It saves some cpu cycles and removes something that no longer serves a purpose.

[2017-11-03 14:46] donmccurdy commented on #12554
@Maplesog it's probably not a threejs problem: the lighting in my viewer is not great, and generally looks too dark for many models. That's just a matter of adjusting the scene lighting, though... You can tweak knobs in the settings, or set up your own scene to make it as bright as you want. I've been meaning to improve the defaults in my viewer, but haven't found something I'm happy with: https:/

[2017-11-03 14:54] bhouston commented on #12231
Are you sure the return parameter doesn't get optimized out if you do not use it?  Also it you return it, it allows you to chain together functions very nicely, which leads to concise code:

[code]

I always though the compiler was very good at optimizing unused return parameters.

[2017-11-03 14:58] bhouston commented on #12231
Back in my C++ days we had ASSERTs that only existed in debug builds.  Those debug builds ran slow but they found so many issues.

[code]

I haven't seen tooling in the JavaScript world that allows this easily.  But I guess that is where FB's Flow and Microsoft's typescript come in.  I understand that a lot of companies are having great success with typescript making JavaScript more robust.

[2017-11-03 15:58] Usnul commented on #12231
Maybe it's a personal preference, but I would write it as

[code]

with respect to how smart the compiler is - it is a little tricky. Most of the time - i would say yes, but in cases where de-optimization occurs (such as functions with catch clauses)  - I am not so sure.

actually there's a little bit exploitation that can be used in JS to achieve this. JIT performs opportunistic optimizations and

[2017-11-03 17:40] Itee commented on #11552
Absolutely: [https://jsperf.com/inline-prototype-vs-assign-prototype/1](https://jsperf.com/inline-prototype-vs-assign-prototype/1)

Under chrome version 61.0.3163.100 (Build officiel) (64 bits) Assigned prototype are around 60% faster

[2017-11-03 19:09] Itee opened #12574 "Improvement: Three parameters management"
This suggest/request/need is about the parameters management in three library. This "Issue" is composed by three parts ( ah ah ah ), which are different but with the same underlying topic, that's why i make a unique issue instead of three.

**1. Lacking documentation**

The last day i was searching some help in the threejs doc... and what was my surprise ! I was unable to known which value i could

[2017-11-03 19:21] Itee commented on #12231
@bhouston

Yes ! This is a real problem in javascript library like threejs, that why i refactor units test part ! And of course this type of check should be in dev only !

@Usnul

Could you prove this assert ? Because if this is right it could be a very big deal i think to make safer library. See #12574 part 3.

[2017-11-03 19:47] Freeman555 opened #12575 "I stucked with StereoCamera"
version: r88

I thought it'll be simple so I've add;

[code]

and

`effect.render(scene, camera);`

but result shows:

Code:
https://codepen.io/Freeman555/pen/yPeozN

[2017-11-03 19:55] Itee commented on #12575
You should take a look [here](https://threejs.org/examples/?q=Stereo#webgl_effects_stereo)

But such type of question should be ask in Stack Overflow or in the forum

[2017-11-03 19:56] cecilemuller commented on #12231
If you do want to give Typescript a try but don't want to go all the way to pure typescript, there is the [checkJs mode](https://github.com/Microsoft/TypeScript/wiki/JSDoc-support-in-JavaScript) which uses JSDoc comments and works quite well (although of course it can do more with actual Typescript).

[2017-11-03 20:28] Itee commented on #12231
MrDoob isn't agreed to port three to Typescript, and dislike jsdoc comment "polluting"...
but yes a more strongly typed javascript could be cool.

[2017-11-03 21:17] donmccurdy commented on #12574
1. **Documentation**

One feature that is easy to miss, you can mouse over most parameters to learn their type:

![parameter tooltip screencap](https://user-images.githubusercontent.com/1848368/32395953-8f8da2aa-c0a0-11e7-8abf-16fb83f3f22e.gif)

I agree it would be great to provide something more obvious and easier to read. Maybe that can be done just using some tweaks to the website rendering? Th

[2017-11-03 21:19] Freeman555 commented on #12575
@Itee
Thank u, I update working code;
https://codepen.io/Freeman555/pen/yPeozN

I close it.

[2017-11-03 21:19] #12575 closed

[2017-11-03 21:49] donmccurdy commented on #12231
What is the goal of `vector.setFromObjectWorldPosition( object )` changes, since they're still not backwards-compatible? The benefit I see is that `getFoo( target )` methods are relatively rare in JS libraries, so the naming may come more naturally to new developers.

If that's the goal, and we're OK with breaking backwards-compatibility anyway, another idea would be to keep the methods where they

[2017-11-03 22:47] Usnul commented on #12231
@Itee

sure, here are a couple of attempts:

https://jsfiddle.net/4xuuqg6v/2/
https://jsperf.com/assert

Interestingly it seems that using function replacement seems to be faster than using flags.

[2017-11-04 00:03] makc commented on #12231
what were your results? I got this:
![screen shot 2017-11-04 at 1 02 01](https://user-images.githubusercontent.com/242577/32400047-edbb2bd0-c0fb-11e7-97a6-d04e9fcd1d70.png)

[2017-11-04 00:05] makc commented on #12231
chrome does not show any signs of "zero overhead" neither

![screen shot 2017-11-04 at 1 04 28](https://user-images.githubusercontent.com/242577/32400099-47cebd76-c0fc-11e7-9a63-48a62a8382d3.png)

[2017-11-04 00:17] Itee commented on #12231
@donmccurdy Wow ! i was not aware of that rollup-plugin-strip !!! This is excellent !!!
And i totaly agreed with you about the naming convention. For me the semantic IS the key of a good code.
A code that could be read like very hight level language is the best to do !
So yes a thing like this:
[code]

Is just perfect between the method concerne and the semantic !

@Usnul thank for bench ! This is

[2017-11-04 00:23] donmccurdy commented on #12231
Probably the check can be reduced from this:

[code]

to this:

[code]

[2017-11-04 00:31] Itee commented on #12574
### 1. Documentation

Ok... i notice the mouse hovering... this is not obvious to guess... yet it's been over 4 years that I use threejs... Ahem ! 🐒

### 2. Typings and constants

I will check for my IDE but i haven't much hope... Anyway ! This could helper because typing `Mapping.` my IDE will propose all potential values for this "enum". But the main purpose was to use enum instead of a sequence

[2017-11-04 00:35] Itee commented on #12231
@donmccurdy that why I specified

😄

[2017-11-04 02:07] looeee commented on #11552
Interesting. Thanks for making the test.

That result doesn't hold up for all browsers though. On Firefox they are nearly the same (`Object.Assign` ~3% faster), while on Edge `Object.Assign` is ~33% **slower**.

But in any case I still don't think this is relevant as an argument for which style is better - even the slowest overall (inline proto in Chrome) is still running at >180,000 operations a

[2017-11-04 02:47] looeee commented on #12574
**1. Documentation**

Agreed that the mouse hover for showing the type is not very clear - and I'm not sure how well it works on mobile. We discussed this before and didn't come up with a better solution though.

I also agree that it would be good if docs could show the expected range as well as the default type where possible. Here is an example of wording [MeshPhongMaterial.bumpScale](https://th

[2017-11-04 03:09] looeee commented on #12574
BTW I just added three.js intellisense to VSCode with [this method](http://shrekshao.github.io/2016/06/20/vscode-01/) and it works really well.

The final step:

doesn't work, you'll have to create `jsconfig.json` manually. Mine looks like:

[code]

[2017-11-04 10:44] Itee commented on #11552
Yes this is about few miliseconds per file and only when file is parsed the first time by javascript engine... but for a big library like threejs the gain could be reasonably around 200 miliseconds on page load.
Do not forgot the limit of 3scd for front user that aren't able to wait more !

[2017-11-04 11:41] Itee commented on #12574
@looeee
## 1. Documentation
I'm sure this is a lot of work to put ranges in all doc where/when possible ! About the hovering, we already have the type so instead of popup it after few second, maybe it could be more clear to add a field just after the member, params. In this way it will be accessible on mobile too.

No ?

## 2. Typings and constants

In fact it could become:

[code]

instead of

[c

[2017-11-04 12:18] looeee commented on #12574
**1. Documentation**

Well, presuming you are talking about one of the [Curve.getPoints()](https://threejs.org/docs/#api/extras/core/Curve.getPoints) derived methods, that is actually wrong and should be similar to the description for that method:

But in general we should treat each parameter as needed, while sticking to the minimum amount of different and most technically correct of way of sayin

[2017-11-04 19:25] Mugen87 commented on #12231
I'm fine with this 👍

[2017-11-04 20:13] usefulthink commented on #12231
React and probably other libraries/frameworks already have this sort of developer-friendly / performant modes. In react for example they are using tests for `process.env.NODE_ENV === 'production'` throughout the code to enable or disable costly developer-features/warnings and things like that.

The way this works is by using a webpack-plugin that statically replaces all occurences of `process.env.

[2017-11-04 21:10] kaisalmen commented on #11898
@mrdoob and @makc I promised an answer and did not provide it, yet. Here it is.

The answer is simple: WebGL 2.0 does only allows a single index.

Regarding OpenGL I found this: [AMD_interleaved_elements](https://www.khronos.org/registry/OpenGL/extensions/AMD/AMD_interleaved_elements.txt) is an extension for OpenGL 4.3 Core Profile. If I understand the specs correctly understand the maximum index

[2017-11-04 21:54] cecilemuller commented on #12231
For react specifically, the process.env.NODE_ENV conditionals work thanks to uglifyjs (because the blocks evaluate to "always false" on NODE_ENV production, hence removable), but we could also have post-processing that removes specific calls (like console or assert) for production builds if wrapping test-only code in ifs is too verbose.

[2017-11-04 23:39] Itee opened #12578 "Feature request: Parameters checks and Validation"
Next to #12231 and #12574 part 3

The main idea is to check if parameters are valid in ctor, setters and public methods in development environment. This will allow a big benefits during dev and will make a safer library. All asserts could be easily removed when building for production using: [rollup-plugin-strip](https://github.com/rollup/rollup-plugin-strip)

The assert could use a Validator like

[2017-11-04 23:40] Itee commented on #12231
@usefulthink No prob !

I think it will be dangerous to use somethings else than assert ( or simply statement ) for check parameters in dev. Allow user to add stuff about development every where in the library would become quickly unmaintainable.

The problem with a plugin like replace is the regex to use for removal. Ok you will easily match `if (THREE_DEV)` but what about the inner stuff ?

To b

[2017-11-04 23:47] Itee opened #12579 "Feature request: Typings and constants"
Next to #12574 part 2

The proposal is to use "enum like" object instead of wild constantes, this will prevent user against change them by error. And gain in readability about what values are usable in the same 'enum'

Example:

[code]

instead of

[code]

and the call become:

[code]

instead of

[code]

[2017-11-04 23:53] Itee opened #12580 "Feature request: Types of arguments in documentation"
Next to #12574 part 1

Currently we was have access to the variable type using hovering in the documentation. But it is maybe unusable on mobile. And is not guess to know !

The proposal is to add the type and when possible the range of the parameters.

Example:

`fooParam - The fooParam of the bar class. A Floating point number, in the range 0.0 - 1.0 with default to null`

instead of

`fooParam

[2017-11-04 23:54] Itee commented on #12574
I will split this Issus into 3...

Part 1 become: #12580
Part 2 become: #12579
Part 3 become: #12578

So i close.

[2017-11-04 23:54] #12574 closed

[2017-11-05 05:22] lagauche opened #12582 "[Bug?] related to checking for stop( ); and/or .isPlaying true/false check on ios mobile"
##### Description of the problem

I'm triggering a conditional to either reset time/play audio or stop audio in a positionalaudio setup. I got this working fine on a desktop, but on ios safari/chrome, it doesn't reliably stop the sound and when it plays it just adds a copy of the sound over what's already playing. Is this a bug? Since I'm new I have to assume it's my code, but just in case, I thou

[2017-11-05 06:35] danrossi commented on #8110
Confirming CORS is fixed in IOS 11.1. I just finally got the budget to get a hardware device for testing. It has taken this long.

There is no need for CORS proxy with 11.1. I don't think CORS attribute support can be properly tested with Safari. Have to do client version checks.

There is major HLS/webgl regression issues to go through now though.

[2017-11-05 06:41] lagauche commented on #12582
I figured out that this works:
`if( !sound1.isPlaying) {`

I'm not sure what else I changed, but I think that sorted my issue.

[2017-11-05 06:41] #12582 closed

[2017-11-05 10:13] danrossi commented on #9754
See my comment here. I have had an absolute gutless of this sabotage mess. Disabling flipY on the texture should show a picture but upside down. It's a black frame here. Back to the start. They have caused a regression that was a problem in IOS9.

https://bugs.webkit.org/show_bug.cgi?id=163866#c19

[2017-11-05 13:11] danrossi commented on #9754
I'm closing the original webkit ticket that was never even looked at or addressed. And starting a new one soon as it will take time to gather evidence.

It has moved beyond the original FlipY problem. It seems they never bother to even check HLS works with WebGL before releasing the OS.

[2017-11-05 18:34] Freeman555 opened #12585 "Some issue with DeviceOrientationControls"
Hi!

Everything works fine on PC, I combined StereoCamera + PointerLockControls + Xbox 360 Controller;
Code:
https://codepen.io/Freeman555/pen/ooLXgp

but on mobile ( the same + DeviceOrientationControls);
Code:
https://codepen.io/Freeman555/pen/YEWXGj

I can only move camera, object which I move life his own.
I want to achieve: moving mobile device around ( btw: vr cardboard ) I also move object

[2017-11-05 23:21] 2lost4u commented on #9562
Dont know if i am out of topic but i think you should see this, Webpack i dont think is the solution.

https://github.com/mtmckenna/three-rollup-starter

I think this is a correct approach, but i know you already though of something similar.

Hello everyone.

[2017-11-06 04:58] sandipJava opened #12588 "How to convert .obj to .js"
See link, any difficulty to understand , ask me...

https://discourse.threejs.org/t/can-anyone-explain-me-how-to-create-this-level-js-file/1149?u=sandipnd31

[2017-11-06 05:33] donmccurdy commented on #12588
There is no need to double-post here — questions can be posted on Discourse or Stack Overflow and someone will take a look.

[2017-11-06 05:33] #12588 closed

[2017-11-06 05:42] sandipJava commented on #12588
@donmccurdy sorry sir, see once forum

[2017-11-06 05:46] fifonik commented on #12432
For quite a long time I'm using UUID v4 generator function by Jeff Ward that in explained quite good here:
https://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript/21963136#21963136

I've just created a perf the function vs current ThreeJS implementation:
https://jsperf.com/uuid-threejs88-vs-jcward/1

[2017-11-06 06:49] Maplesog commented on #12554
@rck1 It works! @donmccurdy Your suggestion let me have a deeper understanding of the GLTFloader, Thank you very much!

[2017-11-06 06:52] Usnul commented on #12231
@makc

pretty much the same, up to about 3-4x difference. Hence the "attempt" word used :)
It's quite a disappointment to me, since doing an opportunistic optimization here would be very sensible, replacing the whole if clause with nothing and having a trap in the flag's memory location - but that's too much to wish for, apparently.
More interestingly - i'm surprised to see that calls to empty fun

[2017-11-06 07:26] churmstech opened #12589 "Black screen in chrome at first load"
when i open three js site in chrome v61 browser show black screen but after 2-3 time reload it looks fine and objects show grate result i know it is due to rotation of object that is created in render function the code is  given below
[code]

[2017-11-06 07:27] churmstech commented on #12589
when i open three js site in chrome v61 browser show black screen but after 2-3 time reload it looks fine and objects show grate result i know it is due to rotation of object that is created in render function the code is  given below

<script>
			var mesh, mesh2, mesh3;

        	var renderer = new THREE.WebGLRenderer({canvas: document.getElementById('myCanvas'), antialias: true});
			renderer.se

[2017-11-06 08:52] takahirox commented on #12432
That looks good. I'd say it's more optimized and readable `generateUUID4()`.

It's 2.3x faster than `generateUUID2()` on my both chrome and FireFox nightly.

[2017-11-06 09:23] Freeman555 commented on #12589
@churmstech
U use json file from local PC, pls put code on website like http://jsfiddle.net/ or https://codepen.io/ to reproduce problem.

[2017-11-06 10:14] #12589 closed

[2017-11-06 10:32] Mugen87 commented on #9317
Closing in favor for #11138

[2017-11-06 10:32] #9317 closed

[2017-11-06 12:42] Mugen87 commented on #12359
I've upgraded to macOS 10.13.1 (High Sierra) and tested again with Chrome 62.0.3202.75. Still unable to reproduce.

@Mann90 @jaredpike  Do you experience the issue with the latest version of macOS and Chrome?

[2017-11-06 13:52] Mugen87 commented on #12382
@Mann90 A proper solution for your feature request is some kind of occlusion culling algorithm combined with raycaster. So you would say: "Perform a ray intersection test but only with objects that are not totally occluded by other objects in the scene." From my point of view, such an algorithm is out of the scope of the library core. But it would be interesting to have something like this in the

[2017-11-06 14:43] Itee commented on #12382
Was it not the purpose of Octree ?

[2017-11-06 16:17] Mugen87 commented on #12382
BSP-Trees, Octrees, Quadtree, kD-trees or similar tree data structures can be used to reduce the amount of objects to be examined. For example you use them to perform a spatial query ("give me my direct neighbors") or you create a bounding volume hierarchy with e.g. AABBs in order to perform the first step of an intersection test.

But they are insufficient for occlusion specific scenarios. Instea

[2017-11-06 16:25] cloud4every1 opened #12592 "Light not working on Epson device - webgl_interactive_cubes"
I'm using Chrome 59.0.3071.125 on an android 5.1.1 device (Epson Moverio BT-300) and it looks like that the lights are not working correctly.
Simple test when running the webgl_interactive_cubes example, all cubes are black beside the one active/selected. Same issue on webgl_geometry_colors, webgl_geometry_colors_blender examples.

webgl_geometry_colors_lookuptable is working limited as colors are

[2017-11-06 16:38] Usnul commented on #12382
typical occlusion queries basically work like this:
You build a depth buffer. You then test bounds of an object against the depth buffer to decide whether it is occluded or not.
There is actually quite a bit of good literature on this subject, mainly coming from the industry.

[2017-11-06 16:45] cloud4every1 commented on #12592
Attached some sample outputs to show the problem.

Documentation about the TorusKnotGeometry
![screenshot-1509986063953](https://user-images.githubusercontent.com/22236466/32452212-32d3b92a-c319-11e7-8622-64c050c212fb.jpg)

Screenshot of the webgl_geometry_colors_lookuptable example
![screenshot-1509986488991](https://user-images.githubusercontent.com/22236466/32452422-c4d01a26-c319-11e7-8f8a-6868

[2017-11-06 18:30] WahlbergRu opened #12593 "Intersect lights"
##### Description of the problem

Hello, I use hemisphere light and pointlight and have trouble with intersection shadows
http://joxi.ru/1A5636HKpy3XrE

This is problem on three.js or in my code?

##### Three.js version

- [Three.js] ^0.84.0

##### Browser

- [x] Chrome

##### OS

- [X] Windows

##### Hardware Requirements (graphics card, VR Device, ...)

intel I7 4650
nvidea GTX 970

[2017-11-06 19:54] #12593 closed

[2017-11-06 20:11] Itee commented on #12382
@Mugen87 i just thinking that octree was about occlusion-tree... I didn't look in depth the code. My fault.

@Usnul Personaly i used the 2d matrix projection on screen with an opengl 'trick' that allow to keep only front face. Then we just need to compute in 2d.

About the topic, i don't think this sort of thing should be implemented by default in Raycaster, but like an "helper" like/in conjonctio

[2017-11-06 22:04] fifonik commented on #12432
Yup. The algo is well known with some optimisations. It is less readable, however, I do not think that readability of the UUID algo is very vital and all these optimisations are well explained.

P.S. In my palemoon it is 10x faster %-)

[2017-11-06 23:12] MohmadAyman commented on #11957
After hours of debugging and rewriting my code, the Earcut was the solution, thanks for the issue.

+1 for integrating Earcut.

[2017-11-06 23:22] lovemoebius opened #12595 "Exporting Morph Targets is still broken"
After being very confused on how to actually export Morph Targets I found this thread

https://github.com/mrdoob/three.js/issues/8710

It doesn't seem like following what @filmshaw posted works at all. Not commenting out the the part of the code seems to add an Edgesplit to my mesh every time I try to export it. Which, in return, gives me the error that I can't export a mesh with modifiers and sha

[2017-11-07 03:03] lovemoebius commented on #12595
I tried fiddling with the object.py mentioned in the other thread.

It seems like uncommenting [line 496 of object.py](https://github.com/mrdoob/three.js/blob/dev/utils/exporters/blender/addons/io_three/exporter/api/object.py#L496) leads to a successful export that seems to have all the morph targets.
The file loads and displays correctly, however I have yet to try the morph targets.

[2017-11-07 07:26] cloud4every1 commented on #12592
I double checked the remote developer console but nothing. As I used the official Websites Three.js version is already 88. But the same problem is for 87.
Based on the webglreport.com the browser supports WebGL 1 & 2.
For WebGL2 it mentions that 88 of 88 functions are implemented.

![screenshot-webglreport-bt300](https://user-images.githubusercontent.com/22236466/32481704-d8a06620-c394-11e7-910a-6

[2017-11-07 08:24] Aikyos opened #12597 "ObjLoader + MtlLoader not displayed correctly (multimaterial in one MTL ?)"
Hi,
I link to you my obj and my MTL i want to import in my code like this :
[code]

But the best i can got it's that :
![1](https://user-images.githubusercontent.com/6474357/32483418-4e37e118-c39c-11e7-9b87-b42161403db7.jpg)

And what i want its this : I got this with import my both files to http://3dviewer.net/.
![2](https://user-images.githubusercontent.com/6474357/32483422-5200d3d6-c39c-11e7-90

[2017-11-07 10:06] DieAlchemistenAG commented on #9562
What about **scope packages**? Kinda like the way the Angular guys did that:

More Info: [Working with scoped packages](https://docs.npmjs.com/getting-started/scoped-packages)

I would Think of something like this:
`@three/core for the base packages `

Then there would be more ways to seperate (each of them has advantages/disadvantages) one of them may be:
#### by layer:
[code]

_Pro_:
- you could

[2017-11-07 10:43] Mugen87 commented on #12592
Do you have this problem with other WebGL applications, too? For example are the demos of [babylon.js](https://www.babylonjs.com/#featuresdemossection) rendered correctly?

[2017-11-07 11:06] cloud4every1 commented on #12592
With babylon.js everything I tested so far is working fine.
babylon GUI, displacement MAP, Constructive Solid Geometries, Charting, Multimaterial, Lights, ...

[2017-11-07 11:28] Mugen87 commented on #12592
Can you please test some `three.js` demos with mobile Firefox? Same problem?

[2017-11-07 11:57] cloud4every1 commented on #12592
Sure, I will!
However, i tested already with the default browser and same issue. But i will test with other browsers as well.

[2017-11-07 11:58] Mugen87 commented on #12597
I can confirm that both `OBJLoader` and `OBJLoader2` display the model in a wrong way. Sketchfab can handle the `obj` and `mtl` files correctly.

![image](https://user-images.githubusercontent.com/12612165/32492576-1dd5449c-c3bb-11e7-9253-5dd526de5d41.png)

No, this should actually be supported.

\cc @kaisalmen

[2017-11-07 12:22] roelvanhintum opened #12598 "Safari doesn't clear buffer, while chrome does."
Rendering in Safari doesn't clear the frame for each render, causing clutter.
Some more testing revealed that it's just on macs with the "Intel Iris Pro 1536 MB".

You can edit for small-test.
https://jsfiddle.net/z0zd711z/

##### Three.js version

- [x] r88

##### Browser

- [ ] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet Explorer
- [x] Safari (really just on MacOS, iOS is fine)

#####

[2017-11-07 12:46] cloud4every1 commented on #12592
Tested with Firefox 52.0.2 and same problem with three.js but works fine with babylon.js

[2017-11-07 13:32] Mugen87 commented on #12598
Are you on the newest OS X version? AFIAK, on Mac OS graphics driver are automatically upgraded by upgrading to a newer version of the operating system.

Independently, i'm not sure we can help here. This seems to be a driver related/OS specific problem. You should submit a bug report to Apple: https://developer.apple.com/bug-reporting/

[2017-11-07 13:36] Mugen87 commented on #12592
It's really hard to find the root cause of the problem if there are no error messages and warnings. TBH, i've no idea what's going wrong...

[2017-11-07 13:51] danrossi commented on #9754
I have closed the original webkit ticket to start a new one specifically HLS video textures with webgl is completely broken with no possible work around yet. The original FlipY work around is not relevant anymore.

I have discovered all of the webkit webgl conformance tests use Mp4.

They have not ever bothered to test with Apple's own streaming format. Hence why it has been broken and still broke

[2017-11-07 14:11] marshall-hunts opened #12599 "directX.x loader bug"
i tried loading my model in the new x-loader but it's returning cannot read property name of null

[https://jsfiddle.net/48xkyp1m/](url)

here's the log file:-

three.min.js:173 THREE.WebGLRenderer 88
three.min.js:145 THREE.WebGLRenderer: OES_texture_float_linear extension not supported.
get @ three.min.js:145
XLoader.js:1457 Uncaught TypeError: Cannot read property 'name' of null
    at THREE.XLo

[2017-11-07 14:42] roelvanhintum commented on #12598
Yes, i'm runnig High Sierra (10.13 (17A405)).

The weird thing is that some examples are running normal. I just couldn't find why.

[2017-11-07 14:56] trymoremore opened #12600 "how to limit the move of camera when check out the camera hit other object"
i use raycaster to check whether  the camera hit other object ,like this:
var distance = intersects[ 0 ].distance;
        if ( distance > 0 && distance < 10 ) {
            controls.isOnObject( true );
}
and when the camera hit other object i use "controls.isOnObject( true );" to stop the camera hit other object ,but it doesn't work ,and warm that controls.isOnObject is not a function.
i set cont

[2017-11-07 14:56] Mugen87 commented on #12598
🤔

[2017-11-07 15:13] Mugen87 commented on #12600
`THREE.OrbitControls` does not have a method `. isOnObject()`.

[2017-11-07 15:13] #12600 closed

[2017-11-07 15:17] cloud4every1 commented on #12592
Maybe there are some points in the code I could check, if they will be executed?
Will there be any device specific parameters checked for this?

I wrote a small test page where I could enable/disable Ambiente, Spot and Directional Light. It contains a plain, a cube and a Sphere. All three with MeshLambertMaterial.

`        // Plane
        var planeGeometry = new THREE.PlaneGeometry(60,20);

[2017-11-07 15:23] mrdoob commented on #12592
/cc @kenrussell

[2017-11-07 15:30] Mugen87 commented on #12598
I'm also on High Sierra (10.13.1) and can't reproduce with Safari (11.0.1). However, i have an AMD GPU.

[2017-11-07 15:32] cloud4every1 commented on #12592
There are more observations with this, as I might not have chosen an optimal material color.
When changing the color of the sphere to
`var sphereMaterial = new THREE.MeshLambertMaterial({color:0xff7777});`
the color changes (still only for ambient light - for all other lights every object is black).
However, on other devices it stays blue like the white plane. So possible the materials do have a p

[2017-11-07 16:31] de-monkeyz commented on #9754
@danrossi Do you have a link to the newly opened ticket for webkit? I've just stumbled upon this issue on iOS11 myself and am keen to keep track of any developments.

[2017-11-07 16:39] danrossi commented on #9754
I'm self funding their work for them. I'm running conformance tests with HLS generated from the Khronos test mp4 files. It claims it passes but the test fails to prove if its displaying anything. The canvas doesn't even display here. Actually I don't even think the test functions properly on IOS at all. There is no logs.

I have to use their own test files to prove that HLS textures don't work. I

[2017-11-07 16:49] danrossi commented on #9754
Ok as far as I see with the webkit test files. They are not designed for IOS testing. No user click functionality to play. Mp4 for some reason can autoplay I discovered on IOS 11 although no attribute is specified but HLS can't still.

I don't believe any tests are done specifically for IOS and most definitely no test is made for HLS.

Hence the problems. It's beyond bad.

[2017-11-07 17:20] donmccurdy commented on #11761
Unfortunately it looks like CUBICSPLINE interpolation will need some more work. [I tried passing the glTF data directly into the three.js keyframe track](https://github.com/mrdoob/three.js/blob/dev/examples/js/loaders/GLTFLoader.js#L2206-L2211) and that wasn't it. Will need to read up on how both systems work and adapt the input data accordingly. See: #12233.

[2017-11-07 17:47] zellski commented on #11761
Aha, understood. You need a little McCurdy-minion to help you out.

[2017-11-07 18:14] flerokoo opened #12601 "Wrong order of loading events"
I am loading a scene with textures via ObjectLoader.

Live test: http://shodiev.ru/other/three_events/
Zip with testcase: https://yadi.sk/d/sGqOqpbm3PVSM9

As you can see in console, events are firing in unexpected order: function that i pass to LoadingManager is called before ObjectLoader is complete.

It looks like LoadingManager completes when only _scene.json_ is loaded although there's still

[2017-11-07 20:06] Makio64 commented on #8016
Just run into this stuff again...

I discover the change get reverse..
Everytime I go in advanced case and some old code use this function I get trap, maybe its just me, but I feel its an un-natural approach.

A solution can be a rename more explicit about what the function is actually doing
merge(uniforms) => cloneAndMerge(uniforms)

[2017-11-07 21:28] Itee commented on #12601
Something seem to be wrong in ObjectLoader.

In ctor the manager is correctly set:

[code]

and this manager is transmit to FileLoader in load method at line 78:

[code]

but not under parse methods:

- parseGeometries line 161-162:

[code]

- parseMaterials line 377:

[code]

- parseImages line 452 - 454 ( redefine a new LoadingManager )

[code]

Finally your onLoad methods attach to ObjectLoader

[2017-11-07 21:59] kaisalmen commented on #12597
`OBJLoader2` with ambient lighting at 0xFFFFFF looks like this:
![image](https://user-images.githubusercontent.com/21079138/32519998-d35ed4a6-c40e-11e7-86a9-3154712434c1.png)
It seems to be an issue with double side or transparent materials. Need to find out if `MTLLoader` already creates materials with wrong properties. Will investigate....

[2017-11-07 23:38] Itee commented on #12599
Your link is dead, use this one:

[https://jsfiddle.net/48xkyp1m/](https://jsfiddle.net/48xkyp1m/)

[2017-11-08 00:08] Itee commented on #12599
The bone 103 named 'Tree' haven't parent. The method make should be protected about case like this, but maybe could you find a work around with this info ?

[2017-11-08 00:17] Itee commented on #12599
Here the fiddle with an overload of make methods, i got the skeleton and break geometry but this is a start.

[https://jsfiddle.net/n4unsfao/](https://jsfiddle.net/n4unsfao/)

[2017-11-08 01:48] mrdoob commented on #12599
/ping @adrs2002

[2017-11-08 01:57] mrdoob commented on #12598
/ping @grorg @kenrussell

[2017-11-08 02:05] trusktr opened #12602 "Inconsistent matrix ordering in API"
##### Description of the problem

Some parts of the API are inconsistent with internals when it comes to matrices.

`Matrix4#elements` is in row-major order, while `Matrix4#set` expects arguments in column-major order (or maybe I've got the term backwards. The `Matrix4#copy` method accepts a matrix in the opposite ordering as the argument for `Matrix4#set`.

This is not intuitive, and when someone

[2017-11-08 02:08] mrdoob commented on #12432
Looks good indeed! I'll replace it 😊

[2017-11-08 02:08] adrs2002 commented on #12599
sorry, i'll check after 12 hours.

but, i made xloader v2.0 is here
https://github.com/adrs2002/threeXfileLoader/blob/v2.0/threeXLoader.js

can you try and report this ?

[2017-11-08 02:14] trusktr commented on #12602
For reference, one might want to intuitively do this:

[code]

but that won't work. They'll have to take the more complicated approach:

[code]

otherwise their resulting matrix will be unintentionally flipped.

[2017-11-08 02:17] trusktr commented on #12602
Furthermore, the `set` method has the opposite ordering of the `copy` method; room for further confusion.

[2017-11-08 02:19] trusktr commented on #12602
I may have swapped the row-major and column-major terms, but if the API were consistent, I wouldn't be confused at all; I wouldn't have to think about swapping anything and/or whether they are "row" or "column" major.

[2017-11-08 02:22] mrdoob commented on #12432
The new generator seems to produce lower-case uuids though. I don't know if it makes any difference.

![screen shot 2017-11-07 at 18 21 11](https://user-images.githubusercontent.com/97088/32528566-911de904-c3e8-11e7-8138-a892122c78dc.png)

![screen shot 2017-11-07 at 18 21 35](https://user-images.githubusercontent.com/97088/32528573-97b95794-c3e8-11e7-9aaa-09c9f33d9089.png)

[2017-11-08 02:24] trusktr commented on #12602
PR: https://github.com/mrdoob/three.js/pull/12603

[2017-11-08 02:26] takahirox commented on #12432
You can add `.toUpperCase()` here

		var lut = []; for (var i=0; i<256; i++) { lut[i] = (i<16?'0':'')+(i).toString(16).toUpperCase(); }

[2017-11-08 02:59] marshall-hunts commented on #12599
update:
https://jsfiddle.net/n4unsfao/4/

seems like it can't read the frame.

i also tried it with this model:

https://cdn.rawgit.com/mrdoob/three.js/r88/examples/models/xfile/SSR06_Born2.x

but's it showing the exact same thing in the log file

[2017-11-08 03:03] marshall-hunts commented on #12599
@Itee
https://jsfiddle.net/n4unsfao/3/

the model loads, but couldn't play the animation
 i also tried playing the animation in open3mod and it plays perfectly well

[2017-11-08 03:25] WestLangley commented on #12602
This issue was addressed in https://github.com/mrdoob/three.js/issues/3814.

[2017-11-08 04:30] adrs2002 commented on #12599
@marshall-hunts

this file ( monster.x ) is likely [ scene ] file.  2 skinnedMesh into 1 file.
threeXLoader.js is Support [ one (skinned) Mesh ] file  now.

I can try read scene file, but I think it will take some time.

[2017-11-08 04:45] marshall-hunts commented on #12599
@adrs2002
Can you check out this file if it works; it has one skinned mesh

https://cdn.rawgit.com/marshall-hunts/game-assets/master/2monwolv.x

[2017-11-08 04:48] danrossi commented on #9754
I have what I need to submit the ticket.

As far as I can see. The webgl webkit tests are flawed. They do not care about the webgl canvas output. They are drawing the video to a canvas as a preview output at a very tiny size.

They have the webgl canvas but its a very tiny size so you won't even see if its rendering or not.

I had to modify the tests for HLS and they don't pass. And now I have inc

[2017-11-08 04:51] trusktr commented on #12602
So, leave as is?

[2017-11-08 05:13] WestLangley commented on #12602
Yes.

[2017-11-08 08:40] danrossi commented on #9754
Here you go. I am really losing my patience with Apple and how much personal work is required to fix their problems and run tests for them.

https://bugs.webkit.org/show_bug.cgi?id=179417

[2017-11-08 08:42] Aikyos commented on #12597
Thank you guys.

[2017-11-08 09:04] #12602 closed

[2017-11-08 15:14] eipporko opened #12605 "WebVR video texture frozen Chrome/Android"
##### Description of the problem

When I tried to use WebVR using a video as a texture mapped to geometry, the video in WebVR mode is frozen, but in the background the video seems to be playing, this only happens in Android devices. This also happens with the provided example (WebVR/video).

As soon as you click "ENTER VR" in Android the video gets frozen with the last frame showed before clicking

[2017-11-08 16:15] adrs2002 commented on #12599
@marshall-hunts
thanks file.

[ 2monwolv.x ] is too many allocation bone weights of 1 vertex.
in three.js, max 4 allocate weights of vertex.
Can you fix vertices?

[2017-11-08 16:30] Mugen87 commented on #12605
I can confirm this bug on my Pixel.

[2017-11-08 16:48] Mugen87 commented on #12605
I guess the problem is the usage of `requestAnimationFrame` in `VideoTexture`. When the display is presenting, `window.requestAnimationFrame` does not fire but its respective [counterpart](https://developer.mozilla.org/en-US/docs/Web/API/VRDisplay/requestAnimationFrame).

[2017-11-08 17:08] brianpeiris commented on #7211
Looks like this issue can be closed?

[2017-11-08 17:14] #7211 closed

[2017-11-08 17:28] eipporko commented on #12605
Opening the same example throw telegram or hangouts works.
When you open an hyperlink in one of this message clients, it's possible to view the webpage in a webview inside the program. It's very akward, because this webviews are dependant on the chrome installed into the device.

[2017-11-08 20:28] flerokoo commented on #12601
That's exactly what i was thinking.
And i sure want to know if it is supposed to work like that? In that case how should i know when scene is fully loaded (including textures)?

[2017-11-08 20:34] mrdoob commented on #12432
@takahirox I actually did that locally (blindly) but I thought I should probably double-check. Thanks!

[2017-11-08 20:42] mrdoob commented on #12432
On my system...

Function | Chrome Mac | Firefox Mac | Safari
-------- | ------------- | ----------- | ------
generateUUID | 1134.28ms | 1292.97ms | 774.10ms
generateUUID7 | 220.39ms | 820.51ms | 181.80ms

🎉🎉🎉

[2017-11-08 22:08] marshall-hunts commented on #12599
@adrs2002
https://raw.githubusercontent.com/marshall-hunts/game-assets/master/2refor.x

it's fixed

[2017-11-08 23:14] mkeblx commented on #12605
Some context here discussing `window.requestAnimationFrame` behavior when WebVR presenting, on mobile:
https://github.com/w3c/webvr/issues/225
https://bugs.chromium.org/p/chromium/issues/detail?id=712865

Can solve by modifying `VideoTexture` but need a nice way of getting access to the VR device object, currently reference found in `WebGLRenderer`. Maybe set a `THREE.activeVRDevice` and use every

[2017-11-08 23:16] mkeblx commented on #12605
Or a `THREE.requestAnimationFrame()` that is similarly made aware of current device and uses `window` or `VRDisplay` appropriately.

[2017-11-08 23:27] stevenvergenz opened #12608 "GLTFLoader does not support texCoord fields"
##### Description of the problem

Today, the Three.js engine does not allow the use of arbitrary UV coordinate sets for textures. Instead, they're hardcoded to channel 0 for all textures, except for lightMap which uses channel 1. As a result, the `texCoord` property of glTF textureInfo objects are ignored. Thus, the glTF loader is not compliant to the spec.

Once the engine supports UV channels be

[2017-11-08 23:33] donmccurdy commented on #12608
Hi @stevenvergenz — this requirement that most textures use uv1, except `aoMap` and `lightMap` which use uv2, is shared across all of three.js. It isn't possible to fix it just for a single loader without using a bunch of ShaderMaterials, which we don't want to do.

I'm not sure if there is interest/support for allowing arbitrary textures to be assigned to arbitrary UV sets in three.js. See: https

[2017-11-08 23:44] mrdoob commented on #11573
@cdata just hacked this for a project he's working on:
https://gist.github.com/cdata/f2d7a6ccdec071839bc1954c32595e87

[2017-11-09 00:18] mrdoob commented on #12605
Oh noes... I guess we'll have to move that code to the renderer..

[2017-11-09 00:19] takahirox commented on #12432
Curious to know if this performance is fast enough for uuid generation intensive case

[2017-11-09 01:13] donmccurdy commented on #11573
@cdata @mrdoob nice, thanks! 👍

Quick status update on this issue, then. The original problem (custom shaders in the model) no longer exists in glTF2. But I'm aware of three cases in which cloning a glTF model might still fail:

1. [ ] Skinned mesh (workaround possible via @cdata's script)
2. [ ] Spec/gloss materials (relies on ShaderMaterial; can't clone the refresh callback. workaround possible

[2017-11-09 03:15] danrossi commented on #9754
Two days and no urgency to look at it. I suspect this will never get addressed. It took years, and multiple versions of IOS and device upgrades for CORS to be fixed ?

I will try and play with webgl flags and shader code to see if anything can be done.

[2017-11-09 07:47] roelvanhintum commented on #12598
@Mugen87 I did test this on other macs and it's just the ones with a "Intel Iris Pro 1536 MB", so far. One of the machines is a iMac (21.5-inch, Late 2013).

[2017-11-09 08:11] cnspaha opened #12609 "ColladaLoader: Automatically setting of path breaks loading via files"
With the ColladaLoader I have the following problem.
When trying to load a model via files (instead of url) it won't find textures.
I used the approach to load the files described in https://github.com/mrdoob/three.js/pull/12591#issuecomment-342179286

But unfortunately the the ColladaLoader always extracts an url base path from the passed .dae file and if it is empty it sets it to './' . IMO it i

[2017-11-09 08:51] jiangmingwen opened #12610 "3dMode is group, how to select a group Mode?"
how to select a group mode?  i

[2017-11-09 09:01] kvskranthikumar opened #12611 "Error while loading the screen after WebVR Trail update"
##### Description of the problem

After WebVR Trail update now we are getting below error -
"Cannot assign to read only property 'pose' of object '#'"

With WebVR chrome extension used.

https://threejs.org/examples/#webvr_cubes

##### Three.js version

- [ ] Dev
- [ ] r87
- [x] r88

##### Browser

- [ ] All of them
- [x] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [] All of them
- [

[2017-11-09 09:21] cloud4every1 commented on #12592
I have tested further with this problem and found that in r69 the lights have been working.

[2017-11-09 09:52] cloud4every1 commented on #12592
I tested many more version and found that r73 is the last one where it works fine. With r74 and onwards the lights seems not to be considered during the rendering on this device.

[2017-11-09 11:09] Mugen87 commented on #12601
Basically the manager instance of a loader should be passed to all internal loaders used for texture, material or other file loading stuff. If this is not the case, we should investigate the respective code sections.

[2017-11-09 11:13] #12610 closed

[2017-11-09 11:14] Rolliboy opened #12613 "MaterialLoader doesn't handle textures correctly"
##### Description of the problem

Exporting material to JSON using Material.toJSON() method return an object that is not correctly parsed by MaterialLoader.
Here a fiddle to quickly see what I've done to get the error.

http://jsfiddle.net/akmcv7Lh/211/

##### Three.js version

- [ ] Dev
- [x] r87
- [ ] ...

##### Browser

- [x] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet Explorer

#####

[2017-11-09 11:22] Mugen87 commented on #12609
I like the suggestion. `THREE.GLTFLoader` handles this situation similarly. Do you want to make a PR for this :blush:?

[2017-11-09 11:23] Mugen87 commented on #12609
see
https://github.com/mrdoob/three.js/blob/de50f388a85aaa27c3aec823405d77fe5ca1cb07/examples/js/loaders/GLTFLoader.js#L27

[2017-11-09 11:24] cnspaha commented on #12609
Sure, I don't mind ;)

[2017-11-09 12:04] cloud4every1 commented on #12592
As mrdoob mentioned, it is a Intel HD Graphics for Atom x5/x7 graphic card that seems to have the problem. Could I run any special tests i.e. fragment shader via the ShaderMaterial?
I tried a simple one from the three.js cookbook, which works but is not light dependent:
`

    <script id="simple-fragment" type="x-shader/x-fragment">
    varying vec3 vNormal;
    uniform float delta;
    uniform fl

[2017-11-09 12:50] Itee commented on #12601
Ok i will take a look deeper

[2017-11-09 13:11] cnspaha commented on #12609
made PR from issue =>  https://github.com/mrdoob/three.js/pull/12614

[2017-11-09 13:11] #12609 closed

[2017-11-09 15:12] adrs2002 commented on #12599
hmmm.. sorry waiting.
http://adrs2002.com/sandbox/xloader/xfileTest_dummy.html
i think, just a little more.... but I do not know the last one..

[2017-11-09 16:13] mrdoob commented on #12592
Thanks! That's super helpful! I'll investigate a bit today.

[2017-11-09 19:49] Mann90 commented on #12359
Yes. The issue is there on macOS 10.13.1 and Chrome (61,62, beta, and Chrome canary as well.)

[2017-11-09 19:56] Samsy opened #12616 "Orthographic Camera offset on very large render"
The orthographic camera is offseted when the render is very large ( 8 - 10 k wide )
As an example I run https://threejs.org/examples/webgl_interactive_cubes_ortho on a 10K and this is what I get :

![Image of Yaktocat](https://i.imgur.com/RyNc5Qr.jpg)

The render is offseted on the right

But if I run  https://threejs.org/examples/canvas_camera_orthographic , then the render is centered as expecte

[2017-11-09 20:30] Mugen87 commented on #12616
Maybe you exceed the maximum drawing buffer size. This value is limited and you can see it here (http://webglreport.com/, Section Framebuffer).

Does it work if you reduce the size of the renderer?  Besides, do you have this problem with all browsers?

BTW: Nice monitor setup! 😊

[2017-11-09 20:36] WestLangley commented on #12592
@cloud4every1 Does this Array of Structs test pass on your device?

https://www.khronos.org/registry/webgl/sdk/tests/conformance/glsl/misc/shader-with-array-of-structs-uniform.html?webglVersion=%5Bobject%20Object%5D

We now pass lights uniform data as an array of structs.

[2017-11-09 20:59] Samsy commented on #12616
This is definitely under the maximum buffer size, I'm displaying pixelratio 1 on 10K wide render

[2017-11-09 21:59] kaisalmen commented on #12597
@Aikyos @Mugen87 with enforced two sided materials and VertexNormalHelpers active for the complete mesh you can see that the surface orientation of the windshield is not correct:
![image](https://user-images.githubusercontent.com/21079138/32630986-f0ffb4f8-c59e-11e7-97d6-3166f05cb72b.png)

Only looking at mesh "VitreAV_Plane.043" without double side material enforced and VertexHelper in place you

[2017-11-09 23:05] mrdoob commented on #12611
Chrome for Windows?

[2017-11-10 01:03] Itee commented on #12616
Amazing screen !

Is it the same for all examples with ortho camera ? Are you in capacity to check from which ratio this append ?

[2017-11-10 03:23] zellski commented on #11573
For what it's worth, this is how we solved the skinned mesh problem -- the idea being that the user shouldn't need to know a loaded model needs special attention: https://gist.github.com/zellski/be4e9207ab8e70c4e89062d48ce345ba

We have a lightly hacked-up GLTFLoader.js that instantiates these two classes instead of the unmodified ones.

[2017-11-10 06:56] sandipJava opened #12618 "How to convert obj to Mehs"
Please check following question. [Click Me](https://discourse.threejs.org/t/how-to-convert-obj-file-to-mesh/1179?u=sandipnd31)

[2017-11-10 07:27] kenkiku1021 opened #12619 "PDBLoader does not read "serial" field in the PDB file"
##### Description of the problem

When reading a PDB file, this loader ignore "serial" field (col : 7-11).
So, atoms are not connected correctly if ATOM/HETATM records are not shown in the PDB file orderly.

example data:
----
COMPND  H2O.PDB
HETATM    2  H                   0.735  -0.088  -0.015
HETATM    3  H                  -0.724  -0.347  -0.042
HETATM    1  O                  -0.095   0.353

[2017-11-10 08:17] #12618 closed

[2017-11-10 08:40] clineyuan opened #12621 "Object is still referenced by renderItems in WebGLRenderList, after it is removed from scene."
After an object was removed from scene, it is still referenced by renderItems.  I clear renderItems as below. But the object may be referenced by opaque or transparent. Once I clear opaque and transparent, nothing is rendered(only background color)! I don't how to get it fixed. Could you please double check if the original code is correct and if not how to fix it?

	`function WebGLRenderList() {

[2017-11-10 09:25] DomDumont opened #12622 "Cannot use THREE.WebGLUtils from Typescript"
##### Description of the problem

Hi all, it seems THREE.WebGLUTils is not exposed through @types.
I'm trying to use this code ( https://github.com/spite/THREE.UpdatableTexture ) in typescript.

By the way, if someone has a better option to load small texture blocks into a bigger one, i'm interested ;-)

##### Three.js version

the one from npm install ("three": "^0.87.1")

##### Browser

- [x] Al

[2017-11-10 10:09] Usnul commented on #12621
I do not understand what your problem is. You have not explain what you are doing, what happens and how it differs from your expectations.

The code you have provided does not help to clarify this situation for me.

Please consider editing your post.

[2017-11-10 12:11] cnspaha commented on #12530
Run into the same problem with every object I downloaded from clara.io which uses textures.

BUT! Found following ;)
https://github.com/KhronosGroup/OpenCOLLADA/issues/92#issuecomment-13135708

Also in the collada spec 1.5 ( @Mugen87  )
texture="myParam" => The value is specified by a reference to a previously defined <sampler2D> object.
![image](https://user-images.githubusercontent.com/22448974/

[2017-11-10 12:19] clineyuan commented on #12621
Usnul, in my project, threejs objects will be added to and removed from scene frequently. Once I remove them from scene, I suppose that they should be referenced by THREE. But when I use Chrome dev tool to take a snapshot, I found "renderItems" still kept some of them.

The above code only assigns zero to renderItemsIndex, but doesn't make renderItems empty. I think it causes the "memory leak".

[2017-11-10 12:39] cloud4every1 commented on #12592
Yes, passes successfully
![khronos-org](https://user-images.githubusercontent.com/22236466/32658707-977d2d02-c61b-11e7-8b70-9c9f92421189.jpg)

Can we debug it somehow?

[2017-11-10 13:05] lovemoebius opened #12623 "JSONLoader doesn't load JSON files, making it impossible to use Morph Targets"
I'm working with the webgl_morphtargets_human example to try and understand how to modify the morph targets of my model since I can't seem to find any information on how to do this outside of this one undocumented example.

I supposed this would be as simple as switching the model that is already being loaded with mine, however it doesn't seem to be that way.

If I switch the model that is being l

[2017-11-10 13:18] Mugen87 commented on #12530
@bhouston Can you recommend an approach for handle this issue inside `ColladaLoader`?

tl;dr: The problem is that some Collada files have `texture` tags that refer directly to an image and not to a sampler. `ColladaLoader` is currently unable to load such files because it expects a reference to a sampler.

[2017-11-10 13:37] Mugen87 commented on #12622
see https://github.com/mrdoob/three.js/issues/10681#issuecomment-287921860

[2017-11-10 13:37] #12622 closed

[2017-11-10 14:16] cloud4every1 commented on #12592
The device should get the following glsl fragment shader program to render the MeshLambertMaterial. I captured it from the WebGLShader/WebGLProgram function on the device.
[MeshLambertMaterial-Shader.txt](https://github.com/mrdoob/three.js/files/1461525/MeshLambertMaterial-Shader.txt)
May you do see something there? Something I could debug and provide details? Input / Output ... let me know! thank

[2017-11-10 14:24] cnspaha opened #12625 "FBXLoader: Partial transparent maps doesn't work"
##### Description of the problem

When loading a FBX file ( [succubus.zip](https://github.com/mrdoob/three.js/files/1461582/succubus.zip), it is the original file, no export ) via FBXLoader transparent parts of a map isn't taken into account.

The map, opened in Gimp so you can see the transparent parts, hair + feathers:
![unbenannt3](https://user-images.githubusercontent.com/22448974/32662101-a4f

[2017-11-10 15:06] donmccurdy commented on #12623
There is a short example (not including morph targets) in the [ObjectLoader docs](https://threejs.org/docs/#api/loaders/ObjectLoader). The important thing is that the result is an Object3D or subclass. Adjusting the code from UCSLoader, you might do something like this:

[code]

However, I don't see morph targets in that test file... Can you post the `.blend` file, in case there is a bug in the ex

[2017-11-10 15:13] donmccurdy commented on #12625
Since the model is on Sketchfab already, you can download the glTF version there. It looks correct with r88 GLTFLoader, other than some transparency artifacts that aren't loader-related.

Preview on https://gltf-viewer.donmccurdy.com/:

<img width="410" alt="screen shot 2017-11-10 at 7 09 06 am" src="https://user-images.githubusercontent.com/1848368/32664480-2ef0c0f8-c5e6-11e7-8617-6de519f72cde.pn

[2017-11-10 15:33] WestLangley commented on #12625
If you are setting `alphaTest`, and your textures are cut-outs (no semi-transparency), there is no need to set `material.transparent = true`. And therefore, you should see no "transparency artifacts".

[2017-11-10 15:44] lovemoebius commented on #12623
I don't have the .blend file anymore unfortunately, long story, but I thought I'd figure out if I could get the Morph Targets to work before actually starting to work on the morph targets themselves which would take me a long time. And of course my current json is way too big to be pasted anywhere.

I made this cube to test from now on since it's probably going to be quicker either way https://pas

[2017-11-10 16:11] donmccurdy commented on #12623
This example code you're working from assumes you have a model that uses both morph targets AND skinning, which is greatly overcomplicating this. 🙃

Here is a much simpler example, I would work from that:

https://morph-test-wnvgoknsdu.now.sh/

The important parts are:

[code]

[code]

[2017-11-10 16:44] loldrup opened #12626 "(lack of) Documentation regarding triangulation?"
What's the one-stop-shop for documentation on performing triangulation with three.js?
Searching for 'triangulation' on the three.js documentation site gives no hits.

Is [this project](https://github.com/Wilt/three.js_triangulation) officially sanctioned as The Right Way to approach triangulation with three.js?

Is there a way to get three.js sanctioned triangulation code purely through NPM? Searc

[2017-11-10 16:47] donmccurdy commented on #12625
That's good to know, thanks 🙂

the glTF asset from sketchfab doesn't set `alphaTest` but perhaps it should... trying a quick test after dragging the glTF into https://gltf-viewer.donmccurdy.com/ ...

[code]

i'm not getting the right result:

![screen shot 2017-11-10 at 8 39 58 am](https://user-images.githubusercontent.com/1848368/32668895-ab80d6f0-c5f3-11e7-8257-df411dd614c5.png)

[2017-11-10 17:38] donmccurdy commented on #12626
For docs on three.js's triangulation see [THREE.ShapeUtils](https://threejs.org/docs/#api/extras/ShapeUtils).

But, I would suggest just using [earcut](https://github.com/mapbox/earcut). We may go that direction in the future: https://github.com/mrdoob/three.js/pull/12286. Example usage of earcut with three.js: https://github.com/mrdoob/three.js/issues/5959#issuecomment-148339422

[2017-11-10 17:40] donmccurdy commented on #12608
^Which is not to say I'm opposed at all to supporting per-texture UV sets in three.js... I just don't know what the concerns/obstacles were with that previous PR.

[2017-11-10 17:57] Mugen87 commented on #12626
I use this as an opportunity to vote for an application of `earcut` again 😊 . The current implementation of `ShapeUtils` (a port from [here](http://www.flipcode.com/archives/Efficient_Polygon_Triangulation.shtml)) was repeatedly insufficient if users required a robust triangulation process. Instead, users switched to external libs (in most cases `earcut`). IMO, this is a clear signal to improve th

[2017-11-10 18:27] adrs2002 commented on #12599
@marshall-hunts

OK, LGTmyself. please check !
http://adrs2002.com/sandbox/xloader/xfileTest_dummy.html

https://raw.githubusercontent.com/adrs2002/threeXfileLoader/master/threeXLoader.js

[2017-11-10 18:38] loldrup commented on #12626
Luckily I only need to triangulate simple polygons, so I'll stick with ShapeUtils.
Thank you McCurdy!

Den 10. nov. 2017, fra 18.58, Michael Herzog <notifications@github.com> skrev:

I use this as an opportunity to vote for an application of earcut again 😊 . The current implementation of ShapeUtils (a port from here) was repeatedly insufficient if users required a robust triangulation process. Ins

[2017-11-10 18:50] brmscheiner opened #12630 "Rapid change in perspective when using OrbitControls and TransformControls together"
You can reproduce this bug easily in the [WebGL Geometry Spline Editor example](https://threejs.org/examples/#webgl_geometry_spline_editor). Select one of the objects and move it toward the top of the scene. When the cursor gets to the top edge of the screen the perspective instantaneously shifts (by 90 degrees I think).

I am on OSX 10.12.6 and Chrome 62 but I have reproduced the same bug on Wind

[2017-11-10 18:52] kenrussell commented on #12592
@mrdoob no specific known issues with Intel HD Graphics for Atom x5/x7. If you can boil this down into a small test case we will happily incorporate it into the WebGL conformance suite and tell Intel about it.

[2017-11-10 19:35] kenrussell commented on #12359
Sorry for the delay triaging this.

I can reproduce the problem on an NVIDIA MacBook Pro with 10.13.1 and both Chrome Canary (64) and Stable (62). about:gpu is attached.

Safari and Safari Technology Preview (STP) behave differently, but reproduce the same underlying problem. With STP, the canvas is almost completely transparent. Adding another call to "draw()" at the end of the fiddle https://jsf

[2017-11-10 19:52] Mugen87 commented on #12359
Here you go! [about_gpu.htm.zip](https://github.com/mrdoob/three.js/files/1462557/about_gpu.htm.zip)

[2017-11-10 19:53] mrdoob commented on #12592
@cloud4every1 Do you mind running all the conformance tests in the device?

https://www.khronos.org/registry/webgl/sdk/tests/webgl-conformance-tests.html

[2017-11-11 00:34] kenrussell commented on #12359
Thanks. I can't reproduce the rendering failure on a 15-inch, Mid 2015 MacBook Pro with AMD Radeon R9 M370X discrete GPU running 10.13.2 beta, and Chrome 64.0.3264.0 (Official Build) canary (64-bit):

GPU0	VENDOR = 0x1002, DEVICE= 0x6821 *ACTIVE*
GPU1	VENDOR = 0x8086, DEVICE= 0x0d26

So far I can only reproduce the rendering failure on an NVIDIA GPU. Bugs have been seen and filed with Apple about

[2017-11-11 02:28] FishOrBear commented on #12630
Because the sample did not add the <Pointer Lock API> feature.
Lost mouse over capture when mouse hovers over canvas.
When you go back to the canvas, the canvas thinks you are rotating the view.

look this
https://developer.mozilla.org/en-US/docs/Web/API/Pointer_Lock_API

and this
https://threejs.org/examples/?q=point#misc_controls_pointerlock

[2017-11-11 04:32] lagauche opened #12632 "Three audio breaking up Mac Chrome"
##### Description of the problem

I'm playing an mp3 44.1khz sample rate with PositionalAudio and using an Orbit camera to listen. On Chrome, on a Mac, it's clicking and breaking up for a split second once and a while. This didn't seem to be the case on Windows/Chrome, but I haven't had a chance to test.

Not sure if this is a Three.js bug, a Web Audio API bug or a Chrome/Mac bug : /

Update edit:

[2017-11-11 12:56] lovemoebius commented on #12623
That was incredibly helpful and works perfectly, didn't think it would be that simple.

However after doing some more testing with more complex models I think I might've actually found a bug. From my tests it looks like if a JSON model has more than one material, no changes will be applied to the morph targets.

Live test (same code as before): http://creativiii.com/threejs/examples/webgl_morphtar

[2017-11-11 13:50] bonomite commented on #8110
Great. Thanks!

On Nov 5, 2017 1:36 AM, "danrossi" <notifications@github.com> wrote:

[2017-11-11 14:22] Mugen87 commented on #12632
If you can apply a live demo, i can test it on my iMac with Chrome. Although i don't think this is a `three.js`  issue.

[2017-11-11 14:31] sora1984 opened #12633 "Feature Request Bulk export .js to .obj"
Would be nice to be able to bulk export .js files to .obj files

[2017-11-11 16:56] mrdoob commented on #12608
GLTF supports per-map uvs?

[2017-11-11 19:39] lagauche commented on #12632
Hey @Mugen87 thanks thanks! the website is www.xlagauchex.com
I removed the LoadManager settings since that's when the issue was the worst. Click the shirt button to start the music.

Small warning: it's not NSFW, but there is a texture of internal flesh - probably a throat that might be a bit weird to some.

[2017-11-11 20:25] Rolliboy commented on #12613
I can't understand if I asked something strange or not understandable, just in case let me know! :)
I start to believe that I'm on a completely wrong way to handle materials and textures.

[2017-11-11 20:54] aardgoose commented on #12621
This is a duplicate of #12447 which is addressed by PR #12464 (not merged yet)

[2017-11-11 21:53] donmccurdy commented on #12608
Yes, [each map can specify a UV set](https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/README.md#normaltextureinfo). But also:

So, there is an expectation that for best compatibility models should not use more than 2 UV sets.

[2017-11-11 22:02] donmccurdy commented on #12623
In that case the line `mesh.material.morphTargets = true` needs to be changed:

[code]

[2017-11-11 22:12] donmccurdy commented on #11573
Would be curious how that works out, or if you run into any issues.. it seems like having `SkinnedMesh.copy()` keep a reference to the source skeleton but then cloning that skeleton at the scene level would be redundant? But it would be nice to arrive at a way of solving this robustly... I tried with https://github.com/mrdoob/three.js/pull/10807 but ☹️

/cc @takahirox

[2017-11-11 22:15] kaisalmen commented on #12597
On the branch above I modified one obj and one obj2 example for demonstration purposes. The obj and mtl files are contained, but are not foreseen to be contained in a potential merge request.
I commented the maps in the mtl file, otherwise the materials look odd (potential `MTLLoader` improvement needed here?).
Example `OBJLoader + MTLLoader` makes all materials `THREE.DoubleSide` and it now uses

[2017-11-11 22:34] Itee commented on #12613
No no you're right !
`MaterialLoader` doesn't handle textures in JSON. Currently, you need to set them using `loader.setTextures()` intead.

I will take a look for 'fix it'

[2017-11-12 00:42] Itee commented on #12613
Wow... headache coming !

So i update you fiddle with a 'work arround'.

The first time you will load the fiddle the second cube could be black ( why ? I really don't know ) but if you run again it will be correctly display as expected.

Here the updated fiddle: [http://jsfiddle.net/akmcv7Lh/243/](http://jsfiddle.net/akmcv7Lh/243/)

[2017-11-12 01:03] Itee commented on #12580
/ping @mrdoob So what is your opinion ?

[2017-11-12 01:04] Itee commented on #12579
/ping @mrdoob So what is your opinion ?

[2017-11-12 01:04] Itee commented on #12578
/ping @mrdoob So what is your opinion ?

[2017-11-12 02:39] webprofusion-chrisc commented on #9562
Scoped packages is indeed the way to go for large frameworks with multiple versions of components (which we pretty much have here). I think I already suggested it but TypeScript is also the way to ensure everything is staying compatible (when properties change or get removed) and also exports to many levels of backward compatible code.

On a slightly related topic is anyone working on getting GLTF

[2017-11-12 03:34] clineyuan commented on #12621
Great!

[2017-11-12 08:06] lovemoebius commented on #12623
That fixed it.

Just to ask, how do you know this stuff? It's not on the Docs. Did you just learn it from the base Three.js code?

[2017-11-12 08:43] cloud4every1 commented on #12592
Currently I'm working through this script but several tests fail and some does lead to 'WebGL snagit'. This is why I have to split the test up into several section to get the result for all (that does not lead to snagit's) tests.
All the results with "1 tests failed" are typically the one that have been skipped. The script does not mark them in another way in the output file, thats a bit sad.

The

[2017-11-12 10:14] Rolliboy commented on #12613
Thank you @Itee
Actually I'm currently parsing Textures of "Json Material" using a custom parser that I built.

Looping this array:
[code]
Then I'm able to create material using:
`var newMaterial = new THREE.MeshStandardMaterial(JSONmaterial);`

Hoping there was a better and clean method but it's ok :)

[2017-11-12 10:51] #12621 closed

[2017-11-12 11:22] cloud4every1 commented on #12592
The fourth file starts with "all/conformance/limits" including all  "all/conformance/ogles" results
[webgl-conformance-2.0.1 (9)-ogles.txt](https://github.com/mrdoob/three.js/files/1464459/webgl-conformance-2.0.1.9.-ogles.txt)

`conformance/ogles/GL/faceforward/faceforward_001_to_006.html: 2 tests failed
conformance/ogles/GL/struct/struct_049_to_056.html: 2 tests failed`

The fifth file contains t

[2017-11-12 15:50] Mugen87 commented on #12632
I was not able to hear any form of glitch on my iMac and i don't think this issue section is the right place for your problem.

Try to isolate the glitch with a small test case (maybe just an empty page with a single `audio`  element) and request for help at stackoverflow. Also consider to test with different audio [formats](https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats

[2017-11-12 15:50] #12632 closed

[2017-11-12 15:54] #12563 closed

[2017-11-12 15:56] #12585 closed

[2017-11-12 16:00] Mugen87 commented on #12499
Closing since `STLLoader` does its job correctly. Adding a default lighting to the editor will be considered separately.

[2017-11-12 17:36] Mugen87 commented on #12633
Do you mean something like this?

https://github.com/mrdoob/three.js/blob/dev/examples/js/exporters/OBJExporter.js

[2017-11-12 20:04] Mugen87 commented on #12625
If a load the `FBX` file with `FBXLoader` and set `alphaTest` to `0.5`, the result looks okay.

![image](https://user-images.githubusercontent.com/12612165/32702727-5ef556b8-c7eb-11e7-8987-af10baabf138.png)

Uploading the `FBX` file back to Sketchfab, i have the following result. It looks like that manually adjustments are also necessary when using Sketchfab.

![image](https://user-images.githubus

[2017-11-12 20:08] Mugen87 commented on #12625
I guess we can close this issue.

[2017-11-12 21:08] sora1984 commented on #12633
cheers for that. how would one go about using that file to export multiple .js files to .obj ?
regards

[2017-11-13 04:23] donmccurdy commented on #12633
The gist would be:

[code]

^whether it's really quite that easy to use three.js in node.js, i'm not sure... might need to hotpatch `global.XMLHttpRequest` or something.

[2017-11-13 05:13] zaihaijiao opened #12638 "cube look like an echelon"
##### Description of the problem

when i use OrbitControls.js controll my scene, the cube added in scene look like an echelon.I am so sorry my english is not good enough . Thank you for everyone very much.
![abc](https://user-images.githubusercontent.com/30799305/32710570-4960b228-c874-11e7-9922-14898f01eb88.jpg)

You can edit for small-test.
http://jsfiddle.net/akmcv7Lh/ (current revision)
http:/

[2017-11-13 05:39] Sachin1706 opened #12639 "Feature request in ThreeJSExporter"
##### Description of the problem

In three.js/utils/exporters/max/ThreeJSExporter.ms, there is only one function that export selected objects into one .js file. It could have more function like export each object in selection into .js( separate file) and also each layer in file (containing mesh objects) export into .js ( separate file).

##### Three.js version

- [x] Dev
- [ ] r87
- [ ] ...

#####

[2017-11-13 05:43] Sachin1706 commented on #12639
In three.js/utils/exporters/max/ThreeJSExporter.ms, there is only one function that export selected objects into one .js file. It could have more function like export each object in selection into .js( separate file) and also each layer in file (containing mesh objects) export into .js ( separate file).

[2017-11-13 05:45] Sachin1706 commented on #12639
In three.js/utils/exporters/max/ThreeJSExporter.ms, there is only one function that export selected objects into one .js file. It could have more function like export each object in selection into .js( separate file) and also each layer in file (containing mesh objects) export into .js ( separate file).

[2017-11-13 06:01] feilongfl opened #12640 "can not open 3mf file which gen by microsoft 3d builder"
##### Description of the problem

i run code in [https://github.com/mrdoob/three.js/blob/master/examples/webgl_loader_3mf.html](https://github.com/mrdoob/three.js/blob/master/examples/webgl_loader_3mf.html),
it works well with

but i try my 3mf file which build by microsoft 3d build,it doesn't work.in console it show me:

    at buildMesh (<anonymous>:475:58)
    at buildMeshes (<anonymous>:564:27

[2017-11-13 06:27] cnspaha commented on #12625
can you provide me with your example code?
Because in my case it looks quite different... got some nasty white silhuettes around the feathers but don't know why.
I set the side to DoubleSide and the alphaTest to 0.5, don't do anything more with the material.
![image](https://user-images.githubusercontent.com/22448974/32712254-e6ef34e6-c843-11e7-96ad-ec132014d231.png)

Thanks :)

So the only option

[2017-11-13 06:38] donmccurdy commented on #12625
GLTFLoader could be altered to do this automatically, see above, assuming it shows the right result (currently it isn't for me). Not sure whether the FBX format provides clear indicators of when alphaTest should be changed or not though, to enable FBXLoader to do it automatically.

[2017-11-13 06:45] feilongfl commented on #12640
whole code

[code]

[2017-11-13 06:45] cnspaha commented on #12625
haven't used the GLTFLoader yet.
Regarding the indicator for alpha in the FBX format I will do some researching, but don't know if it will provide good results :/ But when I do, I will post in this issue and let you know

[2017-11-13 08:46] kvskranthikumar commented on #12611
Yes, it is chrome browser in Windows OS

[2017-11-13 09:47] Mugen87 commented on #12625
@cnspaha I've just done this:

[code]

[2017-11-13 09:50] #12638 closed

[2017-11-13 10:00] cnspaha commented on #12625
@Mugen87
I do the same as you. But just found the culprit... it is the "alpha" property on the WebGLRenderer.
If it is set to "true" the white silhuette appears...

[2017-11-13 10:32] palkens commented on #11726
@mrdoob any ideas? r88 didn't fix that.

[2017-11-13 11:20] cnspaha commented on #12625
close this, since it doesn't seem possible to check if there such parts contains alpha.

[2017-11-13 11:20] #12625 closed

[2017-11-13 17:39] brmscheiner commented on #12630
@FishOrBear very cool, I was not aware of the Pointer Lock API. This certainly provides a way of getting around the issue, but for many use cases it may be appropriate to keep the cursor and allow the mouse to easily enter/leave the scene.

[2017-11-13 18:18] cloud4every1 commented on #12592
Now the rest of the testcases. Browser crashes in the deqp - shadertexturefilter section. So I skipped this section as well.

From deqp/data/gles3/shaders/arrays.html till fbcolorbuffer:
[webgl-conformance-2.0.1 (13)-deqp-fbcolorbuffer.txt](https://github.com/mrdoob/three.js/files/1467923/webgl-conformance-2.0.1.13.-deqp-fbcolorbuffer.txt)

From runall/deqp/functional/gles3/fboinvalidate
 till  fr

[2017-11-13 18:58] brmscheiner commented on #12630
If anyone comes across this thread in need of a hacky fix, I was able to stop this behavior by modifying the handleMouseMoveRotate function in OrbitControls.js:

`function handleMouseMoveRotate( event ) {

      var currentTime = new Date().getTime();

      var timeSinceLastRotation = currentTime - this.lastRotationTime;
      var largeRotation =
        Math.abs(event.clientX - rotateStart.x) >

[2017-11-13 21:54] kainino0x commented on #12359
It sounds like this reduced test case
https://github.com/KhronosGroup/WebGL/pull/2543
is sufficient, and we no longer need the reduced test case as @kenrussell had requested.

[2017-11-13 23:07] kenrussell commented on #12359
That's right. Thanks @kainino0x .

[2017-11-13 23:49] #12359 closed

[2017-11-13 23:52] johanhenrikssn commented on #12598
Can confirm this on High Sierra (10.13.1) with Safari (11.0.1) with Intel Iris Pro 1536 MB. I have a MacBook Pro (Retina, 15-inch, Late 2013) with a discrete graphics card in it as well (NVIDIA GT 750M), and when manually switching between both of them, its only occurring when on Intel Iris Pro.

[2017-11-14 06:41] FishOrBear commented on #12630
`Pointer Lock API` This api has a headache, when I` exitPointerLock`, the mouse is still in its original position.

I do not know what's the solution to this problem.

[2017-11-14 07:12] maurocolella opened #12644 "MTLLoader: Cannot read property 'elements' of undefined"
**Uncaught TypeError: Cannot read property 'elements' of undefined**

    at Matrix3.copy (three.module.js?0371:3277)
    at refreshUniformsCommon (three.module.js?0371:23180)
    at setProgram (three.module.js?0371:22963)
    at WebGLRenderer.renderBufferDirect (three.module.js?0371:21822)
    at renderObject (three.module.js?0371:22575)
    at renderObjects (three.module.js?0371:22548)
    at We

[2017-11-14 08:15] danrossi commented on #9754
Can people please go there and cause some noise. As it's still not even looked at. Like they don't actually care about testing HLS in their own browser at all.

[2017-11-14 10:28] radiantmediaplayer commented on #9754
@jernoble could you point out who could help us in the webkit team on this issue? It would really be appreciated if someone could look into it or give us an update. The issue here on GitHub is quite long but it has been summarized here: https://bugs.webkit.org/show_bug.cgi?id=179417. Thanks in advance.

[2017-11-14 10:44] MarcRibguth commented on #12067
Hallo,
I have also some trouble with the textures or colors of this specific object.
Just whanted to share the file to help fixing some problems.

Great work you guys are doing with this loader.

[Fan.zip](https://github.com/mrdoob/three.js/files/1470398/Fan.zip)

error: TypeError: Cannot read property '0' of undefined
    at Color.fromArray (three.js:5349)
    at parseColor (FBXLoader.js:2407)

[2017-11-14 12:05] Mugen87 commented on #12644
Can you please provide a [live example](https://jsfiddle.net/f2Lommf5/) for debugging? Or maybe a reduced test case in a zip file? At least, share your `OBJ` and `MTL` file with all respective textures. Otherwise it will be hard to investigate this issue.

[2017-11-14 12:33] maurocolella commented on #12644
Sorry, but the assets are under NDA. I can provide the mtl file. I have also investigated the issue a bit:

[code]

The issue is with the Kd map, which, I believe, is the diffuse map. Kindly note that the **mtl** file has multiple textures (even if technically using the same bitmap).

To get the material and texture applied, I had to bind them manually.

[code]

I tried waiting until all assets we

[2017-11-14 13:12] Rolliboy commented on #11138
Same problem on **r88** Firefox **56.0.2 (64 bit)**

[2017-11-14 15:31] MarcRibguth opened #12649 "FBXLoader: Colors are loaded as Gray instead of the actual color"
Hey,
the colors on the object i was working with are not loading. The colors were added by blender and the blades and body of this object, are red and orange. They are loaded as grey.

[Fan.zip](https://github.com/mrdoob/three.js/files/1471395/Fan.zip)

Thanks for all the work you guys put in to this project!

- [x] Dev
- [ ] r88
- [ ] ...

##### Browser

- [x] probably all of them
- [x] tested wi

[2017-11-14 16:03] jean-noelp commented on #9764
Nobody has any news ?

[2017-11-14 16:39] jernoble commented on #9754
Hi @radiantmediaplayer. Both @grorg and I are the right people to ping on this issue. I'll CC myself to that WebKit bug and create a Radar tracking it.

[2017-11-14 20:23] Itee commented on #11138
Ah ah ah i see this warning from a while... i thought it was an expected behavior 😄

So i got it under Windows 10 r89dev, chrome Version 62.0.3202.89 (Build officiel) (64 bits), Firefox 56.0.2 (64 bits) and 57.0 (64 bits).

Easy to reproduce under firefox typing on f5 and i got '\n\n\n' and not 4 spaces.

Under IE v11.674.15063.0, i was unable to got this error BUT i got 3 warnings about WebGLRend

[2017-11-14 20:27] d3x0r opened #12650 "NPM 'three' package has invalid characters."
npm install three

"three": "^0.88.0",

in node_modules/three/build/three.js

three.js:35947 Uncaught SyntaxError: Unexpected number

		this.aStartAngle = aStartAngle ||Â 0;

[2017-11-14 20:29] Mugen87 commented on #12650
There is already a PR for this problem. #12634

[2017-11-14 21:05] d3x0r commented on #12650
closing, because duplicate... so it is an error that originates from the sources.....

[2017-11-14 21:05] #12650 closed

[2017-11-14 21:41] donmccurdy commented on #12640
I don't have any experience with 3MF but you may have better luck with 3D Builder's OBJ export. STL and PLY are also supported by three.js.

[2017-11-14 22:24] Samsy commented on #12616
It looks like this is a chrome issue, with a limitation around size of back buffers..
Has anyone gone through this?
Is there any solution to dirty fix that in three ?

[2017-11-14 22:38] Mugen87 commented on #12616
see https://bugs.chromium.org/p/chromium/issues/detail?id=445542

It looks like there are still problems with very large resolutions.

[2017-11-15 00:03] mrdoob commented on #12649
https://github.com/mrdoob/three.js/pull/12648

[2017-11-15 00:04] mrdoob commented on #12649
https://github.com/mrdoob/three.js/pull/12648

[2017-11-15 00:14] #12619 closed

[2017-11-15 00:47] jabojabo opened #12652 "FBXLoader makehuman fbx deformations"
[character.zip](https://github.com/mrdoob/three.js/files/1473017/character.zip)
Hello,
I have a fbx character designed and exported to FBX with makehuman 1.1.1.
When the character hasn't got a skeleton integrated the character is perfectly rendered. But when a skeleton is added the character is rendered deformed. It's loaded with FBXLoader and the example provided in the three.js distribution.

I

[2017-11-15 00:53] mrdoob commented on #12592
@kenrussell anything useful there?

[2017-11-15 02:55] looeee commented on #12649
@mrdoob I don't think #12067 is related. The problem is with the `fan_with color.fbx` file, which has no textures but the meshes are colored somehow.

I've done some testing but can't see where the colors are specified (it doesn't seem to be in either the geometry or materials which would be the normal places. So perhaps this is an issue with the binary parser.

@MarcRibguth would you be able to e

[2017-11-15 03:03] looeee commented on #12652
Possibly related #11553

[2017-11-15 03:36] danrossi commented on #9754
Confirming there is a partial fix in 11.2 beta. Which is apparantly something to do with this previous FlipY issue that never made it into 11.0.

But other HLS files other than the colourtest video is not working.  It might be CORS related which I have to confirm.  As my external HLS video with cross origin enabled is showing black in the webkit test.

[2017-11-15 04:26] mrdoob commented on #12640
/ping @technohippy

[2017-11-15 04:43] jabojabo commented on #12652
I'll take a look. Thank you.

[2017-11-15 05:38] donmccurdy opened #12655 "TextGeometry: Cannot clone text geometry."
Demo: http://jsfiddle.net/donmccurdy/pvovcefc/

Cloning a `TextGeometry` instance returns an empty `Geometry` instance.

[2017-11-15 09:43] MarcRibguth commented on #12649
Here is the ASCII format:
[Fan_ascii.zip](https://github.com/mrdoob/three.js/files/1474096/Fan_ascii.zip)

[2017-11-15 11:42] looeee commented on #12649
@MarcRibguth thanks - that's in an old version of the format though - version 6100. Only version 7000 and up is supported by the FBXLoader. Are you using the latest version of the blender exporter?

[2017-11-15 12:17] Friksel opened #12656 "GLTFLoader r88: camera's are loaded as Object3D instead of OrthographicCamera / PerspectiveCamera"
While loading a scene with GLTFLoader (in r88) cameras (from the 'cameras' section inside the gltf) are loaded as Object3D, instead of OrthographicCamera or PerspectiveCamera. And thus important methods like updateProjectionMatrix() are missing in the resulting objects. (ObjectLoader does return camera-objects as OrthographicCamera / PerspectiveCamera while loading a scene from json).

[2017-11-15 12:27] MarcRibguth commented on #12649
Sorry, I'm not really familiar with 3D stuff. A coworker of mine did the export for me and just now, i tried the export with Blender v2.79 and got the same fbx version(6100).
The object was just from a lookup from the internet, to see if the animations are working with the loader (i don't think they do).

[2017-11-15 12:28] looeee commented on #10897
@mrdoob @gyomihaly  I finally tested the Panorama_foranimation model - I was able to get the animations to play by re-exporting this from 3DS Max with the "bake animations" setting checked.

The loader currently doesn't play any animations for files exported without baked animations. I plan to test whether it's possible to support "un-baked" animations at some stage, but for now I think this can b

[2017-11-15 12:36] looeee commented on #12649
Hmm, looks like the blender ASCII exporter hasn't been updated in a few years. I guess they decided to focus on the binary exporter instead.

BTW if you want animations to work with the loader, make sure to bake animations when exporting - I'm not familiar with the blender exporter but there should be some setting there that allows this.

[2017-11-15 12:44] MagnuzBinder opened #12657 "CubeTextureLoader exchanges +X and -X textures in Scene.background"
##### Description of the problem

When loading textures for a Scene.background CubeTexture using
`Scene.background = new THREE.CubeTextureLoader().load( pX, nX, pY, nY, pZ, nZ );`
with p = positive (+) and n = negative (-), pX is displayed towards the negative X direction ("left") and nX towards the positive X direction ("right"), while as expected, pY is displayed towards the positive Y direction

[2017-11-15 12:45] Friksel commented on #12656
I just found out what the problem is: GLTFLoader doesn't return camera-objects directly, but within a 'wrapper' Object3D as a child. The camera itself is the first item in its children array. That's unexpected and unwanted. It's different then ObjectLoader behaviour and the gltf file doesn't have and cannot have multiple camera's inside a single camera object (see the cameras section below).

**Lo

[2017-11-15 12:49] Mugen87 commented on #12655
This happens to all geometry entities because the `.clone()` method in `BufferGeometry` (and `Geometry`) is implemented like this:
[code]
So the geometry data are preserved (e.g `attributes`) but not the `type` or the `parameters` property. I'm not sure why the previous version of the method (currently commented out) was replaced with the above code.

[2017-11-15 13:03] MarcRibguth commented on #12649
Thanks for the advice, i will test it.

[2017-11-15 13:11] MagnuzBinder opened #12658 "A few documentation flaws"
##### Description of the problem

Since I'm new to three.js, I browsed through the documentation on the website and found a few flaws in it. Since it seems to be at least partly generated from the code, I wasn't sure where to report it, so if there is a better place and way than this, please let me know. Corrections are suggested using => . Here goes:

https://threejs.org/docs/index.html#api/core/

[2017-11-15 14:26] Maksims commented on #9228
Have this been implemented?

[2017-11-15 15:16] donmccurdy commented on #12656
Could you share an example file (`.gltf`, `.blend`, or both)? You can drag-and-drop .zip files into GitHub comments. The "Duck" example [here](https://threejs.org/examples/?q=gltf#webgl_loader_gltf) uses a camera that parses correctly, without a wrapping Object3D, so I'm not sure what's happening here.

[2017-11-15 15:27] donmccurdy commented on #12655
Oops, my main problem was that the `TextGeometry` object I was debugging was coming from [three-bmfont-text](https://www.npmjs.com/package/three-bmfont-text) and not actually THREE.TextGeometry. 😅

The type change from TextGeometry to Geometry (https://github.com/mrdoob/three.js/commit/ae4c5198fdbaafb747e5c3739d4506c5b622c282) was just a red herring I guess, it does seem to all be working correctl

[2017-11-15 15:27] #12655 closed

[2017-11-15 15:32] Lololu1988 opened #12659 "Can't exporter json"
// Error: line 0: RuntimeError: file S:\Maya_2016_DI\build\Release\runTime\Python\Lib\site-packages\maya\OpenMayaAnim.py line 1415: (kInvalidParameter): Object is incompatible with this method //

##### Three.js version

- [ ] Dev
- [ ] r88
- [ ] ...

##### Browser

- [x] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [x] All of them
- [ ] Windows
- [ ] macOS
- [ ] Lin

[2017-11-15 15:40] donmccurdy commented on #12623
Yeah, I'm actually not sure where/if multiple material stuff is documented... 😕 I've just run into it before. The part about enabling morph targets is in docs for material subclasses (e.g. [MeshStandardMaterial](https://threejs.org/docs/#api/materials/MeshStandardMaterial)). Perhaps it should also be on the base [Material class](https://threejs.org/docs/#api/materials/Material) docs.

[2017-11-15 15:49] Friksel commented on #12656
Thanks for your reply @donmccurdy . Strange. On first sight the duck.gltf looks the same.

I just did a test with a very simplified gltf with the same result as described above. Here's the gltf together with its .blend. For this I just used the default startup scene in blender and only changed the objectnames and the color of the cube.
[gltftest.zip](https://github.com/mrdoob/three.js/files/147532

[2017-11-15 15:56] #10897 closed

[2017-11-15 15:57] donmccurdy commented on #12656
Hm that extra Object3D is baked into the model. Looks like the Blender exporter is doing this.

Viewing the console on https://gltf-viewer.donmccurdy.com/ you see:

<img width="329" alt="screen shot 2017-11-15 at 7 54 43 am" src="https://user-images.githubusercontent.com/1848368/32845745-606d1a44-c9da-11e7-9c99-272f592e69b6.png">

There are two nodes, `mainCam` and `Correction_mainCam`, in the sou

[2017-11-15 16:07] Friksel commented on #12656
Thanks for your quick help. On my side I just found out the Duck.gltf is working with my code, so that's useful info too. Strange this bug is in the exporter. I'm using the latest version of the gltf2 exporter for blender created by the KhronousGroup itself. Don't understand the 'Correction'-part in the camename either, 'cause this is the most simple scene possible in blender. I'll file a bug on t

[2017-11-15 16:13] donmccurdy commented on #12656
The Duck example was made with [COLLADA2GLTF](https://github.com/KhronosGroup/COLLADA2GLTF) (there is a branch in progress that supports glTF 2.0). I suspect the blender exporter is creating that extra "Correction_" part to work around some issue or other, but the authors will know. Same thing happens with lights, I believe. Seems like it should be possible to flatten during export automatically.

[2017-11-15 16:13] #12656 closed

[2017-11-15 16:42] Mugen87 commented on #12658
Thanks for reporting 👍 . So....would you also like to do a PR with your suggestions? 😊

[2017-11-15 17:05] mrdoob commented on #12658
There is a `EDIT` button on the top-right of each page. If you click on it you should be able to do the fix and save it/submit PR.

[2017-11-15 17:21] kdilayer commented on #9764
I tweaked the editor to supprt ifc files.
A few screenshots attached. I have worked on this for quite some time now... currently I have not seen any IFC 2x3 files that it cant render... largest file that I've tried is 180 MB...
Awesome.
![screen shot 2017-11-15 at 19 19 31](https://user-images.githubusercontent.com/22413236/32850113-f3c992fe-ca39-11e7-9d81-c2d0a3a020d7.png)
![screen shot 2017-11-1

[2017-11-15 19:17] WestLangley commented on #9228
@Maksims aoMaps requrire a second set of UVs.

[2017-11-15 19:19] MagnuzBinder commented on #12658
Thank you for the hint. It didn't work before, because I wasn't logged in. Sorry about that, but now it's submitted. I left out the texturePath in JSONLoader, because according to code it's correct, although slightly confusing (at least to me who are noob to this).

[2017-11-15 20:55] mrdoob commented on #12658
#12660 #12662 #12663 #12664 #12665 #12666 #12667 #12668 #12669 #12670 #12671 #12672 #12673 #12674

[2017-11-15 20:55] #12658 closed

[2017-11-16 01:18] simplynail commented on #9764
Hey, awesome work!
Can this be accessed directly from master branch or the tweaked code for IFC support sits somewhere else?

[2017-11-16 01:28] kenrussell commented on #12592
Sorry but I can't tell from the results of a WebGL conformance run. The thing that's really needed is to figure out what part of the shader is executing differently on this device, and then to create a minimized test case from that. Sorry but that's the only way we will make progress on this bug.

[2017-11-16 01:37] mrdoob commented on #12592
@cloud4every1 is it this device?
https://www.amazon.com/Epson-Moverio-BT-200-Smart-Glasses/dp/B00KLFS4GG/

[2017-11-16 03:29] Maksims commented on #9228
@WestLangley is it adjustable? As there are many cases when same UV set used for AO map.

[2017-11-16 03:52] jgwinner commented on #8248
My only concern here is that it doesn't work really well with stereo Rendering, so it would be tough in WebVR, but please don't think I'm against the feature :) :+1:

[2017-11-16 03:58] WestLangley commented on #9228
@Maksims
[code]

[2017-11-16 07:40] Pratap-Bhuvnesh opened #12676 "i replace the fbx in examples\models\fbx and rename it in file webgl_loader_fbx.html but this does not render the file."
##### Description of the problem

I replace the fbx in examples\models\fbx and rename it in file webgl_loader_fbx.html but this does not render the file.
##### Three.js version

- [ ] Dev
- [ ] r88
- [ ] ...

##### Browser

- [x] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [x] All of them
- [ ] Windows
- [ ] macOS
- [ ] Linux
- [ ] Android
- [ ] iOS

##### Hardware

[2017-11-16 07:57] looeee commented on #12676
Can you share the model? I'll take a look. You can add zip files here.

[2017-11-16 08:13] Pratap-Bhuvnesh commented on #12676
Hi Blue, i did'nt change anything exclude replacing fbx file and mention it into webgl_loader_fbx.html
[test.zip](https://github.com/mrdoob/three.js/files/1477752/test.zip)

[2017-11-16 08:52] cloud4every1 commented on #12592
Hi, not exactly,  it is a BT-300, newer model with higher resolution but in general same technology.
https://tech.moverio.epson.com/en/bt-300/document.html

[2017-11-16 09:01] jean-noelp commented on #9764
Yer ! Awsome ! How can we have access to this loader code, please ? :o

[2017-11-16 09:58] Mugen87 commented on #9764
I vote for a PR 😊 !

[2017-11-16 12:10] looeee commented on #12676
I've tested the FBX-DEMO.FBX (table) model contained in your zip file - it's loading fine, it's just very large in scale and positioned quite far back and to the right behind the camera. If you zoom out enough or scale the model down you will see it. Adding this line:

[code]

just before `scene.add(object);` will help.

[2017-11-16 13:29] bhouston commented on #8248
Just turn it off in VR.  A lot of the costly effects do not work well in VR.  UE4 even suggests going with forward rendering rather than deferred in the VR context for speed purposes.

[2017-11-16 15:59] #12676 closed

[2017-11-16 16:20] jgwinner commented on #8248
Exactly, which is why I'm not against it.

I stumbled on here while working on a React Native implementation of reflection mapping, Screen space reflections are great for non-VR games.

[2017-11-16 18:11] kevinkleine opened #12678 "Outline pass can't handle transparent background"
##### Description of the problem

After commit b3cf1c73c279d7d9788d4a9735d17dcb7893b50c the outlinePass renders transparent backgrounds in black.

##### Three.js version

- [x] Dev
- [x] r88

##### Browser

- [x] Chrome latest
- [ ] Firefox
- [ ] Internet Explorer

##### OS

- [ ] All of them
- [x] Windows 10
- [ ] macOS
- [ ] Linux
- [ ] Android
- [ ] iOS

##### Hardware Requirements (graphics ca

[2017-11-16 18:47] Alexandre-Passerelle opened #12679 "MeshPhongMaterial is rendered black on Huaweï MediaPad T3"
##### Device
This occur on Huaweï MediaPad T3 10 (AGS-L09) - Androïd 7 / EMUI 5.1 / Snapdragon 425 / 2Go RAM / 800x1280

Note that this issue DO NOT occur on these other devices tested on my own :
- Huaweï P8 Lite (Android 6 + EMUI 5.1)
- Huaweï P9
- HTC Nexus 9 (Android 7.1.1)
- Galaxy Tab A 2016 ( Android 7)
##### Description of the problem

Mesh with MeshPhongMaterial is rendered black, the sam

[2017-11-16 18:52] Mugen87 commented on #12678
This commit was reverted, see #12281

Maybe a subsequent commit introduced the problem. Does it work with `R87`?

[2017-11-16 19:25] Mugen87 commented on #12679
see https://github.com/mrdoob/three.js/issues/12592#issuecomment-343103155

It seems both issues are related in some way...

[2017-11-16 19:46] donmccurdy commented on #9562
@webprofusion-chrisc some discussion around https://github.com/mrdoob/three.js/issues/12416#issuecomment-337353691 about importing loaders with Webpack/Browserify. That should also work for GLTFLoader, or feel free to open a new issue since this issue is pretty broad. I don't know that there's been any discussion of GLTFLoader as a core module.

[2017-11-16 20:38] #12599 closed

[2017-11-16 20:51] mrdoob commented on #8248
THREE.Reflector works in VR ✌️
https://threejs.org/examples/webvr_sandbox.html

[2017-11-16 21:07] jgwinner commented on #8248
Nice!

Although even on Nightly I get "VR Not found" but I'll check it out.

My particular problem (which isn't the OP's) wasn't to solve the reflection problem, it was how to create three.js native objects, and render them within ReactVR's existing scene and renderer. I got OK results, the only thing was the background image was a little strange, so reflections look weird - but that's as expected

[2017-11-17 03:55] WestLangley commented on #12657
See [this SO answer](https://stackoverflow.com/a/45999554/1461008).

[2017-11-17 03:55] mrdoob commented on #12679
Is it this one?
https://www.amazon.com/Huawei-MediaPad-Marshmallow-Moonlight-Warranty/dp/B01LB08BH6

[2017-11-17 05:42] #12633 closed

[2017-11-17 08:06] Alexandre-Passerelle commented on #12679
It's not the Huawei M3, mine is T3 10"

[2017-11-17 10:32] mojovski commented on #11306
Hmm, in my case the onBeforeRender is not called. Did the issue raised up again?
My code is somewhat like this:
[code]
From the the debugger I can see, that the function onCenterBeforeRender is assigned correctly (is also defined).
Do I miss something?

[2017-11-17 10:32] MagnuzBinder commented on #12657
Thank you, that explains it. I submitted a patch to add the explanation of projection order to the documentation, since more than me have and probably will wonder about it.

[2017-11-17 10:32] Friksel commented on #12656
@donmccurdy I think it's better to continue the talk here instead of on the exporter side for now:

`Good points. @Friksel I think the summary here is that Blender's default camera orientation is somewhat different than glTF's, and correcting that requires this extra node. It will be necessary to check node.isCamera in three.js as described in the other thread, or make manual changes to the model.

[2017-11-17 12:14] Pratap-Bhuvnesh commented on #12676
Hi Blue, Thanks for the help. But still this is not working.
Please let me know ,more methods like above to change.
object.scale.multiplyScalar(0.01);   this does not affect.

[2017-11-17 15:27] mrdoob commented on #12676
@Pratap-Bhuvnesh Does the model load in https://threejs.org/editor/?

[2017-11-17 15:46] donmccurdy commented on #12656
That would be great, it's just hard. The Blender three.js exporter and the Blender glTF exporter are maintained by different people, and different formats have requirements that things work a certain way, so it's hard to guarantee it will be exactly the same result.

I think you can always be sure that first child of the camera will have the same rotation (it's just rotating the camera to face `-Z

[2017-11-17 16:23] Mugen87 commented on #12616
There is one thing you can do in your app. Allocate a smaller drawing buffer and then scale up to the full canvas. Something like https://jsfiddle.net/f2Lommf5/348/

[2017-11-17 16:55] msimpson opened #12682 "FBXLoader: THREE.Material: 'map' parameter is undefined."
##### Description of the problem

When attempting to load the FBX file contained within the example below, we are seeing the following error:

[code]

Upon further investigation, it seems that on [line 489 of the `parseParameters` method](https://github.com/mrdoob/three.js/blob/r88/examples/js/loaders/FBXLoader.js#L489) the `map` parameter is set to `undefined` as the `relationship.ID` used is not

[2017-11-17 17:07] WestLangley commented on #12616
@Mugen87 Or perhaps,
[code]

[2017-11-17 17:10] mrdoob commented on #12682
/ping @looeee

[2017-11-17 17:21] mrdoob commented on #11306
@mojovski if [this](https://threejs.org/examples/#webgl_mirror) example works it means `onBeforeRender()` works, so the issue is somewhere else.

[2017-11-17 17:25] Mugen87 commented on #12616
This is even nicer 😊

[2017-11-17 17:26] rck1 opened #12683 "GLTFLoader - Internet Explorer Error"
##### Description of the problem

GLTFLoader does not work in Internet Explorer 11.  Even when gltf only uses standard diffuse texture (.jpg) and no depth texture.  The model does not load.  You can try the link from three.js examples:
https://threejs.org/examples/webgl_loader_gltf.html.

Internet Explorer spits out the following warnings.

[code]

##### Three.js version

- [ ] Dev
- [x] r88
- [ ]

[2017-11-17 17:34] Friksel commented on #12656
Yes, seems like loading cameras this way is working fine in the project I'm working on. Not sure about rotations, but that's for later. With the nice trick you gave it's easier to convert my project from Objectloader to gltfLoader. I put it in a function:

[code]

Now I'm moving on to the next step: making the lights and materials work / solving shader problems. And wrong axis problems. But if the

[2017-11-17 17:43] donmccurdy commented on #12683
Perhaps we should surface the full error rather than "unable to parse model", but i'm guessing you will need a [Promise](https://caniuse.com/#search=Promise) [polyfill](https://www.npmjs.com/package/promise-polyfill) for IE11.

[2017-11-17 17:54] Samsy commented on #12616
I just ended up rebuilding chromium browser from sources, and extended the artificial backbuffer size limits to 16k per 16k
It is running very well on bug rigs ( installations ) and no need to tricks or split any renders

[2017-11-17 17:58] lysigk opened #12684 "Possible memory leak when using WebGLRenderer with React"
##### Description of the problem

I'm working on a Three.js application using React and Redux. So far I have created [this test application](https://github.com/lysigk/react-redux-three) to figure out how to implement rendering, state manangement, input handling etc.

Things are running fine and smoothly as long as no events are triggered. However, for some reason, as soon as events like `mousemove

[2017-11-17 18:00] lovemoebius commented on #12623
Last question before I completely give up on this, is there a reason why every single morph target I try only works correctly at values 0 and 1?

I tried this with a bunch of different meshes, compex and simple, and it looks like every single mesh becomes very deformed with any value that aren't 0 or 1. The deformation seems to usually be scaling related in one of the three axes.

http://creativii

[2017-11-17 18:29] donmccurdy commented on #12623
If you're setting the influences to negative values, then they're probably going the opposite way you intend, yes. Normal values would be floats [0...1], although there are certainly cases to go below 0 or above 1.

It's also possible the morph targets are configured wrong in your model... if it's glTF you can debug it [here](https://gltf-viewer.donmccurdy.com/) but otherwise that requires some se

[2017-11-17 19:19] #12616 closed

[2017-11-17 19:22] lovemoebius commented on #12623
I'm not setting the values to negative numbers. With only positive numbers, while setting a morphtarget to 0.5 for example, the mesh will just entirely flatten itself. If I set the morph target to 1, the mesh will reach the shape that I gave it in blender, however that shape will be mirrored to the opposite side it started as.

http://creativiii.com/threejs/examples/webgl_morphtargets_human3.html

[2017-11-17 19:33] donmccurdy commented on #12623
Ok, yeah the effect of the influence value is just to interpolate between two shapes, so it entirely depends on what you're exporting from Blender... if `-0.5` works for you that's fine, too.

That's a glTF 1.0 model, which would require LegacyGLTFLoader and doesn't support morph targets anyway:

![screen shot 2017-11-17 at 11 29 16 am](https://user-images.githubusercontent.com/1848368/32965185-aa

[2017-11-17 19:34] donmccurdy commented on #12623
^I saw that error by setting a breakpoint, otherwise you'd need to set pass `onError` handler when calling `loader.load(onSuccess, undefined, onError)`

[2017-11-17 20:54] lovemoebius commented on #12623
-0.5 doesn't work, that's the problem. I can't have intermediate shapes at all.

However it seems like glTF does work as intended, however I am having some trouble exporting big meshes with blender, the program doesn't crash but it's either taking a very long time or not working at all.
I'll keep waiting and see what happens.

Are there any specific settings I should use or do are the default ones

[2017-11-17 20:56] rck1 commented on #12683
Thank you @donmccurdy.  Sorry, I don't quite grasp what you are saying.  I'm not strong with JavaScript.

I wish we could live in a world without IE11 but the vast majority of my clients are stuck on IE11.  And it looks like it'll be that way for quite some time.  Is this something you can resolve in GLTFLoader?  What can I do in the meantime to get this working in IE11?

[2017-11-17 21:10] Mugen87 commented on #9716
![screen shot 2016-09-19 at 12 43 39](https://cloud.githubusercontent.com/assets/242577/18629617/05daf75a-7e67-11e6-8b69-0d36c95041b7.png)

This message disappeared when upgrading to FF 57. I think we can close the issue now.

[2017-11-17 21:52] donmccurdy commented on #12683
IE11 is missing a feature, called Promises, that GLTFLoader needs. You can try "patching" IE11 with a fake implementation by adding this script before any of your other scripts:

[code]

If that doesn't work, I think I will need you to share a demo showing how your scene is set up.

[2017-11-17 22:23] #9716 closed

[2017-11-17 22:40] donmccurdy commented on #12544
Closing — please reopen with your example file(s) if this still a problem.

[2017-11-17 22:40] #12544 closed

[2017-11-17 22:41] donmccurdy commented on #12494
Closing this, we can track the issue in #11573 and #11574.

[2017-11-17 22:41] #12494 closed

[2017-11-17 22:43] donmccurdy commented on #12364
The [model has been updated](https://github.com/KhronosGroup/glTF-Blender-Exporter/tree/master/polly) for better support across all engines, and this problem is no longer visible.

Closing.

[2017-11-17 22:43] #12364 closed

[2017-11-17 22:48] donmccurdy commented on #7807
The glTF 2.0 Monster example is working for me. iPhone SE, iOS 11.

[2017-11-17 22:53] donmccurdy commented on #4397
Some updates since this bug was last opened:

- GLTFLoader is largely non-blocking (bugs appreciated if you find issues)
- OBJLoader has Web Worker support (maybe some other loaders as well?)
- ImageBitmapLoader can be used to decode textures asynchronously (see #12456)

Closing this issue, as there is more recent discussion in #11746.

[2017-11-17 22:53] #4397 closed

[2017-11-17 23:06] mrdoob commented on #12684
Please, report when you're sure...

[2017-11-17 23:06] #12684 closed

[2017-11-17 23:42] takahirox commented on #12683
Maybe it'd be worth to add this note to `GLTFLoader` document or somewhere?

[2017-11-18 00:01] rck1 commented on #12683
@donmccurdy Adding _npo.js_ worked!  This made my day!  Thank you.

Out of curiosity, was _GLTFLoader.js_ written in ES6 and compiled to ES5?  Is that why Promise is used?  For future versions, is there a good workaround to using Promise to avoid incompatibility with IE11?

@takahirox I agree, this should be documented.

[2017-11-18 01:15] mrdoob commented on #12659
How about expiring to FBX instead?

[2017-11-18 01:30] donmccurdy commented on #12683
The core three.js library is written in ES6 and compiled back to ES5. But, things in `examples/js/*` are not compiled at all, and so they're mostly written in ES5. Using Promises here was an exception, because I think the loader would become very messy without them.

We can't include the Promise patch directly in GLTFLoader, so unless #9562 resolves or GLTFLoader someday becomes part of the core l

[2017-11-18 02:52] looeee commented on #12682
The problem is that you are using a layered texture - here's how the material looks in 3DS Max:

![mat](https://user-images.githubusercontent.com/5307958/32976146-704f6f78-cc43-11e7-9cfd-70b5a333fefa.jpg)

Here's a section of the parsed FBX file

![console](https://user-images.githubusercontent.com/5307958/32976189-24acc20e-cc44-11e7-9ecb-03c343f4fcb5.png)

The layered texture has ID 2094787904, a

[2017-11-18 02:52] rck1 commented on #12683
Thank you @donmccurdy.  This is a fascinating discussion and I'm learning a lot.   I think it makes a lot of sense to make GLTFLoader part of the core three.js library.  I hope we can see that within the next few releases.  In the meantime, the Promise [polyfill](https://github.com/stefanpenner/es6-promise) solution works great.

[2017-11-18 03:49] daniel-keller opened #12691 "MorphTargets incorrectly affect other objects in scene"
##### Description of the problem
I have a simple box mesh with a morphTarget and a slider which adjusts the morphTargetInfluence. The morph affects the mesh as it should but it also shrinks any other mesh in the scene.

I've put together a jsfiddle (modified from the threejs morph target) example below to demo the issue. In this demo moving the slider correctly morphs the corner of the red cube bu

[2017-11-18 03:58] #12691 closed

[2017-11-18 04:05] WestLangley commented on #12691
[code]

[2017-11-18 06:09] Pratap-Bhuvnesh commented on #12676
@medoob Thanks for the reply. I am not sure.... How may i come to know that?

[2017-11-18 08:59] Lololu1988 commented on #12659
Thx for your reply.@mrdoob
but I need json.So I want to konw why.
Now I export FBX and use Blender to export json.

[2017-11-18 15:53] #12683 closed

[2017-11-18 18:28] nairaner commented on #9716
It still happens to me on FF Nightly 59

[2017-11-18 20:13] Mugen87 commented on #9716
Um, me too :unamused:. I thought this was finally fixed...

[2017-11-18 20:19] Mugen87 commented on #9716
I've just installed a fresh version of Nightly and the message disappeared. Thank God! 😉

[2017-11-19 06:00] keqingrong opened #12698 "Suggestion: Document for compatibility"
It would be nice to add a document for compatibility.

Here is my notes. I hope this can help somenoe as a reference.

# three.js compatibility

## Browser Support

three.js supports most modern browsers, including Internet Explorer 9 and above.

three.js provides WebGL, Canvas, SVG and CSS renderers. Different renderers may have different requirements of compatibility. In theory, three.js works o

[2017-11-19 11:36] Mugen87 commented on #12698
@keqingrong Thanks for your effort. Of course a compatibility overview is a useful thing and might be good orientation especially for beginners.

However, i do not vote for an "official" detailed compatibility overview since it is a lot of work to maintain a comprehensive document. Right now, it is already hard for the core contributors to keep the project fairly up to date. I do not like the idea

[2017-11-19 18:51] Astrak opened #12705 "premultiplied alpha material update problem"
Using premultiplied alpha gives awesome renderings, thanks a lot for this feature, especially to @bhouston . However I'm reporting some issues with it. I've tried all my best just to understand them but in vain, so pardon my poor descriptions. For each of them the provided code is to be tested in [the premultiplied alpha example](https://threejs.org/examples/webgl_materials_transparency.html)

##

[2017-11-19 19:35] sjlynch opened #12706 "Unable to use WebGLRenderTarget with webVR"
##### Description of the problem
I am rendering a scene to a plane using WebGLRenderTarget and it is working great outside of WebVR. As soon as I enter VR (click on the enter VR button) with Oculus rift, the scene turns white and the Oculus doesn't render anything when putting it on. Without the render target, VR works perfectly.

		renderer.render(scene, camera);
		renderer.render(skyScene, camer

[2017-11-19 22:08] kaisalmen commented on #12597
I will continue to investigate. I just didn't have the time to work on it.

[2017-11-19 22:15] DJviolin opened #12707 "Applying anisotropic filtering on gltf model's texture"
I'm loading my gltf models into `ar.js` as the following. The models are binary gltf files with baked in textures. But seems like it's not applying any anisotropic filtering to the model. I also tried separate textures exported with `collada2gltf`, but then the model doesn't appeared (I think the texture is missing in this case):

[code]

[2017-11-20 01:02] feilongfl commented on #12640
@donmccurdy I don't have experience with .3mf too.I want show people 3d module which build by Microsoft 3d paint. Now I change to babylon.js show .glb file.

[2017-11-20 01:29] WestLangley commented on #12706
Question [cross-posted](https://stackoverflow.com/questions/47381167/threejs-cannot-use-webglrendertarget-with-webvr) on SO.

[2017-11-20 01:52] donmccurdy opened #12708 "GLTFExporter: glb downloads corrupt on MS Edge"
When using the [GLTFExporter demo](https://threejs.org/examples/?q=gltf#misc_exporter_gltf) and exporting a binary (`.glb`) file from MSEdge, the resulting model cannot be viewed in https://gltf-viewer.donmccurdy.com/ (using any browser). Same problem is happening for `.glb` models downloaded from https://gltf-trees.donmccurdy.com/. Also tried swapping out the download code for [`downloadjs`](http

[2017-11-20 01:54] donmccurdy commented on #12708
^This only applies to downloads initiated by JS, [like this](https://github.com/mrdoob/three.js/blob/dev/examples/misc_exporter_gltf.html#L110-L112). Downloading files from a server works normally.

[2017-11-20 02:00] donmccurdy commented on #12640
Do you mean you've switched your project to BabylonJS and used a `.glb` export instead? Just FYI you can also load `.glb` in three.js using [THREE.GLTFLoader](https://threejs.org/docs/#examples/loaders/GLTFLoader). I just tested an export from Paint 3D [here](https://gltf-viewer.donmccurdy.com/).

[2017-11-20 02:24] donmccurdy commented on #12708
The decoded JSON chunk contains null bytes. If I remove those during parsing, the model loads correctly.

[code]

But, it still seems like a strange case in MS Edge that this would be necessary. 😕

[2017-11-20 02:32] moraxy commented on #12708
I only have IE11 to test this on, but Chrome supports `TextEncoder` while my IE11 does not.
From `GLTFExporter.js`:
[code]
Chrome's `TextEncoder` has a default encoding of UTF-8, the code above (which IE would then execute) goes for UTF-16 (sorta?). That could explain the `0x00` bytes in the JSON.

[2017-11-20 02:41] donmccurdy commented on #12708
Nice find, thanks! Edge doesn't support `TextEncoder` either, and if I replace that with a Uint8Array everything works. So that definitely looks like the issue. 😅

[2017-11-20 03:58] donmccurdy commented on #12625
I followed up about why the glTF version doesn't render correctly; there is an unexpected case in the format spec. Will post more updates here: https://github.com/KhronosGroup/glTF/issues/1158

[2017-11-20 04:02] looeee commented on #12625
@donmccurdy how is this indicated in GLTF? I'll take a look and see if there is anything similar in FBX.

[2017-11-20 04:16] donmccurdy commented on #12625
@looeee glTF sets `alphaMode` as one of BLEND, MASK, or OPAQUE. Another property, `alphaCutoff`, corresponds to three.js's `alphaTest`. But (per KhronosGroup/glTF#1158) `alphaCutoff` is only used in MASK mode, not BLEND, and so the format technically does not allow why Sketchfab is trying to do here. That may be an oversight that needs to be corrected in a future glTF version...

https://github.co

[2017-11-20 04:40] looeee commented on #12398
@FuzzyWobble still no progress with this unfortunately - however after recent updates to the loader, importing into 3DS Max and then re-exporting *does* work at least

[fuzzywobble_reexport.zip](https://github.com/mrdoob/three.js/files/1486464/fuzzywobble_reexport.zip)

[2017-11-20 05:30] looeee commented on #12625
There's an enum AlphaSource in FBX, unfortunately the [documentation](http://help.autodesk.com/view/FBX/2017/ENU/?guid=__cpp_ref_class_fbx_texture_html) is as usual pretty sparse (documentation as comments here):

[code]

I wonder if `eBlack` could be used to indicate alpha test is needed?

[2017-11-20 05:40] feilongfl commented on #12640
I did not know .glb file is gltf format before, so I searched the relevant tutorials, found BabylonJS can help me. When I finished some of the projects I discovered that .glb is actually a gltf file.

[2017-11-20 05:44] feilongfl commented on #12640
I found same problem about load 3mf file by three.js.
[https://github.com/technohippy/3MFLoader/issues/1](https://github.com/technohippy/3MFLoader/issues/1)
but it no answer.

[2017-11-20 10:00] Mugen87 commented on #12707
`anisotropy` is a property of [Texture](https://threejs.org/docs/index.html#api/textures/Texture.anisotropy) not `Object3D`. Try something like this:
[code]
Note: If `object.material` is an array of materials, the code needs a little enhancement.

[2017-11-20 10:54] DJviolin commented on #12707
Thank You for your help! It works:

[code]

[2017-11-20 10:54] #12707 closed

[2017-11-20 11:10] Mugen87 commented on #12707
Ups, my fault. If an object does not have a texture, `map` is `null`.
[code]

[2017-11-20 12:25] msimpson commented on #12682
@looeee
I'll work with my designer to try and remove that layered texture for now. However, I'd encourage adding support for them in the FBX loader given that Cinema4D is merely using the Autodesk FBX exporter and such textures are [standard aspects of that format](http://docs.autodesk.com/FBX/2014/ENU/FBX-SDK-Documentation/index.html?url=files/GUID-452768B5-7A4F-45BD-AC37-DC1A034DCF3B.htm,topicNu

[2017-11-20 12:42] looeee commented on #12682
@msimpson Way ahead of you 😉 #12694

Although bear in mind that it's more of a workaround as three.js doesn't support layered textures - this will just use the top layer and discard the rest.

[2017-11-20 13:02] msimpson commented on #12682
@looeee
I think that's sufficient given the lack of support in the engine, itself.

[2017-11-20 13:34] Aikyos commented on #12597
No problem, you help is welcome. Don't worry about the time.

[2017-11-20 14:45] Friksel commented on #11951
Great work, great list and good to know there is already so much support on the format! Also works very good together with gltf blender exporter too. Can't wait for lights support! Keep up the great work.

[2017-11-20 15:29] haroldiedema commented on #12580
I've been using THREE for a few years now and find myself going to the docs for reference on a regular basis. Just to prove the usefulness of this, I've never known this "feature" was there.

[2017-11-20 16:27] homerjam commented on #11951
I concur, great work!

Are there plans to add support for other materials apart from StandardMaterial?

Thanks!

[2017-11-20 17:07] donmccurdy commented on #12623
I assume normal use of Blender shape keys should work with glTF morph targets, but i'm not too familiar with Blender honestly.

[2017-11-20 17:20] Mugen87 commented on #12708
BTW: At least Microsoft is working on an implementation of `TextDecoder` 😊

https://developer.microsoft.com/en-us/microsoft-edge/platform/status/encodingstandard/

[2017-11-20 17:24] donmccurdy commented on #11951
@homerjam any material properties shared with MeshStandardMaterial will be preserved — so for example, a MeshPhongMaterial using `map` and `normalMap` would export with those textures intact, but when you import it back to three.js it will be a MeshStandardMaterial. The exporter currently does a naïve conversion to PBR for this.

Round-trip support (export Phong from GLTFExporter, load Phong from

[2017-11-20 18:21] oleksmarkh commented on #12598
Can also confirm for the following configuration:
* MacBook Pro (Retina, 13-inch, Early 2015)
* Intel Iris Graphics 6100 1536 MB
* macOS High Sierra `v10.13.1`
* Safari `v11.0.1 (13604.3.5)`

Occurred after updating to High Sierra.

[2017-11-20 19:12] Mugen87 commented on #12580
This was already discussed a number of times, see #2869, #4725, #11550

I think the approach of the project is clear: https://github.com/mrdoob/three.js/issues/3445#issuecomment-17605827

[2017-11-20 19:13] haroldiedema commented on #12580
Ah my apologies, I wasn't aware.

[2017-11-20 19:26] Mugen87 commented on #12580
No problem

[2017-11-20 19:26] WestLangley commented on #12580
@haroldiedema Thanks for your suggestion, anyway.

[2017-11-20 20:29] donmccurdy commented on #8511
FYI I've tested both of the OP models (`monster.blend` and `women.blend`) with the [glTF Blender exporter ](https://github.com/KhronosGroup/glTF-Blender-Exporter/) and the results work in THREE.GLTFLoader correctly. Might need some tweaks on your materials to match the PBR workflow glTF uses, but the animation looks right.

![001a1cdf-9a58-4844-a1af-0f5761897d39-92650-0000f3cdeeca3115](https://use

[2017-11-20 23:29] kenrussell commented on #12598
Whatever the bug was, Apple seems to have fixed it in 10.13.2. Your fiddle works correctly in the 10.13.2 beta.

You might want to sign up for Apple's beta program so you can try early-access OS releases and report bugs earlier. It seems that several graphics driver bugs were introduced in 10.13 and we're still working on getting to the bottom of all of them. Happy to help highlight bugs to Apple.

[2017-11-21 04:21] donmccurdy opened #12714 "Tests that should be passing are marked TODO"
Opening the tests now, I see:

7647 assertions of 8916 passed, 1269 failed.

A lot of those "failures" are weird errors like this:

[code]

I only checked a few but I think those are happening because they are "passing" tests in a module that is marked as TODO. PropertyBinding.test.js and BufferGeometry.test.js are good examples of this. So in some previous change, a bunch of TODO test modules wer

[2017-11-21 09:19] #12708 closed

[2017-11-21 09:38] challakoushik opened #12715 "directional light cutting through an object"
![directional_light2](https://user-images.githubusercontent.com/20658812/33065068-d374fbb8-cecd-11e7-887d-8833597e619b.jpg)
I have a room and I set up a directional light far away (the white line shown in the attached pics is the light's helper). Why is the left wall being illuminated when the right wall is supposed to block light entering the room?
I am trying to create a realistic sunlight setup

[2017-11-21 09:56] challakoushik commented on #12715
![directional_light3](https://user-images.githubusercontent.com/20658812/33066040-311f2fac-ced0-11e7-822d-3213880602fd.jpg)
similar issue here, this time I am trying to cast light through the window but the right wall is being illuminated evenly throughout its surface whereas realistically light should enter only the cross section of the window and the right wall will have uneven light.

[2017-11-21 10:27] nNightKil opened #12716 "FBXLoader: show wrong transform"
##### Description of the problem

Today, I found that FBXLoader doesn't load the correct transform for model. Then, I try the three.js editor on the website, also shows wrong result.

**Original FBX File:**
[test1.zip](https://github.com/mrdoob/three.js/files/1490966/test1.zip)

**Original model in 3dsmax:**
![trrzsv82 381 tkn9 a2f](https://user-images.githubusercontent.com/13641738/33068011-e40b3

[2017-11-21 10:58] looeee commented on #12716
Confirmed, this seems to be loading correctly in other viewers but not with three.js. I'll take a look.

[2017-11-21 12:34] looeee commented on #12716
Turned out to be a pretty easy fix: #12717

[2017-11-21 13:21] takahirox commented on #12706
`submitFrame()` twice could cause the issue?

https://github.com/mrdoob/three.js/blob/8213851a45c405cad68d86e90dfa44387fa2f95e/src/renderers/WebGLRenderer.js#L1200-L1204

What'll happen if you comment out the above code and replace your code with the following code?

    renderer.render( scene, camera );
    renderer.render( skyScene, camera, skyTexture, true );

    if ( renderer.vr.enabled ) {

[2017-11-21 13:28] nNightKil commented on #12716
Awesome! It's Correct now. ：）
Thank you ~ 👍

[2017-11-21 13:43] challakoushik commented on #12715
![pointlight](https://user-images.githubusercontent.com/20658812/33075537-de80149e-ceef-11e7-8c8b-01346cf1d9f7.jpg)
same issue with point light (the white dot at the right is the point light helper). Light is entering the room even if it shouldn't

[2017-11-21 13:49] takahirox commented on #12715
Try using shadow.

If I'm right, this'd be intended behavior.
Lights themselves don't care objects relations to get good performance.

[2017-11-21 14:17] challakoushik commented on #12715
![directionallight](https://user-images.githubusercontent.com/20658812/33076942-4c63ae72-cef4-11e7-8cf6-1ab979c14ffd.jpg)
@takahirox  So, I turned on castShadow of all walls, flooring ceiling and this is the effect of directional light. The problem is objects are either completely dark or completely illuminated which isnt the case in realistic lighting. Light is supposed to bounce inside the room.

[2017-11-21 14:59] WestLangley commented on #12715
Try [stackoverflow](https://stackoverflow.com/questions/tagged/three.js) or the [forum](https://discourse.threejs.org) if you need help.

[2017-11-21 14:59] #12715 closed

[2017-11-21 15:52] haroldiedema commented on #12715
What you're looking for is called "Global Illumination". It's a hard problem to tackle in real-time graphics, especially in WebGL. Try stack overflow, but I honestly don't think you're going to get an answer for this exact problem.

[2017-11-21 21:18] Mann90 opened #12719 "The "Hello world" example fails"
##### Description of the problem

The "Hello world" example (https://threejs.org/docs/index.html#manual/introduction/Creating-a-scene) is broken in r88.

I got the error message in the Chrome DevTool console: 'three.js:35947 Uncaught SyntaxError: Unexpected number'.

##### Three.js version

- [ ] Dev
- [X ] r88
- [ ] ...

##### Browser

- [x] All of them
- [ ] Chrome
- [ ] Firefox
- [ ] Internet E

[2017-11-21 22:58] donmccurdy commented on #11642
Is SkinnedMesh support in the editor a blocking issue for animation import/export? Or is it worth considering just keyframe animations + morph targets?

[2017-11-21 23:41] looeee commented on #12719
Checking line 35947 of your three.js file I see this:

`this.aStartAngle = aStartAngle ||Â 0;`

Not sure where the `Â` came from, but removing it fixes the issue.

Perhaps we should change the tutorial to reference three.js this way, what do you think?
`<script src="https://threejs.org/build/three.min.js"></script>`

[2017-11-22 00:21] takahirox commented on #11642
I don't think it blocks.

[2017-11-22 03:54] #12659 closed

[2017-11-22 03:59] #12682 closed

[2017-11-22 04:01] mrdoob commented on #12611
What version of Chrome?

[2017-11-22 04:29] mrdoob commented on #12719
#12634

[2017-11-22 04:29] #12719 closed

[2017-11-22 05:06] mrdoob commented on #12698
I agree with @Mugen87. However, I would be open to include this if @keqingrong agrees to be the main maintainer of that page.

[2017-11-22 05:07] #12067 closed

[2017-11-22 06:14] MasterJames commented on #9189
I notice the editor generated pages do nothing (are dysfunctional) in regards to touch. It would be great to see something like this properly integrated into the editor. In my mind if it doesn't work on mobile it's not usable. I guess I could post this in the forum as a separate issue and see what's up official today with this issue, maybe my version is dated etc. 'Force' is in a new spec for mult

[2017-11-22 08:00] mrdoob commented on #9189
@MasterJames Don't you think that's a little bit off-topic..? Maybe create a new issue/feature request?

[2017-11-22 08:03] mrdoob commented on #12705
/ping @WestLangley

[2017-11-22 08:28] OndrejSpanel opened #12721 "ExtrudeGeometry: Used options.arrays in spite of being undefined"
Inside of `if ( ! options.arrays )` the undefined value is used:

https://github.com/mrdoob/three.js/blob/ba37015a2f5d89f5c77d1e00e779b800c110fd83/src/geometries/ExtrudeGeometry.js#L750

Should be:

		this.addAttribute( 'uv', new Float32BufferAttribute( uvArrays, 2 ) );

The code path is probably not taken usually, as this makes the function to fail?

[2017-11-22 09:44] mrdoob commented on #12580
Another issue of JSDocs I've recently realised is that it doesn't scale to docs localisation (not that our docs have been localised yet anyway... 😛)

[2017-11-22 09:44] mrdoob commented on #12580
@Itee can you point me to a docs page were that change is applicable?

[2017-11-22 09:49] mrdoob commented on #12579
Hmm... I looked at this some years ago. I had the same solution you're proposing, but the migration it entails didn't feel like it was worth it.

[2017-11-22 10:10] moraxy opened #12722 "Broken example in materials/nodes"
##### Description of the problem
The `adv / caustic` example in [materials / nodes](https://threejs.org/examples/webgl_materials_nodes.html) fails due to a broken shader:
[code]
Above log is from FF 57.0 with the version on threejs.org. The relevant lines for `worldPosition` in the shader source:
[code]
No `#define`s for those constants in the dumped source.

##### Three.js version
- [x] Dev
- [x]

[2017-11-22 10:12] mrdoob commented on #12722
/cc @sunag

[2017-11-22 10:13] #7807 closed

[2017-11-22 10:13] #12657 closed

[2017-11-22 10:23] Awea commented on #11427
@xbeat I got the same problem when trying to export a model with an armature animation children of the mesh:

![step1](https://user-images.githubusercontent.com/630023/33122273-12c0c186-cf77-11e7-9739-38e250b0d24b.png)

To fix this you can remove the animation from your mesh by selecting the mesh in Object Mode and click the X in the Action Editor while in Animation Layout:

![step2](https://user-

[2017-11-22 10:27] mrdoob commented on #12510
@Mugen87 Seems like some objects may benefit from a `.update()` method which the renderer could call per frame... Another example is `VideoTexture`. https://github.com/mrdoob/three.js/issues/12605#issuecomment-343005903

[2017-11-22 10:31] moraxy commented on #12722
got it, rev db347605ed00cdf045f88120289056f3f299f088 is to blame, it removed the `defined( PHYSICAL )` from the line `317: #if defined( USE_ENVMAP ) || defined( DISTANCE ) || defined ( USE_SHADOWMAP )` above. Just adding it back in fixes it and so far no new bugs in the other node examples.
Was there a reason for removing it beyond simple cleanup?

[2017-11-22 10:49] mrdoob commented on #12578
If we start doing this, it'll be difficult to know where to draw the line of what to check and what not. This is basically fighting against JavaScript. I would rather move to TypeScript than going down this path...

[2017-11-22 10:54] mrdoob commented on #11138
Closing, as this is a browser issue.

[2017-11-22 10:54] #11138 closed

[2017-11-22 10:55] mrdoob commented on #12722
Can't recall. Do you want to do a PR?

[2017-11-22 14:23] MasterJames commented on #9189
Yes sorry. Recalculating.On Nov 22, 2017 12:01 AM, "Mr.doob" <notifications@github.com> wrote:@MasterJames Don't you think that's a little bit off-topic..? Maybe create a new issue/feature request?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-11-22 14:30] FishOrBear opened #12724 "outlinepass An error occurred rendering the line."
![image](https://user-images.githubusercontent.com/19372111/33132433-9f27d6d4-cfd4-11e7-8b5c-1ec0920b8488.png)

as the picture shows.
When rendering a straight line, sometimes the outline can not be displayed normally.

If I try to pan it, sometimes I get a correct result

![image](https://user-images.githubusercontent.com/19372111/33132590-0170c288-cfd5-11e7-9c3c-efeee6afd44d.png)

This situation

[2017-11-22 15:29] Mugen87 commented on #11957
This should be now fixed in `dev`. The implementation is now based on earcut.

[2017-11-22 15:29] #11957 closed

[2017-11-22 16:24] WestLangley commented on #12705
This looks like a help question to me. Try this.

[code]

[2017-11-22 16:43] bhouston commented on #12705
@WestLangley is correct in my opinion.

[2017-11-22 18:47] kenrussell commented on #12359
FYI, this was a bug in the graphics driver for NVIDIA GPUs in macOS 10.13. A workaround is in the current Chrome Canary: 64.0.3275.0 (Official Build) canary (64-bit).

This issue was tracked on the Chromium side in http://crbug.com/775202 and I'm aiming to merge the workaround to Chrome 63.

[2017-11-22 19:02] Astrak commented on #12705
Ow did I not even try that ? Sorry for the disturbance :innocent:

[2017-11-22 19:02] #12705 closed

[2017-11-22 19:34] Mugen87 commented on #12721
Good find! This wasn't noticed because `.addShape()` is normally only used by `ExtrudeBufferGeometry`. In this case `options.array` is never `undefined`.

It is actually questionable if methods like `.getArrays()`, `.addShapeList()` and `.addShape()` needs to be public. The mentioned if-statement only exists because `.addShape()` could be used on an "empty" geometry object.  Not sure such an API i

[2017-11-22 19:35] Mugen87 commented on #12721
But the correct name of the variable is `uvArray`.

[2017-11-23 02:09] FishOrBear commented on #12724
I tested it and found that there was nothing wrong with my canvas size = "1920 * 900".

"1920 * 899" error
"1920 * 898" when normal
"1920 * 901" error
"1920 * 902" when normal
"1920 * 903" error

[2017-11-23 02:16] FishOrBear commented on #12724
I think I know the reason
in outlinepass.js
[code]

[2017-11-23 04:16] redgetan commented on #9754
Hey guys. Im posting a sample workaround for iOS 11 using temporary canvas as described by @sorob . You can see it working in http://redgetan.cc/demo/ios_11_hls_webgl_canvas_workaround/index.html . Code is at https://github.com/redgetan/ios_11_hls_video_webgl_workaround . I'm not familiar with Three.js though, so its just plain javascript .

[2017-11-23 04:21] danrossi commented on #9754
CanvasRenderer. that is software rendering. Not production worthy.

[2017-11-23 04:52] im84 opened #12728 "GLTF Loader not loading the keyframe translate animation?"
Hi there,
I'm quite new to Three JS and I'm having a problem to get working a simple KeyFrame translate animation, yet the rotation seems to work well.
I use the GLTF Loader to get the model with the animations into Three JS. Is there any known issue related to this type of animation? Is it not supported in Three JS or am I doing something wrong?

Note:
I've tried several sample models with this t

[2017-11-23 06:01] donmccurdy commented on #12728
It's working for me: https://gltf-viewer.donmccurdy.com/#model=https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BoxAnimated/glTF/BoxAnimated.gltf

^Note that you need to open the Animations menu and press *playAll*.

[2017-11-23 06:26] stef-levesque opened #12730 "Loading issue in TDSLoader"
https://github.com/mrdoob/three.js/blob/97cab20e90ab6188b9bc10af13d5be406f0b8854/examples/js/loaders/TDSLoader.js#L53-L60

@cnspaha I don't think you should `loader.setPath( path );` at L57, it result in the loader duplicating the base path when trying to load the mesh file.

(i.e. loading 'file:///some/path/mesh.3ds' result in the loader trying to load 'file:///some/path/file:///some/path/mesh.3d

[2017-11-23 06:33] cnspaha commented on #12730
Yeah I get your problem.
Till now I always set the path via the ```setPath()``` method and afterwards just passed in the filename instead of the whole path so it worked for me. But you are right, will take a look into it and provide a fix / PR

[2017-11-23 07:16] im84 commented on #12728
Thanks a lot!
You are right about that one :)
Yet the same thing doesn't seem to be working (at least for me) in these 2 models:

[translate_animations.zip](https://github.com/mrdoob/three.js/files/1498266/translate_animations.zip)

I can see, that in the previous model, the rotation and the translation have been done (exported) as 2 separate animations.
In the latter 2 models, there's only 1 anim

[2017-11-23 07:37] im84 commented on #12728
I think I've found it!
When exporting model from Blender to GLTF, I must have the "Force sample animations" checkbox checked :)

Everything works just fine afterwards :)

Thanks

![image](https://user-images.githubusercontent.com/33920018/33162355-c156cbe8-d05b-11e7-9cea-28628eb2beb9.png)

[2017-11-23 09:48] swisx commented on #9764
We would love this feature as well, for now, I'm converting IFC files to obj with https://github.com/IfcOpenShell/IfcOpenShell, but some more complicated geometries are still not parsed, so sometimes is the object, not 100% complete.

[2017-11-23 10:41] radiantmediaplayer commented on #9754
I am with @danrossi on this one. Performance issues aside maintaining 2 complete different solutions to display HLS content would be impractical. We need to get to the bottom of the iOS webkit issue. The new webkit ticket is showing activity which is a positive sign. Hopefully we can come up with something even if that means waiting for iOS 11.*.

@danrossi I just noticed that this issue is closed

[2017-11-23 10:55] danrossi commented on #9754
The brand new issue is here. It's not related to Three.JS so kept for an archive I guess.

The level of tests required was insane. Broke my back like finding the IOS10 work around.  have a look there.

Nothing works around it so far. Someone is finally having a look and not in our control. Something to do with a shared reference to the context for the texture seeing HLS is different to Mp4 which m

[2017-11-23 11:16] YogendraChauhan opened #12732 "How can i create 2D button with icon & text in three js scene?"
##### Description of the problem

This form is for three.js bug reports and feature requests only.
This is NOT a help site. Do not ask help questions here.
If you need help, please use [stackoverflow](http://stackoverflow.com/questions/tagged/three.js).

Describe the bug or feature request in detail.
A code snippet, screenshot, and small-test help us understand.

You can edit for small-test.
http:

[2017-11-23 11:17] mrdoob commented on #12732
Please, use the [forum](http://discourse.threejs.org/) for help.

[2017-11-23 11:17] #12732 closed

[2017-11-23 14:17] kvskranthikumar commented on #12611
Chrome - Version 62.0.3202.94 (Official Build) (64-bit)

[2017-11-23 17:29] nNightKil opened #12736 "FBXLoader: Wrong transform when using geometry.translate(x, y, z)"
##### Description of the problem

I want to ask if it's a problem that when I use geometry.translate(x, y, z) to transform the geometry, the pre rotation of the geometry leads to split the geometry. just like the following picture. It happen in FBXLoader and I can't get the original rotation matrix so that I can't fix it outside the loader.
![qgne v ji5p5x 1b 7dp](https://user-images.githubusercon

[2017-11-23 19:08] donmccurdy commented on #12728
I’m surprised that checkbox was needed, but glad it’s working! Freezing transforms (or whatever Blender’s equivalent is...) might help avoid surprises. The Khronos Group Blender exporter does not support multiple Actions yet, so everything will be part of the same animation when you export to glTF.

[2017-11-23 19:08] #12728 closed

[2017-11-23 20:03] Mugen87 commented on #7669
I think this should be fixed now.

[2017-11-23 20:03] #7669 closed

[2017-11-23 20:08] Mugen87 commented on #12626
This should be solved with #12661 and #12725. `three.js` uses now a port of an earcut implementation, see https://github.com/mapbox/earcut

[2017-11-23 20:08] #12626 closed

[2017-11-23 22:07] makc commented on #12630
looks to me as if transform controls blocks mouse move but not mouse down, so orbit controls receives mouse down, then nothing, and then near the top of the screen transform controls lose... control... and orbit controls now receive huge leap with mouse move event. something like that

[2017-11-23 22:09] makc commented on #12630
ah right, that's what you said

[2017-11-24 04:24] mrdoob commented on #12611
Oculus? Vive? ...

[2017-11-24 04:45] mrdoob commented on #11427
Have you guys tried exporting to gltf instead?

[2017-11-24 06:15] cnspaha commented on #12730
should be fine now with PR #12731 , please close ;)

[2017-11-24 06:18] sgaoae opened #12737 "opaque objects sorting problem with depthTest=false"
##### Description of the problem
Example:
https://jsfiddle.net/v2udjzbe/
Two boxes are drawn with ShaderMaterial.

Front box: yellow, depthTest: false, transparent: false
Back box: red, depthTest: true, transparent: false
The back box appears in front of front box while it is expected to be in the back.

I think how it is caused:
The sorting of opaque objects in WebGLRenderLists should be the reas

[2017-11-24 06:20] sgaoae commented on #12737
@mrdoob

[2017-11-24 06:23] #12730 closed

[2017-11-24 06:27] sgaoae commented on #12737
This can be related to #9208
@mrdoob

[2017-11-24 08:34] mrdoob commented on #12706
Related: #11582

[2017-11-24 12:13] sgaoae commented on #12737
VERY SORRY. It does not work and I sincerely apologize if the suggestion wastes your time.
@mrdoob

[2017-11-24 12:26] sgaoae commented on #12737
I write a new example using three box geometry and MeshBasicMaterial https://jsfiddle.net/errd49Lk/1/

I have found such pattern:
1. the order depends on the creation order
a: transparent: false, depthTest: false
b: transparent: false, depthTest: false

2. the order depends on the creation order
a: transparent: false, depthTest: false
b: transparent: false, depthTest: true

3. the order depends on

[2017-11-24 13:37] sgaoae commented on #12737
I think I have found the reason for the jsfiddle example.
The reason should be that disabling depthTest also disables depthWrite in webgl.

For https://jsfiddle.net/v2udjzbe/:
Front box: yellow, depthTest: false, transparent: false
Back box: red, depthTest: true, transparent: false

Front box is drawn first. its color is drawn on the screen and the depth buffer is not updated.
Back box is drawn af

[2017-11-24 14:46] kvskranthikumar commented on #12611
WebVR API Emulation 1.1.4 - Chrome Browser on desktop in Windows 7

[2017-11-24 18:08] ykessler opened #12740 "Anti-aliasing works in older versions but not in recent versions"
##### Description of the problem

Setting WebGLRenderer `antialias: true` works as expected in version 68, but seems to have no affect in versions 78 or 88.
`renderer = new THREE.WebGLRenderer( { antialias: true } );`

- r68: https://jsfiddle.net/8p7jja9L/5/ (Works)
- r78: https://jsfiddle.net/8p7jja9L/6/ (Doesn't work)
- r88: https://jsfiddle.net/8p7jja9L/7/ (Doesn't work)

68 result:
<img width=

[2017-11-24 18:53] moraxy commented on #12740
Weird, they all render the same to me. Can you see the difference in the [multiple renderers example](https://rawgit.com/mrdoob/three.js/dev/examples/webgl_multiple_renderers.html)?

Also, do you have HiDPI screen? If so, adding `renderer.setPixelRatio( window.devicePixelRatio );` might be worth a try.

[2017-11-24 19:26] Mugen87 commented on #12740
The solution is to add `renderer.setPixelRatio( window.devicePixelRatio );`.

[2017-11-24 19:26] #12740 closed

[2017-11-24 19:52] ddimitrovd opened #12741 "multiplyVectors() on Vector3 does compute properly"
I am doing the flowing operation:

`console.log('dirVec:', directionVector);
 console.log('nodeAim:', nodeAimVector);
 rotationVector.multiplyVectors(directionVector, nodeAimVector);
 console.log('rot:', rotationVector);`

As It says in the documentation multiplyVectors(a,b) should get the cross product a x b.
here is the output i get:

dirVec: Vector3 {x: -0.37183999999999173, y: 0, z: 0}
nodeAim

[2017-11-24 21:01] Mugen87 commented on #12741
The docs might be a little bit unclear in this case. `a x b` does not mean cross product but just a component-wise multiplication.

Use `Vector3.crossVectors()` to calculate the cross product.

[2017-11-24 21:04] Mugen87 commented on #12741
Maybe we should change this to `a * b`...

[2017-11-24 21:13] ddimitrovd commented on #12741
Thanks! Yeah it is definitely unclear. I think it should indeed be `a * b`

[2017-11-24 22:20] YawarRaza7349 commented on #12741
I think saying "component-wise multiplication" would be clearer than saying `a * b` (and similarly for the division methods).

[2017-11-25 02:51] duhaime commented on #7179
Thank you so much @WestLangley! It took me nearly all day to identify the fact that this was cursing me, but I'm glad to see your fix.

[2017-11-25 03:46] WestLangley commented on #7179
https://github.com/mrdoob/three.js/issues/7179#issuecomment-144210254

If the decision is to not support the reassignment of any attribute, and require `copy()` or `set()` instead, then this issue can be  closed.

[2017-11-25 05:41] Sarah-C commented on #6693
Now broken!  =(

Using this: https://cdnjs.cloudflare.com/ajax/libs/three.js/88/three.min.js
Demo: https://codepen.io/SarahC/pen/zPjbdK?editors=0010

[2017-11-25 05:48] looeee commented on #12736
Yeah, this will be a problem with setting the transformed pivot by rotating or translating the geometry.

I wonder if it will be possible to directly apply the transformed pivot to the geometry as it's being created? I'll investigate.

By the way, any kind of transformed pivot is probably going to be a problem if the geometry is shared between multiple meshes, but so far this hasn't come up.

In t

[2017-11-25 06:05] Sarah-C opened #12743 "MeshPhongMaterial makes no distinction on source of shadow."
The Lambert shader does not distinguishing between light sources for creating shadows, thus any light that creates a shadow blocks all lights in that area.

Exactly like the old issue with Phong materials, which has been fixed:
https://github.com/mrdoob/three.js/issues/6693
"Shadows should be applied only to shadow casting light."

Here's a screenshot of the Lambert and Phong materials and their s

[2017-11-25 06:12] WestLangley commented on #12743
See https://github.com/mrdoob/three.js/issues/12457#issuecomment-338718823.

[2017-11-25 06:23] Sarah-C commented on #12743
Ah - limitation of the Lambert shader, thanks for pointing it out.

I'm happy to close the post. =)

[2017-11-25 06:23] #12743 closed

[2017-11-25 06:31] nNightKil commented on #12736
The reason is that I want to implement a function which the user can edit the position of "control axis" for a mesh.(I use the transform control in example)

The transform control just apply the matrix of the selected model. And I think I can implement by translate the geometry of the mesh and inversely translate the mesh position. This is where I found the problem.

Now I only can implement by re

[2017-11-25 06:34] WestLangley commented on #12743
Isn't the title of this post incorrect ?

[2017-11-25 06:51] Sarah-C commented on #12743
Balls..... yeah.... I was thinking Lambert, and typed Phong.

It's been a loooooooooong week, and not enough coffee.

[2017-11-25 07:04] looeee commented on #12736
OK, that makes sense. You can probably achieve the same effect by making the mesh a child of a Group though, and apply the transform to the control axis by transforming the child mesh instead of the mesh's geometry.

[2017-11-25 08:17] looeee commented on #12736
I investigated whether applying the transforms directly to the geometry as it's created, rather than afterwards via translate and rotate methods - see #12744.

Unfortunately it doesn't fix this issue.

I would say that the reason this works in OBJ format is because animation is not supported there, so the issue of transformed pivots never comes up and all geometries are exported with centred pivot

[2017-11-25 12:00] duhaime commented on #7179
@WestLangley If your last statement is the intended direction, would it be possible to update the documentation on threejs.org? The section on Updating Things reads:

There should be some note there that one can use `copy()` or `set()` but that one can't use just set these booleans to true.

For those accustomed to older Three.js versions, it might be helpful to add an optional warning that spring

[2017-11-25 13:38] duhaime commented on #10439
@looeee Is the threejs.org site in a public repo somewhere? I'm happy to submit a PR to get these docs updated...

[2017-11-25 14:01] looeee commented on #10439
@duhaime there's an 'edit' button in the top right of each docs page, that should get you started.

[2017-11-25 15:45] Mugen87 commented on #12741
Fixed in `dev` see 8ae267866c11afd994be17c51c295cdc707ae375

@YawarRaza7349 Any chances you make a PR with your proposal? For consistency reasons, it would be also necessary to adjust the documentation for `Vector2` and `Vector4`.

[2017-11-25 15:45] #12741 closed

[2017-11-25 15:53] Mugen87 commented on #12698
Fair enough.

@keqingrong What do you think about @mrdoob suggestions?

[2017-11-25 18:20] unphased commented on #9716
Seeing this in Safari Version 11.0.1 (13604.3.5)

[2017-11-25 22:32] vorg opened #12749 "GLTF 2 Glossiness is too strong"
I've been implementing Specular Glossiness GLTF extension in my own engine and came to ThreeJS as a source of through to discover that something is off in your implementation as the glossiness is too strong.

Screenshot of your gltf loader from r88 https://threejs.org/examples/?q=gltf#webgl_loader_gltf

Metallic Roughness:
![screen shot 2017-11-25 at 21 34 16 copy](https://user-images.githubuserco

[2017-11-26 00:19] mciastek commented on #11671
@mrdoob I encountered similar problem. I tried to set CubeTexture's mipmaps manually, by setting `mipmaps` property of `CubeTexture` instance, but it doesn't work. There is an example how to set mipmaps manually (https://github.com/mrdoob/three.js/blob/dev/examples/webgl_materials_texture_manualmipmap.html), but it shows how to do it for normal texture, not for cubemap. Is it possible to set mipma

[2017-11-26 02:13] donmccurdy commented on #12554
Reopening this, as I do think there may be an issue. I've put more lighting knobs in my viewer, https://gltf-viewer.donmccurdy.com/, with what I hope are reasonable defaults, to help sort this out.

With all default settings (`directIntensity=0.8`, `ambientIntensity=0.3`), here is a comparison of texture encodings.

| sRGB | Linear |
|---|---|
| ![srgb](https://user-images.githubusercontent.com/18

[2017-11-26 02:15] donmccurdy commented on #12749
For the "too dark" part of the issue, I've reopened #12554.

/cc @takahirox for the question of glossiness

[2017-11-26 02:30] donmccurdy commented on #11110
@WestLangley is this the case today? I assumed the default was THREE.LinearEncoding for all maps based on [THREE.Texture docs](https://threejs.org/docs/#api/textures/Texture), but `map_fragment.glsl` contains `mapTexelToLinear( texelColor )` sure enough... If by setting `material.map.encoding = THREE.sRGBEncoding` i'm double-converting my color space, that could explain #12554?

[2017-11-26 03:05] WestLangley commented on #11110
I would hope this is not broken...

In your examples, don't you need to set
[code]

[2017-11-26 03:08] takahirox commented on #11110
@donmccurdy

That's the color encoding part.

`mapTexelToLinear()` is

    vec4 mapTexelToLinear( vec4 value ) { return sRGBToLinear( value ); }

where `map.encoding` is `sRGBEncoding`.

`XXX` of `XXXToLinear` is switched depending on `encoding`, for example `sRGB` for `sRGBEncoding` and `Linear` for `LinearEncoding`.

See [`WebGLProgram.js`](https://github.com/mrdoob/three.js/blob/dev/src/rendere

[2017-11-26 03:38] mrdoob commented on #12554
https://twitter.com/mrdoob/status/934570830016626688

[2017-11-26 03:44] takahirox commented on #12749
Probably I've figured out.

Specular-Glossiness texture RGB should be applied in sRGB space but I was missing sRGB encoding.

https://github.com/KhronosGroup/glTF/tree/master/extensions/Khronos/KHR_materials_pbrSpecularGlossiness#specularglossinesstexture

I'll make PR soon.

[2017-11-26 03:58] donmccurdy commented on #11110
@takahirox Ok yeah that was what confused me.

@WestLangley If I don't set any encoding in GLTFLoader and leave the defaults alone, I see this compiled shader:

[code]

... which I assume means that `map` is treated as THREE.LinearEncoding by default, as opposed to the "where we want to get to" state you mention. Overriding `map.encoding=THREE.sRGBEncoding` in the loader changes that function as e

[2017-11-26 04:33] WestLangley commented on #11110
@donmccurdy Right.  "Where we want to get to" has not been implemented, apparently.

I'm surprised to hear that.

In `webgl_loader_gltf.html`, setting `renderer.gammaOutput = true` -- prior to rendering the scene -- brightens, as expected.

Changing that value after rendering the scene requires setting `mesh.material.needsUpdate = true`.

[2017-11-26 04:54] #12721 closed

[2017-11-26 05:04] keqingrong commented on #12698
@Mugen87 I am sorry for my late reply and thank you for pointing out the existing problems in my post. It is not sufficiently rigorous and comprehensive, which also reflects that why we need a document or wiki.

Personally, I hate outdated browser and don't agree to support them. Unfortunately, in the company, the project I am working on need us to support IE9. We found that with some polyfills th

[2017-11-26 05:05] takahirox commented on #11110
Yup, that requires GLSL code update.

`renderer.gammaOutput = false; (current)`
![image](https://user-images.githubusercontent.com/7637832/33237286-70ba7852-d2b2-11e7-8a02-66ca2faf3de3.png)

`renderer.gammaOutput = true; (current)`
![image](https://user-images.githubusercontent.com/7637832/33237292-862c7032-d2b2-11e7-9c82-62a5cc1a253a.png)

`gammaOutput = true;` is lighter.

[2017-11-26 05:08] mrdoob commented on #12611
What is that?

[2017-11-26 05:10] donmccurdy commented on #11110
That's exactly what I was missing, thanks!

Although even with `material.needsUpdate=true` though, `renderer.gammaFactor` cannot be changed after the scene has rendered?

For my understanding, then: setting `gammaOutput=true` is recommended if the input textures are in sRGB color space? And, despite the fact that you _can_ specify colorspace on a per-texture basis, it's best not to mix sRGB and li

[2017-11-26 05:32] mrdoob commented on #12736
This issue keeps popping up...

Maybe we can add `this.pivot = null;` to `Object3D`? If defined (as `Vector3`) we can then take it into account in the `updateMatrix` code.

/cc @WestLangley @Mugen85

[2017-11-26 07:31] takahirox commented on #12611
Probably this Chrome extension

https://chrome.google.com/webstore/detail/webvr-api-emulation/gbdnpaebafagioggnhkacnaaahpiefil

[2017-11-26 09:03] #12749 closed

[2017-11-26 09:15] mrdoob commented on #12743
That is an expression I don't hear often 😁

[2017-11-26 09:18] mrdoob commented on #12611
Oh, I missed that from the first post...

Please, report this issue at the extensions' repo instead.

https://github.com/spite/WebVR-Extension

[2017-11-26 09:18] #12611 closed

[2017-11-26 09:47] mrdoob commented on #12644
Hard to help on these things without access to the problematic assets...

[2017-11-26 09:49] mrdoob commented on #12525
@MohmadAyman Any luck?

[2017-11-26 09:51] mrdoob commented on #12533
Sounds good yeah. @luruke would you like to do a PR?

[2017-11-26 09:53] mrdoob commented on #12489
I do not understand... Why do you need two renderers?

[2017-11-26 10:05] luruke commented on #12533
@mrdoob I will

[2017-11-26 10:15] maurocolella commented on #12644
I understand. Unfortunately, the assets themselves are truly locked down.

As far as I understand the issue, it seems to have something to do with multi-materials.

Again, if I load and set objects and textures individually, it works. In this case for both the diffuse and normal maps.

Somehow, we'll have to get to the bottom of this. By improving the webpack config (and not using `file-loader`),

[2017-11-26 11:12] luruke commented on #12533
Pull request #12753

[2017-11-26 12:09] polyzer opened #12754 "Youtube Player Api and CSS3D"
Hello!
I have problems with installing Youtube Player API(https://developers.google.com/youtube/iframe_api_reference) in CSS3D Scene.
If I create CSS3DObject from <div id=player></div>:
    this.YoutubeVideoPlayerDiv = document.querySelector("#player");
    // OK!
    this.YoutubeVideoPlayer3DDiv = new THREE.CSS3DObject(this.YoutubeVideoPlayerDiv);
    // OK!
    this.YoutubeVideoPlayer3DDiv.posit

[2017-11-26 20:01] #12754 closed

[2017-11-26 20:04] #11834 closed

[2017-11-26 20:08] #12101 closed

[2017-11-26 20:50] WestLangley commented on #11110
Those are separate issues. Theoretically, you should gamma-correct (compensate) the output to match the gamma profile of your monitor.  Google 'gamma correction'.

A reason to output in linear space would be, for example, if you are rendering to a texture for further processing.

Yes, doing so would be atypical.

[2017-11-27 02:45] Sarah-C commented on #12743
mrdoob, you're hanging with the wrong people.  ;)

[2017-11-27 05:50] randombitsofcode opened #12757 "PointerLockControls broken in update of chrome?"
I noticed a new bug overnight in my FPS where the mouse movement doesn't track correctly; it is chrome specific and the PointerLock/FPS example is also affected:

https://threejs.org/examples/misc_controls_pointerlock.html

Just move the mouse around quickly for a bit and you'll notice it jumping erratically. If you log the movementX and movementY values, it spuriously throws in movements of 300 t

[2017-11-27 07:31] mrdoob commented on #12737
Sorry, I'm getting lost. Do you mind simplifying your question?

[2017-11-27 09:35] Mugen87 commented on #12757
I'm unable to reproduce this in Chromium 62.0.3202.94 on Ubuntu. If this is actually a problem in the browser, you might want to file a bug at: https://bugs.chromium.org/p/chromium/issues/list

[2017-11-27 09:58] OndrejSpanel opened #12759 "Unit tests status - what to do with unit test bugs / mistakes?"
##### Description of the problem

While browsing three.js code, sometimes I find an error in the unit test code.

I am not sure what is the current status of unit tests for the project. While browsing the code, some tests seem to be quite complete (math), some partial (core), some more or less stubs (todos) only (see also #12714).

When I run tests using `npm test`, the result is:

[code]

 Are yo

[2017-11-27 09:58] haroldiedema commented on #12757
I can confirm this is a chromium issue as I'm experiencing this with my game running in Electron as well.

The values outputted in `event.mousemoveX` and `event.mousemoveY` are jittering sometimes. However, in my case, it only seems to happen when you hold one of your mouse buttons down

[2017-11-27 10:15] randombitsofcode commented on #12757
FWIW, I am still in development and ignoring mousemoveX and Y values -100 < x < 100 makes the game playable, if annoying, so that will have to be my fix until chrome fixes the bug. Thanks for finding the bug report and attempting to recreate the error.

[2017-11-27 10:27] haroldiedema commented on #12757
I worked around it by lerping (very quickly) from the previous value to the current one. This ensures the one "frame" where the jittering occurs, is immediately cancelled out on the next frame.

So basically (in psuedo since I'm currently in the office and don't have my code with me):
[code]

[2017-11-27 12:08] Mugen87 commented on #12757
Closing since it's a browser issue. @haroldiedema Thanks for providing the link to the bug report :+1:

https://bugs.chromium.org/p/chromium/issues/detail?id=781182

[2017-11-27 12:08] #12757 closed

[2017-11-27 12:12] Mugen87 commented on #12759
\ping @Itee

[2017-11-27 12:58] #12716 closed

[2017-11-27 13:00] looeee commented on #12398
@FuzzyWobble fixed by #12758 😁

[2017-11-27 13:43] sgaoae commented on #12737
Yeah... My mistake. But a small suggestion if my analysis is right:
If disabling depthTest automatically disables depthWrite, please update the depthWrite value of the material when setting depthTest=false just to be more clear.
Thank you very much and sorry for making you lost.
@mrdoob

[2017-11-27 15:51] WestLangley commented on #12737
That is not true.

I think you need to visit a help site. [Maybe this](https://stackoverflow.com/questions/12666570/how-to-change-the-zorder-of-object-with-threejs/12666937#12666937).

[2017-11-27 16:32] haroldiedema commented on #12579
How about a migration period?

Use ES6 getters (if at all possible) to show deprecation warnings and announce when old constants are being removed?

Or simply move them to a separate "compatibility/legacy" file.

I personally think that the pros outdo the cons in this case.

* These constants are really ENUMS (they pretty much all belong to a "group")
* They can be documented more easily since the

[2017-11-27 16:47] haroldiedema commented on #12438
I've tried implementing this in my game engine but had to revert it back once I found out that it completely breaks with any material that has an opacity < 1.0.

Take this for example:
[code]

You would expect a red box with 75% opacity, but with AtoC enabled, the box disappears entirely.

Though I am unsure if this is just a matter of configuring some extra parameters on the WebGL context or not.

[2017-11-27 17:51] donmccurdy commented on #12714
I guess that individual tests should be marked as `QUnit.todo`, rather than entire modules?

[2017-11-27 18:18] lucasrcrestani opened #12764 "Clipping Plane with alpha and outline effect"
##### Description of the problem

Hey guys, i'm trying to create a outline effect on clipping feature.
It consists in the create a glow effect on the intersect points of the mesh with the clipping plane and see the inside of the mesh.

I just copy the MeshPhongMaterial as MaterialShader and modify the "<clipping_planes_fragment>"
to:

` #if NUM_CLIPPING_PLANES > 0`
`	float p  = 0.;`
`	p =  pow( 1.

[2017-11-27 19:19] MohmadAyman commented on #12525
Sorry have been very busy with sth else lately, I'll try to give it a run this weekend, Thanks for the reminder :+1:

[2017-11-27 21:14] #12764 closed

[2017-11-27 22:08] sjlynch commented on #12489
By using .setPixelRatio set to 0.3 on the renderer which handles the expensive gpu work, I can use a shader to render expensive volumetric clouds on a sky dome without much performance loss or loss of quality. It works well outside of VR. I tried to instead render the shader to a plane fixed to the camera using a render target to upscale (or would it be downscale?) the shader and this also works o